[2018-07-11 09:47] liuxh0 commented on #504
The solution from @juanpicado helps, but it does not solve the problem.

If I require ts-node in mocha instead of in nyc, the option `all` has no effect. All my ts files that is not imported by `*.spec.ts` will not be included. See #603

[2018-07-11 13:12] andrewplummer commented on #886
Okay... well I thought I could workaround by passing an `include` flag, but that doesn't seem to work... any way I can explicitly override the excludes?

[2018-07-11 17:29] coreyfarrell commented on #886
You can use the [`exclude` flag](https://github.com/istanbuljs/nyc#excluding-files), but note that this *replaces* all default exclude paths.  I'm not happy with this need to completely replace the exclude list.  I'm exploring options to make it easier to manipulate the list without completely replacing them, but it's still in the early idea stage.

[2018-07-12 05:03] andrewplummer commented on #886
Ok, this worked for me! I basically have passed `"exclude": "none"` in my .nycrc file now (couldn't think of anything else. Using the include flag would have been slightly more intuitive but this solution works just fine for me! Thanks!

[2018-07-15 18:04] Lange commented on #425
I'm intermittently running into this on [nodecg/nodecg](https://github.com/nodecg/nodecg). As of yet I've not been able to identify the root cause.

[2018-07-16 04:28] AndrewFinlay opened #890 "Instrumenter should ignore excluded files and folders"
## Expected Behavior
The instrumenter should ignore files specified in the list of exclude globs

`$ nyc instrument content instrumented `

with .nycrc
[code]

## Observed Behavior
The instrumenter ignores files specified in the defaultExclude instead, (istanbuljs/packages/test-exclude/index.js)
## Bonus Points! Code (or Repository) that Reproduces Issue
[https://github.com/AndrewFinlay/nyc-instru

[2018-07-17 01:34] AndrewFinlay opened #891 "Nyc should prefer .nycrc config over the package.json nyc stanza"
## Expected Behavior
Nyc should prefer config found in an explicitly specified .nycrc file to config specified in the package.json nyc stanza.  This allows you to override existing config using the cli.
## Observed Behavior
Nyc prefers config from the nyc stanza in package.json
## Bonus Points! Code (or Repository) that Reproduces Issue
Run nyc from the root of this repo with a .nycrc file specifi

[2018-07-17 11:08] poppinlp opened #892 "Dose nyc support yaml format configuration file?"
I found configuration file named `.nycrc` in your README which is in JSON format. So dose this support yaml configuration file?

[2018-07-17 13:17] ianldgs commented on #619
Having that problem too. Using nyc + mocha + ts-node. Source maps activated everywhere.

[2018-07-18 20:19] RyanZim opened #894 "Release process needs to be documented better."
According to https://www.npmjs.com/package/nyc, the latest version is 12.0.2, but the latest version here is 13.0.0. Why isn't v13 on npm?

[2018-07-20 12:33] antoniocascais commented on #833
Hi @pingynator !

We found a proper solution for our problem!

So, for a bit of context:

We had a NodeJs project with the following dir tree:

--node_modules (the one for 3rd party libs)
--src
---node_modules (for our own code)
----app
-----service
----lib
--package.json

We had our own code under our own `node_modules` because it was the easiest solution for navigating across the `require` files

[2018-07-21 10:02] nadavye commented on #604
Hi Guys,
Any update on this?
Have you had a chance to look at @RoniSegal  reproduction?

[2018-07-24 00:33] AndrewFinlay opened #895 "Consistent naming for *-directory options"
## Expected Behavior
Should be able to use `--temp-dir --report-dir` and/or `--temp-directory --report-directory`
Not a big issue but one that's annoying while configuring nyc, and it should be an easy fix.

## Observed Behavior
Must use --temp-directory and --report-dir

## Bonus Points! Code (or Repository) that Reproduces Issue
N/A

## Forensic Information
Should be able to do this with a few y

[2018-07-25 23:32] AndrewFinlay commented on #879
Not sure if you're having trouble or if this is just a FR for convenience.  This functionality is pretty easily achieved by copying the coverage results from e2e and unit tests to a common directory, then running the reporting tool on that.

[2018-07-26 08:43] osher commented on #879
I made this PR because I believe the abilities of this team and am convinced by the level of usability the team is aiming for 👍

After all - it's a rather common practice to run a tool in e2e mode with different settings.
(my example above is a simplification of a long list of e2e cases my SUT cli tool is required to support)

I agree that the proposed workaround would work - but it's a work aroun

[2018-07-26 08:45] osher commented on #879
P.S - how about providing a `glob` pattern in `--temp-directory` ?

[2018-07-26 08:49] osher commented on #877
Didn't forget you - I will, but am flodded at the moment.
the project found a temporal setup with `istanbul@1.1.0-alpha.1`, but it basically understood it' can't stay like this - so I'll be back.

Sorry for the delay.
![image](https://user-images.githubusercontent.com/803101/43251905-ea26788c-90c9-11e8-9a3d-bfe42be5db53.png)

[2018-07-26 11:13] AndrewFinlay commented on #879
Hi Osher, I'm not a maintainer so I won't be making any decisions on whether to develop this functionality, but for what it's worth I think that functionality would be helpful.  My point is that you can achieve the same result now using shell commands, if that helps you or someone else then that's great.

[2018-07-28 08:30] osher commented on #879
@AndrewFinlay  - evidently, point taken. Let leave the ball on the maintainers court.
If I had a little window I might have PR it myself, but this will have to wait

[2018-07-30 15:02] welkie commented on #894
Just ran into this today. Told my team mate that v13 was avail, and his npm install command gets him v12.

It looks like it is the same version according to the publish dates, just that the version numbers are out of sync. v13 on GitHub, v12 on NPM.

[2018-07-30 15:50] coreyfarrell commented on #894
v13 is on npm but it's not yet the 'latest' version.  Currently it can be installed using `npm install nyc@next`.

Although this is not a bug I'm leaving this open until v13 is upgraded to latest, that way other people can see why.  Probably some time in the next week v13 will become latest.

[2018-07-30 16:01] coreyfarrell commented on #895
I'm leaning towards adding a --temp-dir option and making --temp-directory `deprecated`, or at least undocumented.  My preference is that we not have two officially documented ways.  yargs is outside my area of knowledge so I'm unsure how this would be accomplished.  If you'd like to submit a PR that would be nice.

[2018-07-30 16:05] coreyfarrell commented on #892
Only JSON is supported.

[2018-07-30 16:10] RyanZim commented on #894
Ah, OK; understood. Is `next` normally used for releasing `nyc` versions? If so, how about documenting this at the top of the CHANGELOG?

[2018-07-30 16:12] coreyfarrell commented on #891
I'm leaning towards you being correct, but I'm not sure how to solve this.  In any case this will be a breaking change and v13 is already frozen.  This will give us time to think about edge cases related to this.

I haven't tried to reproduce your issue but one question: when nyc takes excludes from package.json rather than .nycrc, do both configs contain an `exclude` option?

[2018-07-30 23:45] AndrewFinlay commented on #895
Hi Corey,

I've put up a PR for this here, #897.  It's pretty straight forward aside from how to test that the deprecated command still works.

[2018-07-31 02:15] poppinlp commented on #892
OK. Thanks. Do you think you need a PR for that? :)

[2018-07-31 15:18] welkie commented on #894
It sounds to me like nyc uses a relatively conservative release schedule. Once a new major version is released, it doesn't gain the `latest` tag right away, to allow time for it to be tested first by early adopters? If that's what's going on, I actually like that approach.

[2018-07-31 17:53] RyanZim commented on #894
Sure, I'm perfectly fine with the release system, I just think it should be documented someplace.

[2018-07-31 17:57] welkie commented on #894
@bcoe Can you confirm this is the case? And if so, would you take a PR for documenting this?

[2018-07-31 22:37] AndrewFinlay commented on #891
I found this one when making changes to nyc to fix the issues I was having with excluding files during instrumentation, see #890 and #893.  I'd cloned nyc onto my local machine and was running from the nyc root directory, passing in my .nycrc file location as an option.

That .nycrc file had an `exclude` section, but it was never used, it picked up the `exclude` section from nyc's package.json ins

[2018-08-01 15:12] coreyfarrell commented on #894
@RyanZim we do release to `next` first before releasing to `latest`.  NYC v13 has been in `next` status for longer than normal as it is the first version to use Babel 7 (upgraded from babel 6).

@welkie Please hold off on that PR for now.  When I get a chance I plan on looking into what it would take to use semver prerelease versions for `next` releases in the future (ie 14.0.0-beta.1).  @bcoe has

[2018-08-01 15:42] coreyfarrell commented on #892
I'd be open to this if it can be done without bloating NYC.  Specifically I do not want `npm install nyc` to actually include modules needed to process YAML (or other format types).  Instead I'd be looking for NYC to report an error if `.nycrc.yaml` is found but the module needed to load it is not installed.  So `npm install --save-dev nyc js-yaml` would be needed.

I think we'll need something si

[2018-08-01 16:08] welkie commented on #894
@coreyfarrell Sounds good, thanks for the update.

[2018-08-02 03:46] poppinlp commented on #892
OK. I agree with you.
I'll think about what you said. And yep, i think `js-yaml` is good.

[2018-08-05 01:07] felixfbecker commented on #890
I think I am seeing the same issue. I am trying to `exclude` test files because the instrumentation breaks Puppeteer's `page.evaluate()` (because it calls `function.toString()` and sends it to the browser to evaluate, which is missing the coverage globals). `nyc` is properly ignoring the files from the final report, but they are still being instrumented, which breaks Puppeteer. `/* istanbul ignore

[2018-08-06 21:15] hershmire opened #898 "NYC doesn't work correctly with local node_modules"
## Expected Behavior

NYC to not exclude local node_modules (i.e. `src/node_modules/...` OR `src/somedirectory/node_modules/**`) BUT to exclude root node_modules. We have a lot of Node applications at the company I work for that use the pattern of creating local node_modules as it helps modularize our code at an application/page-level and provides a nice way to require files instead of doing long

[2018-08-08 15:24] jpswade opened #899 "no such file or directory, open '/usr/src/app/node_modules/nyc/node_modules/yargs/node_modules/cliui/package.json.1116523118'"
## Expected Behavior
Expect it to install
## Observed Behavior
[code]
## Bonus Points! Code (or Repository) that Reproduces Issue
[code]
## Forensic Information

**Operating System:** node:8.9.3
**Environment Information:** information about your project's environment, see instructions below:

1. run the following script:

sh -c 'node --version; npm --version; npm ls' > output.txt

2. share a gist

[2018-08-08 18:08] jpswade commented on #899
Here's another example:

[code]

[2018-08-08 18:19] jpswade commented on #899
Trying with node latest:

[code]

[2018-08-08 18:52] jpswade commented on #899
[code]
This works fine.

[2018-08-09 09:19] henryhp opened #900 "how to instrument tsx files"
## Expected Behavior

instrument tsx files

## Observed Behavior

nyc -e jsx -e tsx -e ts -e js instrument src src_dst
![image](https://user-images.githubusercontent.com/5212157/43889959-0de8b77e-9bf8-11e8-98dd-64831e746fd3.png)
and the file  index.tsx not be intrumented

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information

**Operating System:** the operating syste

[2018-08-09 15:55] coreyfarrell commented on #899
Please link to a repository demonstrating this issue, without seeing exactly what is being installed by your package.json we cannot triage this ticket.

[2018-08-09 16:05] coreyfarrell commented on #888
I have not experienced this issue, please link to a repository demonstrating this issue.

[2018-08-09 16:15] coreyfarrell commented on #887
It appears this issue is due to mixing of babel 6 and babel 7.  Your repository is using babel 6 (and babel-plugin-istanbul@4).  NYC uses babel 7.  I was able to get your repository working by upgrading babel dependencies to v7 and upgrading babel-plugin-istanbul to v5.  So I'd recommend sticking with nyc 12 until you are ready to upgradfe to babel 7.

[2018-08-09 16:18] coreyfarrell commented on #886
FWIW the `exclude` setting is actually an array so the correct setting would be `"exclude: []`.

[2018-08-09 16:19] coreyfarrell commented on #884
I use NYC with plenty of repositories that use the async/await keywords.  Please link a repository demonstrating this issue.

[2018-08-09 16:25] coreyfarrell commented on #875
I'm closing this ticket since it appears you've moved on and the ticket does not contain information needed to triage.  We cannot provide any help on this issue without seeing a repository demonstrating the issue.

[2018-08-09 16:25] #875 closed

[2018-08-09 16:36] coreyfarrell commented on #871
Has this only happened on travis or does it happen locally?  If it happens locally how do I reproduce the issue?  `yarn install && yarn test`?

[2018-08-09 16:47] coreyfarrell commented on #846
The way to accomplish this is to create a helper module as such:
[code]
Then use `nyc --require test/helpers/register.js` instead of directly requiring babel-register.  There is no user friendly way for us to take the options argument directly from command-line.

[2018-08-09 16:47] #846 closed

[2018-08-09 16:55] coreyfarrell commented on #817
It could also be effected by babel caching which is stored in ~/.babel.json for some versions, newer versions seem to use `node_modules/.cache/@babel`.

[2018-08-09 16:58] danias commented on #884
I figured out what was going on. The problem was the await is a reserved word and in ES5 code where I was requiring `var await = require('asyncawait/await');` where await is [is how it is usually named](https://www.npmjs.com/package/asyncawait#asyncawait-101) and then using it in my code. To bypass this, I had to say `var Await = require('asyncawait/await');`. Of course, await [is not a reserved w

[2018-08-09 17:04] coreyfarrell commented on #884
NYC 13.0.1 adds an option "es-modules", if you set it to `false` you should be able to use reserved ES6 keywords as variables.

[2018-08-09 17:04] danias commented on #884
Awesome thanks!

[2018-08-09 17:04] #884 closed

[2018-08-09 17:44] coreyfarrell opened #902 "Call for testers of `next` version of nyc and istanbul dependencies."
I'm seeking testers for nyc@13, babel-plugin-instrument@5 and `next` versions of modules from the istanbul monorepo so we can promote it to latest.  If you have a chance please retest some of your projects using these `next` versions, report and regressions here (only issues which did not exist in 12.0.2).  For bugs that are not new please open a separate ticket.

Be aware these `next` are meant f

[2018-08-09 18:06] LinusU commented on #902
Tried it here: https://github.com/ctrl-alt-deseat/ctrlpanel-core

Works great 🙌

[2018-08-10 14:47] jpswade commented on #899
@coreyfarrell:

[code]

[2018-08-10 15:16] coreyfarrell commented on #899
@jpswade I'm unable to use --volume against a local directory due to selinux restrictions, I ran the following with no issue:
[code]

Please provide a link to a repository that shows the failure.

[2018-08-10 15:35] coreyfarrell commented on #900
Please link a repository so we can know what is going wrong.  See also https://istanbul.js.org/docs/tutorials/typescript/.

[2018-08-13 03:44] henryhp commented on #900
ok  here are the rep link
https://github.com/henryhp/nyc-tsx-examale

and  nyc instrument src src_dst,  fooTsx.tsx has been instrumented,but index.tsx does not work

node v10.4.1
npm 6.1.0
mac os 10.13.6

[2018-08-13 04:58] ORESoftware commented on #900
1. transpile tsx to js
2. send the js to the browser

[2018-08-13 06:36] henryhp commented on #900
and the coverage report will see as js file?

[2018-08-13 07:11] ORESoftware commented on #900
@henryhp read this article:
https://medium.com/@the1mills/front-end-javascript-test-coverage-with-istanbul-selenium-4b2be44e3e98

[2018-08-13 17:35] JaKXz commented on #372
I think that's a question for the CircleCI docs. It would be great to document that here if you find it! :)

[2018-08-13 18:20] hershmire commented on #898
Anyone have time to take a look at this and provide some thoughts?

[2018-08-13 19:53] leslc commented on #898
This is affecting our ability to run unit tests.  Any solution, even a hacky workaround, would be appreciated.  Or where the fix could be made with a PR.

[2018-08-13 20:17] coreyfarrell commented on #841
@ljharb I've done some testing with nyc@12.0.2.  See https://gist.github.com/coreyfarrell/1a98d9a4d2cbf46854f2c9936dab0c77 for a slightly modified version of your test function and how that is instrumented by NYC.  As far as I can tell the coverage data for the `if` branch is correct, it reports if you fail to hit both true and false conditions.  The issue is for the `binary-expr` branches, it loo

[2018-08-13 21:10] ljharb commented on #841
Thanks, that sounds like progress to me :-D

[2018-08-14 10:13] basickarl opened #903 "Use nyc report to report karma coverage generated files"
Hi I'm using karma-coverage to generate coverage in the coverage directory.
![screen shot 2018-08-14 at 12 14 20](https://user-images.githubusercontent.com/10507098/44086035-9b07af54-9fbb-11e8-8104-5cc63fe81355.png)

I'm wondering. How would I use `nyc report` to report these?

[2018-08-14 10:58] opr commented on #779
Still suffering from this - I can still replicate my issue. Any help in where to start with implementing a fix would be appreciated!

[2018-08-14 18:08] coreyfarrell commented on #779
The .nycrc in the repo you linked has `"exclude": ["assets/js/**/*.js"]` in .nycrc.  'exclude' cannot be overridden by 'include', it's not processed in that order.  Have you tried:
[code]

[2018-08-14 18:30] coreyfarrell commented on #898
This is not a simple issue, we cannot just stop ignoring `**/node_modules/**`, this is needed to support monorepo's (for example lerna repos).  I'll have to look into a way to make this easier to override but the default is what it needs to be.

Sorry I don't have any suggestions for work-arounds, you are doing things in a way I've never thought of.

[2018-08-14 20:10] akivajgordon commented on #548
Elaborating on [@bcoe's comment](https://github.com/istanbuljs/nyc/issues/548#issuecomment-319277300) about starting the server in your tests, I ended up with something like this, and it seems to be giving accurate results:

**start-server.js**
[code]

This will start the server before any of the tests are run, and kill the server after the tests are done. Then run:

[code]

Mocha will run that fi

[2018-08-14 20:13] hershmire commented on #898
@coreyfarrell Thanks for the reply! Let me know if there is anything we can do to help you out with this.

[2018-08-15 00:42] leslc commented on #898
Thanks @coreyfarrell

Question on the glob.sync to return all file names.  I see `{ignore: this.exclude.exclude}` is passed to glob.sync.  Does this mean the "negatedExclude" is skipped because it's not called from `this.exclude.shouldInstrument()`?
https://github.com/istanbuljs/nyc/blob/master/index.js#L249

[2018-08-15 01:05] leslc commented on #898
Nope, have to take that back. glob.sync doesn't support negation in the ignore.

[2018-08-15 20:47] jweidler commented on #898
Unfortunately there are problems with the misunderstanding of how `node_modules` are not exclusively third-party modules on every corner. This is broken and won't be fixed. So we've moved away from using local `node_modules` to defining local dependencies via `package.json` and have npm create symlinks. This approach requires some wiring upfront but once it's set up it feels much nicer than having

[2018-08-16 18:06] hershmire commented on #898
Yea, it seems there is a big misunderstanding of that fact indeed. Thanks for passing along your solution to NYC's limitation but unfortunately, we have too many applications that are using local node_modules and I'm concerned about the risks when building and deploying out to different environments. Until we can get some additional dialogue with the NYC owners for a proper solution, we might just

[2018-08-16 19:48] coreyfarrell commented on #898
I don't agree with this assessment.  node_modules does have a specific purpose, to install external modules.  It's possible to abuse it as you have, but node_modules is meant for stuff installed by npm - normally stuff that has it's own testing.  I'm not against making it possible/easier for you to use NYC but I have to prioritize the normal way of working.

I'm open to making a boolean option to

[2018-08-16 21:02] JaKXz commented on #903
Sorry I'm not sure I fully understand your question.

`nyc report` takes the last unit test run with coverage enabled to spit out the coverage reports given that data.

It looks like karma-coverage is giving you that functionality already.

[2018-08-18 03:47] mDalessandro opened #904 "Question: Can you add descriptions of the various configuration options?"
Hello! I'm trying to configure my .nycrc file, and the README doesn't really explain the various config properties.

Is there any way you can expand the README, or perhaps add a tutorial on https://istanbul.js.org/docs/tutorials/, to explain all the available configuration options and what they do?

One of my immediate questions is on the "extension" property. Does adding .jsx there mean I don't h

[2018-08-18 10:17] stevefan1999-personal opened #905 "nyc is not working in combination with esm and ts-node"
## Expected Behavior
Subprocess should load the typescript test file without problem

## Observed Behavior
Test failed miserably, so that no coverage rates are computed:
[code]

## Bonus Points! Code (or Repository) that Reproduces Issue
https://github.com/stevefan1999/lerna-yarn-workspaces-example

## Forensic Information

**Operating System:** `Microsoft Windows [Version 10.0.17134.165]`
**Envir

[2018-08-20 20:00] FabioIngrao opened #907 "nyc ignores report-config"
## Expected Behavior
specifying in package.json
"nyc" : {
  report-config: {
    html: {
      // options for html reporter
    }
  }
}

is supposed to provide the specified options to the reporter.
However, the nyc code does not read the "report-config", and doesn't add them to the options passed to the reporter.

[2018-08-20 22:17] FabioIngrao commented on #888
I confirm that version 12 causes this problem.

[2018-08-21 18:20] aniltomar10 opened #908 "nyc is not reporting test result to teamcity."
I have time command in my package.json file.
"coverage": "nyc --reporter teamcity --reporter html --reporter text npm test",

Using "npm run coverage" in teamcity step. It's executing test cases and I also see the code coverage tab. But it doesn't report test results to team city.

[2018-08-23 16:57] gkemp94 opened #909 "Istanbul Instrumentation breaks code that uses web workers"
I have an issue with using Istanbul with web workers. I'm using jQueryUI which uses web workers. Instrumented code is then executed on a separate thread and throws an exception as the window context has been lost and my coverage variables are not present.

I'm instrumenting my code in gulp and running end2end tests before writing out the report to an HTML document.

Glad to provide more informatio

[2018-08-23 18:50] viane opened #910 "nyc not working with node cli option correctly."
## Background
Right now I'm use mocha/supertest to test my APIs, the server end has special list of accepted ciphers, so the old command line that I use is:

## Expected Behavior
Above command line will execute and test correctly for the APIs, however, when I try to load mocha into nyc, which looks like:

## Observed Behavior
The testcase breaks with ssl cipher issue, the exception is the same as

[2018-08-23 23:18] hershmire opened #911 "--all with babel-plugin-istanbul does not report coverage for files not dependents of the test entries"
## Expected Behavior

When running NYC with the following [script command](https://github.com/hershmire/nyc-all/blob/master/package.json#L8):

[code]

And with the following NYC configuration settings from package.json:

[code]

And with the following .babelrc configuration setup:

[code]

I expect **all my files** that match the file extensions of .jsx, .js, and .mjs within the `src/**` directory

[2018-08-24 03:31] anitin commented on #868
any updates ?

[2018-08-27 18:36] #895 closed

[2018-08-28 16:54] IsFlwrs commented on #197
I have resolved it adding the `.nyc_output` folder under the node_modules.
All the `node_modules` is ignored by the `.gitignore` file.

[code]

[2018-08-28 19:02] AGrzes opened #913 "Nyc processing files not covered by include when `all` is enabled."
## Link to bug demonstration repository.
https://github.com/AGrzes/nyc-include-issue

## Expected Behavior
When `include` is specified in nyc configuration it instrument only files matching include.

## Observed Behavior
Nyc processes all files then discards those that not match `include`. In conjunction with `ts-node` it leads to compilation of unnecessary files and unexpected failures.

For exam

[2018-08-28 22:06] leslc commented on #898
thanks @hershmire, this is exactly what we need. @coreyfarrell, thoughts on merging these PRs?

[2018-08-29 15:46] coreyfarrell commented on #913
I have just confirmed this issue.  From what I can tell this is an issue only when `all` is enabled.  @AGrzes this is a bug on it's own but please let me know if you find a way to reproduce the issue with `all` disabled.

[2018-08-29 15:54] coreyfarrell commented on #911
I've seen an issue like this, I believe the problem is that `"instrument": false` is preventing `"all": true` from being effective.  In some of my own repositories which use babel-plugin-istanbul I was able to get everything working by using:
[code]
Obviously that conflicts with what is documented.  I have not had a chance to investigate this further, the `"all": true` functionality definitely nee

[2018-08-29 15:56] coreyfarrell commented on #898
@leslc I have to ask for patience.  I'm currently dealing with release related issues which need to be addressed first, I have limited time to work on NYC.

[2018-08-29 16:39] stevefan1999 commented on #905
Sooo it seems like the issue has been dormant for quite some time, but I do want to point out that upgrading `esm` and all the related dependencies to the latest version, it magically worked! I even had a chance to run the source with Istanbul, but sadly it's not perfect:
[code]
I'm using inline source map (original source incl.) so I think that's why the filename got somewhat verbose. Can someone

[2018-08-29 17:35] AGrzes commented on #913
Looking at the source (of nyc) it appears that the code path causing error is only active when `all` flag is enabled.

[2018-08-30 03:41] jbcpollak commented on #619
I believe we are having the same problem as @bajtos (Hi, we use Loopback 👋 !) - we are _not_ using ts-node. We have TSC compile sourceMaps (as external .map files, not inline) and we have mocha `--register source-map-support/register`.

When we run mocha itself, everything works great. When we run `nyc mocha`, the stack traces get weird. Sometimes they show the TS file with a bad line number, some

[2018-09-02 21:57] lukasmatta commented on #760
Removing _npm_ file from _/node_modules/.bin/ folder helped me.

[2018-09-06 06:09] coreyfarrell commented on #902
I've reopened this ticket as babel 7.0.0 was released so `npm i nyc@next` will now use `^7.0.0` of babel instead of using a beta version.  babel-plugin-istanbul has not yet been updated (it is not a dependency of nyc).  I plan to publish that the `next` tag on npm tomorrow.

Anyone who has a chance to test some of their projects the updated `nyc@next` would be appreciated.

[2018-09-06 20:40] hershmire commented on #898
@coreyfarrell Understandable that you're busy. Any idea when you'll be able to have time to look at the three PRs referenced above?

[2018-09-06 20:58] demurgos commented on #319
I believe this issue can be closed. The current version of `nyc` supports watermarks.

[2018-09-07 19:51] papb opened #916 "Readme clarification request: does not work with ES6"
## Summary

It appears that nyc does not work out of the box with ES6. The [readme](https://github.com/istanbuljs/nyc#nyc) makes it seem like a few plugins might be necessary **if one is using Babel**. I'm not using Babel, I'm simply using ES6 directly in Node.

My goal opening this issue is to suggest improvements to README.md:

* There should be a clear note at the top of README.md that **nyc do

[2018-09-10 19:10] Trendy commented on #743
I'm running into this issue locally as well. As far as I can tell the output directory isn't being generated as root, but I get a similar error:
[code]
[code]

[2018-09-13 12:22] olandreievvirtru opened #917 "After reinstalling node_modules NYC skip some folders"
I reinstall my node_mudules and after that NYC start skip `lib/` folder

My config:
[code]
 My folder structure:
[code]
## Expected Behavior
File                         |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s |
------------------|----------|----------|----------|----------|-------------------|
All files         |    98.04 |       75 |      100 |       98 |

[2018-09-13 12:36] Morikko commented on #635
We used it on our app @DoctrineLegal during some time. We were able to get the coverage from the `child_process.fork` as well.

In the final report we saw for:
 - Each file: the coverage merged between all the sub processes
 - Each process: the percentage of all the lines covered by the process over all the files

[2018-09-13 12:41] Morikko commented on #762
I got also the problem to have the coverage when I was launching nyc over a long living server (express). I ended by finding a solution thanks to how we handled a sub process that returned the coverage.

I added the following code to listen to `Ctrl+C` command and to exit from the program instead of outside of it.
[code]
As a result, nyc was printing the coverage.

[2018-09-13 12:57] Morikko commented on #669
Just launch your code with nyc: `nyc myserver.js`
It worked for an express server with this `.nycrc`:
[code]

I just added a piece of code to make nyc returning the coverage. I believe that you should exit the process from inside, send a signal that it ends, for making nyc returning the coverage. I don't know why.
More here: https://github.com/istanbuljs/nyc/issues/762#issuecomment-420992372

My c

[2018-09-13 13:01] Morikko commented on #548
I did launch the server separetly from the test and covering it as a long living server. But I faced problems I explained [in this comment](https://github.com/istanbuljs/nyc/issues/669#issuecomment-420996816).

We switch at our company to use supertest to wrap the express app and launch the code from within Jest. The coverage is fully working now and better merged between integration and unit test

[2018-09-15 19:46] coreyfarrell commented on #917
NYC is a complicated system with many interactions to other software.  Please link to a repository demonstrating the issue you are having.

[2018-09-17 09:59] prateekagr98 opened #918 "snyk security vulneribility in latest nyc latest version"
## Link for the detailed vulnerability
https://app.snyk.io/test/npm/nyc/13.1.0

[2018-09-18 08:06] holblin commented on #451
Hi,
I have the same issue, is it planned to fix it?

Best regards,

[2018-09-18 21:17] wchargin opened #919 "Request: Warn when ignored lines are actually reached"
I use `// istanbul ignore next` and friends only to mark code that
should never be reached—for instance, internal assertion failures. In
the event that one of these ignored elements _is_ reached, this
indicates a bug in my code. Ideally, a unit test would catch this, but
there are cases when it might not (e.g., an expect-to-throw unit test
that throws for the wrong reason, or code that attempts to

[2018-09-20 19:41] ilearnio opened #920 "Vue html report is compiled wrong "Unable to lookup source""
## Observed Behavior

It compiles .js files correctly, but for .vue files it tries to resolve them by a path that contains `?#######` in the end, so it cannot be resolved. That's one issue, another is that the html cannot be opened in browser

![image](https://user-images.githubusercontent.com/14331216/45842006-23afdb80-bd24-11e8-9ba5-32bbbd588f4f.png)

Also it worth to mention that it reads the .

[2018-09-20 19:43] nadavye commented on #920
Watching

[2018-09-20 20:31] ilearnio commented on #920
Oh, I just found out that it's not related to nyc because source-maps have these `?7b82448b` as well. Something is wrong in my setup. Sorry that disturbed you 😣, closing

[2018-09-20 20:31] #920 closed

[2018-09-20 21:53] bennyn commented on #900
For me `nyc` always complains about import statements when trying to instrument `.tsx?` files.

**Example:**

I would like to get coverage for my TSX files using the Jasmine testing framework and node-ts. Here is the config I put together:

**.nycrc**

[code]

**package.json**

[code]

Am I missing something obvious in my configs? 👀

I got it running with `jasmine-ts` (which uses `node-ts` under t

[2018-09-20 23:41] OmgImAlexis commented on #659
Relating to what @bmeck was talking about https://github.com/nodejs/node/pull/22527 was just merged.

[2018-09-22 04:43] coreyfarrell commented on #919
To be honest I'm not sure how this would be accomplished without major work to istanbul-lib-instrument.  In my own expect-to-throw tests I would test for a specific exception type so for example a test would only pass if a TypeError was thrown.  This is how I would differentiate between expected and unexpected exceptions.

I use the istanbul ignore directives to deal with situations that cannot be

[2018-09-22 08:52] catamphetamine opened #921 "Coverage 0%"
I added `nyc` before `mocha` as the documentation suggests and it's giving 0% coverage.

[code]

[code]

[2018-09-24 12:45] frgtn opened #922 "nyc incorrectly uses --reporter argument passed to wrapped command when called with --all"
## Link to bug demonstration repository.
See README in the below repository on how to reproduce the issue

https://github.com/frgtn/nyc-all-minimal-example
## Expected Behavior
nyc should ignore arguments passed to the wrapped command, eg. `--reporter`:
[code]
Should produce a coverage report
## Observed Behavior
nyc crashes with the following error. From traceback it appears that nyc is trying to

[2018-09-25 00:18] toymachiner62 opened #923 "nyc.include not working in package.json"
I noticed the default nyc config only generates coverage for files which have a unit test covering some of the file.

When adding this section to my `package.json`, it's not including all of the files in my `src/` dir

Not generating code coverage for files in `src/` that don't have a test importing that file
[code]

Generating code coverage for files in `src/` that don't have a test importing tha

[2018-09-27 23:49] rupamroy commented on #647
Well i found a solution and noting it down just in case anyone needs it.
This issue occurs in Git bash on windows the solution is to use a redirection operator `<` between the nyc and ts-node command
[code]

But now even though the command are working well nyc seems to not honoring the tsconfig path provided in the --project parameter and i have no clue why nyc should be related to tsconfig in any

[2018-09-28 15:20] rupamroy commented on #647
I have created a demo project https://github.com/rupamroy/test-nyc to show the issue. The issue happens only in windows , the README describes the problem and the command used.

[2018-09-30 00:39] turkeysnorter opened #924 "Viewing code coverage by file in --reporter=text"
On the text reporter, I wanted to be able to see the numbers that were resulting in the percentages being displayed--e.g., if my percentage was 94%, I wanted to be able to see that 31/33 lines covered is what resulted in 94% test coverage.

Like this:

![altered text output](https://user-images.githubusercontent.com/38087339/46251620-e1b62200-c414-11e8-9432-cd9fbef773f3.PNG)

Maybe other people wo

[2018-09-30 11:54] gucong3000 commented on #738
Related: https://github.com/tapjs/spawn-wrap/pull/76

[2018-10-01 10:27] madarche commented on #684
I confirm that the `--cache-dir` cli option works. But the `.nycrc` doesn't support a corresponding `cache-dir` property.

[2018-10-03 22:10] 3den commented on #921
Im have a similar problem:

[code]

[2018-10-09 07:46] peterjgrainger commented on #913
I can take a look at this if thats OK?

Tested without all flag and everything works fine, seems to only occur on when the all flag is set.

The docs state `Use the --all flag to include files that have not been required in your tests.`

What is the expected outcome?  That the files are included in the report but aren't compiled?

[2018-10-09 07:56] peterjgrainger commented on #782
I'm happy to pick this up.

Would the change be here: https://github.com/istanbuljs/nyc/blob/master/index.js#L179

The change would be to use the `includes` list if defined.  If it isn't then use `this.cmd`?

[2018-10-09 20:28] AGrzes commented on #913
@peterjgrainger - My understanding is the `--all` flag is used to have files that not yet have any tests (and are not indirectly referenced from tested files) to show up in report. It gives more accurate total project coverage.

[2018-10-14 10:07] #902 closed

[2018-10-14 10:51] coreyfarrell commented on #922
Adding `--` would be the safest way to handle this situation (and probably the only way at this time).  I think this is something that will need support from `yargs`.  Potentially https://github.com/yargs/yargs-parser/pull/130 once it is reviewed and concerns are addressed.

[2018-10-14 11:18] coreyfarrell commented on #921
We require a link to a demo repository to be able to triage potential bugs.

[2018-10-14 12:18] coreyfarrell commented on #782
I believe this will be fixed by #914?

[2018-10-15 14:09] theqabalist commented on #898
This seems to also match our use case at our job as well.  So I would also appreciate any attention this matter could receive.

[2018-10-16 21:02] turkeysnorter commented on #924
On it.  I am familiar with mocha, but I may need some guidance to show you what you are wanting testing wise.  The feature is lightweight, since all of the infrastructure is there--it is already being used to calculate the percentages that are displayed by default--it was just a matter of displaying those values that were already being used behind the scenes to calculate those percentages.  I will

[2018-10-17 14:49] Lukenickerson commented on #916
I also recently started using nyc with non-babelified node code, only to discover by trial-and-error that it fails in weird ways with ES6 syntax (e.g., gives 0% branch coverage when there's a default parameter). 😫

A couple of improvements I would suggest:
- At the start of the README it says "with support for", but it would be also helpful to clearly state what's _not_ supported: ES6.
- Reorganiz

[2018-10-18 12:34] rwwagner90 commented on #815
Any updates on this?

[2018-10-18 13:48] DanielRuf commented on #815
Not sure who you mean, we are the only two people involved in this (participants).

[2018-10-18 17:34] rwwagner90 commented on #815
@DanielRuf I'm not sure how to get other people involved. Would be really awesome to start working toward a fix for this though.

[2018-10-18 17:37] DanielRuf commented on #815
cc @istanbuljs

[2018-10-18 19:19] shellscape commented on #781
@bcoe since the practice of extension-less, executable files (with leading shebang) is common, it would seem that this is indeed a shortcoming of `nyc`, rather than some whacky thing us whacky users are doing.

Not debating your stance, but it's _highly subjective_ and one can find any number of files without extensions that ship with an OS (even on Windows systems).

Count me as disappointed this

[2018-10-19 05:08] simlu opened #927 "Broken "tempDirectory"?"
In the latest version the `tempDirectory` is ignored and the `.nyc_output` is simply placed top level.

This used to work fine when defined in `package.json` as

[code]

[2018-10-19 05:19] simlu commented on #927
So apparently this was renamed. I consider this a breaking change...?!

[2018-10-19 10:31] simlu commented on #927
Pending investigation but this appears to be a newly introduced bug.

[2018-10-20 14:31] aalexgabi commented on #781
Istanbul worked with files without extensions if you included them explicitly.

If it's worth anything: the only reason we switched from istanbul to nyc is because we started using async/await. I did not have as many issues with istanbul as with nyc.

I keep my stance on considering this a bug: I tell nyc to include my file and it does not include it.

As for the typescript part there are number o

[2018-10-20 19:35] ptitjes commented on #847
@itslenny Would you mind sharing your final config please? I'm struggling with the same problems!

[2018-10-20 20:56] KobbyMmo commented on #751
i am having this error. This is a link to the repo [node-gae-env](https://github.com/KobbyMmo/node-gae-env/tree/dev)

[2018-10-23 08:55] Morikko commented on #515
For those like than struggled to understand the merge functionality, just some precisions.
There are:
 1. nyc merge (only output json)
 2. nyc report (do it implicitly)

In my company, we get the coverage on a running server and on Jest. Then, we move the resulting coverage files to the same folder called for example `coverage-full`.

Finally, you just have to run `npx nyc report --report-dir=wher

[2018-10-23 09:02] Morikko commented on #610
I am able to get the coverage with nyc by doing this: `npx nyc node ./www/bin.js`

Note: the only hack I did in the code is to listen to `Ctrl+C` and to suicide the process instead of killing it from the outside with the code:
[code]
I discovered this hack thanks to one of our sub-processes that was the only one getting the coverage. Note: I tested this 2 months ago on the version 12. Since, I nev

[2018-10-23 16:45] Delamater opened #929 "Options For Larger Scale Reports"
Question:
We have a use case for >= 100,000 unit test files. So, the report that is generated builds an HTML file that is very large (>= 62 MB) and difficult to scroll through easily. Is it possible to build a report that allows us to define grouping methods for the HTML report output? Perhaps grouped by source name, or custom tags.

[2018-10-23 16:48] Delamater opened #930 "Use NYC or Istanbul for languages other than Javascript?"
Question:
New to istanbul and NYC. I'm trying to understand if we can apply this tool to a custom built programming language. I see that I can build the coverage.json and use the reporting directive of istanbul to consume that coverage.json. I wonder if there is a way to build a mapping file that tells NYC or istanbul how to interpret my programming language instead of building the coverage.json d

[2018-10-23 17:09] coreyfarrell commented on #929
Generally test files are ignored by istanbul, so do you mean 100k units in a single package?  TBH I'd suggest looking at ways to split that module into more manageable pieces.

That said reporting is handled by [istanbul-reports](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-reports/lib), the current HTML report is in the html folder.  We would be willing to accept PR's to

[2018-10-23 17:14] coreyfarrell commented on #930
Istanbul uses babel under the hood to perform [instrumentation](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-instrument), so 'JS similar' languages such as TypeScript are supported via babel.  It's hard to give a good answer without knowing anything about your custom language.

[2018-10-23 17:44] coreyfarrell commented on #930
Generating the coverage.json is language specific so I think this would be up to your compiler to generate coverage counters associated with source locations (so yes generating your own coverage JSON file).  Once you do that it shouldn't be too difficult to use nyc to produce reports based on the coverage.json you generated.  That said this is out of scope for NYC itself.  Once you've generated va

[2018-10-23 17:44] #930 closed

[2018-10-23 17:46] Delamater commented on #929
Sorry @coreyfarrell, I'm still learning here and probably using the wrong terminology. I've defined a hundred thousand js files and used the --root command to include them in my istanbul reporting capabilities. They all show up in my report, but only one file (test.js) actually runs. My thought was that many developers in my organization would develop many tests for code coverage, for which I'd wa

[2018-10-24 18:44] IgorNovozhilov opened #931 "How to disable source code minify?"
How to disable source code minify at startup `nyc`?
![default](https://user-images.githubusercontent.com/3082812/47453668-02845400-d7d6-11e8-929d-b3c8c2070d11.png)

[2018-10-29 20:30] AmeCode opened #932 "Using the nested structure in the summarizer"
How can I change the libReport to use the nested structure without changing code in node_modules/nyc/index.js file?
Is there an arument to be passed in the nyc cli (e.g. --nested), can I change options in .nycrc file or package.json?
Thanks in advance

[2018-10-30 15:41] epyx25 commented on #514
Without the fix I was getting

        at evaluate (<anonymous>:1:30)]

The line `/* istanbul ignore next */` solves the problem
[code]

I am trying to make a base scraper class, where the inherited scraper classes have different evaluate method.
@keithkml  or someone could you explain who could I make this work too?
[code]

Now I am getting

again

[2018-10-30 18:13] lannonbr opened #933 "Link line coverage back to test cases that hit those lines"
![Image from readme on line coverage](https://raw.githubusercontent.com/istanbuljs/nyc/master/screen2.png)

In nyc's HTML output, you can see that a particular line is hit the number of times through the tests. Would there be some way to be able to click on the hit count in the gutter of a particular line and be able to see what tests hit said line of code?

I would at least like some feature that

[2018-10-31 01:04] AmeCode commented on #903
I have a similar question how can nyc report be used to report remap-istanbul generated .json file?

[2018-10-31 14:26] chintan-cybg opened #935 "Question : How to generate HTML report using nyc report tool from .json file ?"
I have collected front end coverage data  from  window.__coverage__   in .json format.
Is it possible to generate detailed coverage report which show coverage data line by line ?

currently i am using below command to generate report
nyc report --reporter=html  after putting json file  in   .nyc_output   directory

Overall report is generated in coverage directory and it shows data for the same. w

[2018-11-02 20:12] flintinatux commented on #921
I'm seeing the same thing, but only in TravisCI.  And I've got links!

branch:  https://github.com/articulate/paperplane/tree/lambda
travis results:  https://travis-ci.org/articulate/paperplane/jobs/450003744

Would very much appreciate any ideas, because I'm unable to repro locally.  It's only in TravisCI.

[2018-11-05 20:34] ericsoco commented on #706
I'm seeing the same error and stack trace as @mbradburn.
This started happening when moving onto `babel-plugin-istanbul`. My `.nycrc`:

[code]

[2018-11-11 17:09] klis87 commented on #921
@flintinatux I confirm it, magically nyc stopped working for me locally despite me dependencies were freezed. Then as a last try to solve impossible I tried to use `npm` not `yarn` to run coverage command, and suddenly It started working again!

this is my command: `"cover": "nyc --reporter=lcov --reporter=text lerna run test:cover"`
while `test:cover` in packages is `"test:cover": "cross-env BABE

[2018-11-13 14:34] onehorsetown commented on #921
Still broken with yarn `1.12.3`

[2018-11-14 14:22] lannonbr opened #936 "Coverage dropping when enabling Windows builds on TravisCI"
## Link to bug demonstration repository.

I've been trying to figure out an issue where our tests have been passing but the coverage with NYC is dropping in CI but locally doesn't. This occured after enabling the expiremental support for Windows builds on Travis CI.

I've seen this in a few repos I help out with, but I will use the [roosevelt-less](https://github.com/rooseveltframework/roosevelt-l

[2018-11-14 17:29] genius8901 commented on #784
having the same problem. the logs shows:
`0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Shaked Eyal\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'coverage' ]
2 info using npm@6.1.0
3 info using node@v10.13.0
4 verbose run-script [ 'precoverage', 'coverage', 'postcoverage'

[2018-11-14 17:30] genius8901 commented on #784
I have the same problem. The logs are:

13 verbose stack Error: sample-project@1.0.0 coverage: `cross-env NODE_ENV=coverage nyc --reporter=json-summary npm run test`
13 verbose stack Exit status 1
13 verbose stack     at EventEmitter.<anonymous> (C:\Users\Shaked Eyal\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\index.js:304:16)
13 verbose stack     at EventEmitter.emit (events.j

[2018-11-15 16:21] thysultan opened #937 "Issue in instrumentation."
## Link to bug demonstration repository.

Repro: [https://github.com/thysultan/dio.js/tree/492492ee59e7806d8de88b429e4ac7347b840bef](https://github.com/thysultan/dio.js/tree/492492ee59e7806d8de88b429e4ac7347b840bef)

## Expected Behavior

Should correctly instrument the following [function](https://github.com/thysultan/dio.js/blob/492492ee59e7806d8de88b429e4ac7347b840bef/src/Schedule.js):

[code]

[2018-11-15 17:28] jwalton opened #938 "--all is super broken"
## Link to bug demonstration repository.

https://github.com/exegesis-js/exegesis

## Expected Behavior

--all should include all files

## Observed Behavior

--all does not include all files, and sometimes randomly drops files (sometimes even files with coverage), or (extra weirdly) parts of files.

If you run (and re-run) `npx nyc mocha 'test/**/*.@(ts|js)'` in the Exegesis repo, it will sometim

[2018-11-19 09:40] #918 closed

[2018-11-21 21:11] mcauz opened #939 "Nyc uncovered tested files"
## Link to bug demonstration repository.

https://github.com/mcauz/NodeFramework

## Expected Behavior

The coverage of the validation folder must be indicated.

## Observed Behavior

Only the coverage of the object.js file is indicated in the report. It's only for the src/ and test/ folder. When I test with the src_old/ and test_old/ folder, the coverage is correct.

The test/ folder test the src

[2018-11-22 01:42] #939 closed

[2018-11-22 12:32] ehmicky opened #940 "Exception thrown when requiring a file twice, once as a source file and once as a compiled file"
[Demo repository](https://github.com/ehmicky/nyc-bug)

Running `nyc node c.js` produces the following output:

[code]

`c.js` contains:

[code]

`a.js` contains:

[code]

`b.js` is produced by `babel a.js --out-file b.js --source-maps` and contains:

[code]

`b.js.map` contains:

[code]

## Expected Behavior

`nyc` should exit without errors.

## Observed Behavior

`nyc` throws an exception.

## F

[2018-11-24 10:40] ilyadoroshin commented on #504
`"exclude": ["**/*.d.ts"]` helped me

[2018-11-26 12:50] rolafium commented on #619
Is there any update on the matter? using @ianldgs feels wrong as the test run twice and as he states it is just a workaround.

I believe this is a breaking issue on both the JavaScript and the TypeScript environment as being able to read meaningful stacktraces in unit and integration tests is a core reason for writing tests in the first place.

[2018-11-30 10:07] winit30 commented on #464
Hi chapati23

What is your configuration? I am using jest and enzyme for react-native unit testing but istanbul igore not working for me. Could you please help me for this.

[2018-11-30 10:53] quentinvernot commented on #921
The plot thickens:
[code]
Gives no coverage, but it works with `nyc npm run test`!

[2018-11-30 11:14] ehmicky opened #941 "Files required through `node --eval` or `node --require` do not get instrumented"
[Demo repository](https://github.com/ehmicky/nyc-bug-two)

## Expected Behavior

Files required through `node --eval` or `node --require` should be instrumented.

## Observed Behavior

They do not get instrumented.

The demo repository contains two empty files `index.js` and `other.js`.

Running the file instrument it correctly:

[code]

Requiring it through `--eval` does not instrument it:

[code

[2018-11-30 13:16] jeremad commented on #921
If you want to follow this on yarn side:
https://github.com/yarnpkg/yarn/issues/6746

[2018-12-03 17:30] sterlingstokes commented on #920
@ilearnio For posterity's sake, can you describe what was wrong in your setup? I am having the same issue.

[2018-12-03 19:13] ilearnio commented on #920
@sterlingstokes I was using `vueify` package to compile vue files in Node. It was adding these numbers to the end of paths, so I had to fork it and fix that as well as other stuff for my needs https://github.com/ilearnio/vueify#1f23ac8

[2018-12-03 19:15] ilearnio commented on #920
Basically this was the fix for me https://github.com/ilearnio/vueify/commit/b2824c900bedf64106343d71a8bf4cb662106e7c#diff-ee97c5091b89979aace94674818996baR200

[2018-12-05 13:23] navkirat-singh opened #946 "Upgraded to 13.1.0 : Coverage unknown"
After upgrade to ver. 13.1.0. from 12.0.2, nyc has stopped generating coverage report. My test cases are executed through mocha and after the execution, following coverage report gets generated.

Statements   : Unknown% ( 0/0 )
Branches     : Unknown% ( 0/0 )
Functions    : Unknown% ( 0/0 )
Lines        : Unknown% ( 0/0 )

I've tried explicitly setting the --hook-run-in-context and --hook-run-in-t

[2018-12-07 22:15] evert opened #947 "Files get ignored from coverage when esnext bigint is used."
Steps to reproduce.

1. Have working nyc setup.
2. Edit a file that already appeared in coverage info, and add the following function:

[code]

Result is that the file disappears.

[2018-12-09 11:22] enuggetry opened #949 "Client coverage report error"
I'm trying to combine server coverage reports with client coverage.  I have no problems generating server coverage reports.  But, I'm having problems understanding how to produce client reports and combining them with server reports.

In my test script, I write `windows.__coverage__` into `.nyc_output/clientreport.json` for pre-instrumented code.

[code]

which was prescribed in: https://istanbul.

[2018-12-09 15:44] genius8901 commented on #784
I am looking into it

[2018-12-11 12:38] andrewcharnley opened #950 "Coverage for nyc executed outside current working directory"
Hi,

I have a lerna repo using npm's relatively new "file:" dependency feature to load resources from parent directories. For a given package when I run "npm run test" within a package it should use nyc/mocha from ../../node_modules/.bin.

`
    "test:unit": "NODE_ENV=test ../../node_modules/.bin/mocha ./src/*.spec.js ./src/**/*.spec.js",
    "coverage:unit": "../../node_modules/.bin/nyc -- npm ru

[2018-12-13 03:58] Krinkle opened #951 "spawn-wrap causes failure due to unwritable homedir"
## Observed Behavior

When using nyc as a system user that is not allowed to write to its home directory (e.g. `HOME=/nonexistent`), a command like `nyc qunit test` or some other use of nyc fails as follows:

[code]

I believe this is because spawn-wrap, unlike nyc, defaults to using a a sub directory of `HOME` as its working directory. Instead of using process.cwd() or TMPDIR etc, like nyc does.

[2018-12-13 04:04] Krinkle commented on #951
For the record, I was able to workaround this bug by forcing spawn-wrap to use a the current working directory instead, through the environment variable it considers:

[code]

[2018-12-14 21:45] captain-igloo opened #952 "Renaming typescript file causes cache problem on second run"
https://github.com/captain-igloo/nyc-bug

## Expected Behavior
After renaming a typescript file I expect coverage for the re-named file in the html report.
## Observed Behavior
A link to previous filename and when I click through the page contains a stack trace "Unable to lookup source ... no such file or directory"
## Forensic Information
**Operating System:** Ubuntu linux
**Environment Informati

[2018-12-16 03:16] kmdrGroch commented on #947
+1 for that. I have even combined 2 projects, and file with any bigint is removed from coverage. Please fix it :c

[2018-12-17 23:00] captain-igloo commented on #952
The latest release of ts-node (7.0.1) also caches code in /tmp by default.  It also uses the source code to generate a hash but ignores the filename.  So running the above but clearing the cache in between doesn't change the output, ie:
npm run test1
rm node_modules/.cache/nyc/*
npm run test2

However support for caching has been removed from ts-node, see https://github.com/TypeStrong/ts-node/pull

[2018-12-18 14:57] aleskozina commented on #923
This is also applied to the cli variant. `--include|-n` has no effect.

[2018-12-23 11:00] ssube opened #953 "unable to exclude node_modules"
## Link to bug demonstration repository.

https://github.com/ssube/noicejs/tree/feature/coverage

## Expected Behavior

Running `npm install && make` should report test coverage for code under `src/` and `test/`, somewhere around the 80% mark (+/- recent changes).

## Observed Behavior

Tests runs with coverage, but the numbers are well off from where they should be:
[code]

This seems to be cause

[2018-12-24 02:59] Aqours commented on #903
1. delete `.nyc_output/*` files
2. copy your generated .json file to `.nyc_output/`
3. run `nyc report`

Above works fine.

[2018-12-24 03:29] Aqours opened #954 "nyc does not include all files"
## Link to bug demonstration repository.
repository: https://github.com/Semibold/Project-Starter

nyc config: https://github.com/Semibold/Project-Starter/blob/master/package.json#L45

reproduce:
1. clone above repository and cd to workspace
2. run `npx nyc mocha -r ts-node/register test/noop.spec.ts` (Using this command to collect source uncoverage map)
3. logs
[code]

## Expected Behavior
`src/me

[2018-12-24 03:37] Aqours commented on #954
dup #679

[2018-12-24 03:37] #954 closed

[2018-12-24 03:57] Aqours commented on #679
@jonaskello how to include custom types when using `nyc mocha` ?

`global.d.ts` file included by tsconfig.json
[code]

`index.ts`
[code]

It will throw an error `error TS2304: Cannot find name 'DEBUG'.` when I runing `nyc mocha`. It seems tsconfig.json not be used by ts-node. But it works fine if I put `--require ts-node/register` to mocha not nyc.

[2018-12-26 21:12] oprogramador opened #955 "coverage threshold not respected when defined in package.json"
## Link to bug demonstration repository.

## Expected Behavior

This build https://travis-ci.org/oprogramador/nyc-issue-threshold-not-respected/builds/472442830 should pass.

## Observed Behavior

This build https://travis-ci.org/oprogramador/nyc-issue-threshold-not-respected/builds/472442830 fails.

## Forensic Information

You can view all the details in CI.

In brief:
OS: it fails for both Ubun

[2018-12-27 05:50] JaKXz commented on #955
@oprogramador thanks for the issue, but, I think `watermarks` is not what you're looking for. [From the readme](https://github.com/istanbuljs/nyc#high-and-low-watermarks) it's not for enforcing the required coverage, but just to show in the reports what you consider good or bad.

The `--lines` option actually enforces 40% from your command, so the equivalent config would be:

[code]

[2018-12-27 08:40] lqin-pki commented on #949
@enuggetry after read nyc's source, I realized that we should write window.__coverage__.value to the file before running the nyc report.

[2018-12-27 10:52] kushalmahajan commented on #208
What's the official answer then? Just curious!
Random or something related to history?

[2018-12-28 16:05] henriquemotaesteves opened #956 "How to ignore coverage data (instrumented code) from dependencies?"
## Link to bug demonstration repository.

https://github.com/henriquemotaesteves/nyc-bug-demo

## Expected Behavior

How to ignore coverage data (instrumented code) from dependencies?

## Observed Behavior

If a dependency is packed and published with coverage data (instrumented code), then these data are included in the coverage report.

## Forensic Information

https://gist.github.com/henriquemo

[2018-12-29 16:45] bcoe commented on #208
@kushalmahajan nyc was designed to be a tool that extended on the functionality of Istanbul; introducing support for subprocesses, and a zero-configuration approach to coverage. I called it nyc for two reasons:

1. as a joke, because in the They Might Be Giants song Istanbul Not Constantinople, they mention Istanbul, Constantinople, new Amsterdam, and New York City inn conjunction.
2. because I wa

[2018-12-29 16:49] bcoe commented on #956
Hello @henriquemotaesteves 👋

You should be able to ignore specific files by customizing nyc's exclude rules:

https://github.com/istanbuljs/nyc#excluding-files

This can be done either in your package.json, in a .nycrc, or by passing additional exclude rules to the CLI using `-x`. The rules use globs:

https://www.npmjs.com/package/glob

[2019-01-02 11:36] henriquemotaesteves commented on #956
Hello @bcoe.

I tested the proposed solution and it did not work. The location of the file is alreday ignored by default.

https://github.com/henriquemotaesteves/nyc-bug-demo/commit/fb5a8c370caeeba5d2140460409f088be9052648

The coverage data (exported cov_... functions) displayed by the report is injected indirectly when the dependency is imported by a file that can't be ignored because it is the

[2019-01-02 13:06] 75lb commented on #822
I have the same issue, reproduced using node v6.14.4 and v11.4.0.

In an empty directory, install the deps.

[code]

Create this file `test.js`:

[code]

Run mocha with nyc.

[code]

As you can see, the report is empty. Any ideas?

[2019-01-02 13:08] 75lb commented on #921
I'm experiencing the same issue, I don't use yarn. Reproduction case posted here: https://github.com/istanbuljs/nyc/issues/822.

[2019-01-02 14:53] quentinvernot commented on #921
@JaKXz Sadly, it still looks broken:
[code]

[2019-01-02 14:56] quentinvernot commented on #822
@75lb I added a second file to your repro, I get coverage when I do that:

lib.js:
[code]

test.js:
[code]

[code]

Maybe nyc doesn't provide coverage inside the test files by default?

[2019-01-02 15:11] JaKXz commented on #921
Hmm... Still looks like the signal is not passed on from `yarn` but I'm not 100% sure... Mind retrying in the yarn issue or making a new one there?

[2019-01-02 15:13] quentinvernot commented on #921
Nevermind, totally works!
I had 2 versions of yarn on my system when running this, I used `1.13.0` from the command line, but the other one (in nyc --reporter=lcov --reporter=text-summary yarn test) was still `1.12.3`.

[code]

[2019-01-02 15:13] JaKXz commented on #900
Thank you for the issue! I would like to really consolidate all the typescript issues we've been having, but, in this case are you satisfied with the answers here and the tutorial? Please do feel free to contribute any improvements :)

[2019-01-02 15:15] JaKXz commented on #887
Thanks for the issue @ajb3ck. Since we haven't heard back I'm going to close this issue for now, but feel free to reopen it once you've tried Corey's suggestion.

[2019-01-02 15:15] #887 closed

[2019-01-02 15:21] JaKXz commented on #876
Hi @Viatorus sorry for the late reply, I don't think it's possible to change the _name_ of the json file produced. And I'm pretty sure there are good reasons for that in the way NYC works, like combining coverage across multiple reports and such. You should be able to change the report dir like you mentioned, there's mention of that config option on the readme and I think in the tutorials as well.

[2019-01-03 02:33] JaKXz commented on #838
@dtgriscom I appreciate this issue, sorry it's taken so long to get back to you.

I would love to see a PR here, under the docs/advanced features section: https://github.com/istanbuljs/istanbuljs.github.io/tree/development/content/docs/advanced

[2019-01-03 02:46] JaKXz commented on #919
If I may be so bold, it sounds like dead code is being kept around. My 2c would be to delete that code and if things break, you find your issue.

I'm going to close this issue for now, since I don't foresee this being a maintainable addition to istanbul. Please correct me if I'm wrong.

[2019-01-03 02:48] JaKXz commented on #916
@Lukenickerson I would love to see that! We have https://github.com/istanbuljs/istanbuljs.github.io for our complete documentation and it has been a challenge to figure out what is "enough for the README" and what should be on the website. Please feel free to take a crack at this.

[2019-01-03 07:50] wchargin commented on #919
Hi @JaKXz—thanks for your response.

No, I definitely disagree with this statement. Assertions that verify
inline that the code is correct can be immensely valuable. For instance,
the implementation of CPython’s TimSort algorithm has 58 assert
statements by my count, which, assuming that the code is correct, can
not be hit no matter what inputs are provided. This does not make them
any less valuab

[2019-01-03 17:02] morris commented on #921
I'm currently seeing something the other way around: Coverage at 0% when I run "nyc mocha test" but correct coverage when I run the script via npm (npm test where test is "nyc mocha test" in the package.json). nyc @ 13.1.0 in both cases. Interestingly, npm ls -g lists nyc as a dependency of npm?!

Here's my npm ls (in my package) output:

[code]

and here's npm ls -g:

[code]

[2019-01-04 15:47] c0bra commented on #956
Struggling with this as well on a rollup-based project. No amount of futzing with the `exclude` option seems to do anything when istanbul is processing the source-mapped bundle.

[2019-01-05 17:45] JaKXz commented on #921
@morris your issue sounds like it's different from the original... would you mind trying to reproduce it in a minimal example repo and opening a new issue when you do?

@quentinvernot thank you for sharing! Are we satisfied to close this issue?

[2019-01-05 17:55] JaKXz commented on #679
I've updated the [TS tutorial](https://istanbul.js.org/docs/tutorials/typescript/) that had some of the tips in here, with some of the newer tips. If you are able, please contribute to those docs :) https://github.com/istanbuljs/istanbuljs.github.io

[2019-01-05 17:55] #679 closed

[2019-01-05 17:59] JaKXz commented on #929
You could try [SonarQube](https://docs.sonarqube.org/display/PLUG/JavaScript+Coverage+Results+Import#space-menu-link-content) with the lcov reporter, but I can't guarantee that will fit your need.

[2019-01-05 19:34] JaKXz commented on #919
I think I see what you're saying @wchargin. It would be cool to replace `//istanbul ignore next` with `//istanbul warn next`.

`//istanbul warn next` could do the same thing as `//istanbul ignore next` (not count that line towards the coverage totals) but also throw a warning if coverage is collected.

[2019-01-05 21:17] ljharb commented on #515
bump; staleness should be irrelevant to issues staying open.

[2019-01-05 21:45] RyanZim commented on #894
@coreyfarrell Any updates?

[2019-01-05 22:32] JaKXz commented on #905
@stevefan1999-personal sorry for the late reply, but I just tried out your repo and it seems to be working fine. Let me know if not and we can reopen this issue or look in some of the others to find similar problems.

[2019-01-05 22:32] #905 closed

[2019-01-05 22:34] #782 closed

[2019-01-05 22:34] #913 closed

[2019-01-05 23:02] rwwagner90 commented on #815
It's not stale, still waiting on @istanbuljs

[2019-01-05 23:17] JaKXz commented on #815
Sorry for the late reply, but can you clarify what you are looking for? Does the `json-summary` report not work? Is there something wrong with how the results are being processed and generated?

I'm not sure this is an `nyc` issue, but probably an underlying issue in https://github.com/istanbuljs/istanbuljs.

[2019-01-05 23:19] rwwagner90 commented on #815
@JaKXz no worries, the json-summary report does not work with nyc. You can see my initial comments and you can see the link to the issue where we discussed it further.

[2019-01-05 23:52] JaKXz commented on #938
I think I'm seeing consistent results when I add `cache: false` to your `.nycrc`. Not 100% sure that's the problem, however, and that makes this issue more interesting...

I ran `npm test`, `npx nyc mocha 'test/**/*.@(ts|js)'`, and `yarn run nyc mocha 'test/**/*.@(ts|js)'` and got the following summary:

[code]
from my fork: https://github.com/JaKXz/exegesis
<details>
<summary>
<code>npx envinfo</

[2019-01-06 00:13] #927 closed

[2019-01-06 01:08] bcoe commented on #938
my bet would be that this is order of operations of how the raw coverage data is combined across multiple processes; issues along these lines have cropped up quite a bit with TypeScript, which requires several source-map transformations to map coverage.

[2019-01-06 01:54] ljharb commented on #515
It’s your project, but i find number 3 very false, and find bots closing issue so immensely harmful to users and thus the project itself.

[2019-01-06 01:54] ljharb commented on #594
bump.

[2019-01-06 01:54] ljharb commented on #841
bump.

[2019-01-06 02:32] mlrawlings commented on #798
Just tested again with `nyc@13.1.0` and `mocha@5.2.0`.  This is still an issue.

[2019-01-06 04:08] bcoe commented on #515
this feature is implemented.

[2019-01-06 04:08] #515 closed

[2019-01-06 04:10] bcoe commented on #515
@ljharb you're entitled to your opinion, but I'd like to experiment with an approach to managing GitHub conversations on Istanbul that keeps conversation centered around active development. If this approach works, will consider moving forward with it on other projects ... if it doesn't seem to make development more vibrant, will move away from the approach.

[2019-01-06 05:01] JaKXz commented on #515
@ljharb FWIW, as a maintainer/triager it's overwhelming when there are many issues open because I don't know at a glance what's most important to people since I'm not on the project full time. In the short of amount of time since adding the stale bot we've seen some healthy movement IMHO because the people who have the most vested interest and are actively contributing are responding and helping m

[2019-01-06 05:01] #799 closed

[2019-01-06 05:01] #811 closed

[2019-01-06 06:00] wchargin commented on #919
Yes: something like `//istanbul warn` or `//istanbul unreachable` would
be great!

[2019-01-06 06:17] OmgImAlexis commented on #659
Still an issue.

[2019-01-06 06:18] OmgImAlexis commented on #659
Still an issue.

[2019-01-06 13:31] #650 closed

[2019-01-07 05:43] sindresorhus commented on #515
I also find the use of "auto-closing issue" bots harmful. If you want to encourage responses from users, add a "ping" bot instead. But naively closing issues just leads to a lot of annoyance for users.

Relevant Twitter thread: https://twitter.com/sindresorhus/status/1082145283285250048

[2019-01-07 13:16] Swatinem commented on #793
Hm, I have a related issue, which is that files with inline sourcemaps are wrong.
Instanbul just searches for a file on the filesystem with the name `/path/to/file/data:application/json;charset=utf-8;base64,XXXXX`

[2019-01-07 14:01] quentinvernot commented on #921
Looks good to me, keep in mind that yarn's 1.13.0 is a pre-release, so it's not *realy* fixed yet, but it was never nyc's fault in the first place. Up to you.

[2019-01-07 15:53] JaKXz commented on #921
Great, thanks!

[2019-01-07 15:53] #921 closed

[2019-01-08 02:01] JaKXz commented on #462
related to #432

[2019-01-08 09:30] sampathkumarm opened #962 "Coverage not working for files outside working directory"
I am unable to run coverage on the spec files outside the root directory (where package.json resides). Please find the screenshot attached and let me know if i am doing anything wrong here. Why the relative path doesn't work?

NYC should be able to run coverage on files using relative paths too.

## Observed Behavior
![coverage issue](https://user-images.githubusercontent.com/6489309/50821685-a44f

[2019-01-08 16:01] JaKXz commented on #472
Looks like this is related to #962

[2019-01-08 16:04] JaKXz commented on #932
@AmeCode sorry for the late reply - could you clarify your question, perhaps with an example? what code are you changing in `nyc/index.js`? If you're able to do that and consistently produce what you're looking for, perhaps a PR to demonstrate what you're talking about would be a good place to start.

[2019-01-08 17:16] #780 closed

[2019-01-09 04:48] acesiddhu opened #965 "Invalid Cobertura report getting generated"
Demo for reproing the bug
https://github.com/MicrosoftDocs/pipelines-javascript

## Expected Behavior
packages should contain package and package should contain classes

## Observed Behavior
[code]
## Forensic Information

**Operating System:** Windows
**Environment Information:** information about your project's environment, see instructions below:

1. run the following script:

    "test": "nyc

[2019-01-09 20:01] realityking commented on #459
@coreyfarrell Did you ever find out if the bundled dependencies are needed? It would be love to get things to deduplicate. 🙂

[2019-01-10 00:49] JaKXz commented on #843
I noticed a typo in your `package.json`, `extensions` should be `extension`. Generally though, I think this is a duplicate of #659 unless you have a more specific question?

[2019-01-10 00:51] JaKXz commented on #917
Do you have tests exercising the `lib/` folder? You can also try the `--all` option.

[2019-01-10 00:54] caub commented on #843
Thanks, it seems I had fixed it meanwhile already, and forgot to update this issue, sorry

[2019-01-10 00:54] #843 closed

[2019-01-10 04:30] AndrewFinlay commented on #890
Bump, stale bot

[2019-01-10 04:31] AndrewFinlay commented on #891
Bump, stale bot

[2019-01-10 15:22] IgorNovozhilov commented on #931
How?

[2019-01-10 16:00] coreyfarrell opened #966 "A way to report invalid NYC configuration."
An automated method should be able to report errors in NYC configuration.  For example if someone has `{"extensions": [".mjs"]}` nyc is not going to act as they expect.  This ultimately causes support requests to be posted a bug reports.

I'm not sure where this check should happen.  We could have NYC check the configuration at startup and error out if unknown keys are specified.

[2019-01-10 17:16] coreyfarrell commented on #459
@realityking Some dependencies may use global/singleton state.  A problem has occurred in the past where NYC used (directly or indirectly) a component which uses a singleton pattern.  Then the code being tested within NYC tries using the same and misbehaves because NYC changed the initial singleton state.

The largest module currently bundled by `nyc` is handlebars at 3.3mb.  This is used to produ

[2019-01-10 18:46] JaKXz commented on #931
@IgorNovozhilov could you provide a minimal reproduction in a public repo? Since there are so many moving parts we need that to help understand your problem

[2019-01-10 20:50] IgorNovozhilov commented on #931
[code]
output
[code]
just for `npm test`
[code]

config in package.json
[code]
work.js:1:973 - is minified
test.js:7:1 - is not minified
How can I make the `work.js` file not be minified, that would be in the test report to understand where the error in the source file?

[2019-01-11 18:01] onehorsetown commented on #921
Just tried yarn `1.13.0` via `brew` and the problem still persists.

[2019-01-12 13:51] morris commented on #529
Here's what I use right now to have coverage on any script run by jsdom. It just maps URLs encountered in vm.runInContext to local files:

[code]

Needs nyc's sourceMap and hookRunInContext set to true. Does not work with --all, though.

[2019-01-13 21:10] ssube commented on #956
I'm having a similar issue with webpack (#953) where `exclude` options (default, from `package.json`, or from `.nycrc`) are being ignored when run against the bundle, while source maps are respected. Setting `--exclude-after-remap` didn't help.

[2019-01-14 15:59] coreyfarrell commented on #792
We need a link to a demo repo to triage this issue.  My own projects do report line numbers in when statements are not covered.

[2019-01-14 17:06] #319 closed

[2019-01-14 20:04] JaKXz commented on #935
Can you provide a minimal reproduction with the latest version of nyc?

[2019-01-14 20:05] JaKXz commented on #814
Interesting. I'm going to move this issue to the istanbuljs monorepo where the istanbul-reports library lives

[2019-01-14 20:10] JaKXz commented on #791
`ignore else` is to reduce the total number of branches reported, and you need `ignore next` to ignore the lines not covered as well. I think the instrumenter is counting things correctly here - sorry for the late reply.

[2019-01-14 20:13] JaKXz commented on #732
This fix has been implemented

[2019-01-14 20:13] #732 closed

[2019-01-14 20:55] coreyfarrell commented on #791
Oh sorry my eyes got crossed, I didn't see the closing `}`'s correctly.  In any case I don't think istanbul is able to understand that the if block never returns, so it doesn't understand that `logger.error` is part of an "implicit" else block.  To be honest I don't think it's likely we'll find a way to make istanbul understand this.

In this situation I'd refactor the catch block:
[code]

[2019-01-14 22:43] yatki opened #969 "Feature Request: Ignore coverage by environment variables"
## 🚀 Feature Proposal

## Motivation
I have different types of tests like unit, integration and functional. When I write my unit tests for some functions that only does I/O operations and I'd like to write only integration tests for those. But this will cause decrease in my unit test code coverage.

I'd like to tell istanbul to ignore my code block depending on the test type it's running.

## Exam

[2019-01-15 10:38] Guseyn opened #970 "Can someone here answer on this question?"
https://stackoverflow.com/questions/54195826/istanbul-test-coverage-information

[2019-01-15 17:03] JaKXz commented on #770
Sorry for the late reply! You can check your include or exclude globs and see if they produce the result you expect for the filename(s) that you are looking at. The default include and exclude globs are documented on the readme.

Any file that is used somehow in a test will be included, if it matches the include/exclude globs. And finally if you are using the `--all` flag, you will see files that

[2019-01-15 17:03] #770 closed

[2019-01-15 17:06] JaKXz commented on #970
Thanks for the question! You would be more than welcome to post this on our slack group and I think it would reach more eyes. I can also tell you that I think the answer is documented here: https://istanbul.js.org/docs/advanced/alternative-reporters/

[2019-01-15 17:40] Guseyn commented on #970
Thank you very much. I'll also put here information about command:
[code]

[2019-01-15 17:40] #970 closed

[2019-01-15 22:40] #951 closed

[2019-01-16 07:32] chrisflemming opened #971 "nyc coverage report doesn't recognise source map"
I'm having difficulty getting nyc to recognise a source map. My original source is typescript which is then transpiled using webpack. Webpack is adding an inline sourcemap to the transpiled output.

I'm then using nyc to instrument the transpiled output:
`nyc instrument build/library.js instrumented`
 I can see the inline source map in the instrumented code.

After testing, I'm dumping the content

[2019-01-16 13:40] shirakaba commented on #176
This article was invaluable to me, but returned a 404; so here's the up-to-date URL:

[Setting up test coverage using Mocha, Istanbul, NYC with TypeScript](https://azimi.me/2016/09/30/nyc-mocha-typescript.1.html)

Note: The report was highlighted in some very nonsensical places when source maps were on, so I turned off `sourceMap` on `nyc` and removed `--require source-map-support/register` from t

[2019-01-16 21:36] Krinkle opened #972 "Minor release"
Would like to see a release soon, in particular for support of running as `nobody` on Linux. https://github.com/istanbuljs/nyc/commit/ff834aa68

Thanks!

-------

Next release:

* [x] Address Snyk warning. https://github.com/istanbuljs/nyc/commit/409a2f5e340891975a7f
* [x] Restore option fallback. https://github.com/istanbuljs/nyc/commit/28b6d09c5a0
* [x] Support running as `nobody` on Linux. http

[2019-01-17 05:06] coreyfarrell commented on #972
I'd like to get istanbuljs/caching-transform#11, plus some dependency updates and a new caching-transform release first, then an nyc release including those updates.

[2019-01-17 08:06] chrisflemming commented on #971
Cross posted here: https://stackoverflow.com/questions/54231448/nyc-coverage-report-doesnt-recognise-source-map

[2019-01-18 04:19] #670 closed

[2019-01-18 04:19] #675 closed

[2019-01-18 05:31] bcoe commented on #972
@coreyfarrell 👍 will let you take lead on drafting up what you'd like to see in a release of nyc and Istanbul; perhaps you could write up in an issue with check boxes what you'd like to tackle, feel free to delegate a bit to me;

This is my pet little bit of work I'd like to do soon: https://github.com/istanbuljs/istanbuljs/issues/273

[2019-01-20 11:20] keenwon opened #973 "error with mocha on Node.js 11.7.0"
## Link to bug demonstration repository.

## Expected Behavior

No error, consistent with node v10.

## Observed Behavior

### koa-subdomain

repo: https://github.com/keenwon/koa-subdomain
ci: https://travis-ci.org/keenwon/koa-subdomain

node v10:

![image](https://user-images.githubusercontent.com/5516478/51438469-99827e80-1ce7-11e9-9515-3c04473c4c04.png)

node v11.7.0:

![image](https://user-ima

[2019-01-20 18:44] #936 closed

[2019-01-21 04:54] brewster1134 opened #974 "caching issue with check-coverage & report"
i noticed that when i make configuration changes, the results are not reflected when i use either `nyc check-coverage` or `nyc report`. the only way (that i can find) to force it to refresh, is by running `nyc mocha`

* it happens regardless of if configuration options are set from `package,json` or the command line
* it still happens when `cache` is set to to `false`
* it happens with any configu

[2019-01-21 13:33] johannespfeiffer commented on #973
Same here. We used the docker image node:11-alpine and noticed that coverage was down to about 15% (100% before) a few days ago.
As a workaround we now use node:11.6-alpine.

[2019-01-21 14:45] ehmicky commented on #940
Adding a commit because of the stale bot (this issue is still pending).

[2019-01-21 18:41] JaKXz commented on #817
@peterjwest hope your question was answered, I'm going to close this for now. If you feel this needs to be documented somewhere, https://github.com/istanbuljs/istanbuljs.github.io would be a great place to start.

[2019-01-21 18:41] #817 closed

[2019-01-21 18:50] JaKXz commented on #690
I'm going to close this issue with this link: https://istanbul.js.org/docs/tutorials/typescript/

Thank you for posting your solution - please do open a new issue if you are still having problems, with  links to reproduction of the problem.

[2019-01-21 18:50] #690 closed

[2019-01-21 22:42] repinvv opened #975 "Coverage is not displayed properly"
## Version of the library: + nyc@13.1.0

## Repository url: https://gitlab.com/vlr/tslib-seed/-/jobs/148945040
There is a gitlab CI configured where the defect reproduces

## Expected Behavior
coverage displayed at the end of test run

## Observed Behavior
Branch coverage is displayed as 100%, The rest of metrics are displayed as 0%

**Operating System:** Win7, Win10, Ubuntu on windows, Debian.
Is

[2019-01-22 14:06] henriquemotaesteves commented on #956
The merged pull request https://github.com/istanbuljs/istanbuljs/pull/275 closes this issue, at least for me. @c0bra and @ssube, could you, please, confirm that is also true for your issues?

[2019-01-22 14:49] c0bra commented on #956
@henriquemotaesteves I might be misunderstanding how to test this locally:

1. I cloned istanbuljs, did `npm install` and `npm link`
2. Then `npm link istanbuljs` in `nyc` in my `node_modules`
3. Then added this to my package.json and ran cover:
[code]

No difference. I'm probably missing something, yea?

[2019-01-22 15:10] nicojs commented on #973
I can confirm this problem on windows, so it doens't seem to be OS specific

[2019-01-22 15:33] henriquemotaesteves commented on #956
@c0bra, could you provide a coverage output (screenshot)?

[2019-01-22 15:57] c0bra commented on #956
@henriquemotaesteves yup:

[code]

[2019-01-22 16:08] henriquemotaesteves commented on #956
@c0bra, instead of define your exclude rule inside `package.json`, try create a `.istanbul.yml` file with the following content:

[code]

[2019-01-22 17:06] c0bra commented on #956
@henriquemotaesteves same result. I removed the "nyc" config from package.json as well, just in case.

[2019-01-22 17:23] henriquemotaesteves commented on #956
@c0bra, what test runner are you using? Is your project public?

I'm using `jest` and I suppose that it does not pass the `nyc` config section in `package.json` to `istanbul`. This is why I used a `.istanbul.yml` file.

[2019-01-22 17:34] c0bra commented on #956
I'm using ava, project is here: https://github.com/onboardist/ui

Let me dig and see if I can figure out where it's not being set.

[2019-01-22 18:07] henriquemotaesteves commented on #956
@c0bra, I did not found any reference to `istanbul-api` in `nyc`. If this is true, the solution provided by the pull request https://github.com/istanbuljs/istanbuljs/pull/275 will not work.

[2019-01-22 18:35] c0bra commented on #956
@henriquemotaesteves well that stinks. I suppose there's no way around that if nyc is using lower-level access to istanbul.

[2019-01-22 22:17] boneskull commented on #973
Mocha got bit by this too.  pinning to v11.6.0 seems to fix.

[2019-01-22 23:40] bcoe commented on #973
see: https://github.com/nodejs/node/issues/25650

[2019-01-22 23:47] ssube commented on #956
Followed the steps in https://github.com/istanbuljs/nyc/issues/956#issuecomment-456426189 to link `nyc`, then ran my project's coverage target again (https://github.com/ssube/noicejs/blob/master/Makefile#L104). I'm not seeing a difference in the report either, likely thanks to running `nyc mocha tests` from the CLI.

[2019-01-23 05:58] #526 closed

[2019-01-23 05:59] JaKXz commented on #669
This is being worked on in #893.

[2019-01-23 06:01] JaKXz commented on #668
Is this still an issue?

[2019-01-23 06:03] JaKXz commented on #684
Has this been addressed by #968?

[2019-01-23 06:06] JaKXz commented on #640
I don't think this is an issue with the latest versions of nyc so I'm going to close this for now. Please let me know if not!

[2019-01-23 06:06] #640 closed

[2019-01-23 06:07] JaKXz commented on #933
closing as a duplicate of #633. Please correct me if I'm wrong!

[2019-01-23 06:07] #933 closed

[2019-01-23 06:09] JaKXz commented on #709
@Rush @bcoe I'm going to close this issue because I think it's outside the scope of `nyc`. Please feel free to reopen if you disagree.

[2019-01-23 06:09] #709 closed

[2019-01-23 06:11] JaKXz commented on #660
Is this still a valid issue? Is it within the scope of `nyc` or does it belong in an underlying package (yargs)?

[2019-01-23 17:28] robertmain commented on #690
Oh nice! +1

[2019-01-24 05:37] JaKXz commented on #531
Closing this issue since it seems resolved and stale.

[2019-01-24 05:37] #531 closed

[2019-01-24 08:14] JaKXz commented on #618
Since the S/O question has been answered, I'm going to close this issue for now. Thanks everyone for your help, and please feel free to add to the tutorial here: https://github.com/istanbuljs/istanbuljs.github.io

[2019-01-24 08:14] #618 closed

[2019-01-24 08:18] JaKXz commented on #803
I'm not sure we need to find/make an alternative to spawn-wrap until it gives us serious issues... on that basis I'm going to close this issue for now.

[2019-01-24 08:18] #803 closed

[2019-01-24 08:19] JaKXz commented on #922
Is this still an issue with the latest nyc?

[2019-01-24 14:31] quasicomputational opened #976 "nyc merge fails on missing parent directory of output"
## Link to bug demonstration repository.

https://github.com/quasicomputational/nyc-merge-missing-parent

## Expected Behavior

nyc creates the directory and writes to the named file.

## Observed Behavior

[code]

## Forensic Information

**Operating System:** Debian.
**Environment Information:** https://gist.github.com/quasicomputational/e423212b707fa2232d04b8dd7578bbf9

[2019-01-24 16:16] coreyfarrell commented on #975
Appears so.  node.js 11.7.0 cannot currently run mocha under nyc.  My understanding is this will be fixed by both node.js 11.8.0 and the next release of mocha.  Nothing can be done from the nyc side.

[2019-01-24 16:17] repinvv commented on #975
Could be the same issue, but output does not look the same, in that other issue no files are listed. In my case all js files are listed with zero coverage.
And  issue reproduces with node 10

[2019-01-24 16:22] coreyfarrell commented on #975
Thanks I didn't catch that, reopened.

[2019-01-24 18:44] JaKXz commented on #793
Hopefully this will be resolved in #893.

[2019-01-24 22:00] JaKXz commented on #907
@FabioIngrao sorry for the late reply. This sounds like an interesting suggestion, since this is not currently supported in `istanbuljs`. If you are willing to provide more information or a PR(s) with your design proposal, that would be great! You will probably want to start in the istanbuljs monorepo so that the reporting library underneath understands the options you want to pass to it to custom

[2019-01-24 22:03] JaKXz commented on #605
@xPaw I think your suggestion makes sense. I don't think there's a technical reason we can't do this right now so if you want to take a crack at a PR that would be great! If not, this is an easy one for any newcomers to the nyc codebase :)

[2019-01-24 22:05] JaKXz commented on #783
Hi @aalexgabi sorry for the late reply - I think if you specify `--temp-dir test/coverage/` with the appropriate .json files in that folder this should work! Let me know if not.

[2019-01-24 22:59] IvanGoncharov commented on #921
@jdoubleu It's a new issue that triggered by `node 11.7`, more details here:
https://github.com/nodejs/node/issues/25650

[2019-01-25 15:13] bajtos commented on #619
@bcoe @kpdecker how can we help to get this issue fixed? Do you need a small(er) application to reproduce the problem? Something else? Please let us know!

[2019-01-25 18:40] robtarr commented on #913
I am having issues with this right now. I get inconsistent output, some files get completely dropped with the `all` flag enabled. And without it, my coverage report does not reflect the fact that some files are flat out missing tests.

[2019-01-25 18:45] JaKXz commented on #913
@robtarr this fix will be released soon! Sorry about that

[2019-01-25 18:53] robtarr commented on #913
Any chance there's a branch I could try out? Or a rough timeline?

[2019-01-25 19:14] JaKXz commented on #913
You can try `nyc#master` of course

[2019-01-26 02:19] bcoe commented on #973
this is fixed in `Node@11.8.0`

https://nodejs.org/en/blog/release/v11.8.0/

[2019-01-26 02:19] #973 closed

[2019-01-26 02:19] bcoe commented on #975
could you confirm that this is fixed in https://nodejs.org/en/blog/release/v11.8.0/

[2019-01-26 02:20] bcoe commented on #975
EDIT: just read that this reproduces in 10.

[2019-01-26 16:30] coreyfarrell commented on #876
You can change the directory using command-line `--report-dir` or config `reportDir`.  NYC doesn't implement support for setting other report config options.  To support this you would need to pass report config per reporter, but the `reporter` option is an array not an object.

So short answer I'm not sure how this could be implemented in NYC while maintaining compatibility with existing configur

[2019-01-26 16:32] #849 closed

[2019-01-26 16:40] coreyfarrell commented on #791
I'm closing this ticket as I don't believe it's possible for NYC / istanbul to support understanding the implicit else case as described here.

[2019-01-26 16:40] #791 closed

[2019-01-26 16:42] #779 closed

[2019-01-26 17:01] coreyfarrell commented on #969
I think this would need to start with expanded functionality in `istanbul-lib-instrument` in the [base library monorepo](https://github.com/istanbuljs/istanbuljs/).  I think at that level the instrumenter should not look at environmental variables, it should take API options.  In addition to what you've suggested I think the ability to ignore coverage based on `process.platform` would be useful.

[2019-01-26 17:45] mathieug commented on #791
Ok thanks. I’m not going to change my code for test or coverage. I expected a way with ignore else.

[2019-01-26 18:10] coreyfarrell commented on #931
NYC supports a `compact: false` configuration option or command-line `nyc --compact=false node ./test.js`.  Note lines still will not line up to the original source as instrumentation code is inserted to the source.  For this you will need to enable `produce-source-map` in nyc and use [source-map-support](https://github.com/evanw/node-source-map-support).  I've had mixed results testing with that

[2019-01-26 18:14] coreyfarrell commented on #946
We cannot help without a repository demonstrating the problem.  I'm marking this issue stale, if the required information is not provided this issue will be closed.

[2019-01-26 18:32] IgorNovozhilov commented on #931
@coreyfarrell. Tried a lot of things, '--compact=false', including. So far, the best option is to restart the tests if they fall. But without 'nyc'
[code]
it's a best option, short and easy :slightly_smiling_face:

[2019-01-26 19:06] coreyfarrell commented on #976
FYI you're command-line is incorrect.  The `nyc merge` command requires a positional argument `<input-directory>` before `[output-file]`.  That said even using the correct arguments results in an exception if the destination is a file in a non-existent folder so I've posted a patch for that.

[2019-01-26 22:09] coreyfarrell commented on #947
#948 adds support for configuring the babel parser plugins to be used.  This will be included in the next release and will allow you to add the `bigInt` parser.  You can follow #972 for a notification of the next release.

https://babeljs.io/docs/en/babel-parser#plugins

[2019-01-26 22:09] #947 closed

[2019-01-26 22:45] coreyfarrell commented on #922
This was partially fixed by yargs/yargs-parser#130.  The next release of NYC will include the updated version of yargs-parser.  You can monitor #972 for updates about the next release.

There is a second issue.  Specifically `--all` expects an argument (true or false).  So the following two commands will work in the next version of nyc:
[code]
The following will not work because `mocha` is interpr

[2019-01-27 12:08] kleinfreund commented on #742
@lumaxis The extension configuration key for nyc is `extension`, not `extensions` which is very confusing. Could you update your posts so that other people have a chance to solve this issue, please?

[2019-01-27 16:43] #976 closed

[2019-01-27 17:14] coreyfarrell commented on #972
nyc 13.2.0 is now published to npm.  You can install using `npm install nyc@next`.  I'm going to do some testing with some larger repos that use `nyc`, probably publish to `latest` in about a week.

Please let me know if you find any regressions in 13.2.0 (specifically something that currently works correctly in 13.1.0 but not 13.2.0).

[2019-01-27 20:17] coreyfarrell commented on #952
It's fine.  NYC uses the filename + the source file to generate the hash which is used to cache.  This is done because istanbul actually adds the original filename when adding instrumentation, so two files with identical contents at different locations produce different results.  So ts-node is likely calculating the hash of the source file contents, using that to store the final results (after ist

[2019-01-27 22:38] captain-igloo commented on #952
OK thanks.  I see ts-node 8 was released a couple of days ago so this should now be fixed there.

[2019-01-28 09:42] gkemp94 commented on #909
@JaKXz I'll look into getting you a good replication of this issue in the next week or so.

Thanks.

[2019-01-28 15:22] kleinfreund commented on #742
@lumaxis Oh, it is relevant. I need the following in my package.json for nyc to recognize the TypeScript source files I’m testing with ava.

[code]

[2019-01-28 15:52] AlexisWilke opened #980 "At least one file missing from coverage..."
## Link to bug demonstration repository.

Right now I don't have a git with my code, it's not quite ready yet...

## Expected Behavior

I get all the .js files covered in the output.

## Observed Behavior

One of my files is missing in one folder (I did not check each folder... specifically, the file I was most working on disappeared)

## Forensic Information

**Operating System:** Ubuntu 16.04

*

[2019-01-28 16:39] JaKXz commented on #628
Is this still an issue for people? Perhaps this package would help:

https://www.npmjs.com/package/@istanbuljs/nyc-config-babel

[2019-01-28 16:39] tex0l commented on #971
What version of node are you using ?
I'm experiencing a similar issue after upgrading to nodejs 11.7 or 11.8 (not sure, still investigating).

[2019-01-28 16:42] JaKXz commented on #621
Sorry for the late reply - do you have a repo that can reproduce this issue? Is it still occurring with the latest version of nyc?

[2019-01-28 16:45] JaKXz commented on #573
@AndrewFinlay Is this also covered in #893 or #977?

[2019-01-28 16:46] JaKXz commented on #714
Sounds like this has been solved. If it still doesn't work on the latest version of nyc please open a new issue.

[2019-01-28 18:00] #857 closed

[2019-01-28 18:01] JaKXz commented on #892
@poppinlp are you still interested in writing that PR?

[2019-01-28 19:00] JaKXz commented on #622
I think this issue belongs in the `babel-plugin-istanbul` repo so I'm going to move it there.

[2019-01-28 23:46] bcoe commented on #742
@kleinfreund seems like maybe we could add another tutorial to https://istanbul.js.org/ and/or a note in the README about needing to support `.ts` extensions?

I'd argue this specific issue can be closed though; want to go ahead and open an issue if you think it's worthwhile, or heck, would happily take a pull request.

[2019-01-28 23:46] #742 closed

[2019-01-29 00:38] JaKXz commented on #742
@lumaxis would you mind trying something like this? https://github.com/istanbuljs/istanbuljs/pull/282

[2019-01-29 14:01] repinvv commented on #975
Do not know what changed, but defect does not seem to reproduce anymore in that gitlab ci environment. NYC version is the same, 13.1.0

[2019-01-29 14:26] coreyfarrell commented on #975
@repinvv potentially a dependency or node.js has been updated?  Difficult to say but I'm going to close this issue since you say it's no longer happening.  If it resurfaces please let us know.

[2019-01-29 14:26] #975 closed

[2019-01-29 16:51] ehmicky commented on #941
Bumping this as the issue is still valid I believe.

[2019-01-29 20:22] robtarr commented on #913
After updating to `13.2.0`, I'm still getting inconsistent data back on subsequent runs.

[code]

followed immediately by

[code]

my config:
[code]

[2019-01-29 20:31] coreyfarrell commented on #913
@robtarr please open a new issue including a link to a repository demonstrating this issue.

[2019-01-29 23:03] JaKXz commented on #750
I'm going to close this now since I think babel 7 has matured a bit and our support for it should be good to go in the latest version of nyc.

[2019-01-29 23:03] #750 closed

[2019-01-29 23:04] #752 closed

[2019-01-29 23:10] JaKXz commented on #772
Sorry for the late reply @hekod777

I think you can achieve what you want to with `nyc report --temp-dir ../path/to/.nyc_output`. For more information try `npx nyc report --help`.

[2019-01-30 00:39] JaKXz commented on #818
@Snipx @shadowrider sorry for dropping this for so long. Yes I would love to see a small demo repo to try things out on.

My question is what is the/is there a babel equivalent for Kotlin? If your test runner is executing on transpiled js files with sourcemaps, then nyc should be able to map them back to the original source files.

cc @coreyfarrell any thoughts on this?

[2019-01-30 00:50] JaKXz commented on #807
Hi @svenlombaert sorry for the late reply! This is a very interesting question. I'm going to ping @boneskull and @bcoe just to see if they have anything to add, because I'm not sure where to start. My first thought is that this sounds like something that is outside of nyc's responsibilities, but that's a shot in the dark at best.

This is awesome though! Would love to see a your repo anyway :)

[2019-01-30 01:56] boneskull commented on #807
without seeing the code I don’t think we can be of much more help. not a mocha issue

[2019-01-30 07:05] JaKXz commented on #755
closing in favour of https://github.com/istanbuljs/istanbuljs.github.io/issues/140

[2019-01-30 07:05] #755 closed

[2019-01-30 07:10] JaKXz commented on #719
Closing due to inactivity, please open new issue with a minimal reproduction if you are still seeing issues on the latest version of nyc.

[2019-01-30 07:10] #719 closed

[2019-01-30 11:35] svenlombaert commented on #807
You’re correct that it’s probably out of scope 😅. Just wondering if there was a way to maybe exclude certain files from the coverage report. It comes across as an anti-pattern but could come in handy in cases like this.

[2019-01-30 14:17] coreyfarrell commented on #807
This is out of scope for nyc (I believe impossible to directly support).  It is impossible for us to suppress coverage based on what code is calling the covered functions.  So if `model.delete()` reports coverage, it does so without knowledge of being called from `beforeEach` or not.  You can't make that function collect coverage when run by tests but ignore calls from `beforeEach`.

One (untested

[2019-01-30 16:09] robtarr opened #981 "Inconsistent reporting results"
## Link to bug demonstration repository.
https://github.com/robtarr/broken-nyc

## Expected Behavior
Repeated runs against the same codebase should return the same results.

## Observed Behavior
Different output on consecutive nyc runs

## Forensic Information
MacOS Mojave 10.14.2
Node 10.11.0
https://github.com/robtarr/broken-nyc/blob/master/environment.txt

[code]

[2019-01-30 16:10] robtarr commented on #913
https://github.com/istanbuljs/nyc/issues/981

[2019-01-30 17:16] JaKXz commented on #769
Sorry for the late reply - is this still an issue with the latest nyc?

[2019-01-30 19:53] JaKXz commented on #807
Closing as out of scope.

[2019-01-30 19:53] #807 closed

[2019-01-30 19:56] JaKXz commented on #741
Sorry for the late reply @tomasruud - are you still experiencing this issue [with the latest version of nyc]? Are you able to share a repo that reproduces the problem?

[2019-01-30 20:40] jy95 commented on #769
Test by yourself : try to make a PR on my repo with the latest nyc

[2019-01-30 22:41] AndrewFinlay commented on #573
I think you should be able to do this using glob patterns, which would be covered by #893.  Using an include of `**/*.js` should do this for you, when it's all finished of course. #977 is more of a bug fix for the current --all command, where changes to the glob module removed support for `!**/exclude.negated`, so any exclude negated instrumentation candidates are being filtered out before they go

[2019-01-31 00:42] coreyfarrell commented on #769
@jy95 the babelrc in your repo sets `comments: false`.  Please try enabling comments for your test environment.  I suspect that babel is stripping these comments before istanbul can see them.

[2019-01-31 01:08] coreyfarrell commented on #981
Please take a look at https://istanbul.js.org/docs/tutorials/es2015/.  I'm able to get your repository working by following the instructions on that page.  The main points:
1. Testing ES2015+ requires switching from built-in NYC instrumentation to babel-plugin-istanbul.
2. Everything is tested/supported with babel 7.  I don't know if current versions will work with babel 6 but we don't support it.

[2019-01-31 06:50] tomasruud commented on #741
I'm not sure to be honest. I see that we've moved this project to `^13.0.0` of nyc, so I guess it's working, but I haven't tried it in a long time.

[2019-02-01 16:24] jimmycasey opened #983 "Automatically update coverage percentages in package.json"
Hi all,

Just wondering is there an automated way to update the coverage percentages in package.json if they have increased beyond the minimums in the last report that is run?

Thanks

[2019-02-01 18:33] sjl2 commented on #921
Can confirm that the same behavior occurs on `Node 8.10.0` as discussed here: https://github.com/yarnpkg/yarn/issues/6746.

[2019-02-03 02:10] #946 closed

[2019-02-03 19:04] russoturisto commented on #676
I never got around to actually making TypeScript mappings to work but we did end up doing just that.  We deployed instrumented code and then sent the coverage object back to the server for processing.  But this was of limited to value to us since the generated report was on JavaScript, not on our initial TypeScript source.

[2019-02-04 05:10] #458 closed

[2019-02-04 12:11] #983 closed

[2019-02-04 20:07] JaKXz commented on #571
If this is still an issue with the latest version of nyc, please open a new issue with a link to a minimal reproduction repo.

[2019-02-04 20:07] #571 closed

[2019-02-04 20:32] JaKXz commented on #645
Closing in favour of #798. Thanks for the issue!

[2019-02-04 20:32] #645 closed

[2019-02-04 20:39] JaKXz commented on #776
@cdibbs sorry for the late reply. I'm not sure what you meant by:

I was going to suggest trying the newly published https://www.npmjs.com/package/@istanbuljs/nyc-config-typescript but I don't know how you'd get coverage without using a require hook.

[2019-02-04 20:40] #717 closed

[2019-02-04 20:43] JaKXz commented on #813
Hi @dtgriscom sorry for the late reply, this sounds a bit similar to #597, and in the same way sounds really complex and a bit beyond the scope of what nyc is trying to do. You are more than welcome to try to take a crack at a PR or writing your own library/extensions to nyc :)

[2019-02-04 20:59] dtgriscom commented on #813
Thanks for the response. I'm not surprised, and unfortunately you won't be surprised to hear I'm unlikely to be able to submit a PR...

Thanks for the cool tool,
Dan

[2019-02-04 21:20] JaKXz commented on #813
There's also #607 which is tangentially related. To accomplish:

You could try messing around with the internals of nyc but there isn't an official programmatic API atm so I'm not sure this is possible.

[2019-02-05 00:56] egrivel commented on #265
Hi,

We're still getting this issue with current versions of nyc, istanbul, etc. It looks like the transpiler is adding an unreachable `case` statement. The following source code:
[code]
gets transpiled into:
[code]
and then it seems that `case 11:` is unreachable.

[2019-02-05 01:43] coreyfarrell commented on #972
nyc@13.2.0 has now published to the `latest` tag.

[2019-02-05 01:43] #972 closed

[2019-02-05 17:34] JaKXz commented on #908
I'm not exactly sure how teamcity works, but I think nyc's reporter would just prepare the file you need in the coverage folder, and it's your job to hand that file to teamcity.

Can you provide a minimal reproduction of this issue in a repo? Are you still experiencing it with the latest version of nyc?

[2019-02-05 17:37] JaKXz commented on #844
This is the wrong repository, I think you're looking for: https://github.com/gotwarlost/istanbul-middleware

I can't tell you if that library is maintained or not. I'm going to close this issue for now. If you have an issue with the underlying instrumentation and assuming you are using the latest versions of the istanbul api, please open an issue in the monorepo.

[2019-02-05 17:37] #844 closed

[2019-02-05 17:44] JaKXz commented on #904
Hi @mDalessandro sorry for the late reply. You can try `npx nyc --help` to see a verbose description of the options, hopefully that's what you're looking for.

To answer your question, I think in this case you would actually lose `src/**/*.js` since the `extension` option overrides the default `[".js"]`. The typical way to do this is:

[code]

as test files are excluded by default.

I'm going to c

[2019-02-05 17:44] #904 closed

[2019-02-05 17:46] JaKXz commented on #888
If this is still an issue with the latest version of nyc, please open a new issue with a link to a minimal reproduction repo.

[2019-02-05 17:46] #888 closed

[2019-02-05 17:48] JaKXz commented on #636
If this is still an issue with the latest version of nyc, please open a new issue with a link to a minimal reproduction repo. Please also try the tutorials at: https://istanbul.js.org/docs/tutorials/

[2019-02-05 17:48] #636 closed

[2019-02-05 17:53] JaKXz commented on #771
The rendertron project specifically is an interesting case, I've looked at it a few times... its structure doesn't necessarily play nicest with nyc. For the adventurous, I would recommend something else from  https://istanbul.js.org/integrations/ (primarily jest or node-tap).

For now however, I'm going to close this issue as stale since I know the project has moved on to TypeScript and I think th

[2019-02-05 17:53] #771 closed

[2019-02-05 17:54] JaKXz commented on #911
@hershmire are you still experiencing this with the latest version of nyc and Corey's suggestion?

[2019-02-05 18:01] #813 closed

[2019-02-05 18:04] #403 closed

[2019-02-05 21:38] coreyfarrell commented on #908
The teamcity reporter code is at https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-reports/lib/teamcity.  If the HTML and text reporters are showing expected results then this issue is specific to the teamcity reporter.  The teamcity reporter has not been worked on recently so I doubt a new release would fix this issue.

[2019-02-06 00:32] FraBle commented on #822
I currently experience the same issue as reported by @AnanyaJha

[2019-02-06 06:14] JaKXz commented on #878
Hi @osher sorry for the late reply - while I appreciate you filing this issue, I think it is outside the scope of nyc, unless, you're willing to see it through with a PR and appropriate tests :) or if there's strong enough of a response from the community. Since this has been stale for a while I am going to close it for now.

[2019-02-06 06:14] #878 closed

[2019-02-06 11:07] coreyfarrell commented on #980
NYC is a complex system, we need a link to a repo which demonstrates the failure.  Please be sure the demo is using the current version of `nyc` and `babel-plugin-istanbul`.

[2019-02-06 11:23] Antonius-S commented on #822
The same issue. Reproduced with stub.js from [this post](https://github.com/istanbuljs/nyc/issues/822#issuecomment-386446711) and nyc installed globally. In my case issue seems to happen only with global mocha:
[code]

[2019-02-06 11:30] coreyfarrell commented on #969
A possible hint pattern for platform based filtering:

[code]

As for environment testing maybe we could keep this simpler by supporting an `ISTANBUL_ENV` environmental variable.  This variable could be set to a space separated list of identifiers to be checked as below.  This would require some special care to ensure that ISTANBUL_ENV is considered as part of babel and nyc caching.
[code]

CC @bc

[2019-02-06 11:37] coreyfarrell commented on #965
The code for the cobertura reporter lives at https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-reports/lib/cobertura.  Unfortunately I'm unable to provide further help on this issue as I do not know anything about cobertura.

[2019-02-06 11:39] coreyfarrell commented on #971
Please provide a link to repository with a minimal reproduction of the issue.

[2019-02-06 12:03] coreyfarrell commented on #916
@papb Regarding the stack trace error locations, this is documented at https://github.com/istanbuljs/nyc#accurate-stack-traces-using-source-maps.  My understanding is that there are difficulties with this functionality, that would be an actual code bug (unclear where).  I do not believe this would have anything to do with ES6, though I'd be willing to look at an example showing that I'm wrong.

@L

[2019-02-06 12:06] acesiddhu commented on #965
@coreyfarrell let me know if we need to move this issue to above repo.

[2019-02-06 12:15] yatki commented on #969
@coreyfarrell Thank you very much for elaborating the idea. This syntax looks easier to understand and remember.

I'm just thinking if it would be useful to support multiple ignore conditions.

They can be defined as comma-separated env values like below:

[code]

or chained comments like below:

[code]

Comments can be chained with an "or" statement and if any of the comment statements return tru

[2019-02-06 12:29] coreyfarrell commented on #969
I'd rather keep the syntax of individual hints as simple as possible.  I'd prefer we not support testing multiple env's in a single hint.  I'm definitely not in favor of the 'or' syntax.  If multiple comments can be easily supported by the instrumenter I wouldn't have a problem with that.

Really my idea is that you would set multiple values to `ISTANBUL_ENV`, such as `cross-env ISTANBUL_ENV="inte

[2019-02-06 13:10] yatki commented on #969
I like this approach and agree that having comma separated values in a single hint is not a neat solution. Let's ignore that.

Also just to clarify, I didn't mean to write `or` statements inside comments.
I was just thinking when evaluating multiple comments, the logic between comments would be an "or" condition. Sorry for not being clear, let me give an example.

[code]
So in the example above, t

[2019-02-06 13:27] coreyfarrell commented on #769
@jy95 I just tested your current repo by adding the following code inside src/TorrentLibrary.js:
[code]

This unreachable `console.log` was not reported, I then removed the `istanbul ignore next` and it was reported.  Your repo shows 100% coverage so I'm closing this issue as it appears to be resolved (turns out I was wrong about `comments: false` causing an issue).

[2019-02-06 13:27] #769 closed

[2019-02-06 16:25] CodisRedding commented on #980
Same issue, but I cannot reproduce this nor post company code to demo. =/

[2019-02-06 16:56] novemberborn commented on #947
I've installed `13.2.0`, installed `@babel/plugin-syntax` and added the following in my `.nycrc`:

[code]

However the files with `0n` are still excluded from the report. Perhaps I configured it wrong but I can't find any documentation for this either.

[2019-02-06 17:31] coreyfarrell commented on #947
You need to point to a babel parser plugin, not a babel plugin.  So for this you need `bigInt`.  Note that configuring the plugins option overwrites the existing plugins, so you may need to also add other babel parser plugins.  See https://babeljs.io/docs/en/babel-parser#plugins for a list of valid plugins to be used here.

https://github.com/wzalazar/istanbuljs/blob/d23d023d43c7b030e708518e6791b6

[2019-02-06 18:13] AlexisWilke commented on #980
@coreyfarrell,

Yeah, I'm sure it's very complex. The principals are easy, but I can imagine how complicated it is to get it right. Anyway, I'm making a note. I'm still in development and the code is not yet publicly available. Once it is so, I'll make sure it still fails and include all the necessary info here.

Thank you.
Alexis

[2019-02-06 19:12] JaKXz commented on #980
@AlexisWilke @CodisRedding we are just looking for a minimal reproduction in public repo. Something that simulates the combination of packages you have and your build system. We don't need your actual projects, but just to troubleshoot your config or your setup or check package versions etc.

[2019-02-06 19:21] AnanyaJha commented on #744
I have a typescript project running in vscode and I'm using the `lcov` option and not seeing an `.nyc_output` folder being generated or a `coverage` folder being generation with the `lcov.info` file

[2019-02-07 09:43] novemberborn commented on #947
Ah I see, thanks! Sorry it was the end of my day 👍

I think I got that to work. Did have to delete my nyc cache, perhaps plugins are not included in the cache key algorithm?

Calling this top-level configuration `plugins` is awfully generic though.

[2019-02-07 13:07] coreyfarrell commented on #947
Glad it's working for you.  `.nycrc` definitely is not included.  I thought that your `package.json` would be included but looking at the code for `caching-transform` I'm not confident.  Command-line arguments definitely are not included.

Agreed in hindsight, `parser-plugins` would have been better.  @bcoe @JaKXz can we do anything about this or is it too late?  Maybe we can create an alias for n

[2019-02-07 19:43] JaKXz commented on #414
Sorry for the extremely late reply, but, if this is still happening in the latest nyc (which it probably is, I can't think of a fix recently that worked on this) then it's most likely a bug with the underlying instrumentation library. I'm going to move this issue there, thanks for filing!

[2019-02-07 19:45] JaKXz commented on #381
I think this has been fixed in the intervening time, sorry for the late reply; nyc's own tests on Windows show that files are reported correctly: https://travis-ci.org/istanbuljs/nyc/jobs/488796050#L1327

let me know if you're still seeing this with the latest version and we'll reopen this.

[2019-02-07 19:45] #381 closed

[2019-02-07 19:56] JaKXz commented on #839
Hi @ORESoftware sorry for the late reply, and thanks for filing this issue, it looks interesting. There is work being done on the `instrument` command in #893 to match the old istanbul functionality. I'm not sure if it actually prints to stdout like your first example... I could be wrong though.

You could also look at the istanbuljs monorepo (the way jest does) and use those libraries yourself to

[2019-02-07 20:02] JaKXz commented on #833
We have had a lot of thrashing on this issue - #442 #352 #953 and many others... @wmmihaa do you have a link to a repo you could share?

[2019-02-07 23:24] JaKXz commented on #606
Hi @Lube sorry this was left alone for so long - I'm curious, in your tests are you `require`ing or `import`ing the objects from `src/models/repositories` or from each of the individual files? e.g. `import Vehicle from './vehicle'`? I think for proper coverage reporting from your unit tests you will need to do the latter

[2019-02-07 23:35] JaKXz commented on #947
@coreyfarrell that's a good way to go - we could even just change the docs to only show `parser-plugins`.

[2019-02-07 23:37] JaKXz commented on #775
Hi @ramyaa thanks for the issue, sorry for the delayed reply. Can you post a minimal reproduction of this issue with the latest nyc?

[2019-02-07 23:40] coreyfarrell opened #986 "Rename `plugins` option to `parser-plugins`."
At https://github.com/istanbuljs/nyc/issues/947#issuecomment-461350050 @novemberborn pointed out that the `plugins` option is easily confused with normal babel plugins where nyc expects a list of babel parser plugins.  This issue is opened so I don't forget that we should rename this option.

[2019-02-07 23:42] JaKXz commented on #812
Can you share a minimal reproduction of your setup or a link to your project repo? Does your config look something like: https://istanbul.js.org/docs/tutorials/es2015/ ?

[2019-02-08 00:10] JaKXz commented on #812
After fixing your config which was giving me build errors to start, I was able to get the correct results on babel 6 and nyc 11.6.x. I'm going to close this issue, if you are still having trouble, please try following the [tutorials](https://istanbul.js.org/docs/tutorials/es2015/) and the latest versions of babel and nyc.

[2019-02-08 00:10] #812 closed

[2019-02-08 20:19] AnanyaJha commented on #921
I'm having the same issue with `Node 8.9.4` and npm, more details here: https://github.com/istanbuljs/nyc/issues/822#issuecomment-460467601

[2019-02-08 20:26] gatsbyz opened #987 "Programmatically add nyc to mocha"
Current code:

[code]

I want to implement here the `nyc mocha` behavior as it would function in `package.json`'s `npm test` script. Please help!

[2019-02-08 20:27] gatsbyz commented on #987
@bcoe  <3

[2019-02-09 17:03] za-creature commented on #938
[code]

No, it's not

/s

[2019-02-09 19:07] JaKXz commented on #950
Hi @andrewcharnley sorry for the delayed response. We use lerna and nyc for the [istanbuljs monorepo](https://github.com/istanbuljs/istanbuljs) which contains all the instrumentation libraries nyc uses. You can take a look at the config we use there, but without a repo or minimal reproduction I can't offer much more help than that.

[2019-02-10 16:51] mcoakley commented on #946
I was having a similar issue but even without upgrading. What I did figure out is that I had the latest Node version on my system. Using nvm to run Node LTS I had no issues and my coverage reports started working again.

[2019-02-11 17:23] mkonikov commented on #611
Is there a way to do it both per file and globally like it was done previously in Istanbul?
https://github.com/gotwarlost/istanbul/blob/master/test/cli/sample-project/config-check-mixed.istanbul.yml

Can this be set in an `.nycrc` file?

[2019-02-11 17:24] mkonikov commented on #468
Ya. Would love this feature to have both. Currently migrating some repos over from istanbul and noticed it missing.

[2019-02-11 17:27] mkonikov commented on #611
I see this was outlined here - https://github.com/istanbuljs/nyc/issues/468 - but doesn't seem possible yet.

[2019-02-11 22:08] #917 closed

[2019-02-12 18:17] #706 closed

[2019-02-12 21:10] jjscaria commented on #965
@acesiddhu Looks like there's already a thread going on about this issue: https://github.com/istanbuljs/istanbuljs/issues/66

[2019-02-13 05:01] acesiddhu commented on #965
@jjscaria seems like this is the same issue. Thanks for pointing out,

[2019-02-13 05:17] #691 closed

[2019-02-13 08:35] carlnordenfelt commented on #743
I'm seeing the same issue, local.
Seems there are more issues on this topic: #737 #871

    "scripts": {
        "test:unit": "LOG_LEVEL=suppress nyc --all --include src/**/*.js node_modules/.bin/_mocha ./tests/unit --recursive && npm run report",
        "report": "nyc report --reporter=html"
    },

Directories:

    drwxr-xr-x    3 user  staff      96 13 Feb 09:21 .nyc_output

[2019-02-13 13:38] alefi87 opened #989 "Ignoring shorthand method definitions"
## Expected Behavior
I expect `/* istanbul ignore next */` to disable coverage reporting for a method when written like:
[code]

## Observed Behavior

The method is still included in the coverage report.

## Forensic Information

It's a basic Vue.js app with Jest for unit testing.

**Operating System:** MacOS
**Environment Information:** https://gist.github.com/alefi87/28aa552c6c41c93f3fc8ad508612

[2019-02-13 15:45] coreyfarrell commented on #965
Closing this issue in favor of istanbuljs/istanbuljs#66.

[2019-02-13 15:45] #965 closed

[2019-02-13 15:54] coreyfarrell commented on #989
I'm not able to reproduce this by creating `mytest.js` with the following content:
[code]

In this case `actions.myMethod` was not instrumented, the above source reported 100% coverage.

We need a repository demonstrating the issue.

[2019-02-13 20:28] alefi87 commented on #989
Here we go: https://github.com/alefi87/istanbul-shorthand-demo

This is a clean install of a Vue app with `vue create istanbul-shorthand-demo`. When prompted I chose to include unit testing with Jest.
I only added `src/module.js` and `tests/unit/module.spec.js`.
When running the default `yarn run test:unit --coverage` with the current setup I get 66% coverage, meaning that `actions.actionsTwo` is

[2019-02-13 20:29] pushkin- commented on #784
"Further activity" so this issue stays open

[2019-02-13 20:31] kmdrGroch commented on #947
Ok, so I'm struggling with this for almost 2 hours. Can you tell me, how I am supposed to add this plugin? In package.json i have ```
"nyc": {
    "check-coverage": true,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "include": [
      "src/**/*.js"
    ],
    "reporter": [
      "html"
    ],
    "require": [
      "@babel/register"
    ],
    "report-dir

[2019-02-13 20:42] alefi87 commented on #989
Nuts, I realise I opened this in `nyc` instead of `babel-plugin-istanbul`. Is there a way to move issues or should I just copy-paste everything there?

[2019-02-13 20:44] coreyfarrell commented on #989
You are using `babel-jest@^23.6.0` which uses `babel-plugin-istanbul@4.1.6`.  That was the last version to use babel 6, would it be possible for you to update to `babel-jest@^24` and replace `babel-core` with `@babel/core`?  This will switch you to the current version of babel-plugin-istanbul.

[2019-02-13 20:58] alefi87 commented on #989
I upgraded all packages to their latest versions and reinstalled the app - still the same result. Repo is updated.
Thanks for the quick response, by the way.

[2019-02-13 22:06] JaKXz commented on #987
I'm going to close this issue as a duplicate since there have been [many others](https://github.com/istanbuljs/nyc/search?q=programmatic&type=Issues), especially #499 or #720.

[2019-02-13 22:06] #987 closed

[2019-02-13 22:10] JaKXz commented on #947
I believe you need the `plugins` option in the `nyc` config as well @kmdrGroch

[2019-02-13 22:38] kmdrGroch commented on #947
@JaKXz if you mean ```
"nyc": {
    "check-coverage": true,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "include": [
      "src/**/*.js"
    ],
    "reporter": [
      "html"
    ],
    "require": [
      "@babel/register"
    ],
    "plugins": [
      "@babel/plugin-syntax-bigint"
    ],
    "report-dir": "./coverage"
  },
[code]
{
  "parserOpts": {

[2019-02-13 22:47] coreyfarrell commented on #947
You do not need nyc to `"require": "@babel/register"` for this, I'd recommend against it unless you are using babel for other reasons.  What you need is to add `"plugins": ["bigInt"]` to your nyc options.  This option expects babel parser plugins, not babel plugins.

If you are still having trouble please post a new ticket with a link to a repository demonstrating the problem.

[2019-02-13 23:11] kmdrGroch opened #990 "No coverage for files with `n` notation of BigInt()"
As it was posted in 10ths of issues, whenever you have e.x. `10n` in the file, this file has no coverage (it is omitted or so).

@coreyfarrell adding `plugins: ["bigInt"]` doesn't solve the problem.

There is no doc, info about solving this problem, so it would be nice to find one, so everyone can use this feature.

if you need repo with `n` notation:
https://github.com/kmdrGroch/BigMath

[2019-02-14 02:24] jrgleason commented on #659
I am also looking to use NYC with ESM here is a[ SO](https://stackoverflow.com/questions/54682319/can-i-use-nyc-with-esm-and-mocha-without-the-std-esm-library). Is there a way to manually import the files for coverage?

[2019-02-14 11:22] jungleBadger opened #991 "NYC handlebars dependency warning"
## Expected Behavior
Don't depend on blacklisted versions of libraries

## Observed Behavior
npm commands will raise a `High` warning through nsp/audit process regarding the Istanbul reports / Handlebars dependency

## Forensic Information
https://www.npmjs.com/advisories/755
https://github.com/istanbuljs/istanbuljs/issues/293

**Operating System:** the operating system you observed the issue on.

[2019-02-14 11:38] Xilis commented on #991
handlebars is a dependency in istanbul-reports

An issue can be found at https://github.com/istanbuljs/istanbuljs/issues/293 ,
and a pullrequest is already made and passed testing at https://github.com/istanbuljs/istanbuljs/pull/294

[2019-02-14 15:03] CodisRedding commented on #980
Sorry @JaKXz I moved on to use hapijs/lab. I don't have a way to reproduce this.

[2019-02-14 15:07] coreyfarrell commented on #991
`nyc@13.3.0` is published with the updated handlebars.  The master branch of nyc already included a feature so for the moment 13.3.0 is not `latest`, it's `next`.  You can install with `npm i -D nyc@next`.  Will be a much shorter testing cycle than normally but I still need to give a bit of time to make sure the new feature doesn't create major issues.

I'm keeping this issue open until nyc is upg

[2019-02-14 22:10] AmeCode commented on #932
@JaKXz thanks for the quick replay.
451. `tree = libReport.summarizers.pkg(map)` -> `tree = libReport.summarizers.nested(map) is there a way to change it from the nyc console like adding a --nested or something without the need to change the code
`

[2019-02-14 23:31] coreyfarrell commented on #991
nyc@13.3.0 is promoted to `latest` so this issue is now fully resolved.

[2019-02-14 23:31] #991 closed

[2019-02-15 14:31] chrisveness opened #993 "nyc generates no output on TravisCI"
## Link to bug demonstration repository.

- https://github.com/chrisveness/geodesy
- https://travis-ci.org/chrisveness/geodesy/jobs/493767331#L2781

## Expected Behavior

![image](https://user-images.githubusercontent.com/1066395/52861429-58388f80-312a-11e9-9627-00b7dc8af943.png)

## Observed Behavior

![image](https://user-images.githubusercontent.com/1066395/52861626-f62c5a00-312a-11e9-801d-a3fe

[2019-02-16 13:04] coreyfarrell commented on #993
Could you try setting the `ESM_DISABLE_CACHE` environmental variable noted in https://github.com/standard-things/esm?  Maybe try `cross-env ESM_DISABLE_CACHE=1 nyc --cache=false npm test`?  Just to try ruling out issues caused by caching.

[2019-02-16 13:34] chrisveness commented on #993
Thanks for the suggestion.

However, I changed the after_success step to

    after_success:
    - ESM_DISABLE_CACHE=1 nyc --cache=false npm test && nyc report --reporter=text-lcov | coveralls

and it's made no difference https://travis-ci.org/chrisveness/geodesy/jobs/494203195#L2780 :(

[2019-02-17 03:21] #459 closed

[2019-02-17 21:22] JaKXz commented on #923
Hi @toymachiner62 @aleskozina sorry for the late reply - can you provide a [minimal] repo that reproduces this problem with the latest version of nyc?

[2019-02-18 23:14] Delamater opened #994 "How To Increase Node Memory Limits For Istanbul Report Command - Question"
I have a directory with 19,025 coverage json files (~700mb) within it. I run the following command to generate a single html report.

istanbul report --root build/istanbul --dir build/report/2019-02-18

Normally, with a smaller set of json files, this would work fine. However, when node runs into the 1.5 GB limit it will crash and respond with this message:

- "FATAL ERROR: Ineffective mark-compac

[2019-02-19 03:53] AndrewFinlay commented on #923
I'm not sure that there is a problem here, this looks like expected behaviour to me.  By default nyc only instruments the set of files it encounters during a test, if you want to include untested files in your coverage you add the --all flag to expand that set.  The include and exclude arrays only serve to remove files from the set of covered files.

This is probably an issue with the documentatio

[2019-02-19 13:22] coreyfarrell commented on #994
Without testing you should be able to accomplish your goal with: `node --max_old_space_size=8192 istanbul report --root build/istanbul --dir build/report/2019-02-18`.  You may also be able to accomplish this by setting the `NODE_OPTIONS` environmental variable (this is mentioned in `node -h`).

That said we do not provide an `istanbul` tool.  That tool is associated with https://github.com/gotwarl

[2019-02-19 13:22] #994 closed

[2019-02-19 13:23] MrSwitch commented on #993
Downgrade to 13.0.1 - all was well after that 😢

[2019-02-19 13:34] coreyfarrell commented on #990
I just did the following:
[code]

I'm seeing coverage for `src/*.ts` with the exception of interfaces.ts (which does not contain any bigInt notation).  Maybe you need to flush your node_modules / package-lock.json to clear up an outdated dependency.

[2019-02-19 14:04] coreyfarrell commented on #993
I just tried this locally, 1 out of 10+ runs I got failed coverage.  I'm not sure the cause (it's difficult to troubleshoot something that happens so inconsistently).  The failure I got was with `nyc@13.2.0` so downgrading did not fix the issue.  I know we've had a number of issues interoperating with `esm`, I'm not sure those are all fully resolved.

@MrSwitch if you are having issues that are fi

[2019-02-19 15:20] Delamater commented on #994
Thanks for your response @coreyfarrell. While I wasn't able to get it to work with your command, it was close. My final command that works looks like this:

node --max_old_space_size=8192 "D:\somePath\node_modules\.bin\\..\istanbul\lib\cli.js" report --root build/istanbul --dir build/report

[2019-02-19 20:48] srepollock commented on #993
There was also an issue with [Coveralls](https://github.com/lemurheavy/coveralls-public/issues/1264#event-2149980133) last night. That's why you were getting a 422 error. Seems to have been fixed up now.

[2019-02-19 22:36] toymachiner62 commented on #923
@AndrewFinlay The way that I understood the `include` flag was to be the exact opposite of `exclude`.

In my case I want to `include` only files in my `src` dir.

Instead this is what I'm doing in my `package.json`

[code]

[2019-02-19 23:00] AndrewFinlay commented on #923
Assuming that you want your first config to work, have you tried the following?

[code]

[2019-02-19 23:05] JaKXz commented on #923
@AndrewFinlay unfortunately that won't work because specifying `exclude` does not extend on the defaults, it replaces them. @toymachiner62 your `exclude` config looks good to me, we do something similar with our istanbuljs monorepo.

[2019-02-20 00:39] AndrewFinlay commented on #923
@JaKXz @toymachiner62, correct me if I'm wrong, but your issue is that you want to generate coverage for files that don't have a test right?

[2019-02-20 00:41] toymachiner62 commented on #923
That's wrong. I just want to choose which files to include in my coverage report.

[2019-02-20 01:05] AndrewFinlay commented on #923
What nyc command are you running?

[2019-02-20 01:10] toymachiner62 commented on #923
I have an npm script `test-coverage: nyc --reporter=lcov npm run test`

[2019-02-20 01:37] AndrewFinlay commented on #923
As far as I understand it, you need to use `--all` to get Nyc to even consider your source files that aren't touched by your tests.  From there you can remove files from that covered set using the `include` and `exclude` arrays.

On it's own, `include` can't expand the set of source files reported on beyond those touched by your tests.

Anyway if this isn't the issue I'd be keen to know what it wa

[2019-02-20 01:55] kmdrGroch commented on #990
@coreyfarrell yea it seems there was some not updated dependency (or sth was cached, HELLO NODE). It indeed worked.
[code]
For reference for other people in the future ._.

[2019-02-20 01:56] #990 closed

[2019-02-20 10:17] chrisveness commented on #993
@MrSwitch I tried downgrading to nyc 13.2.0 and it has unfortunately made no difference.

@coreyfarrell I have for some time had odd behaviour with nyc; mostly when I first ran coverage after doing some other development work. I found that if I ran nyc a second time, it would be fine, so that became my workaround. I cannot find any way of reliably reproducing this issue on my development machine (

[2019-02-20 10:40] chrisveness commented on #993
@coreyfarrell following up on the .nyc_output files, I thought I would append `ls -l .nyc_output` to the after_success step: it turns out there are 3 files of 2 bytes each – I don't know if that might suggest anything to you?

![image](https://user-images.githubusercontent.com/1066395/53084659-36a82100-34f9-11e9-96da-7551f51b0382.png)

[2019-02-20 12:23] henriquemotaesteves commented on #956
@c0bra the change made in the `istanbul-api` (https://github.com/istanbuljs/istanbuljs/pull/275) is now avaiable for `nyc` users (https://github.com/istanbuljs/nyc/pull/982).

[2019-02-20 12:25] coreyfarrell commented on #993
The `{}` content is supposed to happen when a process does not load any source that should be covered.  So when you run `nyc npm test` this is supposed to produce `{}` for the `npm` process since that process does not load any sources that are to have coverage.  I'm unsure where the second `{}` comes from, if `npm` uses 2 process spawns or if `mocha` has a parent and worker processes (maybe to det

[2019-02-20 17:58] JaKXz commented on #956
Yeah feel free to test out `nyc#master`, let us know if this is fixed for you! @coreyfarrell will probably do a release sometime soon and close this issue with it.

[2019-02-20 20:45] JaKXz commented on #937
I think this is a bug in istanbul-lib-instrument so I'm going to move this issue there.

[2019-02-20 22:15] #794 closed

[2019-02-21 00:12] worc commented on #921
also broken on `yarn 1.13.0` and node `10.15.1`

[2019-02-22 04:09] JaKXz commented on #903
To build on @Aqours suggestion, I think this would also work - set your nyc config like so:

[code]

I'm going to close this issue for now, feel free to submit a PR for documenting this to https://github.com/istanbuljs/istanbuljs.github.io

[2019-02-22 04:09] #903 closed

[2019-02-22 04:24] MarcusPope commented on #784
The issue is caused by node's os.homedir() function.  The particular line to fix is here:

https://github.com/istanbuljs/nyc/blob/master/bin/nyc.js#L47

I would recommend using os.tmpdir() instead which automatically uses the 8.3 short name format (https://en.wikipedia.org/wiki/8.3_filename)

For those who need to get past this issue before a fix, you can assign the env var `SPAWN_WRAP_SHIM_ROOT`

[2019-02-22 06:21] wyqydsyq opened #996 "Document nyc configuration"
It appears there is no documentation on nyc configuration

The readme says `Any configuration options that can be set via the command line can also be specified...`, followed by an example `package.json` configuration that doesn't actually explain the  available options or their values.

[2019-02-22 09:48] coreyfarrell commented on #784
This seems to be a non-issue on Linux platforms?  I just did the following:
[code]
This correctly showed a `.node-spawn-wrap-*` folder.  I also created a basic `mytest.js`:
[code]
Then ran:
[code]
And this worked.  So if this is a Windows specific issue maybe it could be fixed within spawn-wrap?  If we need to switch from `os.homedir()` to `os.tmpdir()` I'd rather do it for affected platforms only

[2019-02-22 16:06] paulmelnikow commented on #996
I'd be willing to work on this. I love both testing and code coverage, and wish it were a little bit easier to set up!

[2019-02-23 22:06] JaKXz commented on #953
@ssube can you provide a simpler example? I've been trying with your repo for a few hours now and there are so many steps involved. I've got things to a point where `nyc mocha` almost runs: https://github.com/ssube/isolex/pull/236 following the https://istanbul.js.org/docs/tutorials/typescript/ using the recently released config package for typescript...

[2019-02-23 22:48] ssube commented on #953
@JaKXz sure, I can isolate something. I do have two repos using nyc and it looks like your PR is in isolex, the more complicated of the two. The branch of noicejs that I linked at the top (https://github.com/ssube/noicejs/tree/feature/coverage)  _should_ work with a `git clone ...; yarn; make` (that is, it does in CI) and is a much smaller library. Which part of the build broke? I can try to remov

[2019-02-24 00:29] JaKXz commented on #953
@ssube got it! https://github.com/ssube/noicejs/pull/32

Honestly I'm not sure what the source of the issue is... but, my guess is because of the webpack compilation into one big file that includes sourcemaps that point inside `node_modules`...

[2019-02-25 00:46] coreyfarrell commented on #956
We've run into some issues with the updated code not honoring negated excludes.  I need to address this before a new release can be made.  I will follow-up here when I have more information / a new version to test.

[2019-02-25 00:53] wyqydsyq opened #1001 "Read merged coverage as CLI text output"
I'm currently using the `nyc merge` command to merge the coverage of my unit tests and integration tests which run separately, the resulting JSON and HTML report files are correctly merged, but I would also like to get the text summary of the merged results displayed on the CLI

There needs to be an option on the `merge` command to tell nyc to also display the text report of the merged results

[2019-02-25 04:38] tbell511 commented on #686
I am having the same problem. I deleted node_modules and my lock file, and reinstalled all dependencies but no luck.

[2019-02-25 05:12] crrobinson14 commented on #686
@tbell511 Did you see the comment the core team made in #980? They're hoping somebody can provide a repo with sample code that reproduces the issue. The trouble is a lot of us are seeing this, but having to move on with workarounds and not always able to provide an example. If you have one it would be great!

[2019-02-25 14:20] mass85 commented on #844
@JaKXz although problems described in my original post were visible when using istanbul-middleware, the root problem is much more general and questions I asked refer to nyc itself, to report merging. Forget my previous post and let me rephrase this issue.

Let's assume we have a project consisting of web application and web server. Code is maintained in a monorepo with an example structure:
├── fe

[2019-02-25 14:43] c0bra commented on #956
I'll try to give master a shot soon.

[2019-02-25 15:29] tbell511 commented on #686
@crrobinson14 thanks for the reply.  Yes, I did see the comment but I am in the same boat as most.  My repo is private.  I would be willing and happy to get on a call though with someone from the core team to investigate my repo though.  Maybe a screen share would help them out.

That being said, last night while I was trying to fix the issue I made it worse :( After I deleted my node_modules fold

[2019-02-26 08:07] grayrattus commented on #504
I had similar problem with typescript globals.d.ts
After removing
`"require": [
   "ts-node/register"
]`
from `nyc` options body, everything worked. I tried many different solutions and this is the only one that worked, thanks!

[2019-02-26 16:26] paulsmirnov commented on #940
My setup (and the result) is quite similar. I'm running tests of different nature during a single coverage pass:

1. Unit tests, which import corresponding source files.
2. Functional tests, which import rollup+babel compiled library.

Tests pass but then NYC fails with "TypeError: mappedCoverage.addStatement is not a function".

[2019-02-26 16:54] dawsonc623 opened #1002 "Cannot Import TypeScript Module In Test File"
## Link to bug demonstration repository.
https://github.com/dawsonc623/nyc-bug-demo

## Expected Behavior
Running `yarn test` should yield passing tests with 100% coverage.

## Observed Behavior
Running `yarn test` fails with the following errors and reports 0% Statement and Line coverage (Branch and Funcs are at 100% presumably because there are none in the file).

[code]

There is also a massive

[2019-02-27 14:04] coreyfarrell commented on #974
Both `nyc report` and `nyc merge` operate on existing results.  They do not perform instrumentation, they only operate on existing files.  Also note that these sub-commands do not support the `--all` option.

[2019-02-27 14:12] #552 closed

[2019-02-27 15:25] c0bra commented on #956
@henriquemotaesteves looks great! thanks very much

[2019-02-27 18:40] janiukjf commented on #993
I'm seeing the exact same behavior in circleci. I get full coverage locally, but in CI I see all the .nyc_output json files as a totally empty object and coverage shows no coverage at all. I've been messing with it all day so far to no avail. I'm going to attempt the downgrade to 13.2.0 to see if it works.

[2019-02-27 18:49] janiukjf commented on #1001
The way I've been solving this is actually to not use the `nyc merge` command and instead run sequential test runs with the `--no-clean` flag. When you run `nyc report` at the end of all that, you get a nice, combined html report with all the runs together. Example:

package.json scripts: ```
    "cover": "npm run cover:unit && npm run cover:integration && npm run cover:report",
    "cover:unit":

[2019-02-27 18:52] janiukjf commented on #993
Even downgrading, I see no coverage results in CI. So I don't think we're seeing the same issue. I'll have to keep digging. I'll watch this issue to see if anything comes of it.

[2019-02-27 19:32] srepollock commented on #993
Is there not a way to attach `nyc` to the mocha process?

[2019-02-27 23:01] AnanyaJha commented on #822
@Antonius-S were you able to get your setup working?

[2019-02-28 13:07] chrisveness commented on #993
I have found a workaround (not a fix).

Remembering that a second run of nyc would fix the intermittant problems I had in my development environment, I added a second run the the Travis CI config: my .travis.yml now includes

    after_success:
    - nyc npm test
    - nyc npm test && nyc report --reporter=text-lcov | coveralls

and correct stats are now sent to coveralls.

Whether that helps you

[2019-02-28 14:15] nadavye commented on #604
Ping

[2019-03-01 15:12] JaKXz commented on #949
@enuggetry sorry for the late reply - can you please provide a minimal reproduction in a public repo?

[2019-03-01 15:38] danielsss commented on #921
also broken on lerna

[2019-03-01 16:21] JaKXz commented on #861
Hi @CynicalBusiness sorry for the late reply. I tried getting Lynxii up and running locally but am having a bunch of compiler issues with TypeScript. If I could get it working, I would make a PR with these changes to your nyc config [everything else looks great]:

[code]

after running `yarn add -DW @istanbuljs/nyc-config-typescript`. This has worked for other TypeScript projects so let me know if

[2019-03-01 17:29] CynicalBusiness commented on #911
I know this is a bit of an older issue, but I am still seeing this same behavior in another repository. This time, both on `Windows 10 Enterprise 1809` and `Ubuntu Desktop 18.04`.

I'm using the command `cross-env NODE_ENV=test DEBUG= nyc mocha` through `yarn`.

I've got the following:
- `@babel/core@^7.2.2`
- `babel-plugin-istanbul@^5.1.1`
- `nyc@^13.3.0`
- `istanbul@^0.4.5`
- `mocha@^6.0.2`

My

[2019-03-01 20:53] janiukjf commented on #993
I figured out what my issue was. On CI, I forgot to set `NODE_ENV` to test. I managed to stumble upon this when a team member had it happen locally.

[2019-03-02 14:51] chrisveness commented on #993
@janiukjf I think we must as you say be seeing different issues; I tried modifying my .travis.yml to

    env:
    - NODE_ENV=test

    after_success:
    - nyc npm test && nyc report --reporter=text-lcov | coveralls

but I simply got my original observed behaviour :(

[2019-03-03 13:17] ssube commented on #953
Your nyc-configuration change definitely fixes the report, with `node_modules` being excluded as expected.  :+1:

As you note, the main bundle and the 25-30MB sourcemap comes from webpack, which appears to still be causing the high memory usage. I have a few ideas on ways to preprocess the sourcemap before running nyc/istanbul at all, which might be able to help. Since my goal is to ignore coverag

[2019-03-06 03:21] coreyfarrell commented on #956
@c0bra could you test again using #1010?  I believe this will fix the issue without creating issues for negated excludes.  You should be able to install that test version using:
[code]

[2019-03-06 14:29] bennyn opened #1011 "Broken HTML report when merging coverage info with nyc report"
## Link to bug demonstration repository.

- https://github.com/bennyn/typescript-jasmine-karma-nyc

## Expected Behavior

HTML report where you can click on files to see their code coverage.

## Observed Behavior

HTML report which is broken for some of the files:

![image](https://user-images.githubusercontent.com/469989/53886806-1f9d1f00-4021-11e9-903e-73a3850e3aeb.png)

## Scenario

- I wrote T

[2019-03-06 14:52] brandonpas commented on #686
I'm not sure if this will help anyone with their specific situation, but I was encountering the same issue described. I enabled strict mode ('use strict') on my files and found my unit tests started failing due a few variables not being initialized with "var". Upon resolving these issues, the missing files were included in the coverage report.

[2019-03-06 22:10] #610 closed

[2019-03-06 23:40] coreyfarrell commented on #894
@welkie sorry for lack of response, life got busy and I dropped the ball on this.  I'd be glad to have a documentation PR.  Maybe a section on about `Testing versions` towards the end of the readme?  The changelog is generated from the commit log so I don't think we can document it there.

The basic process:
1. We publish everything from https://github.com/istanbuljs/istanbuljs/ to npm under the `

[2019-03-06 23:48] #886 closed

[2019-03-07 01:19] coreyfarrell commented on #519
I'm not aware of a way to have express instrument code though I think https://github.com/nodecg/express-transform-bare-module-specifiers could be forked and made into a generic express babel 7 middleware, then babel-plugin-istanbul could be configured as a plugin.

I do something similar to this using the `fastify` web server, I wrote `fastify-babel` and use that to run the web server for my brows

[2019-03-07 01:33] coreyfarrell commented on #824
Sorry for missing this, one difference you might see is with `nyc --all`, especially if using `babel-plugin-istanbul`.

With `istanbul` in your babel.config.js settings:
`nyc --instrument=false --all -i @babel/register node ./b.js` will instrument and report ./a.js
`nyc --instrument=false --all node -r @babel/register ./b.js` will not instrument or report ./a.js

I'm not sure about `nyc -i @babel/

[2019-03-07 01:48] coreyfarrell commented on #797
I've just tested this against the current `nyc`, it no longer fails.  I suspect this was fixed by the upgrade to babel 7.

[2019-03-07 01:48] #797 closed

[2019-03-07 01:59] coreyfarrell commented on #514
@epyx25 in the example you posted you need:
[code]

It's important that you prevent instrumentation of the body of the function that will be sent to the browser, so the `/* istanbul ignore next */` goes before the function declaration.

[2019-03-07 02:16] JaKXz commented on #837
Hi @golonikum sorry for the late reply! Would you like to submit a PR with your change? otherwise I will try to make some time for it but we welcome contributions :) It would be interesting to see if we can reproduce this in a failing test

[2019-03-07 02:20] JaKXz commented on #761
I'm going to close this issue for now - if it's still occurring on the latest versions of babel and nyc please open a new issue! I think that this has been fixed in the meantime though.

[2019-03-07 02:20] #761 closed

[2019-03-07 02:21] #871 closed

[2019-03-07 02:23] JaKXz commented on #827
Hi @timur-han sorry for the late reply! Are you able to provide a minimal demo repo with instructions on how to get things working? I would honestly suggest going with a minimal package.json in your project just for your javascript tests if possible.

[2019-03-07 02:25] JaKXz commented on #879
@coreyfarrell @AndrewFinlay thoughts on this?

@osher would you be willing to take a crack at that PR with tests? :)

[2019-03-07 02:41] coreyfarrell commented on #401
We could add a check to the handler:
[code]

@bcoe Adding `.strict()` to the report command builder fails with `Unknown argument: exclude` (I think due to the config in package.json).  I removed `global: false` from the `exclude` option in config-util.js then added `.hide('exclude')` to the report command builder.  This got around the unknown argument error, but then I didn't get any error for `ny

[2019-03-07 02:42] AndrewFinlay commented on #879
It makes sense, and probably wouldn't be too hard to add.  I'll wait to see if @osher is keen to tackle this before I throw my hat in the ring.

[2019-03-07 02:50] ljharb commented on #841
bump

[2019-03-07 03:00] coreyfarrell commented on #879
A few thoughts:
1. The main nyc command needs to report a proper error if `--temp-dir` is specified multiple times as this is impossible.  Unfortunately I don't see a way to instruct `yargs` to throw an error for this.
2. I'm good with supporting multiple `--temp-dir` paths for `nyc report`.  This will need testing (probably create a two subdirs in fixtures with pre-populated coverage.json in each

[2019-03-07 03:08] coreyfarrell commented on #827
I suspect this is a limitation of spawn-wrap.  I think for spawn-wrap to work correctly `node` needs to be run from the PATH.   Can gradle prepend your path to prefer it's own version of node like nvm does?

[2019-03-07 03:21] coreyfarrell commented on #596
Fix being worked on in #1007

[2019-03-07 04:35] JaKXz commented on #597
I'm going to close this issue for now since it's been a while - while this sounds like a cool idea it might be outside the maintainable scope of nyc for now because of the inherent complexity. I would love to be proven wrong in a PR, or even draft PR :)

[2019-03-07 04:35] #597 closed

[2019-03-07 04:36] JaKXz commented on #539
If this is still an issue with the latest version of nyc, please open a new issue with a link to a minimal reproduction repo.

[2019-03-07 04:36] #539 closed

[2019-03-07 09:26] ljsustainas commented on #1002
try using ts-node/register/transpile-only
from docs https://istanbul.js.org/docs/tutorials/typescript/
[code]

[2019-03-07 12:12] coreyfarrell commented on #841
@ljharb I still don't have a solution for this bug but the stale bot will not be touching this issue again.

[2019-03-07 12:24] coreyfarrell commented on #821
@colinrcummings can you provide a link to a repository showing a minimal reproduction?

[2019-03-07 12:55] coreyfarrell commented on #540
I just did some experimentation with the following `shebang.js` file:
[code]
Then I added scripts to a package.json where mocha and nyc were already installed:
[code]

For both `npm run shebang` and `npm run shebang-nyc` I could see the following output:
[code]

This output proves that `shebang.js` was being run by mocha, without mocha the `it` function would be undefined. In the case of `shebang-

[2019-03-07 12:55] #540 closed

[2019-03-07 13:30] coreyfarrell opened #1013 "Figure out how `--experimental-modules`"
Currently running `nyc node --experimental-modules something.mjs` does not produce any coverage data.  This needs to be investigated.

[2019-03-07 14:06] coreyfarrell commented on #708
I just updated `tap` in your repo and tested, I'm not getting an error from `npm run cesm`.  That said I'm also not getting coverage.  For now I recommend using `nyc -i esm` as suggested by @jdalton.  `node --experimental-modules` is just what it says - experimental.  I've opened #1013 as a separate issue to look into why nyc isn't doing anything in that mode, I suspect the new module loader is by

[2019-03-07 14:06] #708 closed

[2019-03-07 14:16] coreyfarrell commented on #117
Please correct me if I'm wrong but this is resolved by the existence of `caching-transform` and `istanbul-lib-source-maps`?

[2019-03-07 14:22] coreyfarrell commented on #545
Both repos linked here are based on old versions of NYC and babel 6.  Is this still an issue when using latest NYC with babel 7?

[2019-03-07 14:33] coreyfarrell commented on #660
I'd be interested in seeing an example of a module that would use this information from `process.argv` but I'm leaning towards calling this out of scope for NYC, I don't think we should mess with `process.argv`.

[2019-03-07 14:33] #660 closed

[2019-03-07 14:34] #530 closed

[2019-03-07 14:50] coreyfarrell commented on #525
I appreciate what you are trying to accomplish but unfortunately this is not possible in the way you've designed this source.  The way NYC works is it modifies the code to include coverage counters, so before a statement the generated code will increment a counter saying that statement was run.  This cannot do more or it would significantly increasing overhead of the instrumented code.

My advice

[2019-03-07 14:50] #525 closed

[2019-03-07 14:52] coreyfarrell commented on #451
Is this still an issue with the current version of nyc?  If so can someone please post a repository with a minimal reproduction?

[2019-03-07 15:08] coreyfarrell opened #1014 "nyc instrument should resolve source filenames."
Create ./somefile.js then run `nyc instrument somefile.js`.  The instrumented code produces coverage data for the filename `'somefile.js'` when it really should be producing coverage for `path.resolve('somefile.js')`.  This causes oddness in reporting when combining pre-instrumented code with code that nyc instruments on the fly (during execution).

CC @AndrewFinlay

[2019-03-07 15:12] coreyfarrell commented on #463
This is not directly possible.  I think the problem is that `--require` modules are loaded before nyc can hook the loader system.  To accomplish your goal you will need to pre-instrument your code using:
[code]

Then in your test:
[code]

FYI the `${PWD}` is needed for now to work around #1014.   Once that is fixed you'll be able to just `nyc instrument lib/index.js > lib/index-covered.js`.

[2019-03-07 15:12] #463 closed

[2019-03-07 15:21] coreyfarrell commented on #116
I'm cleaning up some old issues.  I think this is a good idea, but I feel like this is outside the scope of `nyc`.  Maybe this belongs in https://github.com/nodejs/tooling/issues instead?  Could we leverage `dont-break` for this (either as a dependency or by contributing required features to `dont-break`)?

[2019-03-07 15:36] coreyfarrell commented on #607
Sorry for the lack of responses, it's very difficult to troubleshoot such a large/complex project.  It would be very helpful if we could find a smaller test-case to demonstrate the issue.  That said nyc has seen a great number of updates since this ticket was open, including replacement of babel 6 with babel 7.

One thing I'm noticing is that you were using `babel-node` and having mocha perform th

[2019-03-07 15:36] #607 closed

[2019-03-07 16:01] coreyfarrell commented on #648
I suspect the issues you were having may have been related to `spawn-wrapper` interactions with your custom script.  Is this still an issue with the current version of nyc?  Last activity on this issue was quite a while ago and `spawn-wrap` has gotten some updates.

[2019-03-07 17:27] colinrcummings commented on #821
@coreyfarrell, thanks for the followup. See a minimal reproduction attempt [here](https://github.com/colinrcummings/nyc-issue-821). Good news: I couldn't reproduce the issue with the latest version, so this issue can be closed. Potentially attributable to one of the following version changes in the last year since this issue was opened:

`nyc`: 13.0.1 -> 13.3.0
`jasmine`: 3.1.0 -> 3.3.1
`jest`: 22

[2019-03-07 17:27] #821 closed

[2019-03-07 17:42] coreyfarrell commented on #821
Of what you listed I suspect the jest upgrade is probably most significant, jest 22 used babel 6 with an older major version of the istanbul libraries, jest 24 uses the current istanbul libraries with babel 7.  Anyways glad everything is working for you now.

[2019-03-07 17:52] coreyfarrell commented on #981
I'm closing this as it seems to be a configuration error rather than an nyc bug.  If you experience issues after following the instructions I provided let us know.

[2019-03-07 17:52] #981 closed

[2019-03-07 18:04] coreyfarrell commented on #953
@ssube could you please test with #1010?  We're supposed to re-filter the coverage data after using source-maps to remap, but unfortunately the current release does this re-filter before processing source-maps.

You can install this test version with
[code]

Obviously do not merge that change to package.json into a mainline branch, once #1010 is merged the branch on my fork will be deleted.

As fo

[2019-03-07 18:06] #1014 closed

[2019-03-07 18:19] coreyfarrell commented on #911
@CynicalBusiness can you provide a link to a repository?

[2019-03-07 18:24] coreyfarrell commented on #910
@viane I recommend that you set the `NODE_OPTIONS` environmental variable.  For example:
[code]

This way the node will get the option no matter how many sub-processes are spawned.

[2019-03-07 18:32] coreyfarrell commented on #877
`config` is not part of nyc so I don't think this is the right place to report this issue.  Based on what you've posted it seems like the `Set` command on Windows is not working the way you want.  I suggest you should just use `env-pass` or `cross-env` to set variables.

[2019-03-07 18:32] #877 closed

[2019-03-07 18:36] coreyfarrell commented on #865
Closing this as nyc 12.0.0 dropped support for node.js 4, see the [CHANGELOG.md](https://github.com/istanbuljs/nyc/blob/v12.0.0/CHANGELOG.md) for nyc@12.0.0.

[2019-03-07 18:36] #865 closed

[2019-03-07 18:40] coreyfarrell commented on #837
@golonikum I've merged your fix, thank you.

[2019-03-07 18:40] #837 closed

[2019-03-07 18:44] coreyfarrell commented on #783
That is correct, `--temp-dir test/coverage` will work.  An issue that remains is `nyc check-coverage --help` does not list this as a valid flag, so I think this is a documentation issue.

[2019-03-07 18:51] coreyfarrell commented on #689
I'm closing this issue as we have not been given a link to any repository which reproduces this issue.  If anyone is still experiencing this issue with the latest version of nyc please open a new issue including a link to a minimal reproduction repository.

[2019-03-07 18:51] #689 closed

[2019-03-07 18:54] coreyfarrell commented on #1013
Duplicate of #659

[2019-03-07 18:54] #1013 closed

[2019-03-07 19:05] coreyfarrell commented on #628
@JakeDluhy The issue is that neither babel nor nyc transpile code by default.  To have babel transpile ES modules you need to use `@babel/preset-env` (add to your .babelrc).  Following the instructions on [@istanbuljs/nyc-config-babe](https://www.npmjs.com/package/@istanbuljs/nyc-config-babel) should get this working.  Please note that this works with babel 7 so you will need to update babel and n

[2019-03-07 19:05] #628 closed

[2019-03-07 19:15] coreyfarrell commented on #573
I think we should use the `extension` array for this (so adding that option to the `nyc instrument` command).

[2019-03-07 19:41] wchargin commented on #919
@stale[bot]: This issue has not been resolved.

[2019-03-07 19:43] bcoe commented on #659
@coreyfarrell @jrgleason the ESM module implementation in Node.js completely overhauls how `require` works, and makes it so it's no longer possible to use some of nyc's tricks. we should be able to get `--experimental-modules` working in [c8](https://github.com/bcoe/c8) however, would love help doing so (adding tests would be a good start).

[2019-03-07 19:44] AndrewFinlay commented on #1014
Good to see this issue resolved, it was biting me in the `instrument --cwd` changes.  I had to jump through hoops to get that test to pass.  Dropping that requirement should make for a much cleaner implementation.

[2019-03-07 19:46] coreyfarrell commented on #919
I'd added a label to prevent stale bot from touching this issue in the future.

[2019-03-07 19:57] wchargin commented on #919
Thank you!

[2019-03-07 20:36] coreyfarrell commented on #659
I just tested `node -r @babel/register --experimental-modules ./bin.mjs`, babel transformations did not happen.  I'm sure they'll eventually get that working but until they do I don't think we should make any effort to get it working with nyc.

[2019-03-07 22:05] #956 closed

[2019-03-07 23:08] hexsprite commented on #648
The testing tools I'm using (`meterotesting:mocha` and `lmieulet:meteor-coverage`) ended up going another route to integrate Instanbul. So I'm not able to test this further at this time.

[2019-03-07 23:27] coreyfarrell commented on #648
Thanks for getting back to me.  I'm going to close this issue since we won't be able to make any progress without reproducing against the current version.  If the situation changes let us know.

[2019-03-07 23:27] #648 closed

[2019-03-07 23:35] coreyfarrell commented on #956
@c0bra Update, the PR I mentioned has been merged, so when you get a chance please test against the current `git://github.com/istanbuljs/nyc#master`.

[2019-03-08 14:45] c0bra commented on #956
@coreyfarrell Seems like it's reverted back to old behavior unless I've done something wrong:

![image](https://user-images.githubusercontent.com/105007/54035249-884dde00-417e-11e9-820b-111f650b642b.png)

[2019-03-08 14:51] coreyfarrell commented on #956
@c0bra this is with https://github.com/onboardist/ui?  Do you run `npm i && npm run cover`?

BTW I see a bunch of babel 6 dependencies, is this used?

[2019-03-08 15:01] c0bra commented on #956
@coreyfarrell yes, that library. I ran `npm i -D git://github.com/coreyfarrell/nyc.git#master` before covering, yes.

The babel deps are probably leftovers from earlier. I removed and pruned them with no change.

Also I've tried using `--exclude-after-remap=**/node_modules/**` as well as:
[code]
in package.json

And lastly I tried blowing away node_modules just in case, but not joy. Perhaps I've m

[2019-03-08 15:06] coreyfarrell commented on #956
`exclude-after-remap` is just a boolean and it's true by default, no need to configure it.

1. Verify that your package.json lists `"nyc": "git://github.com/istanbuljs/nyc.git#master"` under devDependencies.
2. Run `rm -fr node_modules package-lock.json`
3. Run `npm i && npm run cover`

Following these steps I got the expected coverage results (node_modules were not listed).

[2019-03-08 15:24] c0bra commented on #956
@coreyfarrell OK I tried a fresh checkout and it works, with those steps on my original checkout it's still providing the same result so clearly I've got something weird going on.

I'll try to figure it out. Thanks for the fix!

[2019-03-08 15:40] c0bra commented on #956
Oh, also maybe I misunderstand this (and it's probably unrelated), but in this screenshot my `src/components` directory has 0% function coverage while all files except 2 have 100% coverage. Is there a reason for this

![image](https://user-images.githubusercontent.com/105007/54038402-1f6a6400-4186-11e9-9c6c-b5d40d6e4139.png)

[2019-03-08 20:06] coreyfarrell commented on #956
@c0bra Don't know but this is a completely different issue.  Could you post a separate issue for that?  Please be sure to link your repo to the new bug so we have all the information in one place.

[2019-03-09 17:50] coreyfarrell opened #1018 "Feature: Automatically pull configuration from nyc.config.js"
Currently this can be done with the following in package.json:
[code]

It would be nice to make this automatic.  This is useful over `.nycrc` in situations where you need to use logic to determine the correct configuration.  In some cases the config needs to be different based on the version of node.js or platform.  This can be useful to enable `check-coverage` for certain versions of node, for ex

[2019-03-09 18:59] JaKXz commented on #962
@sampathkumarm sorry for the late reply! Can you please provide a minimal reproduction repo with the latest version of nyc? Have you set your `include` array to look in your relative path? [As documented](https://github.com/istanbuljs/nyc#selecting-files-for-coverage) nyc looks in your cwd by default unless told otherwise.

[2019-03-11 02:08] DanielSchaffer commented on #644
I've run into this several times with TypeScript due to `ts-node`'s caching. Running with `TS_NODE_CACHE=false` works around the problem, but of course it's way too slow. I was able to fix the issue by removing the cache directory, which by default is somewhere in a temp directory. The root of the temp directory is whatever `os.tmpDir()` gives you, and the ts-node cache will be a directory prefixe

[2019-03-11 03:40] #900 closed

[2019-03-11 04:39] #1018 closed

[2019-03-11 14:14] tomas2387 commented on #993
I saw the same behaviour: all coverage to zero and .nyc_output empty.
I installed the last version of node and everything worked again.

I'm trying to go back to the buggy version with nvm, but until now I can't reproduce the buggy behaviour. It's really weird

[2019-03-11 19:42] #603 closed

[2019-03-12 01:01] isaacs opened #1020 "report: skip-full behavior on full coverage is weird"
## Link to bug demonstration repository.
Run `npm test -- --nyc-arg=--skip-full` on https://github.com/tapjs/tcompare

## Expected Behavior

Either no report, or a report that says something like "All files fully covered"

## Observed Behavior

This weird broken-lookin thing.

[code]

## Forensic Information

**Operating System:** any and all (not OS-specific)
**Environment Information:**

Using n

[2019-03-12 02:21] kilianc opened #1022 "Empty coverage"
REF:https://github.com/istanbuljs/nyc/issues/993

## Expected Behavior

[code]

Coverage available in the `lcov.info` file with nyc 12, empty file with nyc 13.

[code]

Fixes the problem but it's not DRY and more prone to errors

## Forensic Information

* Node Alpine (docker): 11.11.0
* yarn version v1.13.0

[2019-03-12 02:26] kilianc commented on #1022
false positive, I experience the same behavior with `nyc@12.0.2`. It's yarn then.

[2019-03-12 02:31] kilianc commented on #1022
ref: https://github.com/yarnpkg/yarn/issues/6746

[2019-03-12 02:31] #1022 closed

[2019-03-12 15:49] Antonius-S commented on #822
Found one more workaround that doesn't use softlinks. Solution is for Windows and globally installed mocha, path to Node must be in `PATH` and mocha must be in `%Node%\node_modules\mocha`. Of course you can change prerequisites by changing the script.

Copy the text below and save as `%yourproject%\node_modules\.bin\mocha.cmd`

[code]

[2019-03-12 17:38] bcoe commented on #822
there are a variety of reasons why coverage might be blank, and this thread seems to not be related to one specific cause. I'm closing this issue, but folks should feel free to open issues more specific to the problems they're bumping into; ideally with a minimal reproduction in a repo.

[2019-03-12 17:38] #822 closed

[2019-03-12 22:31] simlu opened #1025 "NYC Dependency "Wrong Version" Error?"
Getting some bizarre dependency errors after updating (something changed in the last day?)

[code]
and similar...

Starting to investigate this more now.

Edit: It seems `@babel/register@7.0.0` and `nyc@13.3.0` are competing for dependencies?

[2019-03-12 22:37] coreyfarrell commented on #1025
`find-cache-dir` just released an update today which updated make-dir from `^1.0.0` to `^2.0.0`.  I'm unsure what you've done but `find-cache-dir` is bundled with all current releases of nyc so it shouldn't have updated.  Possibly `npm update` or something like that breaks bundled modules (unless you're installing nyc from the git repo).

[2019-03-12 22:37] simlu commented on #1025
More precisely this happens when running

`yarn check --integrity --verify-tree`

[2019-03-12 22:42] coreyfarrell commented on #1025
Please post a link to a repository where you are seeing the issue.

[2019-03-12 22:56] simlu commented on #1025
Sure thing. Here are simple instructions to reproduce:

(1) Checkout https://github.com/blackflux/object-rewrite locally
(2) Run `yarn install --freeze-lockfile`
(3) `yarn check --integrity --verify-tree` -> succeeds
(4) Run `yarn upgrade`
(5) `yarn check --integrity --verify-tree` -> now fails

[2019-03-12 23:19] coreyfarrell commented on #1025
I believe you are experiencing a bug in yarn.  I'm getting a different error `"nyc#make-dir#pify" is wrong version: expected "^3.0.0", got "4.0.1"` but this tells me that yarn is not resolving the dependencies correctly.  Worth noting that yarn really shouldn't be messing with the nyc dependencies as they are bundled.  I didn't experience this issue with `npm` but I don't know how you would genera

[2019-03-12 23:36] simlu commented on #1025
Oh boy... thanks for the quick help!

I'll report back here with any further findings, but feel free to close this for now. I will request a re-open as necessary.

[2019-03-12 23:39] coreyfarrell commented on #1025
I hope you find resolution, sorry I can't be more directly helpful.

[2019-03-12 23:39] #1025 closed

[2019-03-13 04:11] dawsonc623 commented on #1002
@ljsustainas That works, but it seems to disable type-checking when running the tests. Is there not a "best of both worlds" solution? Either way, thanks for the response!

[2019-03-13 07:15] Antonius-S commented on #822
@bcoe what do you think about my case (no coverage with global mocha but local mocha works OK)? Is it NYC issue or mocha's? Should I report it separately?

[2019-03-13 13:37] coreyfarrell commented on #1002
ts-node is complaining about two specific statements.
1. `var global new Function("return this")();`
2. `coverageData.hash = hash;`

Running `TS_NODE_IGNORE_DIAGNOSTICS=2339,2351 npm t` worked for me without switching to transpile-only.  Note this disabled two entire classes of diagnostics so it's not perfect.

We could deal with the TS2339 issue by adding `hash` to the original declaration of `co

[2019-03-13 17:21] bcoe commented on #822
@Antonius-S feel free to open an issue :+1: just want to make sure we're very specific about how to reproduce; these catch all issues almost never get solved, because there are multiple causes of empty coverage.

[2019-03-13 19:21] #929 closed

[2019-03-13 21:57] dawsonc623 commented on #1002
@coreyfarrell Thanks for digging into this deeper. I will set up my tooling to run the tests twice as you suggest. While not completely solved, it is nice to know the root causes were found.

[2019-03-13 22:21] #738 closed

[2019-03-14 00:21] #497 closed

[2019-03-14 01:04] ciekawy commented on #618
I am not tracking this heavily as this is not blocking me now. While the SO provides generic way to get the coverage working, there is another issue making the result non-deterministic - I figured out that this is due to the first file in the report is being randomly omitted which affects the overall coverage - I thought this is mentioned in another nyc ticket yet cannot find it now.

[2019-03-14 01:21] #728 closed

[2019-03-14 02:35] JaKXz commented on #497
Since @Bibliofile's comment, you can simplify it even further with the nyc-config typescript package.

1. `npm i -D @istanbuljs/nyc-config-typescript`
2.

[code]

[2019-03-14 03:21] #653 closed

[2019-03-14 10:30] Antonius-S opened #1029 "NYC output is empty with mocha installed globally"
*Extracted from #822*
I experience no coverage output when both nyc and mocha installed globally (in fact, only mocha installation plays role).
Reproducible repo is [here](https://github.com/Antonius-S/Nyc_test)
Env:
Windows 7
Node 10.15.1
Nyc 13.3.0
Mocha 6.0.2

[code]

[2019-03-14 13:27] coreyfarrell commented on #1029
This repo seems to work on Linux.  Is this a Windows specific issue?  I was able to get coverage by running with globally installed nyc and mocha.

[2019-03-14 16:05] JaKXz commented on #371
@coreyfarrell any thoughts on this one?

[2019-03-14 16:26] coreyfarrell commented on #371
Sorry I missed this one.  The initial description mentioned `vm.runInNewContext`.  I suspect that installing `@istanbuljs/nyc-config-hook-run-in-this-context` from npm and configuring nyc to use that as base config could solve this issue:
[code]

Worth noting: nyc depends on having a unique filename to associate coverage with, and that filename must be permitted by the include/exclude/extension se

[2019-03-14 17:02] P-Seebauer commented on #797
can confirm is fixed now.

[2019-03-15 00:41] bcoe commented on #618
@ciekawy in the past I've always tracked issues with non-determinism down to the merging of multiple coverage files. If you ever consistently bump into this issue, a repository with a minimal reproduction would be useful.

[2019-03-15 17:26] Makpoc opened #1030 "[Q] A way to conditionally exclude path"
Is there a way to _conditionally_ exclude path from coverage? I have a project where I'm using nyc for test coverage for both unit and integration tests. I have a default set of excludes in package.json under nyc.exclude: [...]. I need to be able to add (preferably without replacing the defaults) few more files to exclude only for the unit-tests script (e.g. files related to db operations, that ar

[2019-03-15 20:22] coreyfarrell commented on #1030
That feature is not yet released, it will be part of 14.0.0.  I still have a couple patches that need to go in before I can do a release.

@Makpoc once 14.0.0 is released you will be able to create `nyc.config.js` that would export nyc configuration options.  Once that's available you will be able to use any logic you want (for example appending the exclude list based on an environmental variable)

[2019-03-16 12:52] Makpoc commented on #1030
Great! Thanks. I found several references to `nyc.config.js` but it was way less then expected. I understand now why that was.

[2019-03-18 08:57] lb- opened #1034 "Custom coverage reports from generated coverage data"
Is it possible to programmatically generate the `json` output as exampled here:
https://istanbul.js.org/docs/advanced/alternative-reporters/#json

From that json, then generate the html as per here:
https://istanbul.js.org/docs/advanced/alternative-reporters/#html

The use case for us is to generate test-coverage like reports, but the reports actually represent files with specific sets of comments

[2019-03-18 21:59] #986 closed

[2019-03-18 22:05] coreyfarrell commented on #947
CC @kmdrGroch @novemberborn @evert @wzalazar
FYI in `nyc@14.0.0` the option `plugins` is being renamed to `parser-plugins`, see #1031.  This will be listed under breaking changes in the CHANGELOG.md.

[2019-03-19 03:15] wmenegali commented on #921
For me, it works on node v10.15 using NPM but not with yarn (v1.13.0).

[2019-03-19 05:05] jcolemorrison commented on #921
Same for me @wmenegali .  Looks to be a yarn issue.

[2019-03-19 08:21] ochikov opened #1035 "Cannot read property 'start' of undefined"
Hello everybody,
When generating an html coverage report with ```nyc report --reporter=html```
I am getting the html files in a folder, but trying to open a specific file, the following error is occured:

[code]
The text table report works and shows results, but the HTML is broken.

[2019-03-19 08:39] Antonius-S commented on #1029
Probably it's Windows specific. I suspect the reason of this issue is something very dumb, like file paths or similar.

[2019-03-19 09:47] knagarajan1984 commented on #403
@lxibarra I face the same issue with vendor.js file. can you let me know how you ignored this file?

[2019-03-19 12:55] coreyfarrell commented on #1035
We are unable to provide assistance without a reproduction repository.

[2019-03-19 16:19] ochikov commented on #1035
@coreyfarrell
This is the repository: https://github.com/ochikov/nyc-report-bug

I already have coverage.json in ```.nyc_ouput```
1. Please run the following command: ```nyc report --reporter=html```
2. Check coverage html report in ```coverage``` folder.

Thank you.

[2019-03-19 16:44] lxibarra commented on #403
Hi @knagarajan1984  back then i did not got it to work so i ended up writing a small  node script that takes a few parameters to know what folders and/or files to instrument/ignore.
So i run a command like so:
[code]
Im not sure if the issue was fixed but if not here is the code for the script, hope it helps. Regards
[code]

[2019-03-19 16:47] bcoe commented on #947
@coreyfarrell as BigInts are in Node.js now, we should probably turn this on by default right?

[2019-03-19 17:12] coreyfarrell commented on #403
The `include` and `exclude` options are not currently supported by the `nyc instrument` command.  This is being worked on at #1007.

[2019-03-19 17:18] lxibarra commented on #403
Good to know thanks

[2019-03-19 18:10] coreyfarrell commented on #1035
How did you create this coverage.json?  The `fnMap` objects are missing `decl` keys that are produced by nyc.

[2019-03-20 08:06] ochikov commented on #1035
I created with a solidity coverage library: https://github.com/0xProject/0x-monorepo/tree/development/packages/sol-coverage

The output is coverage.json file.

[2019-03-20 12:57] coreyfarrell commented on #1035
Please report this to the 0xProject.  nyc requires additional fields that were not required by `istanbul@0.4.5`.  I'm leaving this ticket open as we need to publish a JSON schema file to document the required format of coverage files, but any actual fix to your issue would come from the 0xProject correctly imitating the current coverage format produced by NYC.

[2019-03-20 18:19] #529 closed

[2019-03-20 19:34] Arunachalam opened #1037 "ReferenceError: Unsupported reference to 'super'"
Hi Team,

I initialized the object of a class using by below way in the express framework + Node JS, it is not working and getting an error "ReferenceError: Unsupported reference to 'super'" when run/execute the "nyc npm test" command to make the code coverage of API testing.

1) /*It is not working*/
const obj  = new(super.className)();

2) /*But It is working with the below code format way*/
con

[2019-03-21 01:48] Arunachalam commented on #1037
Could you please help to resolve the issue us?

[2019-03-21 16:36] worc commented on #1029
output is also empty on mac, it's probably not windows-specific

[2019-03-21 17:36] worc commented on #921
still broken on `yarn 1.15.2` and `node 10.15.3`, but i did find a workaround. you can still use `yarn` to call into the coverage script, but you have to run your tests with `npm` in order for `nyc` to actually pick up on the metrics coming out of the tests.

[2019-03-22 08:45] Antonius-S commented on #1029
FWIW: I experienced troubles launching mocha tests from VSCode with the above config so I created a workaround, see https://github.com/Antonius-S/Node_Articles/tree/master/Global_nyc_and_mocha

[2019-03-22 15:24] mayo84 commented on #686
I'm getting this weird experience too. You can use this project: https://github.com/Alberto85ariel13/vts where i'm a collaborator. I'm using nyc with mocha and ts-node/register config for tests.
All mocha tests are passing but nyc is working completely crazy in that some times it convers all files in /src directory but other times it only cover 10 files.
To reproduce this behavior, just keep doing

[2019-03-22 15:56] tbell511 commented on #686
If this gets fixed I will be super happy. I have had to stop using NYC because of this very issue.

[2019-03-22 17:21] worc commented on #1029
another workaround i put together yesterday, which might make people cringe, is to use npm to call the test runners. `yarn run coverage` expands into `nyc npm run test` which expands into `nyc npm run test-unit && npm run test-integration`.

it seems the issue is yarn isn't bubbling up information from the test runs to nyc. but npm can do it.

[2019-03-22 21:32] #935 closed

[2019-03-23 12:47] msm1089 commented on #738
I am getting this error:

$ nyc --reporter=html --reporter=text yarn run test

/c/Program Files (x86)/Yarn/bin/yarn: /c/Users/XXX/.node-spawn-wrap-13208-21ee5d328e1d/node: C:\Program: bad interpreter: No such file or directory
/c/Program Files (x86)/Yarn/bin/yarn: line 19: /c/Users/XXX/.node-spawn-wrap-13208-21ee5d328e1d/node: No error
/c/Program Files (x86)/Yarn/bin/yarn: /c/Users/XXX/.node-spawn

[2019-03-23 13:36] coreyfarrell commented on #1029
@Antonius-S are you using yarn?  If so please see if this issue can be reproduced with npm.

[2019-03-24 13:37] #684 closed

[2019-03-24 13:37] borisovg commented on #684
`--cache-dir`does the job

[2019-03-25 08:19] Antonius-S commented on #1029
@coreyfarrell  no I use npm

[2019-03-25 08:45] ochikov opened #1040 "nyc mocha help needed"
Hello,
I have an issue that I cannot resolve without your help.
I am running mocha tests using chai asserts. When I run the test file using mocha, e.g: ```mocha test/cli-commands/coverage/coverage.js ```
The tests are running OK.

When I use
```nyc --check-coverage --lines 95 mocha 'test/**/*.js' --require mocha.opts.helper.js```
All the test are failing due to timeout or something else that I don

[2019-03-25 10:52] caltuntas opened #1041 "Nyc doesn't show coverage for functions in an array"
I have a list of functions that are filtered and executed after a specific event occurs in the code. All functions are scored and exported as an array like below

[code]
And the test file related above code can be seed below. Basically it loads the interceptors array and filters it to find related action and executes. All related tests are passed but nothing is shown in the coverage report.

[code

[2019-03-25 14:16] coreyfarrell commented on #594
@ljharb I took a quick peek at https://github.com/airbnb/prop-types, could you see if this is still an issue with latest istanbul/nyc?  Specifically nyc@10 is very old (sorry this issue has fallen through the cracks).  I see the greenkeeper note saying you've blocked nyc/mocha updates due to not supporting node 4, but you're using babel 7 and babel-plugin-istanbul@5 which also do not support node

[2019-03-25 14:24] coreyfarrell commented on #1040
nyc adds instrumentation (hit counters) to your code so this could make the code take slightly longer than before.  nyc does not impose timeout's, this would be mocha.  Possibly your timeouts are set with little margin of error and the instrumented code takes just too long.

That is all anyone can say without a minimal repository showing a reproduction.

[2019-03-25 14:29] coreyfarrell commented on #1041
I just tested a stripped down version of this code against nyc@13.3.0 and saw coverage for the functions in the array.

nyc is complex, many variables involved.  We require a link to a repository with a minimal reproduction to be able to help you.

[2019-03-25 14:30] coreyfarrell commented on #1037
We require a link to a repository providing a minimal reproduction.

[2019-03-25 14:34] coreyfarrell commented on #1020
For reference when you run `nyc --all=false /bin/true`:
[code]
I wonder if this is technically correct.  If 0 out of 0 statements are covered this is divide by 0, but that means no statements are missed which IMO is 100% statement coverage (same for each category).

[2019-03-25 15:41] ochikov commented on #1040
@coreyfarrell can you clone https://github.com/LimeChain/etherlime/tree/new-coverage
and then run ```npm test``` or ```nyc --check-coverage --lines 95 mocha 'test/**/*.js' --require mocha.opts.helper.js```

Thank you.

[2019-03-25 18:19] nrabinowitz opened #1042 "Cannot exclude test files from rollup bundle"
I'm using `rollup` to bundle a library I'm working on, using ES2015 `import`/`export`. My current test approach is to bundle my tests along with the code under test:
[code]
This allows me to run the tests under Node, and use `nyc` like so:
[code]
The test coverage shows that the sourcemaps **are** recognized and used - the coverage is broken out properly by source file. However, the `-x`/`--exclud

[2019-03-25 18:29] coreyfarrell commented on #1042
I believe this issue is fixed by #1010 but is not yet released (will become nyc@14.0.0).  Could you test by reinstalling nyc from the `master` branch?  You can do this by running `npm i -D git://github.com/istanbuljs/nyc#master` on your project (it'll still claim to be 13.3.0 but it's a newer version).

Tests are excluded from coverage by default but the currently releases of nyc do not exclude co

[2019-03-25 18:50] nrabinowitz commented on #1042
@coreyfarrell Yes! That fixes the issue - thanks, I've been banging my head against this.

[2019-03-26 06:24] caltuntas commented on #1041
@coreyfarrell While I was trying to reproduce the problem ,I discovered it was a configuration problem of mocha library. By default mocha looks for the test files under "test" directory but in my case above test file was under sub-directory so it is not picked by mocha.

I changed configuration of mocha

from     "test": "mocha --reporter dot",
to          "test": "mocha test/**/*.js --reporter do

[2019-03-26 06:24] #1041 closed

[2019-03-26 09:08] ochikov commented on #1040
@coreyfarrell When I am running the tests with ```nyc``` there is a solc file that inside in it, there are checks for environment. For some reason, when running ```nyc``` it assumes that the environment is a web, not a NODE, and  from there are my errors.

How to tweak ```nyc``` to run NODE environment ?

[2019-03-26 16:07] ljharb commented on #594
@coreyfarrell that's a fair point; that particular repo can update nyc to the latest node-4-supporting one (altho i have plenty of other repos for which that's not an option).

[2019-03-26 17:20] doublesharp commented on #743
I'm still using the `istanbul` cli so my output folder is `./coverage` but I was able to make it work by creating the directory first as the `jenkins` user with `mkdir -p ./coverage` then running the `docker-compose run` (not build) as the jenkins user/group with `-u $(id -u):$(id -g)` and mounting the output volume with an absolute path `-v $(pwd)/coverage:/app/coverage` (where my `Dockerfile` lo

[2019-03-26 19:03] JaKXz commented on #619
@bajtos sorry for the late reply: yes a minimal reproduction is a good first step! Also using the [typescript config package](https://www.npmjs.com/package/@istanbuljs/nyc-config-typescript) with the latest versions of nyc etc will help.

Another troubleshooting step is to set `cache: false` in your nyc config and see if you can reproduce the issue.

[2019-03-27 08:45] mohitsati14 commented on #648
I can verify in the latest version also, it is not working

[2019-03-27 09:25] UrielZohar opened #1043 "What is the different between nyc and jest test ?"
I'm trying to understand what is the different between jest and [istanbul](https://istanbul.js.org/).

I wrote a little code [here](https://github.com/UrielZohar/istanbul-with-jest) that test a little function with [jest](https://jestjs.io/) and istanbul ,

in its `package.json` there are 2 scripts -

the first one is -
    `nyc --reporter=html --reporter=text jest --u --coverage
`
the second one

[2019-03-27 10:08] madskonradsen opened #1044 "Using --all with nyc instrument"
## Expected Behavior
`./node_modules/.bin/nyc instrument #{srcPath} #{defaultPath}/instrumented --exclude-after-remap=false --all`

I'm pre-instrumenting my code and expecting `--all` to include even my untested files

## Observed Behavior
Non-tested files are left out of my final report.

I have a suspicion that I'm misunderstanding the flow of nyc. Shouldn't `--all` be usable with standalone ins

[2019-03-27 10:41] coreyfarrell commented on #1043
jest uses istanbul libraries behind the scenes, so if you are using jest then you don't need nyc.  nyc is needed if you want coverage reports on other testing frameworks (a couple examples are mocha or ava).

[2019-03-27 10:49] #1043 closed

[2019-03-27 11:04] coreyfarrell commented on #648
@mohitsati14 please open a new issue and provide all required information including a reproduction against current versions.

[2019-03-28 07:48] LXSMNSYC opened #1045 "Generators "branch not covered""
## Link to bug demonstration repository.
Repo for the demonstration: https://github.com/LXSMNSYC/iterable-js

Please run ```npm install``` and ```npm run test``` to get coverages.

## Expected Behavior
All files that shows 100% coverage should also have 100% branch covered.

## Observed [Behavior](url)
![Screenshot from 2019-03-28 15-41-17](https://user-images.githubusercontent.com/4783372/5513931

[2019-03-28 09:25] IgorNovozhilov commented on #931
жаль, что это не будет поддержано

[2019-03-28 09:25] #931 closed

[2019-03-28 11:11] ochikov commented on #1040
The problem was that on other test, I set a global window object. That was the problem and after spend quite time for debugging, I was able to fix it! Thank you!

[2019-03-28 11:11] #1040 closed

[2019-03-28 18:27] chankamlam commented on #1029
<img width="238" alt="屏幕快照 2019-03-29 上午2 24 48" src="https://user-images.githubusercontent.com/9009522/55183087-0de70b80-51ca-11e9-80c1-03022a1a0503.png">
<img width="595" alt="屏幕快照 2019-03-29 上午2 24 33" src="https://user-images.githubusercontent.com/9009522/55183103-16d7dd00-51ca-11e9-9be6-481c18dc7fb6.png">

some problem with me , empty table showing, I am using Mac OS

[2019-03-28 18:32] JaKXz commented on #1034
Hi @lb-, this is an interesting question, thanks for sharing it. I would encourage you to look through the internals of [istanbul-lib-report](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-report) which is what nyc uses to create reports based on coverage data. Assuming you provide the same format for coverage.json as input, you should be able to create the reports you

[2019-03-28 18:33] chankamlam commented on #1029
fixed by https://github.com/istanbuljs/nyc/issues/822#issuecomment-402435832

[2019-03-28 19:05] worc commented on #1029
that's not quite a fix, is it? it's more of a workaround to exit mocha cleanly?

[2019-03-28 19:31] coreyfarrell commented on #1045
@LXSMNSYC Could you try following the instructions at https://istanbul.js.org/docs/tutorials/es2015/ ?  I suspect that `@babel/plugin-transform-regenerator` might be introducing a branch in generated code and running `@babel/register` from mocha instead of running it from nyc may be causing nyc to see the generated code instead of the source.

[2019-03-28 19:42] JaKXz commented on #1044
@madskonradsen I know that there is some ongoing work for this and it will probably be released in nyc v14. For now you can try installing from master and see if it's been merged yet but no promises there!

cc @AndrewFinlay @coreyfarrell

[2019-03-28 19:45] JaKXz commented on #938
I strongly encourage the use of the [nyc-config-typescript](https://www.npmjs.com/package/@istanbuljs/nyc-config-typescript) package as a base config for typescript projects! It's been mostly effective in helping people with basic problems like this! @jwalton @za-creature can you try that and let me know if you're still experiencing this isssue?

[2019-03-28 22:47] AndrewFinlay commented on #1044
@madskonradsen, if you're pre-instrumenting code neither option `--all` or `--exclude-after-remap` will have any effect on the result.

When using the instrument command `--all` is implied.  When nyc runs in its default mode it instruments source files just in time, as they're required by the test.  When creating instrumented files only and then nyc has no way of knowing which source files are exe

[2019-03-28 23:35] LXSMNSYC commented on #1045
Hello @coreyfarrell thanks for the reply!

Here is my scripts configuration for my package.json:
[code]
As you can see, I am running @babel/register in mocha and I run the mocha script I have made with nyc.

Thanks for sharing that link, I'll try the configuration as provided in the tutorial

[2019-03-29 07:44] nashy18 commented on #1037
I am also facing the same issue, please see the sample code below to reproduce the same

class Ext{
	constructor(){}
	Ext_m1(){
		console.log("Ext_m1");
	}

}

class A{
	constructor(){}

	A_m1(){
		console.log("A_m1");
	}

	get Ext(){
		return Ext;
	}
}

class B extends A{
	constructor(){
		super();
	}

	B_m1(){
		console.log("B_m1");
	}

	test(){
		const data = new (super.Ext)().Ext_m1();
		conso

[2019-03-29 07:48] nashy18 commented on #1037
@coreyfarrell : Please have a look into it

[2019-03-29 11:40] Antonius-S commented on #1029
Doesn't help in my case.

[2019-03-29 12:28] alex028502 commented on #619
@JaKXz I think this is the same issue.

https://github.com/alex028502/nyc-line-number-issue

I have put `--cache false`.  I hope that works.

[2019-03-29 12:56] mbenna commented on #619
@alex028502, I confirm your small repro works exactly as described and fails as you describe. Nice work.

[2019-03-29 13:04] coreyfarrell commented on #1037
This issue **needs** a minimum repository.  That would be something that I can download with `git clone`, setup with `npm install`, and test with `npm test`.  I don't have time to deal with code dumps pasted to a github issue.

@nashy18 @Arunachalam I'll take a look at this when I have time after the information I requested is provided in the format I requested.  You've both come across as demandi

[2019-03-29 13:14] alex028502 commented on #619
@mbenna @JaKXz I have added a simpler example that gets a little closer to the bottom of the issue, and doesn't use mocha

[2019-03-29 19:56] #647 closed

[2019-03-29 19:56] #671 closed

[2019-03-29 19:57] #635 closed

[2019-03-30 07:19] nashy18 commented on #1037
@coreyfarrell : I do apologize the way we asked for the help. We are struggling with this issue from almost a month, since we have huge code base with such structure and it would cause us complete revamp, if we couldn't get the solution. Please find below the repository link as per your expectation,

[nyc-error](https://github.com/nashy18/nyc-error)

Thank you

[2019-03-30 09:23] lb- commented on #1034
@JaKXz  - thanks, will do

[2019-03-30 19:16] coreyfarrell commented on #1037
@nashy18 this appears to be a bug in babel.  I've opened babel/babel#9797 demonstrating the issue without using nyc.  For now I believe the only work-around would be to rewrite your code to not use `new (super.Ext)()`, for example:
[code]

[2019-03-30 20:22] coreyfarrell commented on #1037
From the babel ticket another work-around would be to enable `createParenthesizedExpressions` babel parser option.  To do this you would need to bypass the nyc built-in instrumentation and follow the [ES2015 tutorial](https://istanbul.js.org/docs/tutorials/es2015/).  In addition your `.babelrc` will need a parserOpts section, for example:
[code]

Note you likely do not need to include `@babel/pres

[2019-03-30 21:23] ehmicky commented on #941
Bumping again

[2019-03-30 22:10] coreyfarrell commented on #941
I can answer part of this bug, it's not possible for files required via `--require` to be automatically instrumented.  To get this working you must pre-instrument the file to be included via `--require`, along with any sources it `require`'s (if you want those files to be covered).  The `--require` options are processed before nyc can hook anything, partly due to startup order and partly due to th