[2016-06-13 19:52] Kikobeats commented on #273
yay, now is working! https://coveralls.io/github/bumped/bumped

Effectively is necessary provide extension:

[code]

I don't need register the transpiler because I register it in mocha options.

Thanks!

[2016-06-13 19:52] #273 closed

[2016-06-13 19:53] Raynos opened #275 "Broken on 0.10"
[code]

Looks like a newer version of `spawn-wrap` is not 0.10 compatible.

[2016-06-13 20:01] jamestalmage commented on #275
Duplicate of https://github.com/bcoe/nyc/pull/274

[2016-06-13 20:01] #275 closed

[2016-06-13 20:57] bcoe commented on #275
@Raynos we bundle dependencies on newer versions of `nyc`, do you see this issue if you upgrade?

[2016-06-13 21:13] Raynos commented on #275
@bcoe yes. Latest version of nyc had the issue.

I downgraded to nyc@4 to avoid this issue.

[2016-06-13 21:34] jamestalmage commented on #275
Should be fixed with new version of `spawn-wrap`: https://github.com/tapjs/foreground-child/pull/12

[2016-06-13 21:35] bcoe commented on #275
@Raynos mind verifying?

[2016-06-13 21:38] jamestalmage commented on #275
@bcoe - We bundle `foreground-child`, so this probably requires a new release.

[2016-06-13 21:42] bcoe commented on #275
@jamestalmage we've never bundled `1.5.0` is the thing, don't quite know what's happening to @Raynos but I'm glad we have a patch.

[2016-06-13 21:51] jamestalmage commented on #275
PR to upgrade foreground-child: https://github.com/bcoe/nyc/pull/276

[2016-06-13 23:08] Raynos commented on #275
nyc@6.4.4 with foreground-child@1.4.0 works

[code]

I think what was broken for me was `npm i nyc@5` . my project had `"nyc": "^5.0.1"` which is suspect was before the bundling that came with 6.x

[code]

So when I saw that `nyc` was broken I tried updating with `npm i nyc@5` instead of `npm i nyc@latest`

[2016-06-13 23:08] Raynos commented on #275
However now both the `6.x` and `5.x` lines are fixed and working.

[2016-06-13 23:23] bcoe commented on #275
@Raynos wonderful, there will be a new release a bit later tonight with the bundled fix too.

[2016-06-14 18:15] terinjokes opened #279 "bundled `foreground-child`'s dependency `cross-spawn-async` is missing dep"
`foreground-child`'s dependency `cross-spawn-async` depends on `which` which is declared in the package.json, but unresolvable at runtime.

[code]

[2016-06-14 18:22] bcoe commented on #279
@terinjokes could you `npm clear` and try `nyc@6.6.1`?

[2016-06-14 18:56] terinjokes commented on #279
@bcoe seems fine now.

[2016-06-14 18:56] #279 closed

[2016-06-15 05:02] bcoe commented on #264
@patrickarlt give this a spin:

https://github.com/bcoe/nyc#use-babel-plugin__coverage__-for-better-es6es7-support

we've released better support for ES6/ES6 coverage using the `__coverage__` instrumentation library.

[2016-06-15 05:02] #264 closed

[2016-06-15 05:03] bcoe commented on #168
@aureooms give this a spin:

https://github.com/bcoe/nyc#use-babel-plugin__coverage__-for-better-es6es7-support

we've released better support for ES6/ES6 coverage using the `__coverage__` instrumentation library.

[2016-06-15 05:03] #168 closed

[2016-06-15 05:14] bcoe commented on #239
@xjamundx give this a spin:

https://github.com/bcoe/nyc#use-babel-plugin__coverage__-for-better-es6es7-support

we've released better support for ES6/ES7 coverage using the __coverage__ instrumentation library.

[2016-06-15 05:17] bcoe commented on #215
@jmdobry give this a spin:

https://github.com/bcoe/nyc#use-babel-plugin__coverage__-for-better-es6es7-support

we've released better support for ES6/ES7 coverage using the coverage instrumentation library.

[2016-06-15 05:19] bcoe commented on #265
@spudly give this a spin:

https://github.com/bcoe/nyc#use-babel-plugin__coverage__-for-better-es6es7-support

we've released better support for ES6/ES7 coverage using the coverage instrumentation library.

[2016-06-15 06:26] jmdobry commented on #215
I'll give it a try

[2016-06-15 10:48] kentcdodds commented on #239
I'm definitely a fan of `__coverage__`. Are you aware that currently it didn't support the `/* ignore next */` pragma? So I'm thinking that's technically be a breaking change. Though there's [a pull request](https://github.com/dtinth/babel-plugin-__coverage__/pull/32) to add it.

[2016-06-18 12:45] reauv commented on #272
Thanks for the responses. I am not using TS, so I am not sure if that's going to help me. I ended up switching to a setup with Karma & Isparta, because that works with webpack. I kinda need webpack because otherwise I have to rewrite all my imports because I extensively use webpack's resolve settings. Thanks anyway!

[2016-06-21 17:22] bcoe opened #282 "work with Istanbul, knock ES2015 support out of the park"
@gotwarlost is putting a bunch of hard work into getting Istanbul to v1, inspired partially by @dtinth's work on `__coverage__`.

I think we should move `nyc` over to this, and I have a few questions:

1. what's the best way to instrument files:
  * @gotwarlost it sounded like we could use something similar to our [existing approach](https://github.com/bcoe/nyc/blob/master/lib/instrumenters/istanb

[2016-06-21 19:20] spudly commented on #265
Sorry for the long delay. Tried the new solution, but I can't get past this:

[code]

[2016-06-22 01:46] gotwarlost commented on #282
The way I was thinking about this was:

* For folks already using Babel, instrument code using the Babel plugin so we don't have to deal with source maps at all and get "native" coverage for ES6 code.
* All others would use the "old" style of hooking istanbul after transforming to ES5 in which case, source maps etc. come into play.
* ES5 node code path uses old style as usual w/o needing source ma

[2016-06-22 17:28] lijunle opened #283 "Generate coverage.json."
First, thank you for making such an awesome tool! With istanbul, there is a [coverage.json](https://github.com/gotwarlost/istanbul/blob/master/coverage.json.md) file, which can be used to report [partial line coverage](https://www.npmjs.com/package/codecov.io#advanced-partial-line-coverage). Could you please add such support?

[2016-06-24 01:17] ntwb opened #284 "Update `istanbul` dependency per https://nodesecurity.io/advisories/118"
The `minimatch` NPM module has been patched due to a regular expression denial of service:
- https://nodesecurity.io/advisories/118

- `nyc` uses the `istanbul` which uses the `fileset` module which depends on `minimatch`

- `istanbul`'s `fileset` issue: https://github.com/gotwarlost/istanbul/issues/653

- `fileset` pull request here: https://github.com/mklabs/node-fileset/pull/25

Once both upstr

[2016-06-24 17:53] bcoe commented on #284
@ntwb have this on my radar for the weekend 👍

[2016-06-25 08:23] jantimon opened #285 "nyc makes stack traces unreadable"
When adding nyc to my ava test runs I receive wrong file numbers in stack traces
as shown in the following examples:

**Without nyc**

[code]

returns:

[code]

**With nyc**

[code]

returns:

[code]

(my error was neither in line 9 nor in column 7575 but in line 137)

[2016-06-25 15:02] novemberborn commented on #283
@lijunle nyc uses istanbul's reporters. Use with `nyc --reporter=json npm test` or after running `nyc npm test` use `npm report --reporter=json`.

[2016-06-25 15:02] #283 closed

[2016-06-25 15:10] novemberborn commented on #285
Yea, this is a known issue, although looking through the issue list it's not explicitly tracked.

Code coverage works by transforming the original source code. Stack traces need to be translated in order to be accurate. nyc doesn't attempt to do this. It's tricky because AVA does and it's unclear how between the two of them stack trace conversion would interact.

[2016-06-25 15:12] jantimon commented on #285
Could a sourcemap solve this?

[2016-06-25 15:15] novemberborn commented on #285
Yes, and I prototyped a solution in <https://github.com/bcoe/nyc/pull/217>. I'm not entirely sure we can get source maps out of istanbul though, and I haven't had the time to research the interaction of multiple [`source-map-support`](https://github.com/evanw/node-source-map-support) installations within the same process.

[2016-06-25 15:24] novemberborn commented on #282
For folks targeting Node v4 or v6 they may not even transpile code of course. Though it looks like `istanbul-lib-instrument` will work fine with ES6 now, so that's not an issue.

[2016-06-25 16:46] jantimon commented on #285
I see - sounds way more complicated than I thought..

[2016-06-25 18:47] bcoe commented on #282
- [ ] make sure we test some raw `v4` and `v6` source, with the new instrumenter.
- [ ] get this sucker pulled in https://github.com/istanbuljs/babel-plugin-istanbul

[2016-06-27 00:43] #34 closed

[2016-06-27 00:43] bcoe commented on #34
@boennemann feel free to reopen if you bump into this again, or have a chance to dust off this old issue.

[2016-06-27 00:44] bcoe commented on #51
@BridgeAR feel free to reopen this with a reproduction test-case. we've almost completely changed around the guts of nyc since last October, so there's a good chance this issue was addressed.

[2016-06-27 00:44] #51 closed

[2016-06-27 00:45] bcoe commented on #117
@jamestalmage it looks like @gotwarlost has been working on his own source-map library as part of the istanbuljs org, could we look at merging efforts?

[2016-06-27 00:46] bcoe commented on #137
@jamestalmage more food for thought, it would be awesome to apply source-maps to stack traces.

[2016-06-27 00:47] bcoe commented on #151
`foreground-child` now has passing appveyor tests, I think we can close this.

[2016-06-27 00:47] #151 closed

[2016-06-27 00:49] bcoe commented on #175
@novemberborn I think the new approach used for `--all` on the `7.x` branch might address this problem, if you get a second take a look.

[2016-06-27 00:50] bcoe commented on #183
this should be addressed in https://github.com/istanbuljs/nyc/pull/286

[2016-06-27 00:50] #183 closed

[2016-06-27 00:52] bcoe commented on #249
I'm now using the `bundle-dependencies` module to keep better track of what we've bundled, I've also switched back to using `npm@3.x` for `nyc@7.x`, as the tarball size was ballooning without deduping.

Let's keep this open, and address any singleton bugs we run into one by one.

[2016-06-27 00:53] bcoe commented on #249
@thangngoc89 when you get a moment could you try `nyc@7.x`:

`npm cache clear; npm i nyc@next --save-dev`

[2016-06-27 00:53] bcoe commented on #140
@jamestalmage ever get anywhere with this, is it still cropping up on newer builds?

[2016-06-27 00:57] bcoe commented on #284
@ntwb this should be addressed here:

https://github.com/istanbuljs/nyc/pull/286

available in `npm cache clear; npm i nyc@next`

[2016-06-27 00:57] #284 closed

[2016-06-27 00:58] bcoe commented on #285
see also: https://github.com/istanbuljs/nyc/issues/137

[2016-06-27 00:58] bcoe commented on #285
CC: @gotwarlost it would be nice to consolidate Istanbul and nyc's source-map handling, and to address issues such as stack traces 💯

[2016-06-27 00:59] bcoe commented on #282
closing in favor of:

https://github.com/istanbuljs/nyc/pull/286

https://github.com/istanbuljs/babel-plugin-istanbul

[2016-06-27 00:59] #282 closed

[2016-06-27 01:19] bcoe opened #287 "expose more Istanbul-specific configuration options"
- [x] eyeball the current Istanbul CLI, enumerate other config options that we might like to support (we can gradually add more as folks request them).
- [ ] should we add support for `.nycrc` configuration file, for folks accustomed `.istanbul.yml`?
- [ ] should we read both an `nyc` and an `istanbul` stanza from a package.json?

[2016-06-27 01:20] bcoe commented on #234
Let's continue this discussion here: https://github.com/istanbuljs/nyc/issues/287

[2016-06-27 01:20] #234 closed

[2016-06-27 06:07] ntwb commented on #284
Nice, thanks @bcoe 👍

[2016-06-27 12:52] ntwb commented on #284
FWIW: Fileset 2.0.2 was just released

[2016-06-28 06:51] JaKXz opened #288 "nyc@7.0.0-alpha3 lcov report broken"
continued from: https://github.com/istanbuljs/nyc/pull/286#issuecomment-228666575

Minimal reproduction: https://gist.github.com/JaKXz/e91baeead7f4ff2df6825abf33327479

Similar [but not necessarily related] error with v6.6.x and the `--all` flag and `__coverage__` plugin: https://github.com/JaKXz/react-redux-starter/tree/d0bc516cdea96e45b75d6ad585bc6c9b6f3fb97c

@bcoe @gotwarlost et al

[2016-06-28 16:55] bcoe commented on #288
@JaKXz @gotwarlost interestingly enough, works well with the new `babel-plugin-istanbul`:

[code]

underlying problem seems to be bad source-map positions, which I know we've bumped into in a few places. Hopefully this will be fixed once the issue @gotwarlost opened on babel itself is addressed, and once we switch source-map functionality over to using Isanbul directly.

If anyone gets bored @nove

[2016-06-28 17:35] JaKXz commented on #288
@kentcdodds this is the same issue you reported :)

[2016-06-28 18:04] kentcdodds commented on #288
Ok, I thought it might be :-) Thanks for merging them :-)

[2016-06-29 01:34] jamestalmage commented on #140
Oh, man. I don't know. Let's close this. I haven't hacked on `node-tap` in a while so I really don't know.

Myself or someone else can reopen if it comes up again.

[2016-06-29 01:34] #140 closed

[2016-07-02 21:35] bcoe opened #292 "combine functionality of append-transform and istanbul-lib-hook"
we should figure out how we want to combine the functionality of these two libraries. Currently nyc lacks functionality surrounding the vm module.

_any work we put towards this should be against this branch: https://github.com/istanbuljs/nyc/pull/286_

CC: @gotwarlost, @novemberborn, @jamestalmage

[2016-07-02 21:36] bcoe opened #293 "add `instrument` command line option"
We should add a command line option that allow an arbitrary file to be instrumented and returns the output. @gotwarlost it sounded like this is one of the glaring features missing in nyc, that's required for front-end Istanbul users?

[2016-07-02 21:53] bcoe commented on #288
@kentcdodds @JaKXz mind giving an update I just published a spin?

`npm cache clear; npm i nyc@next`

We've pulled out source-map support into istanbuljs.

[2016-07-02 23:31] JaKXz commented on #288
@bcoe LGTM, not using `babel-plugin-istanbul`.

[2016-07-02 23:33] JaKXz commented on #288
I am seeing new issues with `babel-plugin-istanbul`@1.0.1 but it might be because I have an incorrect setup somewhere... let me try to minimally reproduce and I'll make a new issue.

[2016-07-02 23:33] #288 closed

[2016-07-02 23:54] JaKXz opened #294 "7.0.0-alpha4 + babel-plugin-istanbul breaks transpilation for test runner"
Minimal reproduction: https://gist.github.com/JaKXz/9c9aa2c9dcc106e59939ec4b9f79c4f4

continued from: https://github.com/istanbuljs/nyc/issues/288#issuecomment-230127167

[code]

I am not fully sure which project to "blame", so I can move this to the `babel-plugin-istanbul` repo if that's better. @bcoe @gotwarlost cc @kentcdodds if you see this in your test as well.

[2016-07-03 04:28] gotwarlost commented on #293
Yes, this is one of the commands istanbul supports for browser testing. I still owe you a complete list of smaller things that may be missing. I will work on this list today/ tomorrow.

[2016-07-03 17:51] gotwarlost commented on #294
I did some experimentation. I can reproduce this issue. I _suspect_ what is going on is that (given column 6143 and such) `say.js` is being processed by babel twice and something in there is causing the issue. Is there a way to print what babel plugins are being used?

I can only get columns > 5000 when I process say.js with the es2015 preset + istanbul plugin and repeat the process on the output

[2016-07-03 18:04] bcoe commented on #294
@gotwarlost @JaKXz I see babel-register being required twice:

[code]

[2016-07-03 18:39] bcoe commented on #294
@gotwarlost @JaKXz okay, dug into this, the root problem seems to be that `ava` isn't finding the `babel` stanza in `package.json` when invoked with `nyc`:

I got things working by creating a `.babelrc` like so:

[code]

[2016-07-03 18:46] novemberborn commented on #294
Given this AVA config:

[code]

AVA uses its default Babel config when transpiling *test files*. Source files are taken care of through `babel-register`.

Is nyc trying to instrument the test files? Cause they probably shouldn't be instrumented. Though you can use the `babel` config for AVA to change how it transpiles the test files.

---

P.S. @bcoe @gotwarlost I'm quite excited about this! 💯  Ju

[2016-07-03 18:51] bcoe commented on #294
@novemberborn I turned off `nyc` instrumenting files, and got things working as long as I used a `.babelrc` rather than a `babel` line in package.json, it feels like it must be a path problem and `find-up` failing us in ava's context?

I did upgrade a few of the underlying libraries such as `foreground-child` so this could be a canary in the coal mine for a larger issue.

[2016-07-04 01:11] bcoe commented on #294
@novemberborn @JaKXz I had stored a bad run in the cache, and babel config was being loaded correctly. The following configuration should work:

[code]

If you're using `babel-plugin-istanbul` you must configure `nyc` to not handle source-maps or instrument code (this is handled by `babel-plugin-istanbul` instead:

[code]

[2016-07-04 01:11] #294 closed

[2016-07-04 01:12] bcoe commented on #294
@JaKXz let me know if this fix does the trick for you; also if you can think of a better way to document this in the README let me know (give the version here a read if you don't mind: https://github.com/istanbuljs/nyc/pull/286)

[2016-07-04 03:40] gotwarlost commented on #294
@bcoe what exactly are the files that need to be deleted to start with a clean slate every time? I simply cannot correlate the changes I make to `package.json` with output that never changes. Once things start working they always work independent of what changes I make to `package,json` and vice-versa.

[2016-07-04 03:57] bcoe commented on #294
@gotwarlost `nyc` populates files in `node_modules/.cache`, so that source-maps do not need to get parsed multiple times, and so that files don't need to get instrumented multiple times -- it seems to be this cache that's getting populated with bad data.

You can turn off this cache by passing the `--no-cache` flag to nyc.

[2016-07-04 06:21] JaKXz commented on #294
@bcoe yeah we should definitely update the documentation for v7 with [the instructions for the fix](https://gist.github.com/JaKXz/9c9aa2c9dcc106e59939ec4b9f79c4f4/revisions).

If `nyc` `instrument` and `sourceMap` set to false, though, shouldn't `node_modules/.cache` not be populated with source mapped files at all?

[2016-07-04 06:40] bcoe commented on #249
I've added `bundle-dependencies` for better tracking bundling, and we're opting to bundle dependencies after a `npm 3.x` install now, to cut down on package size.

[2016-07-04 06:40] #249 closed

[2016-07-04 06:49] bcoe commented on #294
@JaKXz I believe this only bites you if you have data in the `.cache` from a failed run, going forward there's no need for the `--no-cache` flag.

[2016-07-04 06:52] JaKXz commented on #294
@bcoe no, that's why I mentioned it, because after removing `--no-cache` after a successful run brings the same errors back.

[2016-07-04 10:11] tp opened #295 "nyc report exit code is 0 even when coverage requirements where not reached"
Executing `nyc report --lines 100` reports a coverage of only 81.82% for some file, but the exit code of that process is still 0.

It would be very helpful for integration into CI if the exit code would be non-0 in order to quickly abort when detecting coverage below out requirements.

[2016-07-04 13:19] tp commented on #295
Can be solved by appending `&& nyc check-coverage --lines 100`.

[2016-07-04 13:19] #295 closed

[2016-07-04 13:44] gotwarlost commented on #294
@bcoe it was really difficult for me to figure out what's going on with multiple modules maintaining caches in different (unexpected) places. At one point, I had 2 source trees that were checked out that were exactly the same, except one was working and another was erroring out. It wasn't obvious to me as to where I should look for a cache file.

I _think_ we need to either document a mechanism or

[2016-07-04 13:47] gotwarlost commented on #294
In other news, I published `istanbul-reports@1.0.0-alpha.7`. This fixes an issue where a branch is considered for highlighting if there is only one path in the branch which is uncovered. This is to account for default assignments.

For example, if you comment out the test that uses the default object, you will get 3 uncovered branches - one each for each variable and one for the object itself, how

[2016-07-04 13:48] hoschi commented on #294
I had the same problem as @bcoe where even source trees from backup failed, which worked 3 days before, when setting up AVA together with nyc. Problem here is really babel has its own cache, ava maintains a cache and sometimes you need a 'disable all the performance and show me whats failing' flag.

[2016-07-04 17:42] bcoe commented on #295
@tp you can also run the initial instrumentation step, with a `--check-coverage` flag.

`nyc --check-coverage --lines=100 mocha test/*.js`

[2016-07-04 17:54] bcoe commented on #294
@jamestalmage and @novemberborn will attest to the fact that there's a pretty huge performance boost on a large codebase if cache is enabled (for consistency, AVA and nyc share the same underlying cache logic).

Having said this! now that we also have babel caching in the mix, maybe we should make nyc caching turned off by default? We can also try to work with babel to converge on a similar cachin

[2016-07-05 06:52] hoschi commented on #294
Don't get me wrong, performance *is* important! But bug tracing in this setup is really difficult. At the moment I e.g. have the problem that coverage reports are only right after the first run when I added a new test case. All following runs produce flaky results which are wrong. My first impression is a caching problem here, but its hard to check this easily at the moment with three places of ca

[2016-07-05 07:25] bcoe commented on #294
@hoschi, @gotwarlost, retracing my steps, I was considering turning the cache on by default in `7.x`, it seems like keeping `cache` as an option that folks need to knowingly enable is the right call however.

[2016-07-05 14:56] hoschi opened #296 "Can't exclude file in directory"
I have a file in `src/userAuth/userAuthReducer.js` which I can't exlude with its parent dir in the pattern.

this works
* **/userAuthReducer.js

this doesn't
* **/userAuth/userAuthReducer.js
* */userAuth/userAuthReducer.js
* src/userAuth/userAuthReducer.js

nyc version: 6.6.1
node version: 6.2.1
I use `babel-plugin-__coverage__` for instrumenting

[2016-07-05 17:30] iam4x opened #297 "usage with babel-plugin-webpack-loaders"
Hello,

Is there anyone who made this work correctly with https://github.com/istarkov/babel-plugin-webpack-loaders ? My server code is requiring `.css` files to work with `css-modules`.

The uncovered-lines returned by `nyc` are completely wrong, I think it's checking webpack compiled code instead of sourcemaps but I didn't investigate that much.

Here's my babelrc:

[code]

I've also tried with `

[2016-07-05 18:01] iam4x commented on #297
Now `$ nyc npm test` works 👍

I've added `inline-source-map` into my webpack config for tests and removed the configuration about `babel-plugin-istanbul`

* https://github.com/iam4x/futureRX/blob/3bd7059bc6b9b05da370c41fb44647cafc452a5f/webpack/test.config.babel.js#L2
* https://github.com/iam4x/futureRX/blob/3bd7059bc6b9b05da370c41fb44647cafc452a5f/package.json#L24-L34

Results:

<img width="830"

[2016-07-05 18:02] bcoe commented on #297
@iam4x the cache is very contentious right now, we're doing some work around it as we gear up for a 7.x release. I'll update this issue shortly once we hammer out some conversations in a few related tickets.

[2016-07-06 06:05] hoschi opened #299 "Flakey and wrong coverage reports with increasing test count"
I use nyc to gather coverage reports from running my tests with AVA. With increasing test count the coverage reports are wrong and change on each run. I tried nyc@next, different Babel setups, babel-istanbul instead of the `__coverage__` plugin and node versions. Also I tried to use or disable cache behaviour of AVA and nyc, which doesn't change something. I then saw that with different setups the

[2016-07-06 12:50] tp commented on #175
Also had issues with --all, upgrading to nyc@7.0.0-alpha.4 fixed the issue.

[2016-07-06 15:56] bcoe commented on #299
@jamestalmage @novemberborn have you seen any similar behavior to this? almost sounds like a race condition when coverage output is being written to disk.

[2016-07-06 15:56] bcoe commented on #299
@hoschi if you could figure out a way to reproduce this in a repository you can share, this would be a big help.

[2016-07-06 15:57] mewdriller opened #300 "No coverage analysis when running sub-command on Windows"
So I've got an issue that I think I can isolate down to these two scenarios:

1: Running my tests directly from within the `nyc` command; e.g.: `nyc ava --verbose` or an `npm` script called `cover` with the same contents (`nyc ava --verbose`).

[code]

2: Running my tests indirectly via an npm script (the `test` script contains `ava --verbose`); e.g.: `nyc npm test` or an `npm` script called `cove

[2016-07-06 15:59] hoschi commented on #299
@bcoe I can't publish the original repo and can't create 200 tests in a fresh repo. I have no idea how to give you a test repo :-(

[2016-07-06 16:04] addaleax commented on #300
Do you have some kind of public reproduction of your problem? Usually nyc should be able to handle this situation.

[2016-07-06 16:04] jamestalmage commented on #299
Or that there is something wrong with our combine coverage logic (the behavior of `-c 1` makes me suspect it's not a race condition).

Impossible to figure out without a reproduction.

[2016-07-06 16:07] jamestalmage commented on #299
@hoschi - 200 tests or 200 test files?

[2016-07-06 16:19] bcoe commented on #296
@hoschi this works fine for me:

[code]

I was having a bit of trouble but the underlying issue turned out to be the babel cache interfering with instrumentation, so I ran tests using:

`BABEL_DISABLE_CACHE=1 npm t`

try this and I think you'll find it does the trick.

[2016-07-06 16:21] bcoe commented on #299
@hoschi I was just doing a bit of digging for your other ticket, I think the culprit might be the babel cache which was interfering noticeably with my ability to instrument tests.

Try running with `BABEL_DISABLE_CACHE=1 npm run test-simple` I think you'll find things behave better... we should probably document this in the README if this is the culprit.

[2016-07-06 16:26] jamestalmage commented on #299
also try #301 and see if it fixes anything

[2016-07-06 16:30] jamestalmage commented on #296
`nyc` should probably just disable the cache.

[2016-07-06 17:15] mewdriller commented on #300
@addaleax: I just pushed a [repo](https://github.com/mewdriller/nyc-issue-300) to reproduce the issue. There are two `npm` scripts to reproduce the cases:

1: `npm run cover-direct` calls `nyc ava --verbose`

[code]

2: `npm run cover` calls `nyc npm test`, which in turn calls `ava --verbose`

[code]

[2016-07-06 17:43] hoschi commented on #299
I'm off because for holiday, but I check your suggestions and report back in two weeks.

[2016-07-06 19:53] addaleax commented on #300
Could you try this patch in `node_modules/nyc/node_modules/spawn-wrap`?

[code]

This seems to make your reproduction repository work for me.

[2016-07-06 20:31] mewdriller commented on #300
Nice! With that patch applied to `win-rebase.js` I get the expected output from `npm run cover`.

Let me know if I can be of any help with testing/reproduce anything else.

[2016-07-06 20:53] bcoe commented on #300
great find @addaleax! was this a regression? or an edge-case we'd missed?

[2016-07-06 21:04] addaleax commented on #300
@bcoe This kind of looks like a slightly different variant #190 for Windows, nothing actually new. You did the spawn-wrap tests for that one with `{ skip: winNoShebang }` set, any chance you’d find the time to generalize them so they work on Windows, too?

I’m doing all the Windows stuff through a VM and it’s been a while since I did a lot of Windows work.

Also, I’m not sure… I’m feeling like my

[2016-07-07 05:06] bcoe opened #302 "set defaults for function and branch coverage as well"
see: https://github.com/istanbuljs/nyc/pull/298

[2016-07-07 05:08] bcoe commented on #300
@addaleax we already have this logic in `spawn-wrap`:

https://github.com/tapjs/spawn-wrap/blob/master/index.js#L211

I think it would be reasonable to add your patch, but we should probably try to share the logic? what do you think. I agree let's get tests running on AppVeyor for as much of this functionality as possible, I also only run a VM.

[2016-07-07 05:31] bcoe commented on #297
@iam4x could you try installing `nyc@next` I think this will potentially solve the problem you're seeing with `--all`. not quite sure why the cache might be biting you, any thoughts @jamestalmage?

[2016-07-07 05:33] bcoe commented on #297
@jamestalmage actually, perhaps this is pid collision related?

[2016-07-07 05:56] #293 closed

[2016-07-07 09:51] iam4x commented on #297
### 1.

`$ nyc --all npm test` AND `$ nyc --cache npm test` are working with `nyc@next` 👍

I get warnings like this one:
(but it seems working as expected, files not covered are showing correctly in red)

[code]

----

### 2.

I resolved the warnings by adding into my `package.json` nyc config:

[code]

But after that it fails creating the report:

<img width="1000" alt="screen shot 2016-07-07 at

[2016-07-07 15:12] addaleax commented on #300
@bcoe Yes, that would be share-able… I’ll try to get some tests for this together later today if you don’t beat me to it. ;)

[2016-07-07 15:33] bcoe commented on #297
@iam4x is this a project that you could share with us? I'd like to try to support all these scenarios. To give you some background, nyc grew up independently of istanbuljs and we're now in the process of smashing the two projects together -- I want to make sure the first release kicks butt.

for the approach using `babel-plugin-istanbul` could you try not using the `--all` flag? we don't yet suppo

[2016-07-07 15:35] bcoe commented on #300
@addaleax that would be amazing, I'm in the midst of marching istanbul/nyc towards a merger so don't think I'll be able to get to this issue as quickly as I'd like.

oh, speaking of which, if you have a few moments, would love to have you run as many of your projects as possible on this branch:

https://github.com/istanbuljs/nyc/pull/303

[2016-07-07 16:06] iam4x commented on #297
Sure, the project is available https://github.com/iam4x/futureRX

The setup is pretty easy:

* `$ npm install`
* `$ npm test`

---

Tried without `--all` flag I have some weird behaviour, the table is printed twice without results:

<img width="729" alt="screen shot 2016-07-07 at 18 03 37" src="https://cloud.githubusercontent.com/assets/893837/16660120/633deb20-446d-11e6-9b89-ae9a974cf99c.png">

[2016-07-08 18:23] bcoe commented on #297
@JaKXz any thoughts about why @iam4x is bumping into this issue with `babel-plugin-istanbul`?

[2016-07-08 20:53] rickharrison opened #304 "interferes with es6 functionality"
I am currently on node v6.3.0 and have a function like this:

[code]

When I call the function, you would expect both `foo` and `bar` to equal `[]`. However, when I run a command such as `nyc mocha`, `foo` comes back as `undefined`. Is this related to nyc or is this something completely unrelated? Everything works as I expect until I run it under `nyc`

[2016-07-08 21:11] JaKXz commented on #297
@bcoe I just [tried some things that worked for me](https://github.com/JaKXz/futureRX/commit/8dbb9186bb9e82391e126dc97a7073afa82cc4f0) and I think the instrumentation info isn't being passed to `babel-plugin-istanbul`? I have a meeting right now but I can check again later tonight.

[2016-07-08 21:26] bcoe commented on #304
@gotwarlost @rickharrison this feels like it's probably a bug with `istanbul-lib-instrument`, perhaps open the issue here?

[2016-07-08 21:27] bcoe commented on #304
@rickharrison actually, mind running:

`npm cache clear; npm i nyc@next` rather than `npm i nyc`

this might already be fixed with the new changes we're about to release.

[2016-07-08 21:39] rickharrison commented on #304
Thanks for helping out. All of my tests pass now, but I get this error at the end:

[code]

[2016-07-08 21:48] #304 closed

[2016-07-08 22:05] JaKXz commented on #297
That being said, @iam4x I just caught `NODE_ENV=test` being set before you call `nyc` which means that `babel-register` won't actually call the plugins you've listed in the `env.test` section of the `.babelrc`.

I've made some progress on this branch, but I've hit some webpack errors - feel free to grab it off my remote and hack away. https://github.com/JaKXz/futureRX/tree/chore/nyc-all

[2016-07-08 22:10] kdex opened #305 "Unable to reproduce coverage"
I noticed that my (locally working) coverage reports showed up as empty on Travis, so I dug around and found #190, which should have been fixed in `nyc@6.2.1`.

Consequently, I tried to reproduce the empty report locally, so I cloned [my repository](https://github.com/kdex/map-game) to some other local directory and ran `npm test` (and unaliased variations such as `nyc ava test/**/*.js`, too).

In

[2016-07-08 23:53] bcoe commented on #305
@kdex what platform are you running on, OSX?

[2016-07-08 23:56] bcoe commented on #297
@JaKXz great work 👍 how are you feeling about the 7.x release at this point, I'm getting really close to dropping the hammer -- want to look into another issue that just opened first related to empty coverage reports.

[2016-07-09 00:09] bcoe commented on #305
@kdex I was able to get things working partially by using nyc@next directly:

[code]

rather than using `babel-plugin-istanbul`. digging into why `babel-plugin-istanbul` might have had issues.

@jamestalmage anything jump out at you?

[2016-07-09 00:26] bcoe commented on #305
Did a bit more investigation, I'm actually unable to run tests on my machine due to the error:

[code]

But ultimately, I think the path that gets passed to `babel-plugin-istanbul` has been mucked with in such a way that it gets excluded. I see this when I modify the exclude rules:

[code]

which doesn't get instrumented, because `test-exclude` ignores files outside of the current project director

[2016-07-09 00:40] JaKXz commented on #302
I think we can put this under `Great First Contribution` - to get the PR/OSS'ing snowball going :)

[2016-07-09 00:44] jamestalmage commented on #305
I haven't the slightest idea why this would be happening, but I would not be surprised to find out that `ava-jspm-loader` was involved. We are piling transforms on top of transforms here, so it seems a likely culprit. I don't think anybody on the AVA core team has really spent much time with it (I personally have no clue how it works), so your best bet is to ping @skorlir.

[2016-07-09 00:47] JaKXz commented on #297
Thanks! :')

I think `7.x` isn't blocked by anything other than that empty coverage report bug too. This issue is with a webpack setup which wasn't supported in v6 either, so I'm ok with it being in a feature release (if there's a fix needed, maybe @iam4x could help with a minimal reproduction?). I also have concerns about general performance (i.e. "it _feels_ slow but I don't think it's unbearabl

[2016-07-09 00:48] jamestalmage commented on #305
// @dak

[2016-07-09 00:58] skorlir commented on #305
The loader is easy to debug if you're thinking it's at fault. Try "AVA_JSPM_LOADER_DEBUG=1 ava" and see if any of the output that occurs right before the exception looks suspicious.

[2016-07-09 01:34] skorlir commented on #305
@jamestalmage it's worth noting that ava-jspm-loader does not apply any transforms to the code. It creates a small (<100 line) wrapper around Module._load that tries to look up a module in the SystemJS project registry before forwarding it on to the normal Node module loader. If babel-plugin-istanbul is dependent on some sort of module loading behavior that works with Node but not with JSPM (e.g.;

[2016-07-09 01:35] skorlir commented on #305
In other words: this is more likely a istanbul + jspm/systemjs interop bug than something to do with ava-jspm-loader directly.

[2016-07-09 02:14] jamestalmage commented on #305
Can you still `require('fbjs/lib/invariant')`?

[2016-07-09 02:37] jamestalmage commented on #305
Hmm.  I get an entirely different error from @bcoe

It originates from [this line](https://github.com/kdex/map-game/blob/229bce4599bf227da4f2fa5b44afe6150dec08fa/src/client/js/ClientCore.js#L1).

That's obviously not a good path into `node_modules`.

Here is the output from `ava-jspm-loader`:

[code]

[2016-07-09 02:40] skorlir commented on #305
Nested modules isn't the problem. If you *directly* install fbjs via jspm, like `jspm i npm:fbjs`, then importing fbjs directly will work fine. (Directly installing it makes JSPM add it to the SystemJS map.)

After transpilation, all imports => requires - and ava-jspm-loader intercepts calls to require and tries to load using SystemJS. If SystemJS says, "no, I don't have one of those," it forwards

[2016-07-09 02:41] skorlir commented on #305
@jamestalmage Your paths *don't* always go into `node_modules`, but sometimes into `jspm_packages` (or whatever you have named it) instead.

SystemJS clearly thinks you have installed `ws-promise-client` via JSPM, so the lookup succeeds. Check if the module path actually exists. If it doesn't, that may be because you haven't run `jspm install`.

[2016-07-09 02:44] skorlir commented on #305
Essentially the entire job of ava-jspm-loader is just redirecting certain imports to jspm_packages instead of node_modules.

[2016-07-09 02:52] jamestalmage commented on #305
I hadn't run `jspm install`, I have an accurate reproduction now (I wasn't kidding when I said I had no idea how jspm works).

[2016-07-09 02:57] skorlir commented on #305
Just think of it as an alternative to npm. SystemJS, then, is like... well, a universal module loader. It loads modules, transpiles them, supports AMD-style paths, etc, etc etc. So really JSPM is two things: 1) an alternative to npm and 2) a CLI for SystemJS so that you can build, bundle, configure, and so on from the terminal. :)

[2016-07-09 04:34] jamestalmage commented on #305
So, I was able to generate coverage using the following steps:

1. Install Prerequisites:

[code]

2. Clone the repo, install dependencies:

[code]

3. Build the `dist` dir **with the `test` environment** set

[code]

4. Run the tests

[code]

---

That we are requiring from `dist` didn't make a lot of sense to me, so I made this change:

[code]

I deleted the `dist` dir, and ran the tests again:

[2016-07-09 04:47] jamestalmage commented on #305
@skorlir
Is it common practice to precompile to a `dist` dir and load from there? Having a pre-build step seems antithetical to the whole "loader" concept. If this is a common point of confusion, perhaps the AVA recipe should be extended with just enough info to show people the separate steps they would use to actually build their `dist` dir as part of a deploy (building isn't really an AVA concer

[2016-07-09 05:37] skorlir commented on #305
@jamestalmage common practice only if you're using TypeScript, in my experience. The point of the loader is indeed to avoid having a pre-build step.

I wrote the recipe with the intention that it would encourage people to *not* prebuild before testing. In fact, I've not seen a setup before that creates a `dist/` directory? None of my projects do this, and it's not directly possible with jspm (afai

[2016-07-09 05:45] jamestalmage commented on #305
Yes, agreed. But if you're using JSPM you're almost certainly targeting the browser, and you will build at some point before pushing to the server / cdn. I am wondering if we can't somehow make it clearer what the loader is capable of, and how it eliminates this step.

[2016-07-09 05:48] skorlir commented on #305
Would it be sufficient to just say, during the preamble of the loader recipe, "The loader exists so that you don't have to build before running your unit tests"?

[2016-07-09 06:11] kdex commented on #305
@jamestalmage @skorlir Just for the record: Yes, targeting `dist` in `jspm.config.js` was only done due to the fact that the code is indeed supposed to run in browsers rather than inside tests, so I'm bound to compile these anyway. IIRC, jspm allows to compile modules on-the-fly when importing them in browsers, but that creates repeated overhead, avoidable by pre-compiling.

[2016-07-09 06:14] bcoe commented on #305
@jamestalmage I'm comfortable with the `NYC_CWD` patch, this seems like something we should take into account with the plugin.

[2016-07-09 06:42] skorlir commented on #305
@kdex as I understand it, one would ordinarily use `jspm bundle` or `jspm build` to create a single distributable file (build.js) rather than compile the files into a directory. This cuts down even more on the repeated overhead, seeing as SystemJS can then more efficiently route requests (in the event of a bundle) or you can just pull in one static file (in the event of a build). Also if you use b

[2016-07-09 06:55] bcoe commented on #305
@kdex I've published a new version of `babel-plugin-istanbul@1.0.3` with @jamestalmage's patch, seems to be  working for me.

I'm also about to publish `nyc@7.0.0` which has several improvements to ES6 instrumentation, etc.

[2016-07-09 09:25] kdex commented on #305
Thanks so much! :smile:

[2016-07-09 09:25] #305 closed

[2016-07-09 09:34] sindresorhus commented on #305
We really do... It's stuck needing a [codemod](https://github.com/avajs/ava-codemods/issues/19). It's already labeled as priority.

[2016-07-09 13:44] tleunen opened #306 "[7.0.0] Cannot read property 'start' of undefined"
I got notified of the new update of nyc 7.0.0 but I now get an error when running my tests.

[code]

Anything I should change in my setup?
My nyc config is this:
[code]
I'm also using the [coverage plugin](https://github.com/dtinth/babel-plugin-__coverage__).

[2016-07-09 14:10] tleunen commented on #306
Updating all my deps + switching from the coverage for the new istanbul plugin resolved my issue.

[2016-07-09 14:10] #306 closed

[2016-07-09 18:02] bcoe commented on #306
@tleunen awesome, let me know if you run into any more issues. merging the Istanbul and nyc project was a lot of work (lots of code changed).

[2016-07-10 06:35] gotwarlost commented on #292
I'll take a crack at this. If I get stuck I'll ping you guys for help :)

[2016-07-10 07:03] bcoe commented on #292
@gotwarlost awesome, let me know anything I can do to help -- also be liberal with opening additional tickets. I'd love to get this to the point where we're comfortable with pointing the existing Istanbul user-base at the nyc bin.

[2016-07-10 10:41] gotwarlost commented on #292
One question: how is the `addFile` method used? Is this part of the public API for `nyc`? No one calls this in `nyc` itself apart from `addAllFiles`

[2016-07-10 16:48] bcoe commented on #292
@gotwarlost looks like you're correct. we should rename this `_addFile` I think, and move it so it's nested directly below the method `addAllFiles`? -- make it stand out more as a private helper function, rather than an API method... I think we could do pass through NYC and give several methods this treatment.

[2016-07-11 05:43] #300 closed

[2016-07-11 05:54] skeep commented on #296
`BABEL_DISABLE_CACHE=1 npm t` works for me too. Looks like it's getting fixed in #303

[2016-07-11 15:21] gotwarlost opened #309 "Brain dump of istanbul - nyc deltas"
Differences and gaps in `istanbul` versus `nyc` as a brainstorm doc. We should create individual issues for these in a second pass and tag them as `now` versus `later` for the ones for which something needs to be done.

In general, the highest priority is for gaps that affect node.js projects. Browser use-cases are second class citizens for the first release.
## Technical gaps
## istanbul configur

[2016-07-11 15:23] gotwarlost commented on #309
True story. I was jet-lagged and decided to come to work early at 6:00 to work on "day job" stuff. Badge disabled after month-long vacation. No internet access. So had the chance to bang this out between 6:00 and 8:00 with no interruptions :)

[2016-07-11 21:48] graingert opened #310 "useage with mocha --watch"
How can I use nyc with mocha --watch?

When run under nyc, mocha --watch doesn't quit and so I don't ever get to see the coverage.

[2016-07-11 22:49] jamestalmage commented on #310
The coverage data gets written on process exit, so basically it's not usable for `--watch` mode.

Coverage of a watch session is fairly useless anyways.

[2016-07-12 00:04] graingert commented on #310
I figured that, but it works with karma with the coverage plugin because karma is managing the coverage status.

Is it possible to create a JS API for getting and resetting coverage snapshots, I could then call it in my mocha (or other test framework) afterAll hooks

[2016-07-12 00:05] graingert commented on #310
I'm after a new coverage result each watch cycle, not the union of all the coverages

[2016-07-12 00:43] bcoe commented on #309
@gotwarlost awesome, this gives us a great place to start working from :) let's gradually turn these into check boxes.

[2016-07-12 01:01] gotwarlost commented on #309
@bcoe - this is just a brain dump. Don't let the length of the list overwhelm you :)

My 2c, these are the must haves:

* Migration script from istanbul.yaml to nyc
* Some report config mechanism including config for watermarks (not a show stopper for release but we should start discussion now)
* Bug process
* Decisions on coverage JSON changes, if we want to make them

After that, we could maybe

[2016-07-12 01:13] jamestalmage commented on #310
Actually, it is because karma is managing the file watching and full test lifecycle. It knows when to delete coverage and start over at the beginning of a run, when to combine the collected coverage at the end of the run, etc.

NYC doesn't have that kind of insight into the underlying test lifecycle of the bins it launches.

[2016-07-12 01:39] bcoe commented on #310
Might make sense as another open source tool you run in parallel with karma and nyc. I think it might beyond our scope -- we try to be fairly tool agnostic.

[2016-07-12 01:52] jamestalmage commented on #310
I think this goes back to splitting up NYC into reusable parts. Specifically, gathering reports and combining them should be separate from the spawn-wrap instrumentation/write-on-exit bit.

With just those two things split out it would be pretty easy to write a `--coverage` flag into mocha that was lifecycle aware. AVA would probably be interested in such a feature as well.

[2016-07-12 10:14] melihovv opened #311 "Unknown coverage after update to 7.0.0"
nyc 6.6.1
![image](https://cloud.githubusercontent.com/assets/8608721/16763416/5d3af2a0-4831-11e6-94da-2c2bd1faabd3.png)

after update to nyc 7.0.0
![image](https://cloud.githubusercontent.com/assets/8608721/16763496/ab447444-4831-11e6-84fc-759a069820e4.png)

Project https://github.com/melihovv/grammar_review_tool
Windows 7 x64
node -v
v6.3.0
npm -v
3.10.3

[2016-07-12 17:35] bcoe commented on #311
@melihovv this actually looks like a bug in both cases, there should be an entry for every line for every file that's covered -- it looks like in both instances 0 files are being instrumented.

@addaleax just fixed some issues surrounding empty reports on Windows, which might relate to this.

[2016-07-12 17:42] addaleax commented on #311
Yeah, sounds a lot like it’s the same as #300. Could you manually update `node_modules/nyc/node_modules/spawn-wrap` to 1.2.4 and verify that that solves the problem?

[2016-07-12 17:58] melihovv commented on #311
@addaleax Yeah. After update spawn-wrap to 1.2.4, all is good. Thanks!

[2016-07-12 18:37] bcoe commented on #311
@addaleax awesome, I'll get a patch release out the door with this ASAP. keeping this open until I do.

[2016-07-13 11:23] hoschi commented on #299
After upgrading nyc to 7.0.0 and switching to babel-plugin-istanbul this works now :)

[2016-07-13 11:23] #299 closed

[2016-07-13 11:23] hoschi commented on #296
After upgrading nyc to 7.0.0 and switching to babel-plugin-istanbul this works now :)

[2016-07-13 11:23] #296 closed

[2016-07-13 11:31] hoschi opened #312 "Flag to show uncovered files doesn't work"
When I run
`NODE_ENV=NYCESSIX nyc --all --source-map=false --instrument=false --reporter=html --report-dir reports/coverage/ npm run test-simple`
I don't see uncovered files in generated report. Only when I run
`NODE_ENV=NYC nyc --all --source-map=true --instrument=true --reporter=html --report-dir reports/coverage/ npm run test-simple`
 these files show up in reports, as expected.

I have the sam

[2016-07-13 15:43] iam4x commented on #297
Sure, I'll be happy to help and re-create a minimal reproduction case for testing purpose instead of the big boilerplate 👍

Should I do this somewhere into `nyc` repo as a PR?

[2016-07-13 15:53] JaKXz commented on #312
As mentioned in the docs, you need to set `NODE_ENV=test` before calling `nyc`.

I also recommend moving some of that config to your package.json

[2016-07-13 16:01] JaKXz commented on #297
@iam4x a gist works well.

[2016-07-14 00:32] EvNaverniouk commented on #287
Any reason not to accept reading existing `.istanbul.yml` files? Or allowing a `--config .nycrc` option in the API?

[2016-07-14 05:06] bcoe commented on #312
@hoschi we haven't yet implemented `--all` for `babel-plugin-istanbul`, would love help! see https://github.com/istanbuljs/babel-plugin-istanbul/issues/4

[2016-07-14 05:06] #312 closed

[2016-07-14 05:24] bcoe commented on #309
@gotwarlost wonderful writeup. would love some help splitting this into tasks, and getting over the finish line (CC: @novemberborn, @jamestalmage, @JaKXz, @kentcdodds).

I'll definitely start digging in this weekend too, my kingdom for more OSS hacking time!

[2016-07-14 08:56] KarlPurk opened #314 "Issue with sourcemap file paths"
I've noticed that my sourcemap file paths are wrong in the output json file.

After a quick investigation I can see that the paths in the `globals.__coverage__` object are correct, and look like this:

[code]

However, the file paths inside the output json file are missing `nyc-test`:

[code]

In my case, the source files are written in `TypeScript` and I'm using the `ts-node` execution environmen

[2016-07-14 15:55] danez commented on #201
I have the same issue, it also happens when specifying `--reporter xunit` for mocha. nyc thinks its its reporter.
What seems to work for us is this:

[code]

[2016-07-14 16:32] JaKXz commented on #201
@danez that might actually be expected behaviour, because the `--` delimiter is what lets you pass arguments to `npm run` scripts.

@MoOx could you try [belatedly]:

[code]

[2016-07-14 16:49] danez commented on #201
I think this would supply `-s`to whatever is called in `npm test`

I think it should be:
[code]

[2016-07-15 03:23] JaKXz commented on #201
@danez passing `-s` to the `npm test` command is what I was trying to go for. The `--` delimiter is not recognized by nyc, and I don't think that line will work. It's meant for passing [different arguments to existing npm run scripts](https://docs.npmjs.com/cli/run-script).

[2016-07-15 03:26] kentcdodds opened #316 "Instrumentation issue"
On [this project](https://github.com/mzabriskie/react-example/tree/d68610f81cc48c5f4d25d2958b82ba59603d3c43) I'm getting this report:

<img width="618" alt="screen shot 2016-07-14 at 9 22 49 pm" src="https://cloud.githubusercontent.com/assets/1500684/16862713/57a48e76-4a09-11e6-8549-ccc60c5f7ce4.png">

As you can see, the first `ImportDeclaration` is apparently incorrectly interpreted as an `IfSta

[2016-07-15 03:27] JaKXz commented on #316
Using `babel-plugin-istanbul` [version...]?

[2016-07-15 03:28] kentcdodds commented on #316
Ah, yes, `babel-plugin-istanbul` version `1.0.3` (latest)

[2016-07-15 03:34] kentcdodds commented on #316
Incidentally, on that project I've configured it to use `all` [here](https://github.com/mzabriskie/react-example/blob/d68610f81cc48c5f4d25d2958b82ba59603d3c43/package.json#L63), but that doesn't seem to be working in the output. I've gotten it to work successfully [elsewhere](https://github.com/kentcdodds/starwars-names/blob/FEM/03.2-add-coverage/package.json#L34) however. I haven't had time to di

[2016-07-15 05:35] gotwarlost commented on #316
Thanks for reporting this issue. This is fixed in `istanbul-lib-instrument@1.1.0-alpha.3` via https://github.com/istanbuljs/istanbul-lib-instrument/commit/4274e38622af84ed9e2229e3dcf9a4d75ef2ec91

[2016-07-15 15:43] bcoe commented on #201
@MoOx @JaKXz I think we should definitely make nyc's parsing a bit more clever, so that it doesn't look at flags once after the bin it's instrumenting:

`nyc -f banana npm -s` should not parse `-s`, we just need to get a bit more clever with our parsing algorithm.

[2016-07-15 15:47] JimmyBoh commented on #269
Any insight as to where to begin? Is this a bug with `nyc` or `istanbul`?

[2016-07-15 15:51] addaleax commented on #269
Hm. Does this still happen with nyc 7.x.x? What Node.js version are you using? (If v6: does this happen with pre-v6 versions, too?)

[2016-07-15 15:55] JimmyBoh commented on #269
[code]

[code]

Let me update `nyc` and try again.

[2016-07-15 16:03] JimmyBoh commented on #269
Yep:
![image](https://cloud.githubusercontent.com/assets/2332163/16880607/0d722edc-4a84-11e6-8643-c4149814b62e.png)

[2016-07-15 16:03] JimmyBoh commented on #269
Maybe the map files are pointing to the source files with the wrong case?

[2016-07-15 16:13] addaleax commented on #269
It’s a long shot, but it really might be worth trying this out with Node v4. There have been changes to `fs.realpath`, which is used in the module loader, and I know that there has been some case-related Windows weirdness based on it. I think that particular issue only applied to certain kinds of drives, so it’s probably not that, but it’s the only guess I have.

[2016-07-15 16:56] JimmyBoh commented on #269
I'll test it out with older versions of node and report back. Thanks!

[2016-07-15 18:23] JimmyBoh commented on #269
Well I have no idea what was causing that:

| Node Version | Working Correctly |
|:------------:|:-----------------:|
|     4.4.7    |         ✓         |
|     6.0.0    |         ✓         |
|     6.2.1    |         ✓         |
|     6.3.0    |         ✓         |

It was probably just `nyc@6.4` with an older version of node.

I'll re-open if it occurs again.

Thanks for your suggestions!

[2016-07-15 18:25] jamestalmage commented on #309
I think this is a good idea. Would a hash of the coverage shape be too permissive? Why not just a combined hash of the transform input and output?

[code]

Maybe include both? Fail if shape of the coverage object is different (unmergeable), warn if stricter hash is different (`File XXX appears to have been instrumented using a different version / settings`)?

[2016-07-15 18:49] JimmyBoh commented on #269
Well, it just re-appeared. First within the terminal of Visual Studio Code, and now also appearing in the regular `cmd` windows as well. Is there a cache that `nyc` reads from that I should try clearing?

[2016-07-15 18:50] JimmyBoh commented on #269
Well, it just re-appeared. First within the terminal of Visual Studio Code, and now also appearing in the regular `cmd` windows as well. Is there a cache that `nyc` reads from that I should try clearing?

[2016-07-15 21:06] JimmyBoh commented on #269
From jimmyboh/bio-sim#2:

Trying that now...

[2016-07-15 21:54] JimmyBoh commented on #269
Might be an outdated version of `ava`.

Checking now...

[2016-07-16 07:57] bcoe commented on #316
@kentcdodds give:

`npm cache clear; npm i nyc@next`  a spin, should have the fix.

[2016-07-16 07:57] bcoe commented on #311
@melihovv, give:

`npm cache clear; npm i nyc@next`  a spin, should have the fix.

[2016-07-16 11:18] melihovv commented on #311
@bcoe yeah, it works.

[2016-07-16 15:08] kentcdodds commented on #316
That worked! And it also found another issue that the previous version had not:

<img width="516" alt="screen shot 2016-07-16 at 9 08 10 am" src="https://cloud.githubusercontent.com/assets/1500684/16895478/db4f983e-4b34-11e6-89a6-884562ebea00.png">

Before, it didn't show I hadn't covered that `else` yet 👍

[2016-07-16 17:09] #316 closed

[2016-07-16 17:09] #311 closed

[2016-07-16 19:00] gotwarlost commented on #316
@kentcdodds - even the previous version would have _computed_ that multiple `else`-s weren't covered but it was plastering all the indicators one on top of another at the top of the report :)

[2016-07-16 19:06] kentcdodds commented on #316
Oh, that makes sense now. Cool!

[2016-07-17 16:32] bcoe opened #319 "add support for low and high watermarks"
see: https://github.com/istanbuljs/nyc/issues/309

_low and high watermarks for reporting low|medium|high coverage. Affects report colorization etc._

CC: @gotwarlost

[2016-07-17 17:07] bcoe opened #320 "document migrating from istanbul to nyc configuration"
see https://github.com/istanbuljs/nyc/issues/309

## Open Questions

* should we support both the `nyc` and the `istanbul` configuration key in package.json (it's a bit confusing for folks using libraries like [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul/issues/9) that they need to set an nyc stanza).
  * I could see the other argument, _whatever_, `nyc` is the name

[2016-07-17 17:16] #297 closed

[2016-07-17 17:20] bcoe commented on #309
@istanbuljs/nyc I've created a milestone for moving towards an Istanbul 1.0 release (as it relates to nyc):

https://github.com/istanbuljs/nyc/milestone/2

@gotwarlost feel free to add additional issues here, and stack rank them as you see fit; others should feel free to grab any off the stack that they're interested in working on.

## tldr;

A few of the issues listed in this brain dump, largely

[2016-07-17 17:28] JimmyBoh commented on #269
I've done some research, and this is definitely a bug, but _where_ the bug exists depends on your perspective.

**Summary of the Issue:** On Windows files are being reported twice, with duplicates having zero coverage. _This only occurs when the `--all` flag is specified!_

**Within `nyc`:**
If you do not specify the `--all` flag then everything works fine. Files are loaded based on which tests ar

[2016-07-17 17:32] novemberborn commented on #320
That would definitely help communicate any breaking changes.

[2016-07-17 17:32] addaleax commented on #269
Aaaah, right, nodejs/node#6624 was what I had in mind… thanks for the digging!

[2016-07-17 17:33] bcoe commented on #269
@JimmyBoh great digging! sounds like something that would be worth patching in Node itself potentially -- the danger with istanbul getting overly creative, e.g., down-casing, is that it could break case-sensitive file-systems.

Let's keep this open and track https://github.com/nodejs/node/issues/6624

[2016-07-17 17:34] bcoe commented on #292
@gotwarlost this is out the door \o/

[2016-07-17 17:34] #292 closed

[2016-07-17 17:39] JimmyBoh commented on #269
@bcoe Thanks! I agree that this should be patched on Node itself, but it seems like they are hesitant to change it for backwards compat.

My change doesn't force any particular case, just overrides the provided absolute path to use the internally specified path (`this.cwd`).

[2016-07-17 17:42] bcoe commented on #287
closing in favor of: https://github.com/istanbuljs/nyc/issues/320

[2016-07-17 17:42] #287 closed

[2016-07-18 19:23] rundef commented on #314
Hey,

I was having the same problem as you. After some investigation, I've located the problem down to this line -> https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L101 - basically ts-node compiles the code into a **temp** directory, so the source maps URLs are relative to that temporary directory - and that's why the sourcemap file paths are wrong when using nyc.

I just sent a pul

[2016-07-18 21:46] dpogue commented on #320
Possibly outside the scope of this particular discussion, but a document outlining API changes would be helpful. I'm interested in getting karma-coverage ported to the new istanbul API to resolve some long-standing sourcemap issues.

[2016-07-19 15:57] KarlPurk commented on #314
Nice find @rundef, thanks!

[2016-07-19 18:22] ben-eb opened #323 "Weird behaviour with branch coverage?"
I'm experiencing an issue where the coverage seems to be reported incorrectly.

<img width="691" alt="screen shot 2016-07-19 at 19 16 45" src="https://cloud.githubusercontent.com/assets/1282980/16961497/ad44d7b6-4de5-11e6-955b-e65eecc4b48c.png">

If you would like to reproduce this, this PR exhibits the problem; https://github.com/ben-eb/midas/pull/12

I'm using the latest `nyc` with `babel-plugin

[2016-07-20 03:34] matheuss opened #324 "Reporting never ends with mock-fs"
I've seen #246 and #205. Both are closed, but I'm facing this issue right now 😩

![screen shot 2016-07-20 at 12 15 13 am](https://cloud.githubusercontent.com/assets/4721750/16974159/0d9af8d2-4e10-11e6-821e-83b2069ae9a2.png)
Notice the `^ C`.

My code: https://github.com/matheuss/hpm/blob/master/test/test.js

[2016-07-20 05:13] bcoe commented on #324
@matheuss the last two times that we fixed this, it related to bundling using `npm@v2` vs. `npm@v3`; since we now have significantly larger dependencies, I'd rather solve the problem for real and take advantage of de-duping.

any help that anyone can provide debugging this gnarly bug, would be greatly appreciated! CC: @novemberborn, @jamestalmage, @addaleax:

1. bundling with `npm@v2` (nested depe

[2016-07-20 13:12] matheuss commented on #324
I'm using [HyperTerm](https://hyperterm.org/) and it is, **sometimes** when I run `nyc ava`,  telling me this:

<img width="706" alt="screen shot 2016-07-20 at 10 03 57 am" src="https://cloud.githubusercontent.com/assets/4721750/16987330/067df62e-4e62-11e6-950b-c0fbb11db060.png">

And opening iTerm, i found this:

[code]

I think that in #205 or #246 i saw something about [`foreground-child`](http

[2016-07-20 14:36] addaleax commented on #324
That last one looks like a race condition in the file watcher or in HyperTerm.

[2016-07-20 17:21] addaleax commented on #324
[code]

should fix it, at least for your test case.

And yeah, sorry, but I don’t think this is something related to `nyc`’s dependency tree or even just something `nyc` can do anything about. `mock-fs` hooks into the `fs` module from core in a pretty invasive way, that is pretty much impossible to work around from `nyc`’s side.

There are two solutions for working with `mock-fs` that I can think

[2016-07-20 19:10] matheuss commented on #324
Thanks @addaleax! Fixed for me! Never thought of that.

Now with the solution and with what you say, makes sense to state that is not something from `nyc`. `mock-fs` indeed change `node` and we cannot prepare for this.

This is absolutely necessary. I'll submit a PR.

[2016-07-20 19:10] #324 closed

[2016-07-20 20:40] jamestalmage commented on #324
If someone wanted to take the time to implement https://github.com/tschaub/mock-fs/issues/142, that would solve a lot of headaches as well.

[2016-07-21 04:35] gotwarlost commented on #320
We are again in a place that is neither here nor there :) We now have low level libs like `istanbul-lib-coverage`, `istanbul-lib-source-map` etc. but `nyc` doesn't use the `istanbul-api` mid-level API.

For that reason, I'm reluctant to make `istanbul-api` a first-class citizen and just let people use the lower level libs. Docs for those are sorta-kinda present as JS doc but not yet published anyw

[2016-07-21 04:53] gotwarlost commented on #320
Previous comment was in reply to @dpogue - now trying to address the main issue.

I think if `nyc` does not respect the istanbul config any more, we should just drop it replacing it with whatever `nyc` allows for configuration. We might need to add some knobs in `nyc` to support watermarks and other reporting config.

Now, the `nyc` stanza becomes _the_ config for istanbul. We might want to read t

[2016-07-21 05:09] gotwarlost commented on #323
I believe this bug was fixed via https://github.com/istanbuljs/istanbul-lib-instrument/commit/4274e38622af84ed9e2229e3dcf9a4d75ef2ec91 - could you make sure you are using `istanbul-lib-instrument@1.1.0-alpha.3`

[2016-07-21 05:48] JaKXz commented on #323
@gotwarlost: this issue is with `nyc@next`:`7.1.0-candidate2` I believe. see: https://github.com/istanbuljs/nyc/blob/master/package.json#L85 unless db257cd0b605fccb48d7a27876d0df5131ccabae hasn't been deployed to `@next` yet, @bcoe?

[2016-07-21 15:16] BenoitAverty opened #325 "Reporting failure with class defined inside a function"
I have a very strange behavior when using nyc.

Here is the script inside my package.json :
`cross-env BABEL_ENV=test nyc --reporter=lcov mocha --compilers js:babel-core/register --recursive`

And here is a bit of my tested code;

[code]

When I run my tests using this code, it fails for obvious reasons (I export a dummy function instead of the "connect" function). When I replace the last line wit

[2016-07-21 15:50] gotwarlost commented on #325
I'm going to bet that the problem is here (this piece of logic was cribbed from remap-istanbul and I think it leads to `null` weirdness).

https://github.com/istanbuljs/istanbul-lib-source-maps/blob/master/lib/transformer.js#L42-L49

@BenoitAverty - could you please run a quick test for us? Remove those lines from the source map library installed under node_modules of your app and see if things im

[2016-07-21 16:30] ben-eb commented on #323
Yeah, I'm using the correct version of `istanbul-lib-instrument`.

<details>
  <summary>Relevant `npm ls` tree</summary>
[code]
</details>

[2016-07-21 16:34] BenoitAverty commented on #325
Thanks for the quick reply. Unfortunately your test does not seem to improve my situation. I commented out all the highlighted lines you provided and it didn't change the error message. I also commented out the lines above just to try and make it fail differently but no change.

[2016-07-22 11:50] BenoitAverty commented on #325
The issue seems to be present in NYC 6 too.

[2016-07-22 11:52] BenoitAverty commented on #325
some more weird stuff :
This doesn't trigger the error
[code]

But this does :
import React from 'react';

const connect = () => (Component) => {
  class ConnectedComponent extends React.Component {
    render() {
      return <Component {...this.props} />;
    }
  }

  // function ConnectedComponent(props) {
  //   return <Component {...props} />;
  // }

  return ConnectedComponent;
};

export d

[2016-07-24 15:01] helloyou2012 opened #329 "filepath bug with nyc & mocha & babel-register@6.11.5"
- `nyc@7.0.0`
- `mocha@2.4.5`
- `babel-register@6.11.5`

In `.nyc_output` json file content, file path should `nyc-mocha-chai/src/index.js` but `nyc-mocha-chai/src/src/index.js`.

Demo: https://github.com/d-band/test-boilerplates/tree/master/nyc-mocha-chai

[2016-07-24 17:50] #99 closed

[2016-07-24 17:54] #269 closed

[2016-07-25 12:02] ntwb opened #331 "NYC 7.1.0 has not been published to NPM correctly"
I can see the 7.1.0 tag at https://github.com/istanbuljs/nyc/releases/tag/v7.1.0 and:
* "bcoe tagged this 18 hours ago"

And https://www.npmjs.com/package/nyc
* `bcoe published 18 hours ago`
* `7.1.0-candidate3 is the latest of 81 releases`

[2016-07-25 12:56] kripod commented on #329
Same for me, and things get even worse when I have a `test` directory with multiple test-containing folders in it which import from `./../[../]src`.

[2016-07-25 13:22] kripod commented on #329
Using `babel-plugin-istanbul` has magically solved my problem.

[2016-07-25 15:52] bcoe commented on #331
@ntwb accidentally published to `latest` rather than `next`, `7.1.0` is now published.

[2016-07-25 15:52] #331 closed

[2016-07-25 21:57] ejmurra opened #332 "Typescript to coveralls?"
I'm having trouble sending my coverage report to coveralls because the lcov-text reporter reports that my files are in `/source/<filename>` when in reality they are in `./src/<filename>`.

I'm using ava as a test runner and gulp to transpile typescript code in `src` into `dist` with sourcemaps and then importing the modules from `dist` in my test files.

When I run `nyc ava` it follows my code cor

[2016-07-25 22:04] ejmurra commented on #332
Sorry, just realized this was an issue with gulp-sourcemaps not nyc

[2016-07-25 22:04] #332 closed

[2016-07-25 22:21] ntwb commented on #331
That bcoe 👍

[2016-07-25 22:48] kentcdodds opened #333 "--all not reporting coverage for all files."
[Here's an example](https://github.com/kentcdodds/starwars-names/tree/FEM/09.0-community). I've dug through the nyc code locally for over an hour and can't quite figure out what's going on, but if I add a file called `foo.js` in the `src` directory, it doesn't appear in the report :-( Any ideas?

[2016-07-25 23:22] SparserLogic commented on #329
I fixed it by turning off the instrumentation and source maps with the following flags:

`nyc --source-map=false --instrument=false`

[2016-07-25 23:46] saadtazi commented on #329
Same issue here: see [travis-ci](https://travis-ci.org/saadtazi/until-promise/jobs/147329164). Works well locally on my Mac (clean npm install + same node version).

node 6.3.1, npm 3.10.3
nyc 7.1.0

[2016-07-25 23:47] edmundito commented on #329
I am just setting up nyc for the first time (7.1.0) and I am running into the same issue.

@kripod I've tried adding `babel-plugin-istanbul`, but then I get:

[code]

Using the latest babel-register as well. npm 2.15.18

[2016-07-25 23:52] saadtazi commented on #329
Ok, I am on something: I forced some package versions, and I have it back to green:

working branch: https://github.com/saadtazi/until-promise/tree/fix-coveralls
diff: https://github.com/saadtazi/until-promise/compare/fix-coveralls?expand=1

`COVERALLS_SERVICE_NAME=local COVERALLS_REPO_TOKEN=g5vwMBJ6cPFrKnoeUUxen7EuXbaGkJfQ0 npm run ci`

I'll try to narrow down which combination of package(s) is c

[2016-07-26 00:24] neighborhood999 opened #334 "After running can't not run coverage"
See: https://travis-ci.org/neighborhood999/redux-saga-boilerplate/jobs/147156659

I use ava running test, and use nyc calculate code coverage, but always have this problem...

[code]

[2016-07-26 00:41] bcoe commented on #329
@gotwarlost seem to have this cropping up more after a recent release, anything jump out at you?

[2016-07-26 00:53] bcoe commented on #314
@KarlPurk @rundef this is now fixed for you?

[2016-07-26 01:48] #334 closed

[2016-07-26 01:49] saadtazi commented on #329
With my project [until-promise](https://github.com/saadtazi/until-promise)
* babel-register 6.11.5 + nyc 6.6.1 : crashes
* babel-register 6.11.5 + nyc 6.2.1 : crashes
* babel-register 6.7.2  + nyc 6.2.1 : works
* babel-register 6.7.2  + nyc 6.6.1 : works

I did a `rm -rf node_modules` between each tests

[2016-07-26 01:55] JaKXz commented on #333
@kentcdodds just guessing, would using a glob in `include` be better? I usually do `src/**` but I'm not sure if it's actually different.

[2016-07-26 02:07] bcoe commented on #329
@saadtazi so things are now working properly on the newest version of nyc?

[2016-07-26 02:14] saadtazi commented on #329
It seems like an update to `babel-register` (between 6.7.2 and 6.11.5) is causing the issue. Let me try with `babel-register 6.11.5 + nyc 7.1.0`...

[2016-07-26 02:19] saadtazi commented on #329
It might worth mentioning that I have the following `nyc` config in my package.json:

[code]

[2016-07-26 03:38] edmundito commented on #329
I tried a few things, but the only thing I can confirm that it works with updating all the way to babel-register 6.9.0 (and having the rest of the babel dependencies up to date).

It has to be one of the 2 changes introduced over the weekend:
https://github.com/babel/babel/commits/master/packages/babel-register

[2016-07-26 05:44] bcoe commented on #333
@kentcdodds `--all` isn't working with `babel-plugin-istanbul` currently:

https://github.com/istanbuljs/babel-plugin-istanbul/issues/4

would love to figure out a good approach for this.

[2016-07-26 06:56] kripod commented on #329
@edmundito I got it working with the configuration below.

package.json:

[code]

.babelrc:

[code]

[2016-07-26 10:57] saadtazi commented on #329
Kudos to @JaKXz , he [fixed my setup](https://github.com/saadtazi/until-promise/pull/3/files) and everything is working now! Long story short, and like @kripod mentionned, using `babel-plugin-istanbul` solves the problem.

[2016-07-26 11:52] rundef commented on #314
Yep, it works fine with the latest version of **ts-node** and **nyc**

[2016-07-26 18:30] KarlPurk commented on #314
Yes, it's working for me too. 👍

[2016-07-26 18:30] #314 closed

[2016-07-26 22:18] danez commented on #329
babel-register 6.11.6 was just released, which reverted the commit that caused the problem. Sorry guys for the troubles.

[2016-07-27 06:52] aureooms commented on #329
Works for me now.

[2016-07-27 09:07] helloyou2012 commented on #329
Problem solved. There are two ways:

1. Using `babel-register@6.11.6`
2. Using `babel-plugin-istanbul`

[2016-07-27 09:07] #329 closed

[2016-07-29 23:46] marlun opened #336 "Can I report only to terminal (no coverage folder)?"
How can I report only to the terminal and not create any coverage folder?

[2016-07-30 10:02] BenoitAverty commented on #325
Could be related to istanbuljs/babel-plugin-istanbul#22

[2016-08-01 19:13] bengl opened #337 "execArgv not being interpreted correctly"
It appears as though when `tap` passes `process.execArgv` params into `nyc`, they aren't being used correctly when spawning.

For example, with a fresh clone of https://github.com/isaacs/node-glob, I ran:

[code]

On node 6.3.1, this produces the following error:

[code]

Tap sends `process.execArgv` to `nyc` via command-line args [here](https://github.com/tapjs/node-tap/blob/f068025a2b2f49c70b4ee

[2016-08-01 19:14] bcoe commented on #337
@bengl what version of nyc are you bumping into this issue on?

[2016-08-01 19:15] bcoe commented on #336
@marlun mind sharing the command that you're using to run `nyc`?

[2016-08-01 19:18] bengl commented on #337
@bcoe `nyc@6.6.1` and `tap@5.8.0`

[2016-08-02 06:00] GarthDB opened #338 "Not returning the correct path to tested files"
Running nyc on [my project](https://github.com/topmarks/topmark-scrollspeed) the mocha tests of the `src` directory:

[code]

but the .nyc_output files have the wrong paths in the data (it adds an extra `src` directory in the path:

[code]

[2016-08-03 16:39] drawnepicenter commented on #338
I have the same issue:

    src
    ├── cmds
    │   ├── acronym.js
    │   ├── anagram.js
    │   ├── comp.js

but my output is `src/cmds/cmds`.

As a workaround I've been fixing my lcov report with sed before submitting to coveralls/codeclimate.

[2016-08-03 16:43] bcoe commented on #338
@GarthDB @drawnepicenter this looks like a similar issue to this:

https://github.com/istanbuljs/nyc/issues/329

Could you make sure you're running the most up-to-date version of babel-register, and let me know if the problem persists.

[2016-08-04 01:51] GarthDB commented on #338
Thanks @bcoe - that clears it up for me.

[2016-08-04 01:51] #338 closed

[2016-08-04 18:19] chalda opened #339 "2 json files generated in .nyc_output"
Hi,
I am trying to switch from babel-istanbul + mocha to nyc + mocha to improve test coverage (specifically for branches).

So I can do "html" reporter  and that works fine, but if i add lcov as a reporter i get:
nyc/node_modules/istanbul-reports/lib/lcovonly/index.js:32
        writer.println('FN:' + [meta.decl.start.line, meta.name].join(','));
                                         ^

TypeErr

[2016-08-04 18:29] chalda commented on #336
i think a .nyc_output is generated no matter what from what I understand so far. you could probably chain a rimraf (node rm -rf alias) to the end to delete it after the test/coverage runs.

[2016-08-04 19:21] JaKXz commented on #339
Thanks for the report @chalda, can you provide a minimal reproduction in a gist or repo?

[2016-08-04 20:14] bcoe commented on #339
@JaKXz @chalda a reproduction would be great, it is probably an issue similar to this:

https://github.com/istanbuljs/istanbul-lib-instrument/pull/16

nyc creates a JSON file for each sub-process that it monitors, so it's not unusual to see multiple files in `.nyc_output`.

[2016-08-05 14:35] chalda commented on #339
ill try to export the minimum to recreate the issue with my configuration will take a bit since I need to crop out all client related code :)

[2016-08-05 14:35] chalda opened #340 "text summary + % coverage reported, HTML report broken"
So I feel like I have the nyc running correctly with mocha/babel i am getting better coverage reports then prior setup with babel-istanbul.

Statements   : 84.39% ( 1871/2217 )
Branches     : 61.06% ( 218/357 )
Functions    : 91.5% ( 506/553 )
Lines        : 84.4% ( 1867/2212 )

<img width="1076" alt="screen shot 2016-08-05 at 10 34 15 am" src="https://cloud.githubusercontent.com/assets/1203046/17

[2016-08-05 17:03] bcoe commented on #340
@chalda this sounds like a similar class of problem to:

istanbuljs/istanbul-lib-instrument#16

CC: @gotwarlost

I'll work on cutting a new release of nyc this weekend, and hopefully we can address your problems. As in #339, if you could get us a reproduction case it would be wonderful.

[2016-08-05 17:10] chalda commented on #340
@bcoe yup working on it. fairly large project so trying to isolate a bare minimum of the code necessary to run through the setup.

[2016-08-05 19:40] chalda commented on #339
https://github.com/chalda/nyc_babel_mocha_coverage_bug also works for #340. might be the same bug :)

[2016-08-05 22:22] JaKXz commented on #339
@chalda could you update your example to use the instructions in the README?

[2016-08-09 11:55] radhikakhetan opened #342 "Nyc integration with Gulp"
When I do **nyc npm test**  , it is failing with the error no GruntFile found. But I am using Gulp in my repo. How can I integrate it with gulp for getting the coverage ?

[2016-08-12 04:53] pjangam opened #346 "Can not use custom reporter for mocha"
I am using command `nyc --all node_modules/mocha/bin/_mocha -- test --reporter mocha-allure-reporter` from command line. Please let me know if I am doing anything wrong.
Command works when I remove `--reporter mocha-allure-reporter` which works with mocha independently.

[2016-08-12 06:22] #342 closed

[2016-08-12 06:22] bcoe commented on #339
@chalda mind giving the next release of nyc a spin?

`npm cache clear; npm i nyc@next`

It should have fixes for this bug you were seeing, let me know and if so I'll close this ticket.

[2016-08-12 06:23] bcoe commented on #340
@chalda mind also checking if `nyc@next` solves this issue for you:

`npm cache clear`, `npm i nyc@next`

[2016-08-12 17:12] bcoe commented on #342
@radhikakhetan you got things sorted out?

[2016-08-13 22:48] JaKXz opened #351 "nyc@8 tries to instrument test.js when no include or exclude specified"
compare https://github.com/JaKXz/type-convert/pull/2 with the master branch.

Looks like a bug to me @bcoe since there isn't any `include` or `exclude` specified in my `nyc` stanza and nyc@7 didn't try to instrument the `test.js` file.

[2016-08-13 23:51] bcoe commented on #351
Hey @JaKXz interesting, it should default to https://github.com/istanbuljs/test-exclude/blob/master/index.js#L73

would love your help debugging.

[2016-08-14 01:34] #337 closed

[2016-08-14 02:01] bcoe commented on #351
@JaKXz found the culprit; we serialize to subprocesses as a comma separated environment variable; our globs have a comma so this logic broke things.

[2016-08-14 07:53] #351 closed

[2016-08-15 04:44] bcoe opened #356 "testing the new issue template"
_reporting a bug? please follow the template detailed below._

## Expected Behavior

## Observed Behavior

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information

**Operating System:** _the operating system you observed the issue on._
**Environment Information:** _information abou the enviornment you're running on, simply run the script below:

[code]

[2016-08-15 04:45] #356 closed

[2016-08-16 00:51] JaKXz commented on #346
I suggest using a [`mocha.opts`](https://mochajs.org/#mochaopts) file.

Also, with `nyc`, you don't need to use the `_mocha` executable which exposes some coverage information, the plain `mocha` executable will be fine. See: https://github.com/saadtazi/until-promise/issues/3

There's also a discussion on this in the [gitter](https://gitter.im/istanbuljs/nyc) channel.

[2016-08-16 03:15] bcoe commented on #346
@pjangam I think you can do something as simple as this:

`nyc --all node_modules/mocha/bin/_mocha -- test --reporter mocha-allure-reporter`

Let me know if you run into any issues.

[2016-08-16 07:56] isaacs opened #357 "100% branch coverage misreported as 99.6%"
This is probably a bug somewhere in Istanbul, but I'm not sure where.  Apologies for posting here, but I'm not too familiar with the actual test coverage bits of nyc or how they work.

Here's a test coverage report: http://static.izs.me/tap-parser-coverage/

As you can see from the html output, it seems like every branch in the file is traversed.

## Expected Behavior

100% branch coverage, or som

[2016-08-16 08:14] pjangam commented on #346
Thank you @JaKXz and @bcoe for inputs. I have started using  mocha.opts file for now. I will surely see difference in mocha and _mocha.
@bcoe What you replied with is exactly my command and I get

on it.
See error stack in attachment.
[errorStack.txt](https://github.com/istanbuljs/nyc/files/419786/errorStack.txt)

[2016-08-16 16:32] isaacs commented on #357
More data, if it helps:

http://static.izs.me/tap-parser-coverage/.nyc_output/
http://static.izs.me/tap-parser-coverage/coverage/

[2016-08-16 18:49] JaKXz commented on #357
@isaacs I'm seeing an indication of the `try/catch` statements not being covered:

![screenshot 2016-08-16 14 44 41](https://cloud.githubusercontent.com/assets/2642545/17711515/ff6df1b8-63bf-11e6-8a9a-72e8e446761e.png)

but, it's supposed to be ignored... interesting. @gotwarlost is there an istanbul comment for disabling between two lines?

[2016-08-16 19:25] BenoitAverty commented on #325
Fixed (related to istanbuljs/babel-plugin-istanbul#22)

[2016-08-16 19:25] #325 closed

[2016-08-17 00:39] isaacs commented on #357
Aha!  @bcoe spotted the issue.  There was a `|| true` that wasn't being traversed.  The yellow highlight was impossible for me to see.

Maybe there's a feature request buried here, for the istanbul html reports to provide some kind of fast way to jump to any highlighted areas?

[2016-08-17 00:40] isaacs commented on #357
The offending line was here: https://www.dropbox.com/s/fegvzoc8o6ikpye/Screenshot%202016-08-16%2017.40.28.png?dl=0

[2016-08-18 10:52] chielkunkels opened #359 "Unable to lookup source"
Hi, I'm having an issue where nyc's html report doesn't properly compute/lookup the files' paths, resulting in the source not being viewable within the report.
## Expected Behavior

nyc should determine the path correctly
## Observed Behavior

nyc doesn't calculate the file path from a common base directory
## Forensic Information

I first compile my source code with `gulp-babel`, in my package.js

[2016-08-18 11:17] chielkunkels commented on #359
In the interest of full disclosure, here's the part of my `gulp-babel` task that does the magic:

[code]

[2016-08-18 11:23] chielkunkels commented on #359
Okay so, if I don't use gulp-babel, but instead use the babel cli (`babel -d dist src`), then run tests and generate coverage - the coverage report is correct, but the sourcemaps in my actual application no longer work.

[2016-08-18 13:21] chielkunkels commented on #359
I know also tried using `gulp-sourcemaps` instead of babel's `sourceMap: 'inline'` option. My task now looks like this:

[code]

Then ran `nyc ava` && `nyc report --reporter=html` again. While this does change the output slightly, now I get the following error:

```Unable to lookup source: /source/app/actions/gameThumbnail.js(ENOENT: no such file or directory, open '/source/app/actions/gameThumbna

[2016-08-22 22:01] kennetpostigo opened #360 "nyc/istanbul key"
Hey,

I'm using istanbul to check code coverage on a library I'm working on. I keep getting this "E" icon all over the coverage report and I'm not sure what they mean. I thought maybe it means that I'm not testing for a case where a branch may be true or false but I am checking for this case and The "E" icon continues to appear.
The Icon seen in the image below.
<img width="269" alt="screen shot 2

[2016-08-22 22:08] JaKXz commented on #360
If you mouseover the `E` the tooltip should tell you what the problem is :)

[2016-08-22 22:11] kennetpostigo commented on #360
@JaKXz it says "else path not taken". Still not really sure what that means. Else path of a current test not taken. Or If the tests don't ever hit that path?

If thats the case than I'm certain its wrong because I added a log statement and the branch gets hit in a test.

[2016-08-22 22:45] JaKXz commented on #360
It means you haven't covered what happens when you have a list with `length > 1` and `this.tail` is falsy.

[2016-08-22 23:15] #360 closed

[2016-08-23 05:32] bcoe commented on #359
@chielkunkels hey, sorry that it took me a little while to file this bug; I was on a brief OSS vacation 🚶

Don't suppose you could point us at a snippet of code, or the underlying repo that's causing this bug?

[2016-08-23 06:40] chielkunkels commented on #359
@bcoe no problem! Hope you had a good one.

Here's the repository at least with my gulp tasks: https://github.com/PokiBV/gulp-tasks-poki

I'll whip up a quick repo that reproduces the bug, I'll get back to you with that soon.

[2016-08-23 07:14] chielkunkels commented on #359
Alright here we are: https://github.com/chielkunkels/nyc-issue

So simply clone, `npm install`, `gulp`, `npm test` and `npm run coverage`, this will generate the `coverage` directory, if you open that and check out `add.js`, you'll see the error I described above.

Hope this helps, please do let me know if you have more information or if you want me to try certain stuff, I'm happy to help get to t

[2016-08-23 23:55] JaKXz commented on #357
So this can probably be closed and a new issue can be opened in the reporter library to be a little clearer, right?

[2016-08-24 16:08] bcoe commented on #357
@isaacs feel free to reopen, sounds like this was more of a UX issue than an underlying instrumentation error -- might be worth opening an issue on istanbuljs/reports on the topic of contrast.

[2016-08-24 16:08] #357 closed

[2016-08-24 18:49] jeffijoe commented on #320
I think we should definitely have a `.nycrc` - embedding the nyc config in the package.json feels wrong to me. It makes sense that e.g. `babel-plugin-instanbul` supports nyc options in the `.babelrc`, and they should take precedence over the values in `.nycrc`. Deep merge perhaps? Babel does it.

[2016-08-24 18:49] jeffijoe commented on #208
@novemberborn that's what I am thinking, too - but **Nail Your Coverage** could work, too.

[2016-08-24 18:51] jeffijoe commented on #156
It seems this does not work for the  `--reporter` option - the values in `package.json` always seem to win for me?

[2016-08-24 21:16] isaacs commented on #357
Yeah, definitely!  I'll re-open it there.

[2016-08-25 14:29] PatrickHeneise opened #367 "Transformation error for /node_modules/nyc/node_modules/istanbul-lib-instrument/dist/index.js ; return original code istanbul.createInstrumenter is not a function"
## Expected Behavior

`npm test` should show test results

## Observed Behavior

Since `nyc 8.1.0`,  Thousands of lines of

[code]

## Forensic Information

**Operating System:** MacOS, Ubuntu (travis-ci.com)

[code]

[2016-08-25 14:38] PatrickHeneise commented on #367
No issues with `nyc 7.1.0`

[2016-08-25 16:41] bcoe commented on #367
@PatrickHeneise are you using a custom `exclude` configuration for your library? In `8.0.0`, we stopped adding `node_modules` to exclude by default, so you will need to add this entry, at which point you should stop seeing this.

[2016-08-25 19:26] ksmithut commented on #367
I can confirm that adding `"node_modules"` to the config fixed this for me

[2016-08-25 23:09] bcoe commented on #367
@PatrickHeneise let me know if this can be closed out :)

[2016-08-26 08:55] PatrickHeneise commented on #367
Awesome, thanks!

[2016-08-26 08:55] #367 closed

[2016-08-27 23:40] rmg opened #370 "Feature: rename/suppress path root"
I love the `text` summary output, but it doesn't work so well with 2 cases I run into frequently.

### super long package names

[code]

### paths that are hash package name and environment (CI)

[code]

I'm not sure why the paths are reported relative to `..` instead of `.`, but it would be nice if that could be overridden.

[2016-08-29 02:25] ELLIOTTCABLE opened #371 "Coverage for dynamically-generated code"
So, I've got a bit of an unusual situation: I have _generated_ code, that I want to cover. (And to boot, it's all being passed through Babel.)

This normally wouldn't make sense; but my code is ‘generated’ only by exclusion: a file is read in (and passed through Mustache of all things … don't ask), and then blocks of code are contextually removed from it. This is all exhaustively tested in a gener

[2016-08-29 08:48] joncursi opened #372 "CircleCI Coverage Artifacts"
How might one edit their `circle.yml` file to enable the upload and viewing of HTML coverage results after the test suite runs? Is this currently possible?

[2016-08-29 14:01] alexjeffburke opened #373 "TypeError on nyc report --reporter=lcov (8.1.0)"
## Expected Behavior

An lcov report generated without error on the console.
## Observed Behavior

Running `nyc report --reporter=lcov` seems to generate report output files but I then receive the TypeError as listed in the stack trace below.
## Forensic Information

nyc version 8.1.0

/XXX/node_modules/nyc/node_modules/istanbul-reports/lib/lcovonly/index.js:32
        writer.println('FN:' + [meta

[2016-08-29 15:04] erikras opened #374 "Constructors not covered 😦"
## Expected Behavior

The constructor of a class `new`'d many times in tests should be considered covered.

## Observed Behavior

![branch](https://cloud.githubusercontent.com/assets/4396759/18055712/39ec0070-6e09-11e6-9cc5-17b1112f5e1a.jpg)

## Bonus Points! Code (or Repository) that Reproduces Issue

I first noticed it here: https://github.com/erikras/redux-form

## Forensic Information

**Opera

[2016-08-29 17:16] Gudahtt commented on #374
I've encountered the same issue using istanbul version `1.0.0-alpha.2` - I was about to try switching to `nyc`, but it looks like the same problem exists here too. It looks like `babel-istanbul` is having similar issues as well: https://github.com/jmcriffey/babel-istanbul/issues/72

This started occuring around the same time as the Babel 6.14.0 release, late last week.

[2016-08-29 17:27] JaKXz commented on #372
@joncursi this is possible with the `lcov` or `html` reporters:

[code]

[2016-08-29 17:27] #372 closed

[2016-08-29 23:15] Gudahtt commented on #374
Sorry for the intrusion; it turns out the errors that I experienced were different in some way. I switched to `nyc` and they were gone. The similarity is still curious though - the problem was identical.

I was able to reproduce the error with `redux-form`. I was also able to solve it, by installing `babel-plugin-istanbul` and using that when generating the coverage report.

I had to adjust `.babe

[2016-08-30 22:15] bcoe commented on #374
@erikras as @Gudahtt indicates, make sure you add:

[code]

to your package.json, I've tested with both native ES6 and babel, and in  both cases the branch of the constructor was covered, my package.json looks like this:

[code]

[2016-08-30 22:15] bcoe commented on #373
@alexjeffburke could you link me to a repo, or snippet of code that is running into this issue?

[2016-08-30 22:16] bcoe commented on #371
Hey @ELLIOTTCABLE have been away for a few days on vacation, but will start digging into this for you soon; if no one beats me to the punch.

[2016-08-30 22:17] ELLIOTTCABLE commented on #371
@bcoe Never apologize for having a life outside of programming.

This is non-critical for me; even this much attention is impressive. Take your time. <3

[2016-08-31 15:15] chielkunkels commented on #323
I seem to be having a similar issue:

![screen shot 2016-08-31 at 17 14 48](https://cloud.githubusercontent.com/assets/141643/18134386/7b4ae9e6-6f9e-11e6-8423-452e64e20b6f.png)

<details>
  <summary>Relevant `npm ls` tree</summary>
[code]
</details>

[2016-08-31 15:41] ben-eb commented on #323
I believe this is fixed since nyc `8.0.0`, running nyc on the same file for me yields the branch coverage in the correct place. 👍

@chielkunkels What happens if you use version 8 instead?

[2016-08-31 15:42] bcoe commented on #323
@chielkunkels mind opening this as a new issue, and if possible providing a project that we can run which has the undesired branch coverage?

[2016-08-31 15:42] #323 closed

[2016-08-31 15:56] chielkunkels commented on #323
@ben-eb I am using 8.1.0, so you'd think it'd be fixed there too.
@bcoe I'm running into this issue in a repo for work at the moment so I can't share that, and it doesn't happen on all files, but I can check if I have some time tonight to reproduce this in a separate repo.

[2016-08-31 16:00] bcoe commented on #323
@chielkunkels artificats such as how you've configured your package.json would be really useful; when you open the new issue.

[2016-09-01 03:12] taylor1791 commented on #374
I had the same problem and @bcoe Solution worked for me. I was using `ava`.

[2016-09-01 07:01] alexjeffburke commented on #373
Just got this together for you - there is a branch named 'feature/switch-to-nyc' in https://github.com/alexjeffburke/unexpected-mxhr. This is one of the ones that instruments a file for the browser then does a separate pass generating coverage while in phantomjs and finally reports using nyc. You'll see the above in the process of running `npm run coverage`. Thanks.

[2016-09-01 12:31] JaKXz commented on #374
Just ensure that with nyc@8 your custom exclude array specifies node_modules etc.

[2016-09-01 14:31] boxfoot opened #377 "Check coverage against specific files"
I am working on a project where we are slowly catching up with code coverage on a very large codebase.  We'd love to put in a minimum coverage test as part of our CI but it's hard because the threshold is so low currently that it's somewhat meaningless.

I'd love to be able to pass a `--files` parameter into `nyc --report` and `nyc --check-coverage` so that the test only applies to files that have

[2016-09-01 15:10] JaKXz commented on #377
You can accomplish this by `include`ing say one folder at a time:

[code]

or `exclude`ing in a similar manner. Let me know how it goes :)

[2016-09-01 18:25] boxfoot commented on #377
Thanks @JaKXz , cool to know this exists, but I'm having some problems.

1) When I specify includes in `package.json`, nyc works as expected:

[code]

But specifying with `-in` on the command line doesn't seem to work, and I'm not sure why:

[code]

For my use case, specifying on the command line will be key, can't go dynamically changing `package.json` all the time.  I can't figure out *why* this

[2016-09-02 15:59] bcoe commented on #374
@erikras is this the `redux-form` example again? there should be no difference between OSX and Ubuntu.

[2016-09-02 16:04] Gudahtt commented on #374
@erikras Sorry I should have been more clear - the problem you're having can be solved by using the babel plugin `babel-plugin-istanbul`. `redux-form` does not appear to be using that plugin currently.

Setting `sourceMap` and `instrument` to `false` is required when you're using `babel-plugin-istanbul`, because `babel-plugin-istanbul` handles the instrumentation instead of `nyc` - so you need to

[2016-09-02 16:15] Gudahtt commented on #374
@bcoe is `nyc` still intended to be used without `babel-plugin-istanbul` for projects that use `babel`?

The README states that `babel-plugin-istanbul` has *better* ES6/ES7/ES2015 support, but it seems to imply that it should still work without it, solely through the use of source maps. If that's the case, this bug is still valid. Though, from the look of things, the fault likely lies with Babel`'

[2016-09-02 16:23] bcoe commented on #374
@erikras I installed `babel-plugin-istanbul`:

`npm i babel-plugin-istanbul --save-dev`

updated `.babelrc` to look like this:

[code]

and updated package.json to look like this:

[code]

Note the new `test` environment in both places.

This seemed to do the trick ... it looks like you have 100% line, branch, and function coverage, pretty awesome:

[code]

[2016-09-02 20:31] benhunsaker opened #378 "I can't seem to get --all option working"
## Expected Behavior
I would like all the files specificied in the included array be instrumented and reported on from coverage stand point. Even if none of the test reference that file

## Observed Behavior
Only the files specified in my tested are be reported by.

## Forensic Information
I have tried the terminal flag `--a` and the package.json `"all": true` setting but I can seem to get files I

[2016-09-02 23:23] bcoe commented on #378
@benhunsaker I believe this is the same problem we're seeing in https://github.com/istanbuljs/nyc/issues/378, which I'm closing this ticket in favor of.

Basically, we don't currently have a way with `babel-plugin-istanbul` to add all files in the project. There's a question as to whether this is `babel-plugin-istanbul`'s responsibility even. Would love to have your thoughts added to #378 and to h

[2016-09-02 23:23] #378 closed

[2016-09-02 23:24] bcoe commented on #374
@erikras feel free to reopen this ticket, if these fixes don't do the trick.

[2016-09-02 23:24] #374 closed

[2016-09-02 23:38] #158 closed

[2016-09-02 23:55] bcoe commented on #377
@boxfoot I just confirmed that `-n` seems to be working as expected, using a line something like this:

`"coverage": "nyc -n uuid.js npm test"`

Would you be able to provide a sample project with `-n` failing, so that I can test against it; is it possible that you have an old version of nyc installed globally; what is `nyc --version`?

With regards to needing to provide the `-n` prefix, unfortunat

[2016-09-03 13:56] felixfbecker commented on #229
@JimmyBoh Thank you so much for sharing this, I did it like you did in your repo and finally got it working.

[2016-09-04 21:12] gustavohenke opened #379 "Can't override package.json reporters via CLI"
## Expected Behavior
Override `reporter` configuration in package.json via CLI `--reporter` argument.

## Observed Behavior
The CLI argument `--reporter` doesn't work when there's something under nyc's `reporter` key in package.json.

## Code (or Repository) that Reproduces Issue
gustavohenke/firebase-stub@21487a9af497a8bfcf5015be019da28bcfdc3483

I just started the project and haven't decided how

[2016-09-04 21:13] gustavohenke commented on #379
To keep the issue template clean, I forgot to add one thing: thanks for such amazing tool!
Much better than doing various hacks to get some coverage out of mocha tests.

[2016-09-05 08:07] doug-wade opened #381 "Files reported twice on Windows"
## Expected Behavior

Each file required and tested aggregates all runs into a single code coverage number.
## Observed Behavior

One file generates partial code coverage twice, lowering the threshold
## Bonus Points! Code (or Repository) that Reproduces Issue

https://github.com/doug-wade/idd
https://ci.appveyor.com/project/doug-wade/idd/build/1.0.120
## Forensic Information

Windows_NT 6.3.9600

[2016-09-05 11:35] addaleax commented on #381
Hm, is this maybe related to https://github.com/istanbuljs/nyc/issues/269? Does it still occur with Node v6.5.0?

[2016-09-06 20:13] jcollum opened #383 "Coverage of a Lab (Hapi.js) test set is reported as 100%; Lab says 78.50%"
## Expected Behavior

Test coverage should be < 100%
## Observed Behavior

Test coverage is 100%
## Bonus Points! Code (or Repository) that Reproduces Issue

Sorry, this is not public code.
## Forensic Information

**Operating System:**  OSX El Cap
**Environment Information:**:

Node v6.5.0
NPM 3.10.3

This codebase is unlicensed so I'd prefer not to give details about _all_ the tools we use.

Tes

[2016-09-06 20:21] jcollum commented on #383
If I run the test without the transpile step (that's where gulpfile.js is coming from I assume) it still fails:

[code]

[2016-09-07 16:45] isaacs opened #384 "Node v0.10 exits 0 on failed coverage check"
## Expected Behavior

Should exit with status code 1.

[code]

## Observed Behavior

On Node 0.10, it exits with code 0.

[code]

## Forensic Information

**Operating System:** the operating system you observed the issue on.

Darwin

**Environment Information:** information about your project's environment, see instructions below:

https://gist.github.com/isaacs/14d723f80c0c3a9cccc05f4adaeddaf2

[2016-09-07 17:47] bcoe commented on #383
@jcollum it looks like you are instrumenting `gulpfile.js`, rather than the tests being run by lab. I would try something like this:

`npm run transpile`
`nyc --check-coverage ./node_modules/.bin/lab -e development -l -v  ./dist/test/unit.js`

If this works, I would probably ultimately do something like this:

[code]

[2016-09-07 17:56] jcollum commented on #383
Like I said.

[2016-09-07 18:17] bcoe commented on #383
@jcollum I haven't tested nyc with lab before, but my best guess would be that this is either related to: lab changing the directory location while running tests, or perhaps lab spawning subprocesses in a way we were not anticipating.

When I have some time outside of work, I can do some testing with a lab project; it would be quite helpful if you could pull together a minimal failing example -- w

[2016-09-07 18:30] bcoe commented on #379
@gustavohenke I agree that `--reporter` should take precedence over the reporter in package.json.

[2016-09-07 18:38] jcollum commented on #383
That sounds reasonable. I'll see what I can do. Thanks.

[2016-09-07 18:43] jcollum commented on #383
@Marsup do you have some input here?

[2016-09-07 18:55] Marsup commented on #383
Sorry, not familiar with nyc. How is it supposed to interact with lab ? lab isn't spawning anything other than the linting process, it shouldn't matter for coverage.

[2016-09-07 19:20] jcollum commented on #383
Lab is running the tests, NYC is determining coverage. I'm using NYC because I was using Istanbul and have it working successfully with Sonar (code quality reporting tool). Istanbul has been deprecated and NYC is the new tool.

Sounds like Lab is creating a subprocess but not one that would be relevant here, since I'm not doing any linting.

Thanks for the input.

[2016-09-08 01:59] JaKXz commented on #383
@jcollum can you provide a minimal repo [or gist] that reproduces the issue?

[2016-09-08 04:23] jcollum commented on #383
I can, I think but it will probably be next week. Busy the next few days at work.

[2016-09-08 09:33] alexjeffburke commented on #373
@bcoe Was there anything else you need from me? I wasn't sure if the raw coverage file would be useful though my guess is it's something about the parsing of it for the report. Is the format known to have changed?

[2016-09-08 10:55] mourner commented on #294
@bcoe I think it's unfortunate that `--cache` is disabled by default. Is there a chance we could revisit this by making cache behavior more bulletproof? E.g. a lot of people that use `tap` will simply be unaware of the option because `nyc` is run under the hood.

Just got the unit tests in my projects down from 3m to 1m thanks to `--cache` — I wish I'd knew of the impact earlier.

[2016-09-08 15:27] bcoe commented on #373
@alexjeffburke this should be enough to work from 👍 I hope to have some OSS cycles this weekend.

[2016-09-08 17:17] edmundito commented on #379
I just ran into the same issue as well. Another thing I noticed is that if you have this in your configuration:

[code]

Then `nyc report` does not do anything.

[2016-09-11 12:24] ChrisPearce commented on #320
Having a .nycrc would be very helpful when transitioning from projects that already have a .istanbul.yml file.

From a version control perspective I think it is a lot easier to identify changes in a .nycrc file, rather than those changes getting lumped in with other changes to an unrelated package.json file.

Also, on more complex projects, the package.json can already get quite large and complica

[2016-09-12 05:56] jeffijoe commented on #320
According to `nyc`s readme:

So it's not _just a reporting tool_, unless I didn't understand that first line in the readme correctly. :smile:

I hope we will see support for a `.nycrc` soon. Istanbul team, thanks for all your hard work!

[2016-09-12 10:53] fleg opened #387 "Custom reporter"
Is it possible to create and use custom reporter?

[2016-09-13 04:59] simonbuchan commented on #378
@bcoe I assume you meant #333

[2016-09-13 05:02] #384 closed

[2016-09-13 05:40] trainerbill commented on #379
Yeah this really bit me when using coveralls:

[code]

having reporters specified in the package.json overrides the coverage script and you get an ugly error everytime on travis:

![image](https://cloud.githubusercontent.com/assets/3578259/18462725/84ec4c64-794a-11e6-8c91-c13e8e28c71d.png)

looks like nyc report --reporter=text-lcov is passing in the summary and not the lcov.  removing reporters f

[2016-09-13 05:48] bcoe commented on #379
@trainerbill see #388 would love the extra eyes.

[2016-09-13 13:41] JaKXz commented on #333
I think this has been fixed since at least v8+, if not v7 using the `"all": true` config, and #388 fixes the CLI args precedence, right @bcoe?

[2016-09-13 13:44] danez commented on #333
AFAIK the all option only works if nyc is doing the instrumentation itself, not if the instrumentation is done outside of nyc, like the babel plugin.

[2016-09-13 13:45] JaKXz commented on #333
@danez I believe that's been fixed too... unless I'm remembering wrong I've got it working in a couple projects. See the [config section of the README](https://github.com/istanbuljs/nyc#configuring-nyc).

[2016-09-13 14:10] danez commented on #333
@JaKXz I just tested with https://github.com/researchgate/webpack-watchman-plugin but only two files show up in the coverage report out of 5. The config is exactly like it is in the README, except the `require: []` but that doesn't do anything.

[2016-09-13 16:24] JaKXz commented on #333
@danez looks like you're right and I just had confirmation bias, my bad!

One thing I did notice in your repo is that you have `NODE_ENV` set after you call `nyc` and you'll want to do that before. I tried that locally and it didn't fix it (to my surprise) so I'm not sure what's wrong. @bcoe any ideas?

[2016-09-13 16:31] bcoe commented on #333
@JaKXz, @danez `--all` is not implemented in `babel-plugin-istanbul`:

https://github.com/istanbuljs/babel-plugin-istanbul/issues/4

Long story short, since we skip the instrumentation step in `nyc`, we never perform the walk of all files that facilitates `--all`; would love help figuring out an implementation.

[2016-09-13 16:32] JaKXz commented on #333
Right. Let's move the discussion there then to avoid more duplicating :)

[2016-09-13 20:26] JeSuis opened #390 "Configuring with Jasmine"
Has anyone setup nyc with Jasmine?
The docs say to point it to a js file directly, but I'm loading everything through jasmine.

`"coverage": "DATA_ENV='production' TEST='true' JASMINE_CONFIG_PATH=test/support/jasmine.json ./node_modules/.bin/istanbul cover jasmine",`

[2016-09-14 23:17] kpdecker commented on #285
Actually pretty simple to make this work with the typescript compiler (using ts-node).

Hacked this into `NYC.prototype._transformFactory`
[code]

And added `produceSourceMaps: 'inline'` to the istanbul instrumenter and everything seemed to go through with no other changes to source-map-support or anything else.

Glad to PR this after testing in babel and vanilla, etc. If this isn't missing someth

[2016-09-15 02:25] kpdecker commented on #285
(Deleted prior comment)
It appears that this was throwing and causing the non-instrumented path to trigger, which then defaulted to the original source map, vs. the new one. Continuing investigation.

[2016-09-15 17:41] lxe commented on #285
If you already use babel, one way to allow error stack traces to work with node-sourcemap-support is to use https://github.com/istanbuljs/babel-plugin-istanbul, and set [nyc's "sourceMap" and "instrument" settings to false](https://github.com/istanbuljs/babel-plugin-istanbul#mocha-on-nodejs-through-nyc).

[2016-09-16 00:01] ngryman opened #395 "index.js of modules required in test files are reported"
Hi guys,

I'm struggling with this. It may be a `nyc` bug under certain conditions.

I'm using [lerna](https://github.com/lerna/lerna) to manage multiple packages that may depend on each others. Lerna manages this by creating a `package.json` and a `index.js` in the `node_modules` of dependant packages. It does not create symlinks.

In some tests I reference another local package. The file gets re

[2016-09-19 15:16] JeSuis commented on #390
I figured this out if anyone else is wondering, you would just do `nyc jasmine` instead of `nyc tap jasmine` or `nyc cover jasmine`

[2016-09-19 15:16] #390 closed

[2016-09-19 20:01] sirlp2 opened #397 "Coverage report on OS X is different from Debian"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Code coverage report should be the same on different operating systems.

## Observed Behavior
Mac OS X reports 100% for Branches
[code]
Debian reports (Docker image `node:4-wheezy`)
[code]

## Bonus Points! Code (or Repository) that Reproduces Issue
Sorry, private project

## Forensic Information

**Operating

[2016-09-19 21:13] #397 closed

[2016-09-20 11:42] serut opened #398 "Add a sonar tutorial"
It would be great to help people to setup nyc with sonar.

Here is my setup:

[code]

add the following to the mocha command:
[code]

--------------

This is what I use (typescript + webpack + react) :
[code]

webpack config:
[code]

[2016-09-21 13:12] evilebottnawi opened #400 "TypeError: Cannot read property 'length' of undefined"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
No errors
## Observed Behavior
[code]
All works good in `8.1.0` version, but got error in `8.3.0` maybe regression error?
## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information

**Operating System:** Latest debian docker image.
**Environment Information:** https://gist.github.com/

[2016-09-22 01:45] bcoe commented on #400
@evilebottnawi would you be able to provide some sample code that reproduces this?

[2016-09-22 09:31] zhaoxiongfei commented on #273
[code]

locv report error.

[2016-09-22 11:10] gitgrimbo commented on #171
This feature would also help me - is it planned to be added?

[2016-09-22 17:48] JaKXz commented on #171
@gitgrimbo good point - perhaps a PR to document it would close this issue? :)

[2016-09-22 19:55] addaleax opened #401 "`nyc report html` should maybe tell users that it’s not what they want?"
Okay, probably it’s just me having trained myself to use `istanbul report` over a long time, but I tend to always write `nyc report html` and am confused by the result that there is no actual HTML output.
I’ve begun to catch up always correcting to `-r html`, but maybe other people who transition to `nyc` would find it helpful if `nyc report` outputs a warning when it receives at least one positio

[2016-09-23 10:11] evilebottnawi commented on #400
@bcoe
[code]

[2016-09-23 11:02] evilebottnawi commented on #400
@bcoe in `8.2.0-candidate1` all works fine, but in `8.2.0-candidate2` i have error.

[2016-09-23 13:04] evilebottnawi commented on #400
After a detailed investigation i came to this error throws when `istanbul-lib-instrument` >= `1.1.2`. In `1.1.1` all works fine. I continue my investigation.

[2016-09-23 13:51] mourner commented on #400
Can you try removing the `.nyc_output` (or any cache you might have) directory and running the coverage again?

[2016-09-23 13:56] mourner commented on #400
@evilebottnawi can you describe the full set of minimal steps to reproduce the behavior?

[2016-09-23 14:13] evilebottnawi commented on #400
@mourner Give time, I'll create a repository reproducing the error, it will be all the easier

[2016-09-23 19:41] pjangam commented on #346
closing this as opts file solved my issue.

[2016-09-23 19:41] #346 closed

[2016-09-23 20:09] pjangam opened #403 "not able to use exclude functionality"
## Expected Behavior

nyc command should work with exclude switch
## Observed Behavior

nyc fails to instrument when I use exclude switch in command
## Bonus Points! Code (or Repository) that Reproduces Issue

from command line in my project folder
nyc -x `submodules/**/*.js` --reporter=text --all node_modules/mocha/bin/mocha -- test
## Forensic Information

getting error

[code]

command run prop

[2016-09-25 01:05] bcoe commented on #398
@serut I don't do a ton of front-end coding these days, so I'm not the best person to write this tutorial -- would love the help if you wanted to help contribute:

https://github.com/istanbuljs/istanbuljs.github.io

[2016-09-25 01:10] bcoe commented on #403
@pjangam this is definitely a bug, which I've been able to reproduce; there's a workaround you can use in the meantime however.

`--exclude` no longer  includes `node_modules` by default; so you're walking into your `node_modules` folder and bumping into a weird issue with `async`.

I suggest running a command more like this:

[code]

Keep in mind that some shells expand globs; so it might be bett

[2016-09-26 10:58] pjangam commented on #403
Thanks @bcoe Given command did work for me.

[2016-09-26 13:06] mourner commented on #400
@evilebottnawi any luck?

[2016-09-26 13:13] evilebottnawi commented on #400
@mourner I'm trying to understand, I have two independent test, which tested a single file, and sometimes an error occurs, I am now trying to go through the code line by line

[2016-09-29 19:45] boxfoot commented on #377
@bcoe OK, it took me a while to come back to this but I figured it out...

My `include` options are being ignored because I'm using babel-plugin-istanbul to do the instrumentation, and while the plugin respects nyc options in package.json, it ignores command line options.

(whew!  I thought I was going a bit crazy, glad to have figured that out.)

So my next step is going to be seeing if there's s

[2016-09-29 21:01] boxfoot commented on #377
OK, just reporting back that I have a work-around in place:

* `precover-branch` script checks for changed files with `git diff` and adds to package.json nyc configuration
* `cover-branch` script runs coverage
* `postcover-branch` restores package.json configuration

It's a bit hackish but gets the job done for now until there's something more elegant.

[2016-09-30 21:54] mohsen1 commented on #176
I'll leave it here: [Setting up test coverage using Mocha, Istanbul, NYC with TypeScript](http://azimi.me/2016/09/30/nyc-mocha-typescript.html)

Thanks for amazing work! ❤️

[2016-09-30 22:00] mohsen1 opened #409 "Allowing to put the config in a config file"
Instead of putting `"nyc"` object in `package.json` I like to put my nyc config in a config file and use a CLI switch to refer to it:

[code]

Have you considered this?

[2016-09-30 22:08] bcoe commented on #176
@mohsen1 this is wonderful, mind if I put a copy on our IstanbulJS website?

[2016-09-30 22:09] mohsen1 commented on #176
Not at all! I copied all of your code in my project! ;)

[2016-10-01 10:28] bySabi commented on #409
It´s alredy implemented, https://github.com/istanbuljs/nyc#configuring-nyc

[2016-10-01 21:42] mohsen1 commented on #409
I didn't notice it in the docs. Thanks for your reply!

[2016-10-01 21:42] #409 closed

[2016-10-01 23:53] bcoe commented on #379
@gustavohenke this is now deployed \o/

[2016-10-01 23:53] #379 closed

[2016-10-02 00:13] bcoe commented on #409
@mohsen1 let me know if it does the trick for you 👍

[2016-10-02 09:20] doug-wade commented on #381
Yeah -- I'm still getting it on 6.7 https://github.com/doug-wade/idd/pull/49

[2016-10-02 14:41] gustavohenke commented on #379
Yay!

[2016-10-02 17:27] mourner commented on #400
@evilebottnawi any chance you could set up a test case? I don't think we can address the issue if we can't reproduce it.

[2016-10-03 09:03] evilebottnawi commented on #400
@mourner sorry for long answer, today i am work on this

[2016-10-03 13:22] evilebottnawi commented on #400
@mourner reproduced looks like bug in `ava` or `babel` (i have poor knowledge about nyc and source maps from `babel`). Be good if you help :smile: Repo: https://github.com/evilebottnawi/nyc-error
[code]

[2016-10-03 13:37] mourner commented on #400
I see the following output and it seems not related to `nyc` at all:

[code]

So, should these two issues be closed here?

[2016-10-03 13:50] evilebottnawi commented on #400
@mourner I have a different output (see first message), if I use own version of `babel` I get `error`, I just can not imagine what exactly the problem can be with `babel` or `nyc`, or maybe babel generated bad source map :sob:

[2016-10-03 14:30] mourner commented on #400
OK, managed to reproduce the issue. It goes away if you do `nyc --require babel-register` instead of just `nyc`. I have no idea what's going on there.

[2016-10-03 14:36] evilebottnawi commented on #400
@mourner ok, give me time to understand more deeply into this, because it began after a small change https://github.com/istanbuljs/istanbul-lib-instrument/commit/5b401f5b08c3eb6fd45fcf654d8fe22001c57cb8 . If i return https://github.com/istanbuljs/istanbul-lib-instrument/commit/5b401f5b08c3eb6fd45fcf654d8fe22001c57cb8#diff-d33be8f45f830ae507ad314d33ec8158R41 all increment in the initial position (b

[2016-10-03 14:36] mourner commented on #400
@evilebottnawi my wild guess is that somehow ava runs different versions of `nyc` and then tries to merge incompatible results.

[2016-10-03 14:44] evilebottnawi commented on #400
@mourner Yes agree very strange error, try to solve it, according to the top of the `+1`. It happened not just me

[2016-10-03 14:45] evilebottnawi commented on #400
@sindresorhus maybe you can us to clarify the situation or to help it

[2016-10-03 15:35] mourner commented on #400
Allelujah, I seem to have found the root bug! It's here. https://github.com/istanbuljs/istanbul-lib-source-maps/blob/master/lib/mapped.js

[2016-10-03 15:38] evilebottnawi commented on #400
@mourner can you fixed?

[2016-10-03 15:46] mourner commented on #400
@evilebottnawi PR up at https://github.com/istanbuljs/istanbul-lib-source-maps/pull/6.

[2016-10-03 15:52] evilebottnawi commented on #400
@mourner very very thanks :+1:

[2016-10-03 18:48] gustavohenke commented on #359
I have been suffering of the same bug, however I'm compiling with TypeScript.
This has been holding me back on using sourcemaps in my app, therefore decreasing my coverage numbers :cry:

[2016-10-03 23:10] #400 closed

[2016-10-05 11:51] Mosho1 opened #412 "failed to instrument with error: 'import' and 'export' may appear only with 'sourceType: module'"
I'm trying to run coverage through this flow: TypeScript -> ES6 -> Buble -> ES5. All tests pass but I get these errors and `Unknown` coverage. What could be the cause?

## Expected Behavior

Should run coverage

## Observed Behavior

Doesn't run coverage, fails with the above error

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information

**Operating System:** windows

[2016-10-05 16:35] ArtworkAD opened #413 "Unexpected identifier async ctx => with babel-plugin-istanbul"
Hey,

my setup:

[code]

I am running

`NODE_ENV=test nyc node_modules/jasmine/bin/jasmine.js`

and getting an error at this code

`module.exports.entrypoint = async ctx => {}`

Error (pointing at ctx =>)

[code]

[2016-10-06 04:18] bcoe commented on #413
@ArtworkAD would it be possible to share the branch of the project that's having issues with us?

[2016-10-06 04:56] bcoe commented on #400
@evilebottnawi @mourner could you please give this a spin:

`npm cache clear; nyc@next`

I've released @mourner's changes to istanbul-lib-source-maps.

[2016-10-06 08:25] ArtworkAD commented on #413
@bcoe minimal project to reproduce the issue https://github.com/ArtworkAD/nyc-test I discovered that this issue appears only when using [supertest](https://github.com/visionmedia/supertest) like this:

[code]
So the problem is not directly related to

`module.exports.entrypoint = async ctx => {}`

[2016-10-06 10:17] #412 closed

[2016-10-06 10:47] christianharke opened #414 "Blocks in Switch Case clause breaking follow-up coverage detection"
For some reasons, we sometimes declare variables in Switch Case clauses by the `const` keyword. To bring that to work, we have to add curly braces around the "case body" like in the `'bar'` case below:

[code]

Now, if I create unit tests for all those three cases, the HTML report says that the statements in `'baz'` and `default` was not covered.

I am using the recent release of nyc, npm v2.14.20

[2016-10-06 19:02] bySabi commented on #413
@ArtworkAD do you tried?
[code]

[2016-10-06 21:16] ArtworkAD commented on #413
@bySabi yeahyyy works. Thank you.

[2016-10-06 21:16] #413 closed

[2016-10-13 11:19] knuterik91 opened #417 "NYC wont run test if stubbing console.log"
Hi!
I have made a test that checks for any console.log messages.
running tests on mocha works, but when trying to use nyc for collecting code coverage, it seems like no tests has been run.
But if I comment out stubbing of the console.log, then everything works just fine.

This is not a big issue for me, because I can just comment out the stubbing of console.log. But I'm interested in why it doesn'

[2016-10-15 23:38] tunnckoCore opened #418 "How to find branches"
It's not an issue, more of a question and not only `nyc` related. Am I'm missing some additional useful tool or reporter? How to find where the branch is when everything other is 100% and there's no uncovered lines.

In most of the times I get 100% for the all - statements, functions, branches, lines. But sometimes I got 96% or 98% branches. And there's no fix, reviewed the code even one full hour

[2016-10-15 23:41] addaleax commented on #418
Just in case you don’t already know that `nyc report -r html` should give you a set of HTML files (e.g. `coverage/index.html`) that contains markers for taken and not-taken branches (including branches resulting from the `?:` ternary operator).

[2016-10-16 01:23] tunnckoCore commented on #418
Hm, yea this works. Thought to try it.

That's cool, but is it possible to make the default (or any other) works the same way (to shows better results such as the html reporter)? Or is it possible through reporter - we can create new one if there's no such already.

[2016-10-16 18:32] bcoe commented on #418
@tunnckoCore if you run run:

[code]

[2016-10-16 18:39] bcoe commented on #417
@knuterik91 if I"m reading this correctly, any `console.error`, `console.warn`, or `console.log` running would result in throwing an exception?

I wonder if this is preventing some lines from being hit in the codebase that would otherwise be executed. What if you instead did:

[code]

Does this work?

[2016-10-16 20:28] knuterik91 commented on #417
@bcoe I tried your suggestion, doing that makes nyc run and gathers code coverage. :) But the problem is that i want to fail my tests if there is any console.log in the code, or if my code is throwing any errors or warnings.

to make my self more clear: nyc works as expected when stubbing console.warn and console.error as I have done in my first post. But the problem is with this: `sinon.stub(cons

[2016-10-16 21:50] tunnckoCore commented on #418
@bcoe yea it will. The question is other, I can do it in a few ways, but in anyway it adds one more step to the flow.

I'll just review the code and reporters more deeply and maybe will create one new reporter that do the job correctly.

[2016-10-16 21:50] #418 closed

[2016-10-17 08:17] knuterik91 commented on #417
@bcoe I have come up with a quick fix that works for me, In package.json where I have my nyc script I create a new environment variable. So my function looks like this now:

    import sinon from 'sinon';

    export function expectNoConsole() {
      const isCodeCoverage = process.env.NODE_ENV_NYC === "nyc";

      beforeEach(() => {
        if (isCodeCoverage) {
          sinon.stub(console, 'er

[2016-10-19 09:56] BurningLutz opened #419 "Could I place `exclude` in .nycrc instead of package.json?"
Currently, setting `exclude` in .nycrc takes no effect but setting it in package.json did.

My nyc version is: 8.3.1

[2016-10-19 22:08] rgrove opened #421 "Bundled dependency metadata contains private registry URLs, breaks shrinkwrapped installs"
## Expected Behavior

nyc's bundled dependencies should not have private registry URLs in their metadata.

## Observed Behavior

Whoever built nyc 8.3.1 apparently used a private registry (npm-registry.whitewater.ibm.com) to install bundled dependencies. As a result, the `package.json` metadata for these bundled dependencies that gets distributed with nyc contains private registry URLs that cannot

[2016-10-19 23:50] bcoe commented on #421
@rgrove sorry about that; long-standing issue with shrink-wrapped installs and a bad publish on my part. This should now be corrected in `nyc@8.3.2`.

[2016-10-19 23:50] #421 closed

[2016-10-19 23:51] rgrove commented on #421
Thanks!

[2016-10-20 12:36] geekflyer commented on #359
same error here. My code is in TypeScript. I transpile via gulp-typescript to es6 and then via gulp-babel to es5. Sourcemaps are created using gulp-sourcemaps and inlined in dev mode.

[2016-10-22 09:45] olalonde opened #422 ""nyc report --reporter=lcov" doesn't do anything"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

Something output or something happen

## Observed Behavior

Nothing happens (0 exit code)

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information

**Operating System:** macOS Sierra
**Environment Information:** I ran `nyc npm test`, my `test` script is `NODE_ENV=test babel-tape-r

[2016-10-22 10:03] olalonde commented on #422
Oh, I just noticed that created a `coverage/` directory.

[2016-10-22 10:03] #422 closed

[2016-10-22 10:06] olalonde opened #423 "What exactly does babel-plugin-istanbul support that nyc doesn't?"
I just tried using `nyc` for the first time on a large babel project and it seemed to work fine without the `babel-plugin-istanbul`. What am I missing out on?

Here's the scripts I'm using:

[code]

[2016-10-22 11:42] olalonde opened #424 "Getting the coverage % number programmatically?"
I'm trying to statically generate a coverage badge after a build (without using a third party service like coveralls). I am therefore looking for a way to get the total coverage percentage programmatically. Is there any library API, CLI option or JSON file in .nyc_output I can use to get that number?

[2016-10-22 20:02] jedwards1211 commented on #306
I'm getting

[code]

[2016-10-23 21:43] jedwards1211 opened #425 "extraneous NaN element in node.getFileCoverage().f in lcov reporter"
## Expected Behavior

I'm able to create an lcov report with `nyc`

## Observed Behavior

nyc crashes with the following output.  I've only seen this happen with the lcov reporter; the json and text reporters succeed.
[code]

I ran it in the debugger and discovered that the `node` has an extraneous `NaN` element in `node.getFileCoverage().f`, making it 1 element longer than the other corresponding

[2016-10-23 21:48] jedwards1211 commented on #425
Actually, I think I know why it's failing; my tests modify `crater/src/server/index.js` to test hot-reloading, and that probably confuses istanbul/nyc.

[2016-10-28 04:25] jedwards1211 opened #428 "document how and when subprocesses send coverage to nyc & that coverage will be lost for killed processes"
I spent hours trying to figure out why I wasn't getting coverage for certain files until I realized it was because I was killing subprocesses that ran those files with `SIGKILL`.  Documentation of this in the README would be helpful and I'd be happy to make a PR.

It would be nice to get a high-level overview before digging through the code though.  Do subprocesses send coverage to nyc in a `proce

[2016-10-30 01:40] bcoe commented on #428
@jedwards1211 seems like a great idea to document this better, I'll update this thread with some thorough information about how coverage is collected when I have a few more cycles this week.

[2016-10-30 01:41] bcoe commented on #425
@jedwards1211 mind giving the `next` release of `nyc` a spin, to make sure this is still an issue:

`npm cache clear; npm i nyc@next`

We just landed a few patches stability patches to istanbul-reports.

[2016-10-30 01:44] bcoe commented on #423
@olalonde if you're running `html` reports, nyc's source-map used to sometimes have bugs mapping lines to the ES2015 transpiled code. tldr; babel-plugin-istanbul fairly consistently returns more accurate line #s -- having said this, this seems like a bug that should be fixed upstream in the source-map libraries eventually.

The other advantage, I believe, is that `babel-plugin-istanbul` better fit

[2016-10-30 01:44] #423 closed

[2016-10-30 23:47] jedwards1211 commented on #425
@bcoe, I just tested, I can still reproduce.  Should I move this to `istanbul-reports`?  I'll see if I can code up a minimum repro case.

[2016-10-31 05:11] bcoe commented on #425
@jedwards1211 👍 yes, would love a reproduction in `istanbul-reports`, we can get this patched ASAP.

[2016-10-31 23:08] bcoe commented on #424
@olalonde I haven't personally used it, but there's a reporter of type `json` you should be able to use to fetch this information. You could also run the `lcov-text` reporter, and use an `lcov` parser:

https://www.npmjs.com/package/lcov-parse

Do either of these approaches do the trick for you?

[2016-10-31 23:08] olalonde commented on #424
Yes, thanks.

[2016-10-31 23:08] #424 closed

[2016-11-01 05:41] tunnckoCore opened #432 "nyc check-coverage: new command flag"
Hello! Just want to suggest new CLI flag for the `check-coverage` command executes it like all other flags are set to 100.

[code]

instead

[code]

It looks visually better and shorter in the package.json.

Also why not to be more configurable like `--max 90` to sets everything to `100`, but `branches` to 90.

[2016-11-01 19:45] kristianmandrup opened #433 "Problem with silent fail and using coveralls + mocha-webpack"
I have this setup

[code]

First problem is that I get this stupid Exit 1 error each time.

[code]

I was successful adding silent mode here:

`"test": "npm run mocha:test --silent",` how can I do the same for my coverage script?

Second, when I pipe to coveralls it fails:

[code]

Since it tries to parse the output from running the mocha tests via `mocha-webpack`.
What is the right way? To run it

[2016-11-01 19:47] kristianmandrup commented on #433
I get the same problems with this setup:

[code]

Please advice :)

[2016-11-01 19:50] kristianmandrup commented on #433
I also tried with `mocha src/**/*.test.js` with the same result ;(

[code]

[2016-11-02 12:32] munkyjunky opened #434 "nyc does not cover all files"
When moving from Istanbul + mocha to nyc + mocha my JSX files (plus other JS files) are no longer covered. There are no tests for missing files, however the nyc config should be configured to instrument all files (`--all` flag).

## Expected Behavior
nyc should instrument every file in my `include` stanza, including those without tests

## Observed Behavior
nyc only covers files that have been inc

[2016-11-02 17:12] bcoe commented on #434
Hey @munkyjunky, good timing; I'm just in the process of releasing a fix for this (with the help from @motiz88 who did a lot of the heavy lifting):

`nyc@8.4.0` should do the trick for you.

See this thread: https://github.com/istanbuljs/babel-plugin-istanbul/issues/4

We do however still need to document how `--all` works, which I would love help with:

https://github.com/istanbuljs/babel-plugin-

[2016-11-02 17:12] #434 closed

[2016-11-02 23:02] munkyjunky commented on #434
Great news! I've just upgraded to 8.4.0 and everything is now working as expected.

[2016-11-04 05:48] bcoe commented on #434
@munkyjunky awesome, glad that the `--all` functionality is doing the trick. If you have any thoughts about what the documentation should look like, would love help with `67` as mentioned.

[2016-11-04 13:49] tleunen opened #435 "[8.4.0] failed to instrument"
When upgrading from 8.3.1 to 8.4, I'm getting a lot of "failed to instrument" errors.

It starts with files in the dependencies and finish with files in my own project.

Errors like:
[code]

[2016-11-04 17:36] erikras commented on #374
Finally got around to looking at this. Your fix is working. 👍 ❤️

[2016-11-06 11:40] geekflyer commented on #359
Hi guys, after hours of try and error and looking at different workarounds (I even tried to use blanket.js haha) it surprisingly now kinda works for me. The html reporter shows me the coverage of the source ts files. I think the key point was setting the `rootDir` and `outDir` in tsconfig.json / gulp-typescript AND `destPath` in the `write` function of gulp.sourceMaps. Interestingly I'm the whole

[2016-11-07 04:25] bcoe commented on #435
@tleunen could you share the project that's having issues? It seems like you're probably using the `--all` flag, and a custom `exclude` rule?

[2016-11-07 06:11] bcoe opened #438 "add more tests for produce-source-map logic"
#393 adds logic around merging source-maps, introducing the `merge-source-map` dependency; we should add some tests that exercise this new dependency.

CC: @kpdecker, @JaKXz

[2016-11-07 06:39] bcoe commented on #432
@tunnckoCore I like this idea. Tap implements it by simply allowing a user to pass: `--100`.

What if we did something similar where you could run, `--check-coverage 95`, where `95` is any numeric value, and we used the first positional argument as a shorthand like you suggest?

Want to take a stab at this feature?

[2016-11-07 07:26] tunnckoCore commented on #432
Yea. Looks good and meaningful, but there will have duplication of names `nyc check-coverage --check-coverage 95`? or you mean flag to be for main `nyc` command. Everything is just about to have shorter syntax.

I'm not familiar with the codebase and don't have the time.

[2016-11-07 13:57] tleunen commented on #435
Unfortunately, the project is private so I can't share it.
But I do use the `all` flag and a custom `exclude`. Sorry I should have posted the entire nyc config in the initial message.
[code]

[2016-11-08 14:20] mbchoa opened #440 "Getting ENOENT error when using "html" or "lcov" reporter"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Output index.html file when using the "html" reporter
Output lcov.info file when using the "lcov" reporter

## Observed Behavior
Terminal output returns an error

## Bonus Points! Code (or Repository) that Reproduces Issue

### Terminal output:

[code]

### nyc package.json config:

[code]
## Forensic Informat

[2016-11-09 00:21] LukeSheard commented on #412
I'm also seeing this issue with Typescript. How did you solve this?

[2016-11-09 00:54] mbchoa commented on #440
I was able to fix this by removing node_modules folder and reinstalling modules.  I also cleaned the cache before grabbing modules again.

Also noting that I was using yarn v0.16.1.

[2016-11-09 00:54] #440 closed

[2016-11-09 06:44] jedwards1211 commented on #425
@bcoe sorry for the delay, I finally managed to put together a minimum repro!  Filing in `istanbul-reports` now.

[2016-11-09 09:48] Mosho1 commented on #412
@LukeSheard Sourcemaps were not built correctly, resulting in an attempt to parse the import statements.

[2016-11-09 23:09] rapzo commented on #419
Is this still an issue?
I probed it in a really small test case and couldn't verify the issue...

The project is here: https://github.com/rapzo/test-nyc

There are two tags: `with-exclude` and `without-exclude` and checking, for example, the html coverage there's the result of having `debug.js` with missing coverage (for the first case) and coverage hitting 100% when excluding the aforementioned f

[2016-11-10 06:18] bcoe commented on #333
@JaKXz @kentcdodds I could still use help with documenting the feature better, but we now have the core bits and pieces in place to support `--all` with the babel plugin, as discussed in:

https://github.com/istanbuljs/babel-plugin-istanbul/issues/4

[2016-11-10 06:19] #333 closed

[2016-11-10 06:20] bcoe commented on #336
@chalda @marlun is it worth flagging which reporters require a coverage folder, and perhaps only conditionally creating it?

[2016-11-10 06:21] bcoe commented on #339
@chalda any updates on this issue?

[2016-11-11 03:11] BurningLutz commented on #419
After I upgrade to version 8.4.0, the issue seems......to remain.

I'm using `babel-plugin-istanbul` for ES6+ support. Here are my related configs:

**.babelrc**:
[code]
**.nycrc**
[code]
And I test codes in this way:
[code]

[2016-11-13 07:43] bcoe commented on #435
@tleunen prior to `8.4.0`, `--all` didn't actually do anything when used with `babel-plugin-instrument`. To get things working, I think you'll need to do two things:

1. try upgrading to `nyc@9.x.x` via, `npm cache clear; npm i nyc@next`.
  * this version again excludes `node_modules` by default.
2. if you are using a lazy approach to instrumentation, e.g., `babel-register`., require this in the `

[2016-11-13 08:39] bcoe commented on #433
@kristianmandrup coveralls needs to have lcov format pushed at it, I recommend using this approach instead:

[code]

As long as you run `coverage` before running `coveralls`, nyc will have cached the coverage data; and will be able to run a text-lcov report that you can pipe to coveralls.

Feel free to reopen this issue if this doesn't do the trick for you.

[2016-11-13 08:39] #433 closed

[2016-11-13 20:52] tleunen commented on #435
Thank you @bcoe! :)

[2016-11-13 20:52] #435 closed

[2016-11-16 00:50] nhardy opened #451 "Line stats missing from JSON coverage report"
## Expected Behavior

`[path].l` should exist in the JSON coverage report, similar to "s", "f", "b".

## Observed Behavior

`[path].l` is missing from the JSON coverage report.

## Forensic Information

**Operating System:** Ubuntu 16.04

**Environment Information**
- Node v6.9.1
- npm v3.10.8
- nyc v9.0.1
- babel-plugin-istanbul v3.0.0

[2016-11-16 11:16] rapzo commented on #419
Thanks for that info @BurningLutz it really cleared the issue here.

Although, from a quick look at the code it looks like an issue in `babel-plugin-istanbul`and not in `nyc`.
Here: https://github.com/istanbuljs/babel-plugin-istanbul/blob/master/src/index.js#L26
It looks like it only parses configuration from `package.json`.

Meanwhile i'll try to write a patch to support `.nycrc` configuration bu

[2016-11-16 16:25] bcoe commented on #419
@rapzo @BurningLutz an oversight not a design decision; I would happily accept a patch adding `.nycrc` support to `babel-plugin-istanbul`.

[2016-11-16 16:32] rapzo commented on #419
Nice!

As i see it, do you have any preference on the parsing order? 1st .nycrc or
package.json, or the other way around? How about if there are both? Which
takes precedence?

On Wed, Nov 16, 2016 at 4:25 PM, Benjamin E. Coe <notifications@github.com>
wrote:

--
Rui Pedro Lima

[2016-11-16 17:23] bcoe commented on #419
@rapzo let's just make sure that nyc and babel-plugin-istanbul are consistent; nyc currently uses yargs' config/pkg-config functionality to do it's thing:

https://github.com/istanbuljs/nyc/blob/master/lib/config-util.js#L14

We should probably do the same; there's been some discussion on yargs to change the order of application; And there might be some changes over the coming months, so best that

[2016-11-16 17:34] rapzo commented on #419
Great! Thanks! Will do my best.

On Wed, Nov 16, 2016 at 5:23 PM, Benjamin E. Coe <notifications@github.com>
wrote:

--
Rui Pedro Lima

[2016-11-17 23:28] jennylia opened #452 "Coverage doesn't show files with 0% coverage"
nyc --reporter=json npm test
would not generate coverage for all files.
For javascript files with no tests, (therefore no coverage), it will not show in the test reports.

Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
nyc --reporter=json npm test should show coverage for all files, even if test doesn't exist.

## Observed Behavior
nyc --reporter=json npm

[2016-11-17 23:34] bcoe commented on #452
Hey @jennylia, you can get this behavior by adding `--all` to your command:

`nyc --all --reporter=json npm test`

If this doesn't do the trick, please feel free to re-open this ticket 👍

[2016-11-17 23:34] #452 closed

[2016-11-18 01:16] jennylia commented on #452
@bcoe it does the trick, but in this case, it will also generate coverage for various .spec.js file, even with this in my .npmrc:

[code]

[2016-11-18 01:56] bcoe commented on #452
@jennylia make sure you're on the newest version of `nyc` (9.0.1) and give this a shot:

[code]

[2016-11-18 21:37] jennylia commented on #452
All the test files are still included in the nyc report.

[2016-11-22 03:26] TonyPythoneer opened #453 "What kinds of reporter can I use?"
In this document, I hadn't seen what kinds of `reporter` user can use.

I look up this commander by help. It only shows the default is `text`.

Would you explain clearly in this document? Thx.

[2016-11-22 03:49] TonyPythoneer commented on #453
Finally, I know what kinds of reporter I can use. -- link: https://github.com/istanbuljs/istanbul-reports/tree/master/lib

But it's still unclearly, I hope it can show the output style and paste the picture on README at least.

[2016-11-22 14:21] eberhara commented on #309
@gotwarlost @bcoe any news on these topics?
- "each" options to check coverage on every file individually
- set low and high watermarks for reporting low|medium|high coverage

thanks!

[2016-11-22 17:45] bcoe commented on #453
@TonyPythoneer let's add a section to the README.md that links to the istanbul reports project, rather than just saying "we support all of istanbul's reporters".

[2016-11-22 21:05] mlrawlings opened #455 "Incorrect reporting for merged commands under node v4, v5"
## Expected Behavior

Correctly merged test coverage results.

## Observed Behavior

`npm test` in our projects runs `npm run mocha && npm run test-widgets`.
`npm run test-coverage` runs `nyc -asc npm test`

In node v4 and node v5, the coverage reports are incorrect.  They show somewhere around 14-15% coverage.  I see this both locally and in the CI ([coveralls](https://coveralls.io/builds/8950094

[2016-11-27 00:42] bcoe commented on #451
@gotwarlost I feel like there was another thread related to this elsewhere; is this expected behavior?

[2016-11-27 12:51] ngryman opened #456 "No colors when not executed via a tty"
## Expected Behavior

To have a colored output.

## Observed Behavior

Colors have gone 👻

## Proposed fix

I think you do that on purpose when no `tty` is detected, which is perfectly fine because it makes easier to process the output if needed.
That said, in some use cases (like mine) one might just want to forward your output. To do so it would be nice to have a flag to force colored output (ot

[2016-11-29 20:14] mlrawlings commented on #456
Have you tried passing `--color` as a command line flag? Or `FORCE_COLOR` as an environment variable?

https://github.com/chalk/supports-color#info

If that does work, it would probably be worth adding this to the docs somewhere. Maybe under [Running Reports](https://github.com/istanbuljs/nyc#running-reports)?

[2016-11-29 21:56] ngryman commented on #456
@mlrawlings `--color` works indeed! Thanks 👌
It would be worth mentioning it in the docs.

[2016-11-29 21:56] #456 closed

[2016-11-29 22:00] bcoe commented on #456
@ngryman 👍 if you're bored feel free to take a stab at the docs :) otherwise let's leave this open as a feature request.

[2016-11-30 15:31] dinfer opened #458 "When using async/await(enabled by flag `--harmony-async-await`), nyc reports errors."
## Expected Behavior
works with async/await supported by node(using flag `--harmony-async-await`), rather than using babel.

Even node throws some errors, it also generates a report, which seems right. I don't know how to resolve this problem myself.

## Observed Behavior
When I use node v7 (with node v7 async/await support, not babel) and AVA, it works fine. But running `nyc ava`, it reports erro

[2016-11-30 22:33] jescalan opened #459 "are there any quick wins for reducing the install size of nyc?"
When installed, this package and its dependencies come out to more than 25mb, which is really quite large. Just wanted to open up a conversation to see if perhaps there's any way to start slimming it down!

[2016-11-30 23:40] bcoe commented on #459
@jescalan I certainly wouldn't complain about having a second set of eyes. Having said this, we've done quite a bit of analysis:

1. a big chunk of the size is related to istanbul and babel, which we can't easily do away with since it's how everything works.
2. we bundle all our dependencies for nyc; even though the final size on disk is large, nyc comes down as a tarball in a single HTTP request,

[2016-12-02 04:36] djMax opened #460 "ES6 highlighting doesn't seem to work"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Coverage and syntax highlighting for ES6/7 should work

## Observed Behavior
When using the instructions in the readme, I get this error:
[code]

And

[code]

## Forensic Information

**Operating System:** Mac
**Environment Information:**:
node 6.7.0
npm 3.10.3

[2016-12-02 04:43] djMax commented on #460
Someone smarter than me suggests this is related to https://github.com/istanbuljs/babel-plugin-istanbul/issues/63

[2016-12-02 16:40] bcoe commented on #460
@djMax could you link the repo that is having issues. It would be m good to get to the bottom of this for both you and @kentcdodds

[2016-12-02 16:51] kentcdodds commented on #460
That'd be great. Just to be clear, most of the time these days I'm using Jest which will take care of the coverage stuff for me. So I don't currently have this problem anymore.

[2016-12-02 16:57] djMax commented on #460
So in trying to get a look-a-like repo to fail I found something moderately interesting, which is that it DIDN'T happen with these deps:

[code]

but did once I switched to

[code]

But I would imagine it's not tap itself blowing it up but a transitive dep. Anyhow, here's the repo:

https://github.com/gas-buddy/hydration

npm run cover should blow it up.

[2016-12-02 17:05] djMax commented on #460
A little more info:

Works:
[code]

Doesn't work:
[code]

[2016-12-02 18:07] bcoe commented on #460
@kentcdodds what's interesting is I'm pretty sure jest is sharing a bunch of Isanbul components:

https://www.npmjs.com/package/babel-jest
https://github.com/facebook/jest/blob/master/package.json#L21

I would love to get to the bottom of some of these issues because it would help `nyc`, `jest`, and `babel-plugin-istanbul`.

[2016-12-02 18:34] bcoe commented on #460
Hey @djMax, not quite sure what's being lost in translation for your -- warrants more digging into. But, when you have babel in the mix, I recommend using `babel-plugin-istanbul` here's updated configuration that worked for me:

**package.json**

[code]

**.babelrc**

[code]

[2016-12-02 18:34] bcoe commented on #460
<img width="522" alt="screen shot 2016-12-02 at 10 34 10 am" src="https://cloud.githubusercontent.com/assets/194609/20845633/e16cf64a-b87a-11e6-8af0-ba3b92e2cfde.png">

@djMax good coverage I might add 💯

[2016-12-02 20:55] djMax commented on #460
Hrmph, that did work for me too. babel-plugin-istanbul is/should already be in babel-preset-gasbuddy. I had tried instrument: false before to no avail but perhaps there were multiple issues with the various attempts I made. I'll try this on all the projects and see, but thanks either way.

[2016-12-02 23:32] #460 closed

[2016-12-03 14:51] mightyiam opened #462 "Shorthand for all 100%"
I'd like that, please.

[2016-12-03 19:15] ZhangHarvey commented on #373
I have the same  problem! But the nyc version is `10.0.0`. It makes me unable to use  Travis-Ci. I'm going crazy. Please help me as soon as  possible. Thx a lot~

[2016-12-03 20:58] bcoe commented on #373
@ZhangHarvey could you link the repo that is having issues?

[2016-12-03 23:34] bcoe commented on #458
@dinfer I'm trying to reproduce, in testing this works for me:

[code]

Where `test.js` is:

[code]

and `foo.js` is:

[code]

Are you using a different approach? Perhaps you could provide a failing example otherwise?

[2016-12-03 23:36] bcoe commented on #417
@knuterik91 👍 I'm glad you found a way to get things working for you.

[2016-12-03 23:36] #417 closed

[2016-12-03 23:37] bcoe commented on #459
@jescalan were you interested in digging into this a bit?

[2016-12-04 03:17] dinfer commented on #458
@bcoe Thanks very much
I'm have some work today, I'll provide a failing example after I go home.

[2016-12-04 06:22] ZhangHarvey commented on #373
@bcoe  https://github.com/ZhangHarvey/sas-crypto

[2016-12-04 06:32] bcoe commented on #455
@mlrawlings this took me a while to hunt down, but I narrowed it down to a historical oddity in how Node.js used to link npm:

[code]

Newer versions of Node.js no longer populate:

[code]

Which is the logic breaking the merging. Since this is fixed in newer versions of Node.js, I don't think there's much worth fixing on nyc's end.

## Workaround

I did find a workaround you should be able to use

[2016-12-04 06:32] #455 closed

[2016-12-04 06:50] bcoe commented on #373
@ZhangHarvey I see that you're using the `__coverage__` babel plugin, `babel-plugin-istanbul` is the successor, and seems to fix your problems:

https://github.com/istanbuljs/babel-plugin-istanbul

Here's the output I got:

<img width="621" alt="screen shot 2016-12-03 at 10 49 48 pm" src="https://cloud.githubusercontent.com/assets/194609/20864550/d1231f04-b9aa-11e6-8458-ff5f7057b7ab.png">

[2016-12-04 08:34] ZhangHarvey commented on #373
Follow your advice, it works!  Thanks again~

[2016-12-04 21:13] bcoe commented on #373
@alexjeffburke I've isolated this issue to `browserify-istanbul` using an older version of the Istanbul instrumenter API. I'm closing this issue in favor of:

https://github.com/devongovett/browserify-istanbul/pull/40

If anyone is interested (@alexindigo, @devongovettl, @alexjeffburke) I would love to document the usage of `browserify-istanbul` in one of the tutorials [here](https://github.com/is

[2016-12-04 21:13] #373 closed

[2016-12-06 15:35] jaridmargolin opened #463 "Generate coverage for required files passed as args in spawn"
Imagine the following code written inside of a testcase.

[code]

I am attempting to generate coverage for `./lib/index.js`.

## Expected Behavior

Coverage is generated for `./lib/index.js`

## Observed Behavior

No coverage is generated.

[2016-12-06 15:36] dinfer commented on #458
Here is the failing project. [the project](https://github.com/dinfer/koa-template)

By the way, projects using babel which translates es6 `async/await` into promise woks fine.

[2016-12-06 18:58] chapati23 opened #464 "/* istanbul ignore next */ not working in v10.0.0"
First of all: Big thanks for investing so much time in this project!! :)

ignoring statements doesn't work for me unfortunately, see screenshot:

<img width="558" alt="screen shot 2016-12-06 at 19 44 10" src="https://cloud.githubusercontent.com/assets/117495/20939238/44d932ea-bbee-11e6-99df-853a643addd7.png">

any ideas?

**Environment Information:**
mac OS 10.12.1
output.txt => https://gist.githu

[2016-12-06 19:53] bcoe commented on #464
@chapati23 curious are you using babel-plugin-istanbul, or nyc directly?

Thanks for taking the time to open an issue, we will dig into this (it's probably an issue with `istanbul-lib-instrument`, which nyc relies on).

[2016-12-07 12:40] chapati23 commented on #464
@bcoe we use nyc directly, this is our npm task:
[code]
the ava config is pretty straightforward and based on [this blogpost](https://shift.infinite.red/testing-the-bejeezus-out-of-react-native-apps-with-ava-330f51f8f6c3#.9n84jil60):
[code]

[2016-12-08 05:27] ruanyl commented on #451
Same issue here.
[code]

[2016-12-08 06:10] reggi opened #465 "Question: Can't cover constructor?"
Hey! Sorry about this. I have no clue what's going on here. Thanks for checking this issue out! Hopefully this could help anyone else having the same issue.

Here's the code I'm testing:

[code]

here's my test:

[code]

I'm expecting this to be fully-covered.

here's the output https://gist.github.com/reggi/dbb3fe8ea351c5deb50e398e1d4e25be

![screen shot 2016-12-08 at 1 07 08 am](https://cloud.gi

[2016-12-08 08:35] mlrawlings commented on #455
@bcoe Makes sense.  I appreciate you taking the time to look into this!

[2016-12-08 18:38] jaridmargolin commented on #463
@bcoe do you agree that the expected behavior would be to generate coverage?

I have absolutely no insight into the inner workings of istanbul / nyc, but if you agree with the overall direction, I will take a stab at a PR. Additionally if you had any thoughts / ideas about the implementation, feel free to share :)

Thanks!

[2016-12-08 20:49] patrickml opened #467 "[Bug] Failed to Write Coverage Reports -- Cannot read property 'start' of undefined"
For some reason we are getting this error when trying to run a coverage report

[code]

The original post was on jest, https://github.com/facebook/jest/issues/2260

[2016-12-08 20:53] patrickml commented on #467
Figured out the issue.

We were still using the `__coverage__` plugin prior to switching to jest and this was still in our babel file

[code]

[2016-12-08 20:53] #467 closed

[2016-12-09 13:06] mrsimonemms opened #468 "Question: can you check coverage on a per-file basis?"
I didn't really want to put a question in here, but I can't find it detailed elsewhere.

I'm trying to set up my coverage tests to ensure that each file has at least 80% coverage on lines, statements, functions and branches. The calculations with my config appear to be working on the coverage of the whole project., not on the individual files.

As an example, if the coverage of the whole project i

[2016-12-11 13:12] alonronin commented on #468
use `text` reporter to see all files reports not just summary

[code]

[2016-12-11 15:21] riggerthegeek commented on #468
Thank @alonronin. That strikes me as the checking being a manual process - is there a way of using the `check-coverage` command to automate this?

[2016-12-12 17:04] jescalan commented on #459
Yeah so I poked around a little, and it seems like babel is a large part of it (with its dependency on core-js). I guess there is no way to remove this if you want to provide coverage for es6 code, right?

[2016-12-13 06:24] addisonj opened #470 "NYC Interfering with subprocess signal handling"
## Expected Behavior
nyc should run tests the same as when the tests are run without NYC
## Observed Behavior
nyc, when running mocha unit tests, appears to be doing something with subprocesses spawned with `child_process.spawn`. Specifically, I have a unit under test that manages subprocesses. These subprocess can be killed. First the default `SIGTERM` is tried, but if the process does not exit,

[2016-12-13 06:35] addisonj commented on #470
For kicks, I also run this in linux (under a docker image with node 6.90 and ubuntu 14.04) and had the same issue :(

[2016-12-13 07:00] bcoe commented on #470
@addisonj to be able to output coverage information prior to exiting, it's necessary for nyc to override signal-handling. The library https://github.com/tapjs/signal-exit is used to facilitate this.

Unfortunately, nyc would be unable to both collect coverage information from your spawned processes, and not override the signal handlers -- the project `signal-exit` attempts to be clever however, ab

[2016-12-13 07:08] addisonj commented on #470
So, interestingly, this works perfectly fine if instead of invoking the script with `node -e` the script is written to a file and then run, updated snippet:
[code]

@bcoe this appears to have less to do with signal handling directly and more that with `node -e` the `spawn-wrap` doesn't seem to function as expected. Perhaps what node shim spawn-wrap is using does not properly handle the input, main

[2016-12-13 07:12] bcoe commented on #470
@addisonj was about to say, it sounds like we should probably carve out an exception in `spawn-wrap` for `-e` ... seems reasonable to avoid

[2016-12-13 07:18] addisonj commented on #470
👍  I have a workaround I can use for now, fun little diversion in the wonderful hacks to make test coverage work :) Thanks for the great tool!

[2016-12-13 18:15] isaacs commented on #470
This is kind of weird, because `-e` invocations are already explicitly passed through by spawn-wrap's shim.

Here's a test verifying that: https://gist.github.com/isaacs/9b05a4010304bdacd01fd8400fd74d94

Here's where it detects the `-e`: https://github.com/tapjs/spawn-wrap/blob/master/shim.js#L53

And here's where it says "no main, no wrap": https://github.com/tapjs/spawn-wrap/blob/master/shim.js#

[2016-12-13 18:17] isaacs commented on #470
Note that this test also passes when I run with `tap --cov test/exec-flag.js` or `nyc node test/exec-flag.js`

[2016-12-13 18:21] bcoe commented on #470
@addisonj @isaacs I'll keep this open until I have some time to look that's not just me poking through issues at 11PM -- sounds like a legitimate bug we should address, if we're already attempting to carve out an exception for `-e`.

[2016-12-13 18:35] isaacs commented on #470
A relevant difference in our scripts seems to be that mine is doing `process.execPath`, and yours is doing `'node'`.

The plot thickens!

[2016-12-13 18:56] isaacs commented on #470
I believe this comes down to a shortcoming in `foreground-child`.  The shim is doing its best to re-exec the child as its foreground process, but unless fg gets a bit smarter (and probably slower), it can't reliably know which ones are being caught and ignored by the child process.

What's actually happening is that the parent is killed with SIGTERM, parent (thinking the SIGTERM to be fatal) passe

[2016-12-13 23:15] omichelsen opened #471 "Exception when using array spread in tests (with Babel)"
I can't run nyc with mocha if I use array spread like this: `[...Array(3)]`

I get the following error: `TypeError: Cannot read property '0' of undefined`

When running just mocha everything executes fine. My coverage script looks like this: `"coverage": "cross-env NODE_ENV=test nyc mocha",`

### `.nycrc`

[code]

### `.babelrc`

[code]

### `mocha.opts`

[code]

I'm using the latest releases of a

[2016-12-14 05:50] reggi commented on #465
Any ideas on why this isn't working?

[2016-12-14 10:46] Malgalad commented on #465
That's https://github.com/istanbuljs/nyc/issues/374

[2016-12-15 18:44] giannic opened #472 "config.include not respected when paths are not in cwd, namely symlinked files"
## Expected Behavior
`config.include` paths override `test-exclude` lib's explicit ignore of parent paths, `../`

## Observed Behavior
Any file not in `cwd` is ignored.

## Bonus Points! Code (or Repository) that Reproduces Issue
https://github.com/istanbuljs/test-exclude/blob/master/index.js#L60

## Forensic Information

**Operating System:** OSX 10.10.5
**Environment Information:**
The caveat co

[2016-12-16 14:27] ngryman commented on #130
Hey,

I'm afraid I have the same problem with my setup. I use [lerna](https://github.com/lerna/lerna) to manage mutliple packages in the same repo and run my tests from the root directory.

I've got this output:
[code]

I'm running `npm test` in the `/Users/ngryman/Projects/arbre` directory which executes the following command: `nyc ava packages/*/test`.

Here is the relevant part of my `package.j

[2016-12-16 15:50] reggi commented on #465
This was fixed with implementing this and using `babel-plugin-istanbul`.

https://github.com/istanbuljs/nyc#use-with-babel-plugin-istanbul-for-es6es7es2015-support

[2016-12-16 15:50] #465 closed

[2016-12-18 04:34] bcoe commented on #471
@omichelsen sounds like a bug with the [istanbul-lib-instrument](https://github.com/istanbuljs/istanbul-lib-instrument), would definitely love to get this patched ASAP.

[2016-12-18 04:41] bcoe commented on #464
@chapati23 @CWSpear thanks for reporting this issue 👍 I'm thinking it might somehow be an interaction between nyc and babel, but not quite sure. It would be a big help if someone could add a failing test to either `nyc` or:

https://github.com/istanbuljs/istanbul-lib-instrument

[2016-12-18 04:42] bcoe commented on #467
@patrickml awesome, I'm glad things are working well now.

[2016-12-18 05:28] bcoe commented on #468
@riggerthegeek @alonronin this sounds like a reasonable feature request, any thoughts about what the interface might look like for enabling this?

[2016-12-18 05:32] bcoe commented on #459
@jescalan correct, and I definitely feel like switching to using babel as the instrumenter has been beneficial to the project... we could dig into https://github.com/istanbuljs/istanbul-lib-instrument, and see if any of the babel dependencies can be trimmed down, we could also dive into the babel project itself and see if there are any tricks we could use to reduce the code size.

[2016-12-18 21:15] riggerthegeek commented on #468
To my mind, a simple boolean in the config object. I'd suggest `perFile` with it defaulting to `false`.

If I were writing the package from scratch, I'd default it to `true` but I'd consider it a (potentially) breaking change so probably best to desult to `false`.

If everyone's ok with that update, I'll have a look at doing a PR

[2016-12-21 15:25] on3iro opened #476 "Files suddenly do get missing in coverage"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
All tested files should be included in the coverage report.

## Observed Behavior
I am currently writing a React/Redux application. While coverage in general seems to work fine,
sometimes files are suddenly ignored for no apparent reason. E.g. all my reducer and action files (all in separate `ducks.js` files)

[2016-12-21 20:10] bcoe commented on #476
@on3iro I'm curious, is this when you're running `test` or `test_watch`?

[2016-12-22 09:58] on3iro commented on #476
@bcoe It happens when i use `npm run coverage` which invokes `npm run test`.
This happened on my windows machine in the office and on our gitlabCI server as well. The weird thing is that I checked out the repository at home on my xubuntu machine, cleared the include/exclude rules out of my babelrc and suddenly got the expected coverage.

Clearing/changing include/exclude rules did not help on the

[2016-12-27 04:49] bcoe commented on #472
@giannic thanks for reporting this; I'd love to figure a way to better support some common edge-cases like symlinks ... while still preventing weird files from being instrumented, e.g., files outside your project ... seems like there are quite a few edge-cases that would need to be worked through.

[2016-12-30 08:52] bcruddy opened #478 "Not playing nicely with import syntax"
## Expected Behavior
Imports should be covered

## Observed Behavior
Imports are not 100% covered - maybe checking the imports themselves?

## Bonus Points! Code (or Repository) that Reproduces Issue
No bonus points here - sorry. Further explanation through - I'm trying to use import syntax and nyc/istanbul is telling me there's an `else`, `if`, and `else` statement missing on the `import React fr

[2016-12-31 17:47] bcoe commented on #478
@bcruddy did you figure out this issue, curious why you closed the ticket.

[2017-01-01 06:19] tivac commented on #464
@bcoe I ran into this porting from istanbul, and I think I've narrowed it down some.

https://github.com/tivac/nyc-not-ignoring/

[2017-01-02 00:47] bcoe commented on #229
\o/ happy new year everyone.

[2017-01-02 00:47] #229 closed

[2017-01-02 02:11] bcoe commented on #471
@omichelsen mind trying the latest release of `nyc`? I'm unable to reproduce this issue with my test script:

[code]

My `.babelrc` looks like this:

[code]

One thing I notice, is that the `es2015` preset uses `transform-es2015-spread`.

[2017-01-02 06:58] bcoe commented on #464
@chapati23 I've been trying to reproduce your specific issue with the latest babel/nyc:

[code]

Seems to instrument appropriately:

<img width="517" alt="screen shot 2017-01-01 at 10 56 36 pm" src="https://cloud.githubusercontent.com/assets/194609/21585462/9d485032-d075-11e6-9372-e54d475720bc.png">

are you still seeing these issues still?

[2017-01-02 09:10] chapati23 commented on #464
@bcoe define "latest", do you mean the master-branch of `nyc`? i'm on 10.0.0 and seeing this issue

[2017-01-02 09:25] chapati23 commented on #464
@bcoe just tried with master-branch: still the same issue unfortunately

[2017-01-02 16:40] omichelsen commented on #471
Thanks for looking into this. Do you mean v10.0.1 because I think you need to publish to npm?

[2017-01-02 18:50] bcoe commented on #471
@omichelsen I'm testing with `v10.0.0`; `v10.0.1` is blocked by some regressions I've found in one of it sub-dependencies.

[2017-01-02 19:06] bcoe commented on #464
@chapati23 my hunch is that `(state: any)` in the babel transform, and in turn the ignore is getting applied to the wrong statement.

I think it would be worth trying https://github.com/istanbuljs/babel-plugin-istanbul, which tends to be more accurate performing mappings from the transpiled code to the original code.

[2017-01-02 20:07] alonronin commented on #468
maybe `average: false` property?

[2017-01-02 21:31] riggerthegeek commented on #468
Sounds good to me @alonronin. When I get some time over the next month, I'll see if I can create a pull request

[2017-01-03 13:37] bcruddy commented on #478
@bcoe, closed by mistake. Still unsure why imports are not being covered.

[2017-01-03 13:41] shirbr510 commented on #381
@doug-wade I don't think it's an ava issue...

I'm having the same issue with executing on travis vs on local windows machines:

## travis log on linux

[code]

## travis log on osx

[code]

## local windows 10 log

[code]

## References:

**My Travis build:** https://travis-ci.org/compy-gaming/compy-api/builds/188526158

**My Repo:** https://github.com/compy-gaming/compy-api

[2017-01-03 21:44] bcruddy commented on #478
The issue was in my babel configuration

[2017-01-03 21:44] #478 closed

[2017-01-03 21:47] bcoe commented on #478
@bcruddy interesting, for my reference what did you change?

[2017-01-03 21:50] bcruddy commented on #478
@bcoe this is unhelpful but for the life of me I cannot remember. We're making some big changes so there's a lot in the air. If I can think of it I'll be sure to leave it as a comment here.

[2017-01-04 05:51] omichelsen commented on #471
I found the problem, removing the following from `.babelrc` fixed it for me:

[code]

And my line numbers seem correct, so don't really know what is going on. Maybe the documentation for `nyc` needs to be updated, because I think I followed the instructions pretty close?

[2017-01-04 21:26] chapati23 commented on #464
thanks @bcoe, using babel-plugin-istanbul did the trick :)

[2017-01-04 21:26] #464 closed

[2017-01-05 03:02] thomas-lee commented on #323
I have encountered the similar problem

nyc@10.0.0
babel-plugin-istanbul@3.0.0
istanbul-lib-coverage@1.0.0
istanbul-lib-instrument@1.3.0

it highlights my async function where async function return boolean at the end.

if i commented out the line of return, all coverage will be 100% but 90% sth when uncommented the return. (an extra line for branch coverage without any reasons)

[2017-01-05 08:54] chielkunkels commented on #323
What I ultimately figured out is that this seems to happen with files that contain ES6 classes which are then transpiled by babel. I don't have the issue fully fresh in my mind, but that's what I recall.

[2017-01-05 19:23] darrickc opened #481 "Instrumentation not working as expected"
My understanding is that when I run nyc npm test my javascript source will be instrumented for me. This is probably true in simple cases but doesn't seem to happen in my more complicated case. We are using mocha and testing a library that we are providing. We run npm install to load our source into node_modules and then when we run npm test our tests require our libs in node_modules.

If I run nyc

[2017-01-05 19:46] bcoe commented on #481
@darrickc we exclude `node_modules` by default, but you should be able to explicitly instrument those files:

https://github.com/istanbuljs/test-exclude#including-node_modules-folder

[2017-01-05 20:37] darrickc commented on #481
Fantastic! That worked. I added
`"exclude": ["!**node_modules**"],`
to my nyc config within package.json and that provided what I wanted. Plus much more. I tried to trim it down with (and other alternatives)
`"exclude": ["!**node_modules/javascript-client-sdk/src/js/*.js"]`
Is it possible to only instrument/report on individual modules?

I also tried adding the files of interest in an include arra

[2017-01-05 20:42] darrickc commented on #481
It looks like the include array does work! I was forgetting to clear out my coverage directory after every run! Thanks!

[2017-01-05 21:57] JaKXz commented on #481
@darrickc if you want to see the discussions on it, see istanbuljs/test-exclude#13, istanbuljs/test-exclude#10, and I think istanbuljs/test-exclude#18.

Motion to close this issue?

[2017-01-05 21:58] #481 closed

[2017-01-05 22:21] bcoe commented on #481
@darrickc @JaKXz is there anything we could clarify in the nyc docs do you think?

[2017-01-06 01:00] JaKXz commented on #481
@bcoe perhaps a section on the website on how the underlying libs work together? That extends the scope a bit, but does give this kind of information a home.

[2017-01-06 16:58] darrickc commented on #481
I would recommend explicitly adding that you can reverse node_modules with `"exclude": ["!**node_modules**"],`

[2017-01-08 11:40] halt-hammerzeit opened #486 "FYI: not that good README.md"
applications that spawn subprocesses.
ES2015 transforms, via babel-plugin-istanbul, or source-maps.

So what does it even do.
Why would anyone need that.

Then why isn't it `true` by default. Should this even be enabled? Does something else need to be installed?

An example is always better than describing it with words

Can? Or should? Why would I even read this section?

We recommend using the c

[2017-01-08 11:40] halt-hammerzeit commented on #486
You've been notified

[2017-01-08 11:40] #486 closed

[2017-01-09 04:29] bcoe commented on #486
@halt-hammerzeit patches welcome 👍

[2017-01-10 14:02] avik-so opened #489 "Function name is lost when running NYC with Mocha and Typescript"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Tests which are run in Mocha should be able to access the `function.name` property when running with `nyc`.
I would expect tests which pass when running mocha alone, would also pass when running `nyc` before `mocha`.

## Observed Behavior
Function names are returned as "" when `nyc` is run before mocha.

## Bo

[2017-01-12 00:04] bcoe commented on #489
@avik-so thanks for this; I believe this is fixed in `istanbul-lib-instrument` already, and just needs to be pulled into nyc; I've been holding off on the release for a bit, having not had a chance to dig into:

https://github.com/tapjs/spawn-wrap/issues/44

With @isaacs yet, we have some PTO days soon; and hopefully we can get a release cut.

[2017-01-12 14:17] avik-so commented on #489
Thanks. Where would I need to make this change if I wish to fix it on my local machine?  Do I just need to reference instanbul-lib-instrument next/latest in the package.json?

[2017-01-13 02:22] evantorrie opened #491 "Allow eager instantiation of the instrumentation library"
Please use the template provided below, when reporting bugs:
-----
## Expected Behavior

When [mockery](https://github.com/mfncooper/mockery) is used for test mocks, I don't want to see warnings about all of nyc/istanbul's modules that are `require`d appearing prior to the first test.

## Observed Behavior

Some mocking libraries hook require and by default warn when there is a required
module whi

[2017-01-16 00:53] bcoe commented on #491
@evantorrie thanks for the thorough issue! hoping to have some time to dig into OSS this week, and will hopefully get to this. Would also happily accept a pull request.

[2017-01-16 15:59] alpersogukpinar commented on #377
I've made a change and opened a pull-request for that problem at babel-plugin-istanbul project. @boxfoot @bcoe
https://github.com/istanbuljs/babel-plugin-istanbul/pull/84

[2017-01-16 21:57] bcoe commented on #309
@eberhara we're finally landing configuration for low and high watermarks:

https://github.com/istanbuljs/nyc/pull/493

No implementation of each yet; would love a helping hand if anyone wants to run with it.

[2017-01-17 05:24] #491 closed

[2017-01-17 05:24] bcoe commented on #489
@avik-so would love your help testing:

`npm cache clear; npm i nyc@next`

If everything is working as expected with our smoke tests, I'll promote the release soon.

[2017-01-17 06:54] avik-so commented on #489
I updated https://github.com/avik-so/nyc-func-name-test and the test passes!

I also added nyc@next to a branch of my actual project and all tests pass as well!

Thank you so much!

[2017-01-17 23:42] bennewton999 opened #495 "File shows 100% coverage despite no tests when imported as a module"
I'm new to NYC and Istanbul, so forgive me if I'm missing something obvious here.

## Expected Behavior

Expect the file app.js to show 0% coverage as I have no tests covering it yet.

## Observed Behavior

When app.js is imported as a module into page1.js, which I do have a test for, app.js shows 100% coverage.

With line 1 of page.js
[code]
When line 1 of page1.js is commented out, (the import o

[2017-01-17 23:48] bennewton999 commented on #495
This is probably more appropriate for the [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul/issues?q=is%3Aissue+is%3Aclosed) issues.  My apologies.

[2017-01-17 23:48] #495 closed

[2017-01-18 15:30] EvgenyOrekhov opened #496 "--all should exclude the "coverage" directory by default"
## Expected Behavior

When using the `--all` flag nyc should not report the coverage of the "coverage" directory that was generated in the previous runs.

## Observed Behavior

When using the `--all` flag nyc reports the coverage of the "coverage" directory.

## Bonus Points! Code (or Repository) that Reproduces Issue

The issue can be reproduced in any repository.
The first run is good, because t

[2017-01-18 17:52] kevincaradant opened #497 "Question: How to coverage Typescript using Tape"
Hi

I'm a little bit lost with all the libraries between karma, mocha etc

I decided to use Tape.

This is my scripts in the package.json:
[code]

My .nyc file:
[code]

**Can I coverage cleanly using my way with npm run test and npm run coverage ?**
Or what I have to do ?

Thank you in advance, sorry if it's trivial.

`npm run coverage` comand:
This is my output:
![image](https://cloud.githubuserc

[2017-01-18 18:12] bcoe commented on #497
@kevincaradant nyc should work just fine with tape, my guess is that something is getting lost in translation in the transpilation step -- maybe we're ultimately excluding the source files.

I'm looping in @JaKXz who's had a bit more experience on this end of things than me. Is this a library that we can check-out and experiment with?

[2017-01-18 18:13] bcoe commented on #496
@EvgenyOrekhov I was noticing this the other day while testing `--all`, I agree this should probably be in the default exclude list!

If you feel like contributing, would happily take a patch here:

https://github.com/istanbuljs/test-exclude

[2017-01-18 18:45] kevincaradant commented on #497
@bcoe ,Thanks glance a look at my issue.

This is my repository ( in building for dev branch ):
https://github.com/kevincaradant/generate_check_md5/tree/dev

Go in the `dev` branch otherwise you will be with babel and not typescript.
Then, write the command `yarn`
Than you can: `npm run test` and `npm run coverage`

Let me know if you need something else.

For information:
nyc: V10.0.0
tape: V4.6.

[2017-01-18 20:42] epoberezkin opened #498 "Why is it called nyc?"
Google suggested: http://www.hotelbuyukkeban.com/blog/istanbul/new-york-and-istanbul-10-surprising-things-they-have-in-common/

[2017-01-19 02:46] mrchief commented on #498
That's it! You found the reason! :rofl:

[2017-01-19 02:51] mrchief opened #499 "Programmatic API"
Is it possible to use nyc programmatically? Like say:

[code]

[2017-01-19 06:20] bcoe commented on #498
@epoberezkin @mrchief the answer is here:

https://www.youtube.com/watch?v=Gi0Rt0slfy4

[2017-01-19 06:20] #498 closed

[2017-01-19 06:37] #496 closed

[2017-01-19 12:57] mightyiam commented on #499
Perhaps use istanbul.

[2017-01-19 21:25] Wedvich commented on #472
I have a different, though probably still not very common use case, where I use multiple test frameworks for some setup examples. Basically, I have a directory structure like this:
[code]

Using tap-nyc as the working directory, running `nyc tap ./test/**/*.spec.js` passes the test, but no files are discovered by nyc since it's outside the current working directory, even if I've explicitly asked f

[2017-01-19 21:41] mrchief commented on #499
- Will the numbers match between nyc and istanbul?
 - Can you point me to any examples/docs?

[2017-01-19 22:03] mightyiam commented on #499
I don't have any experience with istanbul. Only basic usage of nyc. It just makes sense to me that since nyc seems a CLI for istanbul, that if one would like to use the API, then one would use istanbul.

[2017-01-20 01:00] bcoe commented on #395
@ngryman are you still running into these issues, it seems as though these days lerna does create a symlink unless I'm mistaken?

[2017-01-20 01:19] bcoe commented on #499
If your application does something like this at the start:

[code]

`nyc` will begin instrumenting any files you require from that point forward, and will populate `global.__coverage__`; you can write this object to disk and use nyc to render it at a later date.

Another option option to you would be using [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul) to instrument y

[2017-01-20 03:05] mrchief commented on #499
@bcoe Sounds great! I'll explore these and post my experience here.

[2017-01-20 06:12] SpainTrain commented on #471
I was seeing the same error and use `@next` (currently `nyc@10.1.2-candidate.0`) appears to have solved the issue for me.

[2017-01-20 16:51] JaKXz commented on #499
@mrchief I believe `jest` uses the Istanbul APIs underneath to provide their built in coverage, e.g. https://github.com/facebook/jest/blob/master/scripts/mapCoverage.js

[2017-01-20 18:51] bcoe commented on #471
@SpainTrain `next` and `latest (npm cache clear; npm i nyc@latest)` should currently be identical, mind trying out the latest release and confirming that things are still working for you?

@omichelsen unless you re-enable nyc's instrument and sourceMap, I think this would mean you're not getting any test coverage reported?

[2017-01-21 06:00] haysclark opened #500 "Short and common module name makes for poor web searching"
Searching for examples online is very challenging due to the extremely short name and the fact that New York City is going to dominate search results.  In general, while I truly like nyc as a tool, the module name leaves something to be desired.

Google > nyc framework webstorm

[2017-01-21 13:29] freongrr opened #501 "Invalid coverage with babel"
When using istanbul with `babel-register`, the HTML reports often highlight the wrong statements.

## Expected Behavior
On a simple code (a binary expression), the uncovered branch only should be yellow:

![image](https://cloud.githubusercontent.com/assets/1758368/22174736/ceffb300-e028-11e6-811a-f734008d0d43.png)

## Observed Behavior
When using babel-register only, the yellow part extends all th

[2017-01-21 13:54] ngryman commented on #395
I ended up dropping lerna so I don't know if it's now resolved with a newer version.

[2017-01-21 23:18] omichelsen commented on #471
I just installed nyc@10.1.2 and everything magically started working with the config from my first post. Thanks so much!

[2017-01-23 06:05] bcoe commented on #500
@haysclark I hear you, when I picked the name:

* I was looking for something short that wouldn't add much noise if appended to the front of an npm script.
* I wanted something that was clever and related to the name Istanbul (It's a stretch, but I was thinking of the They Might Be Giants song Istanbul).

There's been some discussion [specifically here](https://github.com/gotwarlost/istanbul/issue

[2017-01-23 06:05] #500 closed

[2017-01-23 06:17] bcoe commented on #501
@freongrr there's been a long-standing issue with the application of source-maps -- I'm not 100% if it originates in IstanbulJS or upstream in babel itself; It might be worth opening a tracking issue here: https://github.com/istanbuljs/istanbul-lib-source-maps/issues ...

Having said this, I recommend trying [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul) this plugin w

[2017-01-23 06:17] #501 closed

[2017-01-23 06:18] bcoe commented on #489
@avik-so awesome \o/ this fix is `latest` now too 👍

[2017-01-23 06:18] #489 closed

[2017-01-23 06:21] bcoe commented on #471
@omichelsen awesome ... I'm not 100% sure what I pulled in to fix this for you, but this might have been the culprit:

https://github.com/istanbuljs/istanbul-lib-coverage/commit/22e154c

The reports we're outputting look reasonable, and you haven't had any additional hiccups?

[2017-01-23 06:21] #471 closed

[2017-01-23 06:22] bcoe commented on #395
@ngryman 👍 alright if I close this out for the time being then? my own tests with lerna so far have been pretty promising.

[2017-01-23 11:59] ngryman commented on #395
I tested again with my old branch. I updated to `lerna-2.0.0-beta.32`.
I ended up with this output:

<details>
[code]
</details>
<br>

I'm testing all at once using my root `package.json`: `nyc ava packages/*/test`. Are you doing the same in your project using `lerna`?

[2017-01-23 17:42] omichelsen commented on #471
No, works like a charm!

[2017-01-23 21:16] kevincaradant commented on #497
Any news about this issue ?
I'm motivated to have again a coverage which works :)
Maybe it's a bad use from me.

[2017-01-24 02:10] JaKXz commented on #497
@kevincaradant I took a brief look tonight, and it seems the underlying complexity to get `nyc`, `tape`, _and_ `typescript` to play nice is very high.

In the short term, I'd recommend AVA's typescript recipe (since the assertion API is very similar to `tape`): https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md

I can take a more in depth look only later in the week (unfortunately

[2017-01-24 05:30] kevincaradant commented on #497
@JaKXz, thank you to try to have a look knowing that you was sick.  I understand now,  you will have some works to catch up.
I will try to look ava or tap.

The main problem is that I use mock-fs to mock my files in my unit tests. So,  I know sometimes,  some unit testing doesn't work properly with this library.  I hope ava or tap will work. Otherwise,  I will be patient waiting a fix with nyc for

[2017-01-24 18:52] rcoy-v opened #503 "Extend .nycrc configurations"
Other tools that have similar uses of `.rc` configuration files, like Babel and ESLint, allow you to extend other configuration files. This is a useful option for configuration reuse, when you want to keep mostly the same configuration in multiple projects, and only override a few options.

It doesn't appear that nyc supports this currently. Below is an example of what I would like to do:

node_mo

[2017-01-24 19:46] JaKXz commented on #503
@rcoy-v I'd go one further and say:

[code]

and you could optionally specify a relative path instead of the module name.

That being said, I think this is a great suggestion! Feel free to take a crack at a PR, but if not hopefully I can take a look later this week.

[2017-01-26 17:21] cvle opened #504 "--all fails with ts-node (Typescript)"
First of all, great job with this project!

So I have prefect code coverage using `ts-node` and `nyc@10.1.2`. It was quiet easy to setup.

[code]

But when I use `{ all: true }` it fails like this:

[code]

Any idea why and how can we fix it?

[2017-01-26 17:39] cvle commented on #504
The other way I tried was to do the register in mocha using `--compilers tsx:ts-node/register,ts:ts-node/register`. Setting `{ all: true }` doesn't fail but it is more like a no op.

I'm coming from https://github.com/gotwarlost/istanbul and it works over there. This is the only thing keeping me from migrating all my projects from `istanbul` to `nyc`.

[2017-01-26 17:49] cvle commented on #504
Sorry my bad. It works when I do the require in mocha! Time to migrate all my projects!

[2017-01-26 17:49] #504 closed

[2017-01-26 23:10] haysclark commented on #500
@bcoe Thank you for the excellent reply.

[2017-01-27 09:26] JaKXz commented on #309
@gotwarlost would you mind making this into a GH project board? I think it'd be easier to visualize progress there. :)

[2017-01-27 09:30] JaKXz opened #505 "Make nyc's tests faster"
@istanbuljs/nyc does anyone have any energy to refactor the test suite to enable some parallelism?

Feedback cycles for me are around ~5 minutes, which is a bit much since our number of tests is < 1000.

I'd be open to some remote pairing on this or if you're in T.O. IRL pairing :)

[2017-01-27 09:49] zherczeg opened #506 "Measuring code coverage on top of JerryScript"
Hi,

we would like to measure javascript code coverage using the istanbul tool. The javascript is executed by JerryScript (https://github.com/jerryscript-project/jerryscript) which is a pure ES 5.1 engine. Could you tell me how difficult to port the Istanbul tool to JerryScript? Is the core ES5 compatible?

Thank you,
Zoltan

[2017-01-27 10:08] tilmannOSG commented on #506
Basically we want to find out what level of runtime support is required to run JavaScript code instrumented with Istanbul on top of JerryScript.
We have a lightweight Node.js-like framework called IoT.js (http://github.com/Samsung/iotjs) running on top of JerryScript which provides some basic modules like file system access, the question is whether that's already sufficient to write out the gather

[2017-01-28 22:37] wbyoung opened #509 "Use of --all is broken when instrumentation is disabled"
An attempt was made to fix this in #482 and rolled back in 25aec778cfa6d79fe71077c96b0dde81e6ec3a1f.

See https://github.com/wbyoung/nyc-issue-482-example and discussion on #482 for a full example of the problem.

[2017-01-29 00:12] bcoe commented on #509
@wbyoung I think I've got to the bottom of this issue for you:

https://github.com/wbyoung/nyc-issue-482-example

I'm trying to catch up on pull-requests this weekend across a few projects, so haven't had a chance to the exact root cause -- but it seems to ultimately relate to the order of operations that processes are spawned and that babel-register is applied.

Give [this solution a shot](https:

[2017-01-29 00:12] #509 closed

[2017-01-29 00:23] bcoe commented on #506
@tilmannOSG @zherczeg I think what you might want to look at is our sibling library [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul):

1. you would setup a project to use babel, using the `babel-plugin-istanbul` transpile step.
2. this step will create ES 5.1 compatible code that tracks coverage information (the information will be stored in a global variable named `__c

[2017-01-29 00:26] bcoe commented on #505
I was actually talking to @isaacs a bit about this this week; `node-tap` [supports parallel tests](http://www.node-tap.org/parallel/) so we should be able to experiment with this feature in nyc.

I was also thinking though, that our test-suite is a little clunky; I wonder if we could brainstorm any abstractions that would make tests a bit cleaner -- even just adding some tooling to make it possibl

[2017-01-29 00:31] bcoe commented on #503
@JaKXz I like this idea too, but one thing comes to mind @rcoy-v; why don't we add this functionality to [yargs' config handling](https://github.com/yargs/yargs#configobject) and open a feature request on `yargs`, rather than implementing the extend option in `nyc`.

One side-goal I've had with `nyc` is to try to use it to hammer on yargs, and figure out clean abstractions for a complex CLI applic

[2017-01-29 00:33] bcoe commented on #499
@mrchief I'm going to close this now; but feel free to hit us up with questions in gitter.

[2017-01-29 00:33] #499 closed

[2017-01-29 01:15] bcoe commented on #504
@cvle nice! had a conversation with @wbyoung about this exact same issue earlier today:

https://github.com/istanbuljs/nyc/issues/509

Where do you think we should document this caveat? would love help updating the README ... also, if you're feeling _really ambitious_, it would be amazing to get a TypeScript tutorial up [here eventually](https://github.com/istanbuljs/istanbuljs.github.io/tree/deve

[2017-01-29 03:05] JaKXz commented on #505
@bcoe with version tap v10, I noticed you can use the mocha style `.only` on a `describe` or `it` block, so that definitely helps.

[2017-01-30 22:32] rcoy-v commented on #503
@bcoe To make sure I understand, you are suggesting the syntax for extending configurations is fine. What implements the merging of configuration extensions is yargs, not nyc directly. That is to make extending functionality reusable to any project.

If that is correct, I'm fine either way on where it is implemented.

[2017-01-30 23:47] bcoe commented on #503
@rcoy-v yeah; I like the syntax, especially if other projects are converging on it. But it would be nice to implement it in yargs if possible, so that anyone using yargs for loading `rc` files gets the functionality.

[2017-01-31 19:57] nicosommi commented on #310
@graingert I ran into this as well.

I'm using Visual Studio Code, and I installed an extension called Save And Run with the following settings:
[code]

Maybe you can do the same on your IDE with a similar plugin (or a set of plugins).
Now, each time I save a file, the test is executed along with the coverage report that you configured on your npm task.

Actually this approach has one advantage si

[2017-01-31 22:58] wbyoung commented on #509
@bcoe that does work. Thanks so much for the help!

Ideally, I think it'd be nice if it wasn't required. As is, the documentation for getting this set up is pretty clear. I think it'd be better to try to avoid adding a section like:

For the vast majority of users, this will just be noise. If there's an (easy) way to fix it (even if it's months from now), that'd probably be better than complicatin

[2017-02-01 09:28] tilmannOSG commented on #506
@bcoe Thanks for the quick reply!
Yesterday @dbatyai managed to successfully use Istanbul to gather coverage data with for our IoT.js tests running on top of JerryScript, seems to work very well :)

[2017-02-01 16:59] pghalliday opened #512 "I can't get sourcemaps to work with nyc, babel and mocha"
Here is an example of what I am trying to do https://github.com/pghalliday/nyc-babel-mocha-sourcemaps

If you checkout the project and run

[code]

Then you get the following output

[code]

Note that it reports the error as being thrown from `src/index.js:1:1185` even though the source file clearly throws on line 2

[code]

I have installed `source-map-support` and set nyc to have `produce-source

[2017-02-01 17:06] pghalliday commented on #512
I did notice this in the sourceMaps documentation for babel

I wasn't sure what to make of that as I'm not using the CLI here. I'm requiring `babel-core/register` in my `.nycrc`

[2017-02-01 17:34] pghalliday commented on #512
Ok, it seems to work when I use `babel-plugin-istanbul` and `babel-register`, but then i don't need the rest of the source map configuration. I shall continue with that configuration.

I have pushed this working configuration to https://github.com/pghalliday/nyc-babel-mocha-sourcemaps/tree/babel-plugin-istanbul

[2017-02-03 19:48] cif commented on #395
I had this same issue. For correct reporting (and better tests! 😉) you have to make absolutely sure any files which import dependencies from your external Lerna modules are being smashed with [proxyquire](https://github.com/thlorenz/proxyquire) (use `noCallThru()` and `proxyquireStrict()`). In my case, I had a test which imported a project file which imported another project file which imported th

[2017-02-04 22:38] GurpreetSran opened #513 "Error on ubuntu"
## Should generate coverage report

## Getting error 'cannot find module'

## http://stackoverflow.com/questions/42046415/nyc-coverage-report-not-working-in-ubuntu

[2017-02-05 01:36] bcoe commented on #513
@GurpreetSran out of curiosity what version of `nyc` are you using:

[code]

`path-exists` is shipped with nyc, and should be found regardless of platform.

[2017-02-05 17:09] farhan2106 opened #514 "Promise rejected with: 'cov_2itgu9hdrb is not defined"
I got the following bugs.

`Promise rejected with: 'cov_2itgu9hdrb is not defined'`

I am using Nightmare.js for browser automation. After investigation, the above error is thrown when I use `Nightmare.evaluate` api. When I remove any references to `Nightmare.evaluate` it is able to do coverage properly.

Am not sure it is an error with **nyc** or **nightmare**.

## Forensic Information
`
v6.9.1
3

[2017-02-05 18:27] GurpreetSran commented on #513
strange, not an issue anymore. losing it. Thanks

[2017-02-05 18:27] #513 closed

[2017-02-06 18:25] tconroy commented on #310
curious if anyone has found a good work around / solution for this. Would love to have my coverage update in real-time via mocha --watch.

[2017-02-06 20:12] bcoe commented on #514
@farhan2106 could you share a minimal reproduction of this bug with nightmare.js? I think you've probably found a legitimate edge-case with the instrumenter, which is returning a line counting variable rather than a promise.

[2017-02-06 20:34] bcoe commented on #512
@pghalliday was going to recommend using `babel-plugin-istanbul` as well, as it works better for various edge-cases around transpilation.

Having said this, using `source-map-support` should also work: https://github.com/istanbuljs/nyc/blob/7708235b78f897348b17eaeb9fe0468e3350ae67/README.md#accurate-stack-traces-using-source-maps, @kpdecker I was trying to configure `nyc-babel-mocha-sourcemaps` to

[2017-02-06 20:56] bcoe commented on #506
@tilmannOSG @dbatyai this is awesome, don't suppose I could convince you to write a tutorial for https://github.com/istanbuljs/istanbuljs.github.io, would be happy to draw attention to your projects.

[2017-02-06 21:05] bcoe commented on #497
@kevincaradant would love your help further documenting typescript related configurations, once you have a chance to dig into things further.

we have tutorials [here](https://github.com/istanbuljs/istanbuljs.github.io/tree/development/content/docs/tutorials) that I'd love to see us build out further.

[2017-02-06 21:19] bcoe commented on #395
@cif @ngryman do you think it would be worth documenting this with a tutorial here?

https://github.com/istanbuljs/istanbuljs.github.io

If so, would greatly appreciate someone opening an issue 👍

[2017-02-06 21:28] kevincaradant commented on #497
I was looking for use ava or tap.  But I met some different problems and any workaround satisfied me.  I would a compilation on the fly and use mock-fs in more,  I would keep nyc so I will try to help you if to be honest,  I didn't understand really that you want.  I will try to look your tutorials tomorrow :).  I will back to you if I need some info

[2017-02-06 21:29] kevincaradant commented on #497
I was looking for use ava or tap.  But I met some different problems and any workaround satisfied me.  I would a compilation on the fly and use mock-fs in more,  I would keep nyc so I will try to help you but to be honest,  I didn't understand really that you want.  I will try to look your tutorials tomorrow :).  I will back to you if I need some info

[2017-02-06 21:48] bcoe opened #515 "document and test nyc merge functionality"
_@addaleax brought up a couple enhancements to nyc, in a [conversation here](https://github.com/nodejs/node/pull/10856#issuecomment-277821130) that would make instrumentation of Node.js itself easier._

The first feature request was functionality similar to [istanbul-merge](https://www.npmjs.com/package/istanbul-merge).

nyc already does this internally, by outputting multiple coverage reports int

[2017-02-06 21:54] bcoe opened #516 "add pipe functionality to nyc for instrumentation"
See [conversation with @addaleax](https://github.com/nodejs/node/pull/10856#issuecomment-277821130):

__might help quite a bit if we could reduce the startup overhead of nyc instrument – our tooling would work more nicely if we could use nyc instrument as a pipe-in, pipe-out command for each source file individually, but right now that’s not really practical. I’ve played around a bit but didn’t ge

[2017-02-06 21:55] addaleax commented on #515
I think this is pretty much it, yes. Implementation-wise, one thing that I’ve considered is that it might actually make sense to spawn multiple subprocesses for reading the files and merging the coverage reports to have better CPU utilization. (Interestingly, most of the time here was spent running `JSON.parse`! :o)

Not sure – I think code-wise pretty much everything we have is in the linked PR.

[2017-02-06 21:57] addaleax commented on #516
The 1. part is actually not that important for the Node core stuff (although I think it’s something `nyc` should support, and I don’t think it would be too hard to implement).

The second part is probably trickier ;)

[2017-02-06 22:00] bcoe commented on #516
@addaleax we do a few heavy handed things during yargs' startup, e.g., loading configuration from package.json using `find-up`; it might be the case that we could shuffle this logic around a bit and significantly improve boot time.

[2017-02-06 22:01] bcoe commented on #516
as I understand it, the issue is that you're spending `600ms` before any instrumentation even begins to take place?