[2017-02-06 22:04] addaleax commented on #516
Yup, exactly. Take that times a hundred source files and you’ll have a minute. ;)

We’ll be able to around that in some way, but if we *can* get nyc’s startup time down and bring it into the usable range that would make it usable for per-file work, that would be a huge win (for everyone, I guess :smile:)

[2017-02-07 00:50] farhan2106 commented on #514
@bcoe I have created a sample project to replicate the error.

[`github project`](https://github.com/farhan2106/temporary-nyc-error)

Again, if we comment out the `Nightmare.evaluate` api, it will be able to generate the report properly.

The sample code is from [Nightmare js github](https://github.com/segmentio/nightmare) itself

[2017-02-07 05:08] bcoe commented on #419
@BurningLutz @rapzo could you give this a try:

`npm cache clear; npm i babel-plugin-istanbul@next`

The bug should be fixed thanks to @alpersogukpinar's hard work.

[2017-02-07 08:55] rapzo commented on #419
Uuuuuh interesting!
Will try it out today!

On Tue, Feb 7, 2017 at 5:08 AM, Benjamin E. Coe <notifications@github.com>
wrote:

--
Rui Pedro Lima

[2017-02-07 09:10] BurningLutz commented on #419
@bcoe @rapzo
It seems to work now :D. Thx!

[2017-02-07 09:50] novemberborn commented on #310
I've been thinking about this in the context of [AVA](https://ava.li). I think the test runner needs to provide the coverage reports.

In AVA's case, since each test file runs in a new process, and since nyc combines multiple coverage reports into the final report, AVA would have to remove reports for previous test runs.

Mocha would have to do something similar to clean up previous runs, but that

[2017-02-07 13:59] ngryman commented on #395
@bcoe Yes it would be great. I have to admit that I did not totally understood @cif's solution. It would be nice if it was explained in detail in some sort of *recipe* or `nyc` + `lerna`. 👍

[2017-02-07 16:44] cif commented on #395
@ngryman @bcoe a quick example of how proxyquire works:

a.js
 `export const a = () => 'a result';`

b.js
[code]

b.test.js
[code]
The basic function is to 'hijack' the require / import statements in any dependencies and replace them with mocks. This ensures you are testing logic in your target file, not its dependencies.

**That said...** As our team continues to move our "monolithic" module to L

[2017-02-08 08:30] yangli1990 opened #518 "coverage.json"
## Expected Behavior
Expect a coverage.json file in the coverage folder

## Observed Behavior
No coverage.json

## Bonus Points! Code (or Repository) that Reproduces Issue

[code]

[code]

[2017-02-08 11:38] dbatyai commented on #506
Sure, I'll try to throw together a quick tutorial sometime soon.

[2017-02-09 17:53] grawk opened #519 "question on istanbul-middleware support"
We (nodejs@PayPal) are currently relying upon istanbul-middleware to capture coverage metrics along with selenium automation. Unfortunately it seems that istanbul-middleware isn't being maintained within this org.

My question is: are there any plans to bring that module into this org and support it? if not, would you be opposed if I (or someone else here at PayPal) joins your org to do the same?

[2017-02-09 22:33] luiso1979 commented on #434
This problem came back, there is no way that I can tell nyc to instrument all the files in a certain directory even if not included in any test.
nyc conf:

    "nyc" : {
      "include": [
         "src/**/*.js"
      ],
      "exclude": [
         "**/node_modules/**",
         "**/test/**",
         "**/coverage/**"
      ],
      "all": true
    }

[2017-02-09 23:30] laggingreflex commented on #310
I've written [mochista](https://github.com/laggingreflex/mochista) that does exactly this.

[2017-02-10 13:17] quincycs opened #520 "Question on code coverage support for manual UI tests"
Hi

My app has a big suite of manual UI tests that we run by our own fingers.  I would find it interesting to know how much code coverage we are achieving with our current process.  It takes about 3.5 days of 3 engineers to run our 700+ tests.  The app shuts down in between test cases.

Curious if you all have any suggestions.

[2017-02-10 17:16] bboe opened #521 "lcov report visualization incorrect"
## Expected Behavior

Lines that are covered should not appear in red.

## Observed Behavior

Lines that are covered sometimes appear in red.

## Bonus Points! Code (or Repository) that Reproduces Issue

a.js

[code]

a_spec.js

[code]

package.json

[code]

Running `npm test` after installing the above files produces the following visualization for the coverage of `a.js`:

![image](https://cloud.

[2017-02-10 21:52] JaKXz commented on #521
Looks to me like you're missing `babel-plugin-istanbul`. Could you try installing and configuring it as documented, and hopefully you'll be in better place? :)

[2017-02-10 22:17] bboe commented on #521
@JaKXz that solved it. Thanks! It's incredible how close to accurate it was without that plugin.

[2017-02-10 22:17] #521 closed

[2017-02-11 00:37] JaKXz commented on #520
This sounds well beyond the scope of `nyc` and `istanbuljs` as a whole. While I appreciate the huge complexity that your team has to deal with, as a fellow dev I am honestly cringing at the sound of

Theoretically with that many manual tests you're beyond the acceptance level and are exercising your entire app. My guess is that if code is not hit in those tests, it is dead code, not being used in

[2017-02-11 00:37] #520 closed

[2017-02-11 00:37] JaKXz commented on #518
Is `json-summary` a valid reporter? I thought it was just `json`.

[2017-02-11 00:38] JaKXz commented on #514
@farhan2106 I have some capacity this weekend, I will try to get back to you on this soon! Thanks for your patience.

[2017-02-11 01:26] quincycs commented on #520
Thanks @JaKXz .  Even with an automated UI test suite, sounds like its beyond the scope of this project as well.

[2017-02-11 02:19] farhan2106 commented on #514
@JaKXz Thanks for the help :)

[2017-02-11 19:42] bcoe commented on #520
@quincycs worth noting that nyc can stitch together multiple test run outputs into a single report; while I don't think we'll add this specific use-case to the project, it would be worth you looking at:

1. [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul) which would allow you to instrument your running code with coverage (you could then output the global variable __cov

[2017-02-11 19:58] bcoe commented on #521
@bboe I'd love for it to be 100% accurate without the plugin, but we've never quite nailed the source-map remapping -- not quite sure where in the stack the lines get shuffled.

[2017-02-12 14:26] laggingreflex opened #522 "Unclosed branch-not-covered span in report when using with babel"
Please use the template provided below, when reporting bugs:
-----

Using babel messes up some branch-coverage spans in coverage report:

## Expected Behavior
`nyc --reporter=lcov mocha` ***without*** **`--compilers js:babel-register`**

![image](https://cloud.githubusercontent.com/assets/2523987/22862846/9ebf3d38-f15c-11e6-8d2f-2f7fc10ce786.png)

## Observed Behavior
`nyc --reporter=lcov mocha` *

[2017-02-12 14:39] laggingreflex commented on #522
ah nm, dupe #501.

[2017-02-12 14:39] #522 closed

[2017-02-12 16:44] maxkoryukov commented on #342
hmm... interesting , but no answer, no resolution comment..

@radhikakhetan , could you share your **gulp-nyc** solution???

[2017-02-12 17:48] quincycs commented on #520
Thanks so much.  That sounds great :)

[2017-02-12 18:24] JaKXz commented on #514
@farhan2106 so I'm able to reproduce the issue, which is good.

I tried disabling `nyc`'s instrumentation and going with `babel-plugin-istanbul` but they both produce the same error. Now I have to dive into the stack trace - but you can follow my progress here: https://github.com/JaKXz/temporary-nyc-error/tree/fix/cov-error

[2017-02-14 15:32] yangli1990 commented on #518
@JaKXz yes json-summary is valid. Json and json-summary were producing some json files, however neither matched the format of coverage.json. On the other hand, I just realised that the random hashed json in the generated .nyc_output is the coverage.json that I'm looking for. Is there a way to configure this to fall in the "report-dir" folder?

[2017-02-15 17:59] j5concur opened #523 "Coverage not present for some files"
## Expected Behavior

Code called by all tests will have coverage reported.

## Observed Behavior

Coverage for one file is not reported.

Using istanbul (not nyc) with this command:

`istanbul cover _mocha test/**/*.spec.js -- --recursive --require test/setup.js --compilers js:babel-register`

I get this coverage summary:

[code]

With this nyc command:

`nyc mocha test/**/*.spec.js --recursive -

[2017-02-15 19:02] j5concur commented on #523
Forgot to mention that this seems similar to  #476 ... and now I'm getting more than one file missing from the coverage report :(

[2017-02-15 19:37] j5concur commented on #523
I did a couple of rounds of deleting my node_modules directory and doing npm install, then followed the ES2015+ tutorial more closely.  My nyc test command is now:

`cross-env NODE_ENV=test nyc mocha test/**/*.spec.js --recursive --require test/setup.js`

[2017-02-15 19:38] j5concur commented on #523
require has also been set to `babel-register` in .nycrc ... after these changes, coverage looks complete.

[2017-02-15 19:38] #523 closed

[2017-02-17 11:06] ORESoftware opened #524 "confused about purpose of NYC vs Istanbul"
It seems like we can easily get coverage of child processes with something like:

[code]

therefore I am confused about what the purpose of NYC is. Also, as an aside, did Istanbul swallow/adopt the NYC project? I thought that NYC was independent, but now it's part of the IstanbulJS org.

[2017-02-20 03:24] bcoe commented on #524
@ORESoftware the original purpose of nyc was to allow a user to capture test coverage, regardless of how programs are spawning subprocesses, without requiring any changes in the instrumented code. This is useful for:

* tests that spawn sub-processes, e.g., in the [yargs codebase](https://github.com/yargs/yargs/blob/master/test/integration.js) we have a set of tests that spawn the CLI.
* some test

[2017-02-20 03:28] JaKXz commented on #518
One thing I've noticed is that you're using the `_mocha` executable in your test command, but you can simplify (assuming this is inside your package.json scripts) to:

[code]

Not sure if that'll get you what you want in `report-dir` but it might be worth a shot. I also recommend looking at [`mocha.opts`](https://mochajs.org/#mochaopts)

[2017-02-20 03:42] the1mills commented on #524
Thanks a ton for the info, and yeah this is pretty confusing. I am writing a test lib similar to TapJS and would like to have "batteries included" support for Istanbul/nyc.

I actually would have thought that nyc would somehow monkey patch child_process, which is why you'd require 'nyc' instead of requiring 'istanbul' but I guess that's not the case?

Is there anything that describes the differenc

[2017-02-20 06:01] bcoe commented on #524
_I actually would have thought that nyc would somehow monkey patch child_process, which is why you'd require 'nyc' instead of requiring 'istanbul' but I guess that's not the case?_

`nyc` does monkey-patch `child_process.spawn` and `child_process.exec`, as well as monkey-patching the require statement:

_spawn hook:_

https://www.npmjs.com/package/spawn-wrap

_require hook:_

https://www.npmjs.com

[2017-02-20 06:11] bcoe commented on #518
@yangli1990 to change the location of the output folder, you should be able to set the command line flag `--temp-directory`.

The files output in `.nyc_output` are the raw JSON value of the `__coverage__` variable populated during coverage collection -- I believe json-summary is a styled copy of this information (it doesn't reflect the format stored in `__coverage__`.

What is your goal? perhaps t

[2017-02-20 07:09] ORESoftware commented on #524
thanks, will digest and let me know if I have any further inquiries! really appreciate the info

[2017-02-20 18:51] bcoe commented on #523
@j5concur great; sorry I've been a bit slow to answer tickets the past couple weeks! I'm glad you got this sorted out.

[2017-02-20 20:59] cif commented on #395
Coming back with an update on this one (and tail between my legs). While proxyquire is great for unit tests in general... Turns out this case of nyc "bad" module reporting was just an issue with `babel-plugin-istanbul` being ran when building modules (DOH!).  This wasn't caused by lerna, nor by nyc.
Coverage data was being slapped right in my dist/index files. Had I simply checked there would have

[2017-02-21 00:26] bcoe commented on #395
@cif so, sounds like we're working pretty well with lerna setups this point (which is good, since I'm about to start moving some of our modules over to lerna!).

[2017-02-21 04:47] BurningLutz commented on #419
Since the related issue istanbuljs/babel-plugin-istanbul#62 has been solved recently, I'm closing this now.

[2017-02-21 04:47] #419 closed

[2017-02-21 05:11] bcoe commented on #419
@BurningLutz awesome 👍

[2017-02-21 13:57] yangli1990 commented on #518
@bcoe thanks for responding.
I want to be able to read & measure the coverage on my jenkins, however right now .nyc_output outputs some random file with a hash and sometimes it outputs two (I believe it does this when i use the config all = true) I have no way to extracting this information in a nice way. For now, I've written a hack which transforms the output file into a coverage.json file.

[2017-02-21 18:13] cif commented on #395
Yes, this was definitely that plugin however I am still having some trouble getting both individual modules to test and the outer most project to work. Seems related to https://github.com/istanbuljs/nyc/issues/294

Outer project nyc errors:
[code]
Which looks like babel is mangling up the file before the test. Mocha runs all tests fine. nyc block in package.json:
[code]

[2017-02-21 18:38] cif commented on #395
Interesting. Change down from `10.1.2-candidate.0` back to `10.0.0` solved the issue. Not sure what's in the works for 10.1, but the files that were causing failures contained runtime polyfill promises in one case, and JSX/render in the other. Seems like something new is causing istanbul plugin and transpiling out of sequence with other plugins/presets?

[2017-02-21 19:17] bcoe commented on #395
@cif are you able to share a project that can reproduce this behavior? I believe the issues in #294 should no longer be happening.

[2017-02-21 19:21] cif commented on #395
Unfortunately the repo I'm working with is owned by a progressive, yet extra large shoe corporation 🙃

[2017-02-21 19:24] bcoe commented on #395
@cif if it was related to #294, perhaps try:

`npm i nyc@latest --save-dev`
`rm -rf ./node_modules/.cache`

If this doesn't work, you could also try disabling the cache entirely, like so:

`nyc --cache=false`

[2017-02-21 19:27] cif commented on #395
Clearing .cache fixed it right up. 👍

[2017-02-21 19:32] bcoe commented on #395
@cif weird! we use `CACHE_VERSION` to try to bust the cache; not sure what happened to you there.

[2017-02-21 19:32] #395 closed

[2017-02-22 09:16] Xerkus opened #525 "Ability to prevent recording code coverage by anything but dedicated tests"
Currently, code that is run by anything, eg when module is require'd, is recorded as covered.
False coverage makes that metric fairly useless, which is a problem.

I was looking for a way to prevent recording coverage for parts of code unless it was executed from specific tests and found none. Unless i missed something, i would like to make a feature request.

Consider this simplified example:

[c

[2017-02-23 12:48] mmc41 commented on #197
Would it be possible to configure where to store the coverage info ? F.x. in the same folder as the reports ?

[2017-02-23 15:41] caalberts opened #526 "100% coverage on all files, but no files listed."
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
I was expecting to see coverage on individual files and the coverage to be less than 100%

## Observed Behavior

| File | % Stmts | % Branch | % Funcs | % Lines | Uncovered Lines |
| ----------|----------|----------|----------|----------|----------------|
| ----------|----------|----------|----------|---------

[2017-02-25 14:48] nicosommi opened #527 "Feature request: enforce multiple thresholds"
Hello,

Just an idea that I had today when I ran into the commit -n scenario (this is the N time with N > 50), when trying stuff in a project and commit a partial advance.  I want to have a different coverage threshold on certain files (jsx in this case) because of a decision (let's say 50%). But I want 90% on the rest of my code. And I think that it may apply also, as a second scenario, for envir

[2017-02-25 15:09] nicosommi commented on #527
I just realized I can override those configurations via CLI args. Closing this.

[2017-02-25 15:09] #527 closed

[2017-02-28 02:32] bitjson commented on #377
I'm trying to check coverage against specific **source-mapped** files, but I'm not sure if there's currently a best way to exclude them. (Not the function of the `exclude`/`include` options mentioned above.)

Basically I'm running tests against a bundle (single javascript file), and I'd like to exclude components of the bundle from coverage testing (below, `node_modules/tslib` and `build/temp`):

[2017-03-02 02:12] unional opened #529 "Covering code loaded with `jsdom` and `systemjs`"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Able to walk through the code loaded by:

[code]

## Observed Behavior
Not covered (pretty much expected)
Is there a way to configure `nyc` to trace code like this?

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information
Window 2012 R2

node: 7.5.0
npm: 4.0.5

[2017-03-04 01:12] seanpoulter commented on #524
As one of the confused parties, would you make a note in the repo description about the relationship with nyc @gotwarlost? I'm happy to submit a PR if you'd like something in the README.

[2017-03-04 18:40] bcoe commented on #529
@unional would you be able to provide a minimal repo that would let us dig into `jsdom`/`systemjs` support?

I'm sure there are approaches that we can use to support this.

[2017-03-04 18:40] bcoe commented on #526
@caalberts would you be able to provide a repo that exhibits this behavior? I'm sure we can figure out an approach to supporting `jsdom`.

[2017-03-04 18:44] bcoe commented on #525
@Xerkus let's keep this open for the time being; I'm collapsing a bunch of the Istanbul repos into a mono-repo; at this time I think this would be a better home for this issue.

I understand what you're looking for, and think this would probably make sense as a separate tool -- I do think most of the building blocks necessary exist in Istanbul to pull it off.

[2017-03-04 19:06] seanpoulter commented on #518
Adding some notes since they haven't come up yet:

  - The **.nyc_outputs** directory contains the temporary files to create reports later using `nyc report`. Since you have files in this directory, you can try running creating the JSON summary report:
[code]

  - That json-summary report will create a a file called [coverage-**summary.json**][rpt] not coverage.json. I found this issue while looki

[2017-03-04 23:24] unional commented on #529
Repo: https://github.com/unional/issues/tree/nyc-systemjs

Steps:
[code]

Thanks for looking into this! 🌷

[2017-03-05 00:47] seanpoulter commented on #176
FYI The link to @mohsen1's article has [changed](http://azimi.me/2016/09/30/nyc-mocha-typescript.1.html).

It's also possible to produce TypeScript coverage without ts-node by running tsc with source maps and letting Mocha use them with `--require source-map-support/register`. Nyc will map the rest for you.

[2017-03-05 22:19] caalberts commented on #526
I can't as it's a private repo. How does requiring `jsdom` lead to this issue?

[2017-03-09 09:17] grichka opened #530 "Cobertura (XML) report: Condition-coverage per line does not work"
Hello,
I noticed that condition-coverage per line is not working. Is this a bug? is there an option that would not be documented to enable it?

## Expected Behavior
This is the cobertura (XML) report I get using istanbul in command line.
`istanbul cover node_modules/mocha/bin/_mocha --report cobertura -- --require test/setup.js --reporter spec --check-leaks **/*.spec.js`
There is branch="true" and

[2017-03-10 04:13] bcoe commented on #526
@caalberts just a hunch; another weird thing I see, you shouldn't have `--compilers js:babel-register` in your `test:coverage` command, since you have it required in your `nyc` configuration.

[2017-03-13 13:32] Chaoste commented on #440
I'm facing the same problem. I tried removing node_modules, updating yarn, clearing yarns cache, etc.

I'm callign it like this: "nyc _mocha --opts mocha.opts Nexboard/test/unit Portal/test/unit". I could show you my nyc config and mocha.opts, but I don't think, that this is the problem here.

[2017-03-13 16:35] skarfacegc opened #531 "is there a way to set the name of lcov.info files"
I'd like to run nyc & mocha on several different sets of files then run a unified report across all of them to show coverage.

eg.
[code]
Looking for something similar to --lcov-name (or way to accomplish same).

[2017-03-13 21:12] bcoe commented on #531
@skarfacegc if you do this:

`nyc npm run t1 npm run t2 npm run t3`

where:

[code]

[2017-03-13 22:12] bcoe commented on #440
@Chaoste mind opening a new issue with your specific log output 👍

[2017-03-13 22:33] JaKXz commented on #440
@Chaoste this might just be a simple typo, you want to use the regular `mocha` binary with `nyc` as opposed to `_mocha` which _I believe_ is used under the hood and not really meant to be used externally.

[2017-03-14 07:39] seanpoulter commented on #137
That's what I'm reading the issues for now @bcoe -- applying source-maps to stack traces. **How can I help?**

[2017-03-14 10:18] hilarybarr opened #533 "nyc mocha tests not running"
I run mocha tests without any issues:
[code]
Then I run it with nyc
nyc cover mocha --compilers ts:ts-node/register

nothing happens in the console, the test are not running (sometimes it shows Error: spawn cover ENOENT because cover failed the previous time)

Can you teach me where to look at? any error log?

## Expected Behavior
Need to see mocha tests run

## Observed Behavior
nothing happens i

[2017-03-14 12:26] hilarybarr commented on #533
fixed it with
`nyc --reporter=text --reporter=html mocha --compilers ts:ts-node/register`

[2017-03-14 12:26] #533 closed

[2017-03-14 15:59] JaKXz commented on #533
@hilarybarr glad you got it sorted :) in case you need an example config to get coverage working with mocha + Typescript, I recently helped update this piece: http://azimi.me/2016/09/30/nyc-mocha-typescript.1.html

[2017-03-15 13:19] Izhaki commented on #176
I've managed to get this to work

- with: `webpack`, `mocha`, `mocha-webpack`
- without: `babel`, `ts-node`, bells and whistles

# package.json

    "coverage": "nyc mocha-webpack",

# .nycrc

[code]

# mocha-webpack.opts

[code]

# config/webpack/tests.js:

[code]

[2017-03-21 02:42] winksaville commented on #519
I maybe wrong, but as I understand it the istanbul-middleware's purpose is to allow collection of coverage data on the client side, which is something I like to be able to do easily.

Am I correct that is the purpose of the istanbul-middleware?

[2017-03-21 19:44] wrumsby opened #536 "Need Help Trying to Understand Why Coverage is Reporting as 0%"
I'm trying to work out why I'm seeing different results for coverage when running locally (OS X 10.12; nvm; yarn, node 7.4.0) vs running on a build agent (Windows 10, nodist, yarn node 7.4.0) as part of a TeamCity 10.0.4 build.

If I have the following scripts in my `package.json`:

[code]

running `npm run cover` locally will output:

[code]

when run as a TeamCity build step I get:

[code]

It d

[2017-03-21 21:25] wrumsby commented on #536
So, configuring the build agent to run as an admin seems to resolve the issue here.

[2017-03-21 23:12] #536 closed

[2017-03-22 06:00] bcoe commented on #536
@wrumsby awesome (also weird) I wonder what was happening to you here.

Let me know if you bump into any more issues.

[2017-03-22 06:02] bcoe commented on #533
@mohsen1, @JaKXz ... I don't suppose we could repost this tutorial on `istanbul.js.org`, this would rock.

[2017-03-22 06:10] bcoe commented on #137
@seanpoulter sorry for the slow response, am at GitHub issue overload 😛

There has been some prior art with regards to supporting source-maps in stack traces:

https://github.com/istanbuljs/nyc/pull/393 (thanks @kpdecker!)

It would be great to have another person try out the functionality; it would also be awesome to add a post on https://github.com/istanbuljs/istanbuljs.github.io.

[2017-03-22 06:12] bcoe commented on #529
@unional sorry it's taken so long to get to this (put out a new major release of yargs, and have been doing some work around monorepos to try to consolidate some of the work on istanbuljs).

Thanks for providing this reproduction!

[2017-03-22 06:17] bcoe commented on #377
@boxfoot sorry for the painfully slow response! thanks to @alpersogukpinar the behavior you're looking for should now be supported in `babel-plugin-istanbul`.

@bitjson, if you're still running into issues mind opening a new issue 👍 (so that we can wrap this one up).

[2017-03-22 06:17] #377 closed

[2017-03-22 06:18] bcoe commented on #527
@nicosommi 👍 awesome; did this approach work for you?

[2017-03-22 06:20] bcoe commented on #310
@laggingreflex this is really cool 👍 any interest in potentially merging this into the istanbuljs organization?

Should this be part of `nyc`, should it remain separate? (my leaning is having it as a separate tool).

[2017-03-22 06:21] bcoe commented on #506
@dbatyai thanks for taking the time to pull together a tutorial; I'll work on getting this merged soon -- am reaching an almost infinite number of open pull requests 😛

[2017-03-22 06:21] #506 closed

[2017-03-22 06:57] seanpoulter commented on #137
Understandably overwhelmed @bcoe.
I'll have a look over the coming week.

[2017-03-23 07:32] CamelKing opened #537 "Inconsistent Coverage Report by NYC"
## Expected Behavior

I am expecting consistent coverage report from test to test, unless there is a code change.

## Observed Behavior

Without changing any of the code, source or test, running nyc consecutively gives different coverage % in the report.

Screen shots attached in gist.

## Forensic Information

**Operating System:** Mac OSX Sierra.
**Environment Information:** NodeJS, Typescript.

[2017-03-23 08:11] CamelKing commented on #537
Upon further experiment, I noticed from time to time I see messages such as:

File [xxx.ts] ignored, nothing could be mapped.

This is when I won't get 100% coverage for Branch.

This does not happen all the time, again, if I keep running the coverage, sometimes I get it, sometimes I don't.

I am using npm script:

"PORT=8000 nodemon --ext ts --watch ./  --exec 'nyc --reporter=text --reporter=html

[2017-03-23 14:06] ozum opened #538 "Cannot get report for non-covered parts of conditions"
## Expected Behavior

Less than 100% coverage.

## Observed Behavior

100% coverage.

## Forensic Information

**Operating System:** MacOS 12.12.2
**Environment Information:** node v7.7.1, nyc 10.1.2

(I moved this case from https://github.com/gotwarlost/istanbul/issues/784)

Hi,

I use `mocha` & ~~`istanbul`~~ `nyc` for some projects and `lab` for some others.

For the very simplified example bel

[2017-03-24 12:44] wicked539 opened #539 "Nyc not producing any coverage info on Jenkins (RHEL) build server, works fine on Mac OS & Ubuntu"
Expected Behavior

I recently tried to integrate Nyc coverage reports into the build process of one of our apps. It works perfectly fine on my local Mac OS dev machine:

$ nyc mocha src/test/javascript/**/*.spec.js

Generates coverage report as expected (All files |    90.79 |    60.29 |    83.12 |    90.79 |, and so on... ).

## Observed Behavior

However, I am unable to get Nyc to produce any co

[2017-03-24 23:19] ORESoftware opened #540 "Question/feature - Interpret hashbang"
This is a feature request - I opened the issue with gotwarlost/istanbul, but I think maybe I should be opening it here instead

https://github.com/gotwarlost/istanbul/issues/788

First and foremost this is a question...I am wondering if Istanbul will currently interpret the hashbang in a file, for example if we have this:

`#!/usr/bin/env mocha`

instead of

`#!/usr/bin/env node`

such that when w

[2017-03-24 23:39] bcoe commented on #540
@isaacs and @addaleax have done a lot of the work around this specific `nyc` functionality -- I definitely think it would be cool.

We're actually a few versions behind `spawn-wrap`, which is the library that facilitates `#!/usr/bin/env node`.

[2017-03-24 23:42] ORESoftware commented on #540
Yeah, I see, I guess supporting windows will make it a bit harder

[2017-03-24 23:57] addaleax commented on #540
So… I’m a bit torn on whether nyc should do this; on the one hand, it’s clear why this feature would make sense. On the other hand, what `nyc` supports right now is that it either lets you replace `node` with `nyc` in a command line and everything just works, or you prepend `nyc` to the command line. Implementing this feature would add a third such mode, and I’m a bit weary of the inconsistency/ad

[2017-03-26 23:03] isaacs commented on #540
@addaleax

It'll still be required if you do `spawn(node, [jsfile], { env: { foo: 'bar' } })` because it won't get passed in.  But, the spawn-wrap usage can potentially be simpler, because all it has to do is enforce an environment var rather than inject argv.

Currently, spawn-wrap will _not_ detect a shebang line that is itself a shebang script invoking node.  That could be added pretty easily,

[2017-03-27 02:06] skarfacegc commented on #531
So there's no way to run multiple instances of nyc (if I want to parallelize my build for example) and generate a report that's an aggregate of multiple runs?

Yes, I'd need to deal with cleaning out the old between runs, but build systems are generally pretty good at that.  I see that the[ lcovonly ](https://github.com/istanbuljs/istanbuljs/blob/master/packages/istanbul-reports/lib/lcovonly/index

[2017-03-27 21:29] peterharding commented on #537
I am seeing the same.

[2017-03-27 21:36] bcoe commented on #537
@peterharding @CamelKing do me a favor and try running `_mocha` instead of `mocha`; my guess is that this is related to a subprocess exiting before coverage is written.

@peterharding are you also using `nodemon`?

[2017-03-27 21:52] peterharding commented on #537
@bcoe Same problem with `_mocha`,  I did a git diff on my `lcov.info` files and got:
[code]

The commands I am running (package.json) are:
[code]

[2017-03-27 22:17] bcoe commented on #537
@peterharding interesting, that `NaN` definitely seems like it could be the culprit;

are you (or are you @CamelKing) able to share the project having issues?

[2017-03-28 00:02] bcoe commented on #476
@on3iro it should work in both places; perhaps if you're continuing to bump into issues you could open a new ticket, along the lines of `include/exclude logic not working when present in .babelrc`?

[2017-03-28 00:02] #476 closed

[2017-03-28 00:10] bcoe commented on #537
@peterharding @CamelKing I find it interesting that typescript node register is used in both cases, this might be a good starting point for the investigation.

[2017-03-28 01:47] JaKXz commented on #537
@CamelKing @peterharding I usually avoid using the `_mocha` executable with `nyc`. I've made a couple comments elsewhere about why that is... but since I don't have the time to take a quick look, I would recommend following [this guide for `nyc` + `mocha` + typescript](http://azimi.me/2016/09/30/nyc-mocha-typescript.1.html) which I will be putting on istanbul.js.org when I have cycles mid-April.

[2017-03-28 16:06] CamelKing commented on #537
@bcoe I have tried mocha and _mocha, with or without nodemon, or npm watch. Same.

Initially I thought may be I have a cyclical requires amongst my files, spent some time to clear them, still no change. As the project gain more files, it seem the chances of getting the 'nothing to mapped' problem is higher. I now have to run multiple times before I managed to get a clean report.

My repo is at [ht

[2017-03-28 16:14] CamelKing commented on #537
@JaKXz thanks for the suggestion, I just tried the guide, but having the same problem.

[2017-03-28 22:17] JaKXz commented on #537
@CamelKing in [my PR](https://github.com/CamelKing/alpha/issues/1) I have gotten coverage working and added some of my opinions about package publishing while trying to maintain compatibility with your workflow. :) let me know what you think you'd like to see added or changed.

There are some important things to note:

- if you are going to set up CI, your default test script is set to `--watch` s

[2017-03-29 05:10] CamelKing commented on #537
@JaKXz , thanks for the PR, it sure helps clean up the tasks quite a fair bit. I have merged it into the master.

However, I have been testing it, and it still does produce the long list of 'nothing could be mapped' messages. Again this is not consistent, as in if I will get different results for every `npm run coverage`.

I have turned the npm loglevel to silly. The following is what I see.

If I

[2017-03-29 05:45] JaKXz commented on #537
FWIW, I would try turning it off and on again:

[code]

Also node v7.7.4 is out which may contain fixes. Otherwise, honestly I'm not sure why there are intermittent failures... sorry: it works on my machine so I'm in the dark and can only suggest rudimentary steps now.

[2017-03-29 06:46] JaKXz commented on #529
@unional I took a quick look at your repo and it looks like https://github.com/istanbuljs/nyc/issues/176#issuecomment-286738545 might help. Could you try giving that a shot and reporting back?

[2017-03-29 07:14] unional commented on #529
Sure I can give it a try, but what does it solve? It seems like a solution to get coverage with `mocha` and `webpack`. But I do get coverage already with `ava` and `nyc`. It's just that when loading through `jsdom` and `systemjs` the coverage are not recorded.

[2017-03-29 12:33] CamelKing commented on #537
@JaKXz I did two tests today.

- make a new user on my mac today with empty settings, install the whole project from scratch, and it still produce the same result.

- change the workflow. I now make tsc compile all .ts files (test included) into the lib directory, and then run nyc against all .js files from there. It works, no error report at all. The report is, to my surprise, in accordance to my

[2017-03-29 13:41] borisovg opened #542 "support for --root option"
nyc doesn't seem to have support for `--root` option?

I keep all my test stuff in ./tests (including separate package.json and all coverage output) and run istanbul from this directory with `--root ../` set.

[2017-03-30 05:03] bcoe commented on #542
@borisovg would definitely entertain adding this 👍

[2017-04-02 23:37] indieisaconcept opened #543 "named functions not covered if locally scoped variable of same name exisits"
Took me a while to figure out what was actually going on but I've discovered an issue whereby a locally scoped variable which has the same name as the enclosing parent function results in coverage not being generated for that function.

## Expected Behavior

Coverage report generated for all files under test.

## Observed Behavior

Not all files are reported

## Bonus Points! Code (or Repository)

[2017-04-04 17:31] dbaston opened #544 "--all only reports all files with --reporter=text"
## Expected Behavior

With `--reporter=cobertura` or `--reporter=lcov`, `--all` should output in `/coverage` for every input file.

## Observed Behavior

Output is only produced for all files with `--reporter=text`.  With `--reporter=cobertura` or `--reporter=lcov`, the effect of the `--all` seems to penetrate only one level deep from the project root.

For example, `modules/process.js` is include

[2017-04-05 14:59] joelmukuthu opened #545 "--all with babel-plugin-istanbul does not report coverage for non-transpiled files"
## Observed Behavior
If files are excluded from transpilation in .babelrc, then the files that are not included in the test suite are not included in the coverage report, which is the expected behaviour with `--all`

## Expected Behavior
That all the files in the directory excluded from transpilation would be included.

## Setup
directory structure:
[code]
.babelrc:
[code]
package.json:
[code]
Whi

[2017-04-05 15:03] JaKXz commented on #545
Interesting use case. Just curious, have you tried an `"include": ["client", "server"]` in your `.nycrc` or package.json nyc stanza? Not sure if that'll fix it but it's worth a shot.

[2017-04-05 15:06] JaKXz commented on #544
hmm. This might actually be related to our cobertura [and clover] reporters being kinda broken ATM... I usually use `--reporter=lcov` which prints everything just fine AFAICT. Mind giving that a try? :)

See https://github.com/istanbuljs/istanbuljs/issues/13 and https://github.com/istanbuljs/istanbuljs/issues/14

[2017-04-05 15:13] JaKXz commented on #512
@pghalliday forgive me if I'm wrong, but it sounds like your issue has been resolved? Motion to close this issue? :)

[2017-04-05 15:18] pghalliday commented on #512
@JaKXz only in the sense that I worked around it by doing something else. As such I don't know if the original issue has been resolved.

Also the workaround has some unpleasant side effects resulting in fragmentation of configuration (eg. excluding and including files for coverage in the babel configuration instead of the nyc configuration)

[2017-04-05 15:18] JaKXz commented on #468
This sounds like a definite value add, though I'd definitely favour `perFile` over `average: false` because the former is more semantic [i.e. does what it says on the tin].

[2017-04-05 15:42] JaKXz commented on #512
In your `babel-plugin-istanbul` branch you have the correct setup that's [documented for ES2015+ support](https://github.com/istanbuljs/nyc#use-with-babel-plugin-istanbul-for-es6es7es2015-support) so I'd say that it's not a workaround but just correct now.

WRT to fragmenting the configuration: that's a valid point, but I think of it as a separation of concerns actually. When instrumenting ES2015+

[2017-04-05 15:50] pghalliday commented on #512
Ok, but the issue is that source maps don't work without the plugin when they should.

From the documentation it states that the plugin provides "better" support, specifically for better code highlighting in reports. AFAIK source maps are intended to work without the plugin, so the issue remains.

[2017-04-05 16:02] joelmukuthu commented on #545
Yeah I have both `/client` and `/server` in my nyc config but that didn't fix it. I'll find some time tomorrow to create a repository to reproduce this.

[2017-04-05 19:27] wizzfile opened #547 "nyc"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

## Observed Behavior

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information

**Operating System:** the operating system you observed the issue on.
**Environment Information:** information about your project's environment, see instructions below:

1. run the following script:

sh

[2017-04-06 01:18] #453 closed

[2017-04-06 05:00] #547 closed

[2017-04-06 05:02] bcoe commented on #512
@pghalliday we definitely seem to have some issues with sourcemaps;  would love help debugging this -- maybe we can start getting some unit tests around some of the failing behavior over time.

Let's leave this ticket open for motivation.

[2017-04-06 05:09] bcoe commented on #544
@dbaston perhaps you could share a project that's having this issue, I'd love to get to the bottom of this.

[2017-04-06 05:14] bcoe commented on #543
@indieisaconcept thanks for digging into this.

This will most likely be an issue in https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-instrument -- if you're feeling ambitious, would love help getting a failing test around it.

[2017-04-06 08:50] joelmukuthu commented on #545
Repo: https://github.com/joelmukuthu/nyc-istanbul-all-bug
Travis build showing the bug: https://travis-ci.org/joelmukuthu/nyc-istanbul-all-bug/builds/219197809
Travis build showing what's expected: https://travis-ci.org/joelmukuthu/nyc-istanbul-all-bug/builds/219197761

[2017-04-06 10:05] juancarlosfarah opened #548 "Get coverage information for integration tests with nyc"
I'm trying to use **nyc** to get the coverage of some integration tests I'm running against an express.js server and I'm a bit confused as to what the process should be. Currently I'm starting up the server and then running something along the lines of:

    NODE_ENV=test nyc _mocha --compilers js:babel-register test/**/*.spec.js

This runs the tests against the server mainly by calling the API en

[2017-04-06 11:10] JaKXz commented on #548
You're almost there! Take a look at: https://github.com/istanbuljs/nyc#use-with-babel-plugin-istanbul-for-es6es7es2015-support

I recommend also using the `mocha` executable instead of `_mocha`, and you could use [`mocha.opts`](http://mochajs.org/#mochaopts).

[2017-04-06 13:35] dbaston commented on #544
I'm having the same problem with `--reporter=lcov`.  The output of `--all` is not the same as the output without `--all`, but the "allness" only penetrates one level deep.

@bcoe I don't have a project I can share, but I may be able to create one.

[2017-04-06 13:39] juancarlosfarah commented on #548
Thanks for the tips @JaKXz. I followed your advice regarding `mocha` and the `mocha.opts` file. Unfortunately, it looks like for my project, I cannot do the ES2015 transform using the `all` flag, as I have some files that cannot be transpiled out-of-the-box and the `exclude`/`include` options for `babel-plugin-istanbul` don't seem to be working as expected when using this `all` flag.

Leaving that

[2017-04-06 14:35] juancarlosfarah commented on #548
I was able to get it to work as expected following @gotwarlost's steps [here](https://github.com/gotwarlost/istanbul/issues/574).

Is there an equivalent for `nyc`?

[2017-04-06 16:15] AlexisTessier opened #549 "esprima.parse function result altered by the nyc.exclude option in package.json"
## Expected Behavior

- When I use the nyc.exclude option defined in the package.json
- And in my tests, I use esprima in order to parse javascript string
- The result of esprima.parse still should be correct

## Observed Behavior

- I use [ava](https://www.npmjs.com/package/ava) for some tests
- I run the command nyc ava
- I have a test.js file which contain the following content

[code]

## Bonu

[2017-04-06 17:44] shamusharkin opened #550 "Question - use Istanbul for code coverage of client side JavaScript"
We have used Istanbul successfully for our unit and integration testing.  However, when we run our acceptance tests which render server side and client side code we cannot see any coverage of our client side JavaScript.

I was wondering if this is possible.....As i can't find any information on how to set it up.
Thanks

[2017-04-06 18:07] unional commented on #529
I have created a tool [`domture`](https://github.com/unional/domture) that makes testing using jsdom a bit easier.
It using the technique described here thus has the same problem.

I still don't know if this can be fixed because I notice that `ava` can't pickup the dependency graph either.

What I mean is this:

[code]
when I run `ava` in watch mode and the file `a.ts` is changed, tests in `a.spec

[2017-04-06 22:32] indieisaconcept commented on #543
@bcoe np, thanks for the pointer - I'll take a look.

[2017-04-06 23:32] JaKXz commented on #548
@juancarlosfarah try taking a look at https://github.com/Stupidism/react-starter-kit/pull/1/commits/bc159056a75e1ea06bacc8e8bf43fb0055c5aeb2

It's clear to me that our docs are not very obvious on how to do this and I've just done this setup a lot of times that it's become second nature... How can we improve the docs to make the instructions clearer?

I was hoping you'd see and follow https://ista

[2017-04-07 08:54] AlexisTessier commented on #549
It's my bad, I forgot that the exclude option overrides the defaults

With nyc.exclude = ["test", "test{,-*}.js", "**/*.test.js", "**/__tests__/**", "**/node_modules/*", "path/to/exclude"]

It works

[2017-04-07 08:54] #549 closed

[2017-04-07 16:00] tomdale opened #552 "Cache key doesn't take `--source-map` into account"
## Expected Behavior
`nyc`'s cache would be invalidated when different flags are passed.

## Observed Behavior
Toggling source maps off and on doesn't have an effect; the result from whatever option was used the first time the command was run is used.

## Bonus Points! Code (or Repository) that Reproduces Issue
[code]
## Forensic Information

**Operating System:** OS X 10.11.6
**Environment Inform

[2017-04-09 14:51] wizzfile commented on #547
sh -c 'node --version; npm --version; npm ls' > output.txt

[2017-04-11 14:50] RecuencoJones commented on #537
I am experiencing the same issue with the following:

Dependencies:
- nyc: 10.2.0
- mocha: 3.1.2
- typescript: 2.1.5
- ts-node: 3.0.2

Env:
- npm: 4.0.5
- node: 7.4.0
- os: macOS 10.12.3 (16D32)

In our case the problem got solved downgrading to nyc v9.1.0, consistent 100% of the times.

The project source is a single TypeScript file and the error comes in the branching of an if statement, even th

[2017-04-11 17:21] JaKXz commented on #533
Just for posterity, this now lives here as well :) https://istanbul.js.org/docs/tutorials/typescript/

[2017-04-16 11:00] JaKXz commented on #550
Would it be possible to share your repo or a minimal reproduction of it?

Have you seen the tutorials at HTTPS://Istanbul.js.org/docs/tutorials?

How can we improve visibility on the readme and the website so that you can find what you need? :)

[2017-04-16 16:43] CamelKing commented on #537
Yes, in fact as the number of modules grow in my project (now >100), it is more likely to happen. I typically run the coverage tool a few times until I get one without the error message, and this is taking up a lot of time ... my worst fear is I am not 100% sure the coverage report is accurate ...

[2017-04-16 18:39] bcoe commented on #537
@CamelKing my hunch is that we're bumping into something similar to [this issue](https://github.com/istanbuljs/istanbuljs/pull/38), basically I think there's a chance that a file might be getting instrumented twice.

Can you provide me with a fairly minimal branch to run, that exhibits the flappy behavior?

[2017-04-16 19:06] bcoe commented on #537
@CamelKing I've made some headway, it actually seems to be related to caching, and SourceMaps; will report back soon.

[2017-04-16 20:19] bcoe commented on #537
@CamelKing, do me a favor and try reproducing with --cache=false; I believe the issue is that files fail to map on the second run, when source is loaded from cache.

Would love help digging into this.

[2017-04-17 19:37] ChantOfAnAnt opened #554 "Windows: Undefined path resolution behaviour for project (and it parts) located within directory junction links"
## Expected Behavior

Use of `nyc --all mocha` should collect coverage data for *src* directory only, once for each file (tested or not doesn't matter).

## Observed Behavior

Instead, with *junction links* as part of project path, coverage data collected for:

- each tested file (as should be);
- each file in *src* folder (results in duplicates of already listed tested files with 0% coverage);
-

[2017-04-18 10:35] Samurais opened #555 "[help wanted] What does it mean with the I, E Marker?"
hi, folks

I have tested project with nyc, but I dont know how to read the report.
* what does the read lines mean?
* and why there are 'I' and 'E' markers?

![image](https://cloud.githubusercontent.com/assets/3538629/25126604/676291dc-2465-11e7-8314-da61f03f866e.png)

[2017-04-18 12:28] JaKXz commented on #555
Good question :)

The `I` flag means that the if path is not taken in your tests, and therefore is not covered.

The `E` flag means that the else path is not taken in your tests and therefore not covered.

To find out what any markings mean in the coverage reports, you can mouse over the part you're interested in and a tooltip should give some information.

Would you like to add this documentation

[2017-04-19 02:16] Samurais commented on #555
Thanks a lot. Yes, it would be better if we put them in docs site.

[2017-04-19 02:16] #555 closed

[2017-04-19 02:39] JaKXz commented on #555
Feel free to make PRs there! :)

[2017-04-19 08:25] bcoe commented on #552
@tomdale are you picturing that we'd perhaps bake the nyc config into the hash generated for the cache? This might be the simplest approach is that it might place quite a bit of cruft in the cache directory if you're fiddling with your settings;

Would it be worth enumerating a few flags that have the most noticeable effect on the cache, start simple?

[2017-04-19 16:17] tomdale commented on #552
@bcoe That sounds like a great approach. I think we do something similar in the Ember build system: feed the serialized config POJO into the hashing function. If that's a tractable option here, it seems better than trying to whitelist config options on a case-by-case basis. Better err on the side of too much cache invalidation than too little. 😄

[2017-04-19 17:08] CamelKing commented on #537
Hi, sorry for the late response.

I have install nyc@next and tried running it for 10 times. While the error message does not occur, I notice the followings:

`=============================== Coverage summary ===============================
Statements   : 86.76% ( 1304/1503 )
Branches     : 90.62% ( 570/629 )
Functions    : 92.96% ( 198/213 )
Lines        : 87.31% ( 1273/1458 )
===================

[2017-04-19 17:14] CamelKing commented on #537
Hi, sorry for the late response.

I have install nyc@next and tried running it for 10 times. While the error message does not occur, I notice the followings two outcomes at random, with no change to source code:

It seems while the error message is suppressed, the impact is still there. The one is lower coverage percentage is the same as the one with error message before.

I then tried running npm

[2017-04-19 17:17] CamelKing commented on #537
@bcoe  If you need a smaller branch to test, I have created a tag: [nyc issue](https://github.com/CamelKing/alpha/tree/nyc_issue). This is the state of my project when I first reported the issue.

[2017-04-19 19:18] bcoe commented on #537
@CamelKing I believe I've solved one other issue, could you please try `npm cache clear; npm i nyc@next` again?

[2017-04-20 02:32] CamelKing commented on #537
@bcoe  test run 10 times and

1) No 'nothing to map' error message
2) Consistent coverage report

I will continue to run this for the next week or so and report back if I encountered any issue.

I did try to run it with silly npm log level, and observed the followings:-

[code]

Not sure if this mean anything, but as far as I can tell, things seems running fine and I am ignoring this error message

[2017-04-20 04:26] bcoe commented on #537
@CamelKing I believe the error output is that you're below your coverage thresholds; which causes nyc to exit with a `1`.

[2017-04-20 05:28] astorije opened #557 "coverage folder is not being excluded on nyc@10.2.0"
## Expected Behavior

`coverage/` folder being excluded even when not present from the exclude list.

## Observed Behavior

<img width="573" alt="screen shot 2017-04-19 at 01 22 12" src="https://cloud.githubusercontent.com/assets/113730/25164400/a58ddb36-249e-11e7-9ccd-4b3b7641eb4e.png">

See comment made at https://github.com/istanbuljs/nyc/pull/502#issuecomment-295098720.

## Bonus Points! Code

[2017-04-20 13:26] CamelKing commented on #537
@bcoe  ah ... got it. Thanks :)

[2017-04-20 18:33] bcoe commented on #537
@CamelKing FYI, make sure you install the latest `nyc@next`; fixed a bug that would cause things to fail if you had no `node_modules/.cache` folder.

[2017-04-20 21:13] #537 closed

[2017-04-22 09:59] anasinnyk opened #559 "Coverage result different in separate runs"
I run next command
[code]
and after this run I have a different result.
http://prnt.sc/ezg6h5
http://prnt.sc/ezg6ps
once coverage equal 100% once 50%

## Expected Behavior
Coverage will be the same on each run

## Observed Behavior
Coverage changes time by time

## Bonus Points! Code (or Repository) that Reproduces Issue
[code]

## Forensic Information

**Operating System:** Fedora or Ubuntu
**Env

[2017-04-25 05:10] bcoe commented on #559
@anasinnyk could you link to the repo that is having this issue; if it's a private module, and you are unable to -- perhaps you could share just the `package.json`.

[2017-04-25 07:35] joelmukuthu commented on #545
@JaKXz @bcoe have you had a chance to look at this?

[2017-04-26 07:07] sudo-suhas opened #560 "Usage is printed for valid command in travis, node 5"
## Expected Behavior
On running the npm command `npm test`, `cross-env NODE_ENV=test nyc --cache ava --concurrency 4`, the expected behavior, which I am able to see in my local(node versions 4, 5, 6) and on travis with node version 4 and 6 is to run tests and print the coverage. Can be seen here - https://travis-ci.org/sudo-suhas/elastic-builder/jobs/225877125

## Observed Behavior
The usage is pr

[2017-04-26 17:52] mintel-ssallay commented on #530
I'm having the same issue with branch coverage at work, but we have a fix in place from before I started that seems to work.

It appears that [this line in istanbul-lib-coverage](https://github.com/istanbuljs/istanbuljs/blob/master/packages/istanbul-lib-coverage/lib/file.js#L207) is at fault. It's accessing a non-existent property on the members of the branchMap object. We manually replace that li

[2017-04-27 03:09] duytran commented on #514
@JaKXz I have same issue with @farhan2106, Is issue fixed? thank you.

[2017-04-27 05:48] JaKXz commented on #514
Thanks for the ping @duytran, I'm unfortunately not available to look deeper. FWIW my fork is still alive: https://github.com/JaKXz/temporary-nyc-error/tree/fix/cov-error and you should be able to reproduce the error there. If you're able, feel free to dig into the issue and for many bonus points try to add a failing test :) though that is a _lot_ of bonus points, because the issue might be in the

[2017-04-27 07:06] duytran commented on #514
@JaKXz thank for reply :)! I will try look around. Thank you.

[2017-04-28 00:12] bradbumbalough opened #561 "Issue getting results when Home folder is a different HDD than OS"
## Expected Behavior
Display code coverage for mocha tests.

## Observed Behavior
No files covered, only shows files with `--all` flag but no coverage.
![screen shot 2017-04-27 at 8 11 12 pm](https://cloud.githubusercontent.com/assets/9825605/25509273/b7d3ab34-2b85-11e7-9469-e49288590b26.png)

## Forensic Information

**Operating System:** MacBook Pro Late 2011, 10.12.3
**Environment Information:*

[2017-04-29 07:15] bcoe commented on #530
@mintel-ssallay @grichka could you let me know if this is fixed with, `npm i nyc@10.3.0`?

[2017-04-29 10:21] grichka commented on #530
Hi ! Thank you for your answers and fix !
I tested your fix few minutes ago and this new version seems to produce correct reports.
I now get similar reports as I got with istanbul.
The `condition-coverage` attribute is no more missing.

Great job

[2017-04-30 23:40] bcoe commented on #561
@bradbumbalough do you have nyc installed globally, or is it installed in your project directory?

[2017-05-01 00:47] bradbumbalough commented on #561
I have it installed in both locations for testing... both result in the same outcome (`npm test` runs `nyc --reporter=text-summary mocha tests`). But just typing `nyc mocha tests` (with nyc and mocha installed globally) also doesn't return anything.

[2017-05-01 00:58] bcoe commented on #561
@bradbumbalough this definitely sounds like a disk permissions issue to me; could you try running using `_mocha` rather than `mocha`; I'm curious to see if it works if a subprocess isn't spawned -- my guess is nyc is having trouble accessing your `/tmp` folder.

[2017-05-01 02:17] bcoe commented on #561
@bradbumbalough `spawn-wrap` uses https://www.npmjs.com/package/os-homedir to guess the folder that it should write temporary information to -- check that the process you're running `npm test` with has write permission to this location.

[2017-05-02 16:32] lo1tuma opened #563 "cache directory is created even with disabled cache"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

The cache directory is not created when caching is disabled via CLI flag.

## Observed Behavior

NYC tries to create a `.cache` folder inside of `node_modules` which is a read-only folder in my case, so nyc crashes:

[code]

## Bonus Points! Code (or Repository) that Reproduces Issue

We run nyc as a npm run-

[2017-05-02 16:33] lo1tuma commented on #563
This issue was introduced with nyc version `v10.3.0`.
It works fine with version `v10.2.0` or lower.

[2017-05-02 18:58] JaKXz commented on #550
@shamusharkin do you have any updates? I'm not sure how to help without a concrete example other than pointing you to the docs. Hopefully you can find what you need there but I'm happy to answer any questions you might have.

[2017-05-02 21:06] marcusjwhelan commented on #524
Does anyone have an example of using jest to create a repo badge for coverage? It seems with coveralls you can use it but there is no example of how [node-coveralls issue 126](https://github.com/nickmerwin/node-coveralls/issues/126)

[2017-05-03 17:50] kaiyoma opened #564 "`yarn check` after `yarn install` of nyc results in warnings"
## Expected Behavior
`yarn check` should not report any warnings/errors after a fresh install.

## Observed Behavior
27 warnings after a fresh install of `nyc`.

## Bonus Points! Code (or Repository) that Reproduces Issue
I'm using this `package.json`:

[code]

Here's the output:

[code]

## Forensic Information
Windows 10
Node.js 6.9.1
yarn 0.23.3

[2017-05-03 17:52] kaiyoma commented on #564
There's a similar issue filed against `yarn`, though it's not clear where the fault lies: https://github.com/yarnpkg/yarn/issues/3299

[2017-05-04 09:09] novemberborn commented on #564
`nyc` [bundles these dependencies](https://github.com/istanbuljs/nyc/blob/55e826dd8aaa062957460c4b7b43a9339aac04b4/package.json#L130:L158).

I think the issue lies with `yarn`.

[2017-05-04 19:16] winksaville opened #565 "nyc 10.3.0 reports different results on second run compared to first run, 10.2.0 is OK"
Please use the template provided below, when reporting bugs:
-----
I recently upgraded a TypeScript project, [alsatian](https://github.com/alsatian-test/alsatian), from nyc version 10.3.0 from 10.2.0. On the first run `nyc report` gives the results from the `ts` files:
[code]
But when I run it a second time the results are using the `js` files:
[code]

## Expected Behavior
Both runs should be the

[2017-05-05 06:35] bcoe commented on #561
@bradbumbalough did you get a chance to check the write permissions on the folder returned by `os-homedir`?

[2017-05-05 06:36] bcoe commented on #565
@winksaville could you please give this a shot:

`npm i nyc@next`

should have a fix for you.

[2017-05-05 06:38] bcoe commented on #563
@lo1tuma could you give this a shot:

`npm i nyc@next`

I think I figured out what was happening to you.

[2017-05-05 09:42] lo1tuma commented on #563
@bcoe I’ve just tested it with version `nyc@10.3.2-candidate.0` and it works fine.
Thank you for quickly providing a fix 🍻.

[2017-05-05 10:06] equinoxel opened #568 "No coverage is reported"
I've got a sample project using TypeScript, mocha and nyc. Tests execute successfully, but can't get coverage to report properly.

Is it something I'm missing?

## Expected Behavior
When running `npm test`, a report should be created with coverage for all called methods

## Observed Behavior
The report is created but it states none of the code is covered

## Bonus Points! Code (or Repository) that

[2017-05-05 12:05] bradbumbalough commented on #561
It's the path to my 2nd harddrive `/Volumes/Macintosh HD2`... here's the permissions for that folder.
![screen shot 2017-05-05 at 8 01 38 am](https://cloud.githubusercontent.com/assets/9825605/25744706/4a25f440-3169-11e7-942a-c6b7e0bcca92.png)
I had previously tried to enable write access for everyone and applied to all files... still didn't work.

I'm wondering if it has to do with my `umask` set

[2017-05-05 14:38] winksaville commented on #565
10.3.1 fixed it

On Thu, May 4, 2017 at 11:37 PM Benjamin E. Coe <notifications@github.com>
wrote:

[2017-05-05 20:42] bcoe commented on #565
@winksaville 👍 awesome; keep me posted if you bump into any more issues -- excited to support TypeScript.

[2017-05-05 20:42] #565 closed

[2017-05-06 18:18] davewasmer opened #569 "Exclude with negation patterns broken"
## Expected Behavior

Adding an negated exclude pattern would cause nyc to run against files that match the negated exclude pattern. I.e.:

[code]

## Observed Behavior

Using the example above, nyc ignores all of `./foo/`, including (incorrectly) `./foo/bar.js`. In addition, including _any_ negation pattern in your exclude list appears to remove the default `**/node_modules/**` exclusion patterns

[2017-05-08 10:45] chenzhutian commented on #359
This bug may be triggered by powershell.
I also work on Typescript and I meet this bug will I use powershell to run `npm run test`.
However, when I use cmd to run `npm run test`, everything goes well.

[2017-05-08 16:17] anasinnyk commented on #559
It's not actually right now for me. Thanks

[2017-05-08 16:17] #559 closed

[2017-05-08 17:45] bcoe commented on #569
@davewasmer mind opening the issue here too perhaps:

https://github.com/istanbuljs/istanbuljs/blob/master/packages/test-exclude/test/test-exclude.js#L77

better still, if you have time, a failing test would be great -- test-exclude isn't deprecated, it's just been moved into a mono-repo.

It seems like `node_modules` not being excluded by default might be a regression.

[2017-05-08 22:44] peterharding opened #570 "nyc 10.3.2 does not ignore typescript interface files"
## Expected Behaviour
Typescript interface files are ignored when calculating coverage.

## Observed Behaviour
Typescript interface files are considered, reducing code coverage below 100%.

## Repo
This repo demonstrates the difference in behaviour between `nyc` versions `10.1.2` and `10.3.2`:
https://github.com/peterharding/nyc-typescript-interface-cover

`10.1.2`
![screen shot 2017-05-08 at 3 36

[2017-05-08 23:01] bcoe commented on #570
@peterharding I don't think it makes sense to bake logic into the instrumenter or nyc that's TypeScript specific -- and I can imagine a world where some folks test their interface file? I don't know much about typescript, is this a thing that could happen?

Is it possible to generate the interfaces in a separate location, or with a separate extension, e.g., `Fish.interface.ts`, such that an exclud

[2017-05-08 23:54] peterharding commented on #570
@bcoe TypeScript interfaces don't exist at runtime.
For example,
[code]
Or any other interface file will be compiled down to
[code]
(or some equivalent depending on your compile options).
So I can't see a how someone *could* test their interface file, never mind *would*.

It would be possible to name all interfaces `something.interface.ts`, but this would not follow [best practices for naming inte

[2017-05-09 01:04] peterharding commented on #570
After thinking about this a bit, I might be able avoid the problem entirely if I run the tests on the compiled `.js` instead of using `ts-node` on the `.ts`. Will get back to you after trying this.

[2017-05-09 05:33] fstoerkle commented on #563
As `10.3.2` is already released, I think this can be closed now

[2017-05-09 17:08] peterharding commented on #570
Works for both versions of `nyc` if you run as shown here:
https://github.com/peterharding/nyc-typescript-interface-cover/tree/run_on_compiled

[2017-05-09 17:09] #570 closed

[2017-05-09 18:47] JaKXz commented on #570
Perhaps `ts-node` should not write files that would be empty because they only export `interface`s? 🤔

[2017-05-09 19:24] maghis opened #571 "Sourcemap not resolved for uncovered files"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
I expect both partially covered, completely covered and non covered files to have their names resolved based on the inlined sourcemap.

## Observed Behavior
Only source files that are at least partially covered are correctly resolved, the others show the transpiled path, in all the reporters (I'm using lcov, j

[2017-05-09 22:45] bcoe commented on #570
@peterharding I agree with @JaKXz, it would be nice to be able to support this use-case with `ts-node`; which I know many folks use for tests.

[2017-05-09 23:29] peterharding commented on #570
@JaKXz @bcoe you are thinking we should open an issue for `ts-node` ?

[2017-05-10 10:11] gowritharanmageswarasc opened #572 "Can The HTML Reporter Output Single Inline HTML Index File"
I was wondering if there was a way to output a single index.html file (that has all the required CSS/JS as well) when using the HTML reporter option.  Currently, since our source code is included in the Coverage JSON file, it produces sub-directories with its own index.html, CSS, JS, etc..

The use case is that I would like to upload the resulting single HTML file to a Google Could Storage bucket

[2017-05-11 03:50] davewasmer commented on #569
Added an issue to the istanbuljs monorepo (istanbuljs/istanbuljs#55) as well as a PR with a couple of failing test cases (istanbuljs/istanbuljs#56).

[2017-05-11 03:50] #569 closed

[2017-05-11 16:36] bcoe commented on #563
@fstoerkle @lo1tuma awesome 👍

[2017-05-11 16:36] #563 closed

[2017-05-13 22:58] bcoe commented on #564
closing this issue in favor of the open issue on yarn.

[2017-05-13 22:58] #564 closed

[2017-05-14 00:06] bcoe commented on #570
@peterharding it might be worthwhile -- maybe they'd at least have a suggestion for us; I'd like to avoid having too much domain specific knowledge in nyc about any specific test runner.

[2017-05-14 00:22] bcoe commented on #571
@maghis I think this would be a neat enhancement. We would need to start grabbing out the sourceMap footer, along with the coverage header from each file we walk.

[2017-05-14 00:29] bcoe commented on #137
I've been making a few stability fixes recently around source-maps, and I think we're actually in a pretty healthy place using the cached approach -- closing this since we haven't seen activity in quite some time.

[2017-05-14 00:29] #137 closed

[2017-05-14 00:33] bcoe commented on #171
@gitgrimbo @kentcdodds doing a bit of cleanup of old issues; passing an alternate `--temp-directory` should now be supported in all scenarios, feel free to open a new issue if you bump into any bugs.

[2017-05-14 00:33] #171 closed

[2017-05-14 00:38] bcoe commented on #201
@MoOx @danez cleaning up some old issues; I believe this should have been addressed when we pulled in `yargs-parser` and started using it to pass arguments to nyc and the instrumented bin.

[2017-05-14 00:38] #201 closed

[2017-05-14 00:39] bcoe commented on #149
I've started moving files over to `const` 👍

[2017-05-14 00:39] #149 closed

[2017-05-14 00:41] bcoe commented on #557
@astorije I believe the underlying issue might be that the `coverage` folder looks to be nested under the `lounge` folder -- this is a bit strange (I think I might only add the top level `./coverage` to test-exclude).

Should we be excluding it at all levels?

[2017-05-14 00:45] bcoe commented on #554
@ChantOfAnAnt thank you for the bug report; I think the underlying issue will be in this library here:

https://github.com/istanbuljs/istanbuljs/tree/master/packages/test-exclude

would you mind reopening an issue there? would also greatly appreciate any help you can provide digging into things -- we should be able to add a few new failing test cases to `test-exclude`.

[2017-05-14 00:45] #554 closed

[2017-05-14 00:49] astorije commented on #557
I'm not sure what you mean by that, @bcoe.

[code]

The `lounge` folder on my screenshot is the top-level folder, i.e. what you get when you run `git clone https://github.com/thelounge/lounge`.

[2017-05-14 00:51] bcoe commented on #544
I am unable to reproduce this behavior -- here's yargs running with `--all`.

<img width="1128" alt="screen shot 2017-05-13 at 5 49 09 pm" src="https://cloud.githubusercontent.com/assets/194609/26030305/87d713ea-3804-11e7-9122-314193260314.png">

It might be worth trying the newest version of nyc; there have been a couple fixes related to report generation.

if you are still running into issues af

[2017-05-14 00:51] #544 closed

[2017-05-14 00:53] bcoe commented on #539
@wicked539 sorry for the slow reply; have had somewhat of a backlog of issues that we're working through.

We use the npm module `os-homedir` to store temporary runtime information for nyc; I recommend checking the folder that it returns in the RHEL environment, and checking whether the npm bin would have write permission to it.

[2017-05-14 00:56] bcoe commented on #518
@yangli1990 it seems like it might be a nice enhancement to add a command to nyc that lets you combine coverage output into a single file; would definitely consider adding this in the future.

Great first contribution if someone wants to give it a shot 👍

[2017-05-14 00:59] bcoe commented on #519
@grawk sorry for the frustratingly slow response! definitely suffering from a bit of a ticket overload.

I certainly wouldn't oppose bringing istanbul-middleware into the org; and would love help maintaining it (since it's not a library I use on a regular basis).

I would start by pinging @gotwarlost on Twitter and in an issue, to see if he'd be willing to transfer it over to the org.

[2017-05-14 00:59] #518 closed

[2017-05-14 01:00] bcoe commented on #518
closing this issue as a duplicate, @yangli1990 will flag you in the new issue.

[2017-05-14 01:01] bcoe commented on #515
@yangli1990 this is similar to what you were looking for I believe.

[2017-05-14 01:02] bcoe commented on #514
@duytran @farhan2106 doing some issue cleanup; sorry that I haven't gotten to this bug yet -- will try to get a test around it as soon as possible.

[2017-05-14 01:04] bcoe commented on #505
some of this work has landed.

[2017-05-14 01:04] #505 closed

[2017-05-14 01:06] bcoe commented on #497
@kevincaradant did you ever make any progress on this?

[2017-05-14 01:08] bcoe commented on #383
closing as inactive -- will happily investigate if we get a reproduction.

[2017-05-14 01:08] #383 closed

[2017-05-14 01:08] bcoe commented on #309
I think we've knocked most of these out of the park.

[2017-05-14 01:08] #309 closed

[2017-05-14 01:10] bcoe commented on #310
@laggingreflex @graingert I think  mochista outlines a pretty good approach -- @laggingreflex would happily add a tutorial to https://istanbul.js.org/ showing off your library, would love a pull request if you have the time.

[2017-05-14 01:10] #310 closed

[2017-05-14 01:11] bcoe commented on #339
@chalda there have been a lot of updates to the instrumenter over the past year; I think this issue should have been addressed.

Please feel free to reopen with a reproduction case if you're still bumping into issues.

[2017-05-14 01:11] #339 closed

[2017-05-14 01:14] bcoe commented on #340
I think this is most likely fixed by recent updates to the istanbuljs core libraries; @chalda please feel free to re-open with a reproduction if you're still bumping into issues.

[2017-05-14 01:14] #340 closed

[2017-05-14 01:17] bcoe commented on #524
@marcusjwhelan you should be able to pass an `lcov-text` reporter to jest, and then pipe this to coveralls (mind opening an issue on Jest, this would be great to document; please feel free to flag me).

@seanpoulter @ORESoftware we now have a deprecation notice on gotwarlust/istanbul which I think is a good start.

[2017-05-14 01:17] #524 closed

[2017-05-14 01:57] bcoe commented on #359
@chielkunkels @gustavohenke Hey! I'm going around cleaning up some old issues -- sorry that this one fell by the wayside.

It looks like the underlying issue is that whatever if generating the ES6 source-maps in `nyc-issue` is not populating the field `sourceRoot` -- this makes it possible for `nyc` to map the source-map back to the un-transpiled code.

I think it might be worth opening an issue w

[2017-05-14 01:57] #359 closed

[2017-05-14 02:05] bcoe commented on #557
@astorije are you running an `lcov` report in the above example? I would expect the top level to look more like this:

<img width="1135" alt="screen shot 2017-05-13 at 7 00 21 pm" src="https://cloud.githubusercontent.com/assets/194609/26030689/a865b968-380e-11e7-9e32-4c09373050b4.png">

I ran the above report with JavaScript in the `coverage` folder, and it doesn't show up in the report -- it seem

[2017-05-14 05:24] astorije commented on #557
I'm only running `npm run coverage`, which in turn runs `nyc mocha` with [this `.nycrc` file](https://github.com/thelounge/lounge/blob/master/.nycrc) (where there is the `lcov` reporter indeed).
Sorry I'm not helping much, we don't make an extensive use of `nyc`/`istanbul` in the project yet so experience is limited.

[2017-05-14 11:26] ChantOfAnAnt commented on #554
@bcoe thanks for investigating! As advised, will reopen this as issue on test-exclude in spare time.

[2017-05-14 15:18] lukasoppermann commented on #568
I got the same issue, on mac. Is there any solution for this yet?

[2017-05-14 19:05] jcollum commented on #383
No worries. I think in the meantime I either learned how to use Lab's coverage tool or it improved a lot because I just use that now.

[2017-05-15 05:29] bcoe opened #573 "feat: make `nyc instrument` more clever about file extension"
it would be great if `nyc instrument` could accept a file extension when instrumenting files in a directory.

see: #568

[2017-05-15 05:45] bcoe commented on #568
@equinoxel the underlying problem is that `mocha-electron` is opening and executing tests in a Chromium context, outside of nyc's ability to instrument the source, see:

https://github.com/jprichardson/electron-mocha/issues/19

For the time being, you would need to pre-build all the files, and use  `nyc instrument` to instrument them for test coverage -- at which point you can run the test suite a

[2017-05-15 05:45] #568 closed

[2017-05-15 07:14] lukasoppermann opened #574 "No Coverage reported without --all"
## Expected Behavior
Getting a report

## Observed Behavior
[code]

I get the output above. If I add the `--all` flag I get:

[code]

However this output is wrong. I used mocha-istanbul without nyc before and it worked fine.

I have no nyc config file.

Please let me know if you need more info. Thanks.

## Bonus Points! Code (or Repository) that Reproduces Issue
https://github.com/lukasoppermann/h

[2017-05-15 09:47] bradbumbalough commented on #561
That was definitely the problem... unfortunatly I couldn't get it to work with my current configuration. I decided (for other reasons too) to reset my storage and keep OS and Home in same drive, using 2nd for Time Machine and large files. NYC works perfectly now!

[2017-05-15 09:47] #561 closed

[2017-05-15 13:05] maghis commented on #571
@bcoe the strange thing is that this used to work just fine before 10.3.2

[2017-05-15 18:26] psachs21 commented on #545
I am also seeing a similar issue. I have an even simpler setup though, i just have a react project with a few non tested files. And when I run nyc, only my tested files show in the coverage report.

Partial Package.json:
[code]

Partial babelrc:
[code]

Partial nycrc:
[code]

[2017-05-17 07:12] wicked539 commented on #539
Thanks for your reply!

I added a pre-build shell script to my jenkins job:

`touch $(target/node/node -e "const osHomedir = require('os-homedir');console.log(osHomedir());")/foo.txt`
`ls -lah $(target/node/node -e "const osHomedir = require('os-homedir');console.log(osHomedir());")/foo.txt`

And in the build's output, it shows that the file was created successfully:

`-rw-r--r-- 1 jenkins_zoe jen

[2017-05-17 16:13] bcoe commented on #539
@wicked539 what version of RHEL are you running? also out of curiosity, do you have a RHEL instance you can try manually running the tests on, rather than having to kick of  a Jenkins build each time.

[2017-05-17 18:12] bcoe commented on #512
@paldepind when you have a second, please open a bug with a link to a specific repo having the issue.

[2017-05-17 18:55] paldepind commented on #512
@bcoe No problem. It's an open source library. You can find it right [here](https://github.com/funkia/hareactive). I've just downgraded from `^10.3.0` to `10.2.x` which made source maps work again.

Please ask if there's anything else I can assist with.

[2017-05-17 19:15] bcoe commented on #512
@paldepind I wonder if you were on `10.3.0` which had a couple bugs fixed in `10.3.2`? I've updated your configuration slightly, and switched to `nyc@10.3.2` seems to work like a charm:

https://gist.github.com/bcoe/0844b24c53cb81de703c091490034a23

let me know if I'm missing something.

[2017-05-18 10:34] paldepind commented on #512
@bcoe

That is probably it. With `10.3.2` both my existing configuration and the one, you posted works.

Thank you for the help!

[2017-05-18 17:07] JaKXz commented on #574
@lukasoppermann I took a look at your tests, and my initial reaction is that your use case does not fit `nyc`, since `nyc` is for unit tests and you are writing more browser-level-type (i.e. karma) tests in a unit testing environment (`mocha`). If I'm misunderstanding, please correct me, but, the way `nyc` works is by instrumenting `require`d source files but I'm seeing `readFileSync` for your `ht

[2017-05-18 17:08] JaKXz commented on #550
Closing due to inactivity, @shamusharkin if you have any updates please feel free to reopen.

[2017-05-18 17:08] #550 closed

[2017-05-18 17:11] JaKXz commented on #515
@ljharb I think we were having a conversation about this in a `react-dates` PR. If I understand this issue correctly this functionality is theoretically possible with `nyc`... but not much beyond theory is proven, I think.

[2017-05-18 17:29] lukasoppermann commented on #574
Hey, @JaKXz thanks for the input.

Since all I am doing is basically doing .equals, isNull, etc. I don't get why I would need a different library. As for nyc, I thought it is just the new way to use istanbul with mocha. I used to have it setup with an mocha-istanbul package, but this stopped working recently when I updated istanbul.

Can you maybe elaborate why this should not work for my cases?

[2017-05-18 21:41] jameswomack commented on #149
@bcoe awesome

[2017-05-19 05:04] ljharb commented on #515
Awesome! I'd love for `istanbul-merge` to no longer have to exist; I use it extensively in https://npmjs.com/mocha-wrap and https://npmjs.com/jest-wrap (where i need to run tests in mocha and jest respectively, but where i can't properly test the mocha/jest hooks unless i use tape).

[2017-05-19 14:30] wicked539 commented on #539
@bcoe as stated above, we're running RHEL 7.2. Also, the result is the same when i run the build manually (by logging into the server).

[2017-05-20 21:08] psachs21 commented on #545
Sample reproduction can be found here: https://github.com/psachs21/web-boilerplate

[2017-05-21 22:59] bcoe commented on #574
@lukasoppermann @JaKXz sorry for the confusion; nyc has gradually been growing to become the canonical  CLI for interacting with Istanbul -- we've been working hard to make sure that the API is close to 100% compatible with the old istanbul CLI, and have been integrating with and fixing bugs for the new [Istanbul 2.0 codebase](https://github.com/istanbuljs/istanbuljs) as we pull it into nyc.

If y

[2017-05-21 23:58] bcoe commented on #564
@kaiyoma this has now been fixed in yarn 🎉

[2017-05-22 06:01] bcoe commented on #571
@maghis could you provide an example of a project that is having this issue?

[2017-05-22 06:04] bcoe commented on #574
@lukasoppermann see https://github.com/lukasoppermann/html5sortable/pull/269

[2017-05-22 06:04] #574 closed

[2017-05-22 07:19] lukasoppermann commented on #574
Hey @bcoe, I couldn't merge it into master, but I replicated your fix in the jsdom branch and it works like a charm. Thank you very much. 👍

[2017-05-22 16:43] njs50 opened #575 "Unmapped files not ignored after 10.3.0"
## Expected Behavior
In version 10.2.0 of nyc if a file had nothing to instrument I would see this in my console:
```File [/Users/.../models/route.ts] ignored, nothing could be mapped``` The console message disappeared in 10.3.0 but the files continued to be ignored

## Observed Behavior
As of 10.3.1 these files are no longer ignored and now show up as 0% coverage.

## Code that Reproduces Issue
t

[2017-05-22 17:28] bcoe commented on #575
@njs50 the old behavior was definitely a bug, and causing a variety of other issues (using `--all` was basically creating two coverage files, one with source-maps applied and one without).

We've had this discussion in another thread -- I'm not quite sure what the best solution is for typescripts's definition files (this is fairly domain specific to typescript, in general I think if it's a `.js` e

[2017-05-22 17:50] njs50 commented on #575
I think it's legit for those interfaces to be defined in a regular .ts file so there probably is no standard way to tell that it's just a type / interface definition. I think the *.d.ts are usually used for defining an interface to external js. In this case these are just internal type definitions.

The compiled js from one of these interfaces ends up looking something like ```"use strict";
Object

[2017-05-22 17:50] #575 closed

[2017-05-22 18:13] bcoe commented on #575
@njs50 we've had a couple typescript folks bring up the issue ... so it's definitely unexpected behavior, please keep me posted if you figure out a good approach -- maybe we can encourage something as best practice.

[2017-05-22 19:02] njs50 commented on #575
fwiw I've moved our internal interfaces to declaration files (.d.ts), and are excluding them from coverage reporting.

The good thing about .d.ts files is they don't produce any compiled output. Since it's not possible for code to be produced from them excluding them from coverage doesn't seem to have any downside.

this doesn't seem an unreasonable way to do things. I didn't see anything in the d

[2017-05-22 21:03] StoneCypher opened #576 "Multiple sets of coverage"
I'd like to use NYC to generate several sets of coverage, for different sets of tests, so that I can assert that unit tests have coverage, and also so that stochastic tests have coverage.

I can do this with some monkeying by just running them distinctly, but I was wondering whether NYC had any kind of support for parallel coverage, which might do a better job in reporting as a result

[2017-05-23 05:03] bcoe commented on #576
@StoneCypher we do this ourselves in our test suite:

https://github.com/istanbuljs/nyc/blob/master/package.json#L14

You can use `--no-clean` to run a set of tests without first clearing out the `.nyc_output` folder.

[2017-05-24 02:56] dschnare commented on #434
This is happening to me when I have my source directory structured like this:

[code]

I have a `.nycrc` file that looks like this:

[code]
Only module `b` is being covered.

*NOTE: I wrap the call to `require('babel-register')({ ... opts ...})` because Babel is also heavy handed with regards to ignoring `node_modules` everywhere. My `test/babel-register` looks like the following:*

[code]

Anyway

[2017-05-24 03:14] dschnare commented on #434
I got around this by creating a `require-all.js` module for now:

[code]
Then I use it in the `--require` option for mocha:

`"test": "cross-env NODE_ENV=test nyc mocha --require ./test/require-all src/**/*.test.js"`

*NOTE: I don't add it to the `"require": [ ... ]` array in the `.nycrc` file because it appears to be imported/required more than once.*

[2017-05-24 03:17] dschnare commented on #434
Hmm. It appears I spoke a little too soon. It looks like even though there are no tests for module `a` (which I had to require manually), there's a line that is being reported as covered:
![image](https://cloud.githubusercontent.com/assets/893365/26385462/e9ad882c-400d-11e7-93a4-0d2aa289b948.png)

[2017-05-24 05:45] bcoe commented on #434
@dschnare regarding the issues with negating the exclusion of `node_modules`; there have recently been changes to this logic here:

https://github.com/istanbuljs/istanbuljs/pull/58

Which I think might give you more flexibility -- If you're continuing to bump into issues please open an issue on [the istanbuljs monorepo](https://github.com/istanbuljs/istanbuljs) so that we can dig into things.

As

[2017-05-24 22:58] cb1kenobi opened #577 "All spawn() "node" calls use current node version, not specified version"
## Expected Behavior

When running `nyc` using Node 7.10.0, my code should be able to `spawn()` Node.js 6.9.5 executable.

## Observed Behavior

All spawned Node.js versions use whatever version is running `nyc`. In other words, the spawned subprocess always uses `process.execPath` instead of the original `filename` to execute.

## Bonus Points! Code (or Repository) that Reproduces Issue

[code]

[2017-05-25 22:46] bensaufley opened #579 "Allow .nycrc.json"
I'd like to be able to save my `.nycrc` as a `.json` file for automatic file type detection in VIM, Visual Studio Code, etc. This is a feature request, not a bug, but for consistency:

## Expected Behavior
I put my configuration, JSON-formatted, in `.nycrc.json` and `nyc` respects that configuration when I run `npm test`, which in turn runs `nyc nf mocha` (`nf` for node-foreman)

## Observed Behav

[2017-05-26 12:13] NiGhTTraX opened #581 "nyc trying to cover babel plugin even though it's excluded via config"
In a project that uses `babel-istanbul` and `babel-register` AND a custom babel plugin, nyc instruments the custom plugin even though it's in a folder excluded from coverage via `.nycrc:exclude`.

## Expected Behavior

100% coverage on src/foobar.js and nothing else because nyc is set to [exclude](https://github.com/NiGhTTraX/nyc-exclude-bug/blob/adb30c42ae3991d359a8f758ec52743825630023/.nycrc#L6)

[2017-05-26 18:12] almithani commented on #548
@juancarlosfarah, I was able to get my integration test coverage by running my server using nyc:
`./node_modules/.bin/nyc npm start`

Then I ran my integration tests as I normally would:
`mocha test/integration`

Then, quitting the server with SIGINT (ctrl+c), the code coverage is spit out.

As for @JaKXz 's question on the docs - there's no indication on the docs you posted that the tutorial will

[2017-05-26 18:24] wizzfile opened #582 "nyc"
sh -c 'node --version; npm --version; npm ls' > output.txt

[2017-05-26 20:13] bcoe commented on #582
@wizzfile mind elaborating with the issue you're specifically running into?

[2017-05-27 19:02] #582 closed

[2017-05-27 19:03] bcoe commented on #576
@StoneCypher did the `--no-clean` approach work for you?

[2017-05-27 22:17] bcoe commented on #503
@rcoy-v sorry this took so long to build; I really appreciate the work, and I I feel the feature turned out really slick; here's an example:

https://www.npmjs.com/package/@istanbuljs/nyc-config-babel

You can now try things out on the next release candidate of nyc:

`npm cache clear; npm i nyc@next`

👍

[2017-05-27 22:17] #503 closed

[2017-05-30 20:48] Lange opened #586 "`nyc report` seems to fail when run against coverage from old versions of Istanbul"
I have an [unusual monorepo](https://github.com/nodecg/nodecg-obs) that consists of two packages. One package is a fairly standard npm module. The other package is a Polymer element. As you can imagine, the workflows for testing and reporting coverage for these two packages is quite different, but they do both ultimately output Istanbul coverage reports.

Because this is a monorepo, I want to merg

[2017-05-30 22:00] stevenvachon opened #587 "Weird messaging in Node 8.x"
[code]

when doing
[code]

Once I remove the prefixed `nyc`, the warning disappears.

[2017-05-30 22:25] Lange commented on #586
Update: this error also happens when using the `--reporter=text-lcov`, which prevents me from piping test results to `coveralls`: https://gist.github.com/Lange/4eed096eaf56665c03e53c086d6a1ecf

[2017-05-31 14:50] aryzle commented on #434
I am also having an issue with this. In my nycrc I have
[code]
but the files in src aren't being checked for coverage unless they partially tested

[2017-06-01 15:35] bcoe commented on #587
@stevenvachon this should be temporarily fixed in `11.0.1` -- will try to release a permanent fix soon.

[2017-06-01 15:35] #587 closed

[2017-06-01 16:18] stevenvachon commented on #587
Thanks!!

[2017-06-01 19:45] hbarcelos opened #588 "nyc-config-babel not working (Error: ENOENT)"
## Expected Behavior

`nyc` should run.

## Observed Behavior

Error:
[code]
It seems like the script is missing the `node_modules` subdirectory.

## Forensic Information

### package.json

[code]
### Environment
- OS: Ubuntu 14.04
- More info: https://gist.github.com/hbarcelos/5ef5f21af7259d9b91b04b0d12594c71

[2017-06-02 05:08] jooj123 opened #590 "Error when trying to inherit other configuration via "extends""
## Expected Behavior

When specifying config like:

[code]

It should use the config specified in `@my-group/nyc-config-martin`

`@my-group/nyc-config-martin` just has a `index.js` export of:

[code]

## Observed Behavior

When i try and run i get error:

[code]

## Forensic Information

**Operating System:** ios el capitan

Possibly the same issue as: https://github.com/istanbuljs/nyc/issues/588

[2017-06-02 22:53] bcoe commented on #577
@cb1kenobi mind trying:

`npm i nyc@next`

I believe this should solve your problems.

[2017-06-03 00:10] bcoe commented on #588
@hbarcelos if possible, could you share the project that's having this problem so that I can debug.

[2017-06-03 01:59] cb1kenobi commented on #577
@bcoe Totally works now. Much thanks to you and @isaacs the help!

[2017-06-03 01:59] #577 closed

[2017-06-03 21:42] tomkel opened #593 "Update help link to list of reporters"
Run `nyc -h`, and

is printed at the end of the help text.

The link points to a deprecated repository.

[2017-06-04 08:34] dietergeerts commented on #390
How can you add a jasmine reporter? I previously had a jasmine.js file where I had `new Jasmine() .... .addReporter .... .execute()`, but that doesn't work anymore this way. Or do you need to call the jasmine.js file in another way? I tried `nyc jasmine.js`

[2017-06-04 13:22] hbarcelos commented on #588
@bcoe unfortunately the project is not open-source, so I cannot share it with you.

[2017-06-05 04:37] ljharb opened #594 "`--all` does not work for pre-instrumented files"
I've read through #333 and https://github.com/istanbuljs/babel-plugin-istanbul/issues/4.

I've not been using "include" at all in my `.nycrc`, only "exclude". So far, everything's worked fine.

I just refactored so that a file in `src` is no longer imported anywhere, but is left behind intentionally to avoid a breaking change. This file now does not appear in my coverage reports.

Adding `--all`,

[2017-06-05 05:17] bcoe commented on #594
@ljharb I can confirm that `--all` is working as expected with the latest version of nyc and babel-plugin-istanbul:

contents of `.nycrc`:

[code]

contents of `.babelrc`:

[code]

If I had to venture a guess, perhaps it's an order of operations issue; make sure `babel-register` is loaded by `nyc` so that it can instrument files during the `--all` walk.

If this isn't the issue, could you share th

[2017-06-05 09:19] pixelass opened #595 "ignore if/else not working"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

The following blocks should be ignored

[code]

## Observed Behavior

The branches are counted as missing coverage

## Bonus Points! Code (or Repository) that Reproduces Issue

**Code**:
https://github.com/pixelass/paraglider/blob/b8d0e361f9a7d8bd65c96ba45a0784f434faa730/src/glider/index.js#L252

**Coverage**

[2017-06-05 09:23] pixelass commented on #595
This works but ... (no comment)

[code]

[2017-06-05 18:02] ljharb commented on #594
I think perhaps the difference is that I'm running tests on the build output explicitly - not directly on the source files - so I'm not using babel-register at all; I'm instead letting nyc use the companion source maps on the babel output to generate the coverage report.

The branch in question is [here](https://github.com/airbnb/prop-types/tree/prop-types-exact); I'm looking for `src/forbidExtraP

[2017-06-06 06:37] bcoe commented on #595
@pixelass interesting; tldr using `ignore next` seems to ignore the blocks appropriately, but using the more specific `if`, `else` behaves weird? I will need to dig into [the instrumenter](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-instrument) to see what's going on here.

Feel free to take a peek, if you beat me to the punch.

[2017-06-06 06:53] ORESoftware opened #596 "Globs are not working for $ istanbul instrument -x "**glob**""
I am trying to do this:

[code]

Here is the command I use:

`istanbul instrument public --output public-coverage  -x "public/lib/**/*"`

Unfortunately, the public/lib directory still gets instrumented, which is a bummer because it contains a ton of files that are 3rd party libraries which I really do not want to instrument.

I have tried every glob combination under the sun and it's not working -

[2017-06-06 10:20] pixelass commented on #595
I actually think `if` and `else` are ignored in general.

[2017-06-06 10:25] pixelass commented on #595
I know that this was working in earlier versions of nyc. I just experienced this in the latest release. Prior to that I was using 9.x.x

[2017-06-06 10:26] pixelass commented on #595
Here's the RegEx that looks for the comment: https://github.com/istanbuljs/istanbuljs/blob/120d2216e130a00e6372eb5e4f32ea301f678bd1/packages/istanbul-lib-instrument/src/visitor.js#L7

[2017-06-07 03:58] wysisoft opened #597 "Way to tag executed lines with test identifier?"
It would be really awesome if I could tell nyc/istanbul which test is currently running, and it could tag the lines of code executed with the most recent test identifier, so I know which tests are covering which code areas. Any way to make this happen?

[2017-06-07 08:30] flyHe opened #598 "Packages is N/A with cobertura report if test files is under one folder"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

Packages should be 100% with cobertura report if test files is under one folder
The right cobertura xml file should be as below (generated by istanbul directly):

<img width="1087" alt="screen shot 2017-06-07 at 4 39 47 pm" src="https://user-images.githubusercontent.com/10543919/26869803-4fa56cb0-4ba0-11e7-9a

[2017-06-07 09:08] flyHe commented on #598
- [ ] ResourceAdapters

- [ ] Resources

[2017-06-07 09:47] fulax commented on #230
Hello, we have this issue too. Our "node" and "npm" PATH executables are small scripts that wrap them to add the node's --max_old_space_size parameter for GC collection.

    jenkins@jenkins:~$ cat /usr/local/bin/node
    #!/bin/sh
    exec /usr/bin/nodejs --max_old_space_size=2048 "$@"
    jenkins@jenkins:~$ cat /usr/local/bin/npm
    #!/bin/sh
    exec /usr/local/bin/node /usr/bin/npm "$@"

So,

[2017-06-07 15:25] jooj123 commented on #590
The latest version fixes this

[2017-06-07 15:26] #590 closed

[2017-06-07 16:05] bcoe commented on #590
@jooj123 weird! I guess it's something I fixed in an update to yargs?

[2017-06-07 17:19] jooj123 commented on #590
For some reason i was using version 10 - updating to 11 fixed the issue (this commit: https://github.com/istanbuljs/nyc/commit/a1a457f with the update of `find-up`)

[2017-06-07 21:01] ORESoftware commented on #596
bump pls

[2017-06-07 23:37] JaKXz commented on #596
@ORESoftware I think you're using the wrong executable, but you can configure `nyc` to ignore directories like this: https://github.com/istanbuljs/nyc#excluding-files

Please share your repo or a sample reproduction with `nyc`.  I'd go as far as to unofficially say that the `istanbul` CLI is no longer supported, since `nyc` has replaced it. You can see the docs on the `instrument` command here: ht

[2017-06-07 23:42] JaKXz commented on #598
@flyHe thank you for reporting this, but I think it belongs in https://github.com/istanbuljs/istanbuljs/issues.

My completely blind guess is that the [cobertura reporter](https://github.com/istanbuljs/istanbuljs/blob/8c4a22f/packages/istanbul-reports/lib/cobertura/index.js) needs to print something when you do not have multiple subfolders for the Resource name. I could be misunderstanding this, h

[2017-06-08 03:58] duytran commented on #514
Thank @bcoe!

[2017-06-08 12:43] novemberborn commented on #594
@ljharb I'm just running into the same issue. I don't know how `nyc` would deal with this, so instead I'm working around it.

Here's my `nyc` config:

[code]

Note how instrumentation is disabled. I have a monorepo setup: some packages are compiled using Babel, others contain a webpack config, and others are plain JavaScript. Building is done in a `build.sh` helper script. Istanbul instrumentation

[2017-06-08 23:17] ORESoftware commented on #596
Thanks! I wonder why nyc didn't choose to stick with original CLI:

before:

`istanbul instrument ./lib -o ./output`

after?

`nyc instrument ./lib ./output`

[2017-06-08 23:19] ORESoftware commented on #596
Unfortunately this doesn't work:

[code]

nyc still attempts to instrument the public/lib contents

this is driving me INSANE

[2017-06-09 04:06] wysisoft commented on #597
Also, if this gets implemented, I hope that it works with instrument, since that's what I use - instrumented .js files and selenium

[2017-06-09 05:12] mysticatea opened #599 "nyc@11.0.2 does not work with babel-register and spawn"
Please use the template provided below, when reporting bugs:
-----

`nyc@11.0.2` seems to fail `child_process.exec` with `--require babel-register`. Example: https://travis-ci.org/mysticatea/cpx/jobs/241057845#L891

[code]

## Expected Behavior

No errors.

## Observed Behavior

The following error looks to be thrown from `spawn-wrap` of `nyc`.

[code]

## Bonus Points! Code (or Repository) that R

[2017-06-09 05:31] mysticatea commented on #599
After I pinned `nyc` at `11.0.1`, this problem disappeared.

[2017-06-09 18:49] kyasbal-1994 opened #600 "Line highlighting of HTML report seems not right"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

Reporting HTML should be generated correctly.

## Observed Behavior

![](https://i.gyazo.com/bfc02bc9f90501d6f8ab522a3160f871.png)

This appearance seems not right color on highlighting colors on source codes. But, colored band just next to line number seems correct.

I thought this problem was caused by wron

[2017-06-10 11:57] vinayathimmappa commented on #548
Documentation is just not up-to mark. i kept trying out [nyc mocha](https://github.com/istanbuljs/nyc) and i always got
[code]
Only way i could get this going was looking @almithani  comments and it works beautifully. But i cannot have this integrated to my CI-CD build because i have to do SIGINT to get the result.

**Summarize**
1. Documentation needs to say instrumentation at server level ( i wa

[2017-06-10 12:44] juancarlosfarah commented on #548
Hi @vinayathimmappa, @almithani, @JaKXz, thanks for the feedback. I couldn't get it to work following @JaKXz's suggestions, so I implemented a solution using [istanbul](https://github.com/gotwarlost/istanbul/) directly. It works something like the following (so that it can integrate with CI/CS solutions such as Jenkins):

[code]

I then call this script in my `package.json` with `npm run test:cove

[2017-06-10 20:12] bcoe commented on #600
@kyasbal-1994 nyc has built in source-map support, for starters I would definitely remove running `remap-istanbul`.

[2017-06-10 20:21] bcoe commented on #599
@mysticatea the only difference between `11.0.1` and  `11.0.2` was that [spawn-wrap](https://github.com/tapjs/spawn-wrap) was upgraded.

I can't seem to immediately reproduce the issue myself:

`./node_modules/.bin/nyc --require babel-register --reporter=html node lib/yarsay.js `

can you provide a repo of the specific problem, also it would be helpful if you opened a pull request on the spawn-wra

[2017-06-10 20:22] bcoe commented on #593
@tomkel thanks for catching that; mind submitting a patch if you get a second?

[2017-06-10 22:26] mysticatea commented on #599
I said at the first of samary: "nyc@11.0.2 seems to fail `child_process.exec` with `--require babel-register`."
`lib/yarsay.js` looks to not use `child_process.exec`.

This is a simple repro code:

[code]

[code]

[2017-06-11 18:37] kyasbal-1994 commented on #600
@bcoe Thanks. I would try later. I will close this issue once this problem being solved.

[2017-06-11 18:42] #593 closed

[2017-06-12 01:57] marshmellow1328 opened #603 "Problems with --all"
## Background
I'm using TypeScript with Jasmine. The only way I figured out how to get nyc to work with Jasmine was to point Jasmine at the transpiled tests. Using `sourceMap`, the coverage report looks good until I add `"all: true"` in my nyc config.

Tests are run using `npm test` which runs `nyc jasmine`. The nyc config in package.json looks like:

[code]

## Expected Behavior
I would expect bo

[2017-06-12 02:33] flyHe commented on #598
@JaKXz moved to https://github.com/istanbuljs/istanbuljs/issues/66

[2017-06-12 02:33] #598 closed

[2017-06-12 13:38] #600 closed

[2017-06-12 20:25] mrchief commented on #452
@bcoe Using "nyc": "^10.3.2" and it still doesn't work.

[code]

[2017-06-12 20:28] bcoe commented on #452
@mrchief `--all` works for most common cases, my guess would be their's an edge-case in your configuration. Could you please open a new issue, with a link to code that reproduces the issue if possible.

[2017-06-12 20:32] mrchief commented on #594
I do something similar to workaround this :unicorn: option:

[code]

This requires all source files and then nyc reports missing correctly. Note that with this, you do not need to specify `--all` or require babel-register again by nyc (so it speeds up things bit).

[2017-06-12 20:45] bcoe commented on #594
@mrchief @novemberborn @ljharb would definitely love to support this use-case better -- maybe we can brainstorm something in this thread ... nyc is supposed to work like magic for _everything_.

[2017-06-12 20:52] mrchief commented on #452
@bcoe I found #594. I'll continue discussion there.

[2017-06-12 20:54] mrchief commented on #594
@bcoe I'll try to setup a dummy repo tonite. I've battled this issue for many months now and I'd love to see a solution that works with the `require-directory` workaround.

[2017-06-12 20:56] ljharb commented on #594
I would assume `--all` first grabs up every filename in `include` (lacking that, every filename), and removes the `exclude` ones, adds them as having zero coverage, and then runs the coverage as normal.

@bcoe what am I missing with this approach?

[2017-06-13 00:31] Flux159 commented on #459
I was doing a quick check of my node modules folder and saw that nyc was one of the largest dependencies and saw that this issue had already been opened.

I was wondering if there had been any progress on this - I did a few quick checks to count the number of files and size of each directory and found that nyc downloaded 4000 files with a total size of 25mb.

[code]

Listing the top 20 node_module

[2017-06-13 01:40] mrchief commented on #594
Made this very simple repo to reproduce this problem: https://github.com/mrchief/nyc-all-demo

However, in the above repo, adding

[code]

to nyc makes it work (just like the documentation says). So I think there is something else that's messing up things (besides the fact that babel-register may have to be loaded twice).

I'm going to see if I can make things break (where requiring babel-register

[2017-06-13 05:07] nadavye commented on #548
Guys - thanks for the tips. Highly appreciated!

You guys can always check http://www.sealights.io as it provides an awesome dashboard &APIs that will help you to see & improve your tests coverage and overall build quality.

We (I'm working there) support integration tests coverage for several technologies, including Node JS, Java, Kotlin, Browser Tests (Selenium), Python, Kotlin and .NET.

We als

[2017-06-13 05:37] nadavye opened #604 "NYC doesn't work well with PM2"
Please use the template provided below, when reporting bugs:
-----
Here in Sealights, we develop a SAAS quality dashboard that shows among the rest Coverage Information for end-2-end tests.

As part of the development of our NodeJS agent, we are using NYC and we have noticed that it doesn't play well with PM2. We have issues with its Cluster Mode & Logs of the application under test.

## Expected

[2017-06-13 05:38] nadavye commented on #604
Please note that when istanbul was used (without nyc) everything worked correctly. I assume it is related to 'spawn-wrap'?

[2017-06-13 07:25] novemberborn commented on #594
With `instrument: true`, does `nyc` obtain coverage just by doing the instrumentation, without loading the file?

My issue is that `instrument` is `false`, and the files are written to a different directory. They need to be loaded for `nyc` to pick up the empty coverage report.

[2017-06-13 09:03] jamestalmage commented on #604
spawn-wrap would be my first suspect as well. I've never seen it used in clusters.

I would try implementing a no-op spawn-wrap wrapper,  and use it to wrap some trivial cluster implementation. If stuff breaks, we know this needs to be fixed up stream

[2017-06-13 11:41] eisbehr- opened #605 "folders created by nyc"
I've notices two things about the folders being created by `nyc`:

1. When executing a simple test with `nyc mocha` a `./coverage` folder will be created, but without any stored file in it. If there is no output there should be simply no folder created!

2. Since switching from `istanbul` to `nyc` there are additional files inside the `./.nyc_output` folder. They seems to be needed to use for thin

[2017-06-13 14:00] mrchief commented on #594
Got it:  run ` npm run test:cov` in this https://github.com/mrchief/nyc-all-demo/commit/b393d3306052a16a117421cd6b30ebfd906afc34 and it stops reporting all files.

Maybe this isn't correct usage?

[2017-06-13 15:35] Lube opened #606 "Istanbul not going through re-exported defaults."
## Expected Behavior
Istanbul discovers and checks coverage on re exports

## Observed Behavior
![nyc](https://user-images.githubusercontent.com/4809248/27090629-23013656-5034-11e7-8781-eca217e0dbff.png)

## Forensic Information

https://gist.github.com/Lube/2e5883672d88dddc5ab435e4f368723d

Files re-exported (src/models/repositories/index.js)
[code]

[2017-06-13 16:12] jedwards1211 opened #607 "Best way to manually write coverage file when nyc's hooks don't work?"
For one reason or another, my integration tests for [crater](https://github.com/jcoreio/crater) have been failing to report coverage on some files.  I added some debug print statements to `writeCoverageFile` in `nyc/index.js`, and I discovered that sometimes the coverage it finds is empty (`{}`).  But if I print `global.__coverage__` elsewhere, before nyc's exit hook, it's not empty...

So I creat

[2017-06-14 13:11] eisbehr- opened #608 "New not covered function error, and it can't be suppressed ..."
Since switching from `istanbul` to `nyc` the reposrt complains about not covered functions. I'm not able to remove this message in the HTML output. In the snippet below you see the error. There is of course no test for an anonymous function.

![func](https://user-images.githubusercontent.com/917005/27133609-0b8ba26a-5113-11e7-8b62-be543d289118.PNG)

I had the idea to suppress this message with `is

[2017-06-14 14:52] nadavye commented on #604
@jamestalmage  - thanks for your answer. So basically, you suggest that I'll implement the no-op spawn, replace the module in the node_modules so nyc will pick it up and try to run the cluster?

[2017-06-14 21:08] awexfwex opened #609 "Class instance methods showing up as "anonymous_...""
I am trying to use nyc on my ES2015 code, having followed the guide. However, when the coverage report is generated, all instance methods of a class are reported as named "anonymous_x". I'm getting a similar result on methods defined on a prototype, but I'll omit that issue for now.

When running:

 against:

### .babelrc
[code]
### Demo.js
[code]

### Demo.spec.js
[code]
### package.json
[code]

[2017-06-15 18:53] ORESoftware opened #610 "Running coverage against a server"
I start an Express server with:

`nyc bin/www.js`

the tests are running in a separate process.
When I am done with the tests, I currently manually kill the server with ctrl+c, when I do that, I get this error:

[code]

[2017-06-15 18:57] ORESoftware commented on #610
When I swap out

`nyc bin/www.js`

and replace it with

`istanbul cover bin/www.js`

then things work, and I get

[code]

[2017-06-15 19:41] ciekawy opened #611 "support for per-each file coverage check"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
support to provide and require thresholds per-each file like in
https://github.com/gotwarlost/istanbul/issues/30

## Observed Behavior
not possible to define per-each file coverage checks

## Bonus Points! Code (or Repository) that Reproduces Issue

## Forensic Information
I believe this is just not supported

[2017-06-15 19:45] ciekawy commented on #611
seems like this can be relatively simple to implement by enhancing NYC::checkCoverage https://github.com/istanbuljs/nyc/blob/213206f03a35472fc894e7feb10044aa79df3e50/index.js#L444

[2017-06-15 21:36] JaKXz commented on #611
I think this is addressed in #591.

[2017-06-16 10:11] vamonke commented on #197
You can specify where .nyc_output is generated under `temp-directory` in the config. e.g.
[code]

source: https://github.com/istanbuljs/nyc/blob/master/index.js#L43

[2017-06-17 01:23] bradennapier opened #612 "Can't get this to work"
So the documentation for mocha makes this look crazy simple.  My package is also crazy simple (it is a single function).

I am sure I am doing something stupid, I have never done coverage testing before at all.

I added the babel plugin and it all runs but I get the following results:

### experiencing result

[code]

### .babelrc

[code]

### entire output

[code]

[2017-06-17 01:25] bradennapier commented on #612
Hmm, odd -- updating cross-env seems to have fixed this...

[2017-06-17 01:25] #612 closed

[2017-06-18 01:36] MegaArman opened #613 "tap-nyc"
So this isn't really an issue, but  I just wanted to share a TAP output formatter I released today called tap-nyc. It's meant to be used with nyc to produce condensed output for test failures/success. I've only tested on Linux w/ TapeJS, but it should work with any TAP producing test framework to my knowledge.  Check it out and if you like it, please feel free to include it in the nyc readme and/o

[2017-06-19 21:10] bcoe commented on #613
@MegaArman cool! curious, how did nyc misbehave when used with tape?

[2017-06-19 21:30] MegaArman commented on #613
nyc + tape alone works OK, but produces too much output to fit on my screen without zooming out a bunch, for example:

![](https://raw.githubusercontent.com/MegaArman/npm_images/master/nyctapealone.png)

With other existing TAP formatters (ex: faucet, so nyc + tap + faucet), the output from nyc is not shown:

![](https://raw.githubusercontent.com/MegaArman/npm_images/master/nyctapefaucet.png)

Wit

[2017-06-19 22:15] bcoe commented on #613
@MegaArman I appreciate this work 👍 perhaps you could send an update to the README.md that points folks at this solution who are testing using tape?

[2017-06-19 22:24] MegaArman commented on #613
Woohoo, sure thing. I'll do that soon.

[2017-06-20 23:16] ciekawy commented on #611
Looks like exactly what I was looking for. Thanks @JaKXz for pointing this out!

[2017-06-21 22:00] sublimeye commented on #603
Bump up!

[2017-06-21 22:46] sublimeye commented on #603
@marshmellow1328 Try to change included folder from "dist/src/**/*" to `**/dist/src/**` and leave the same configuration.
Here is my config that works fine for me. *But I have an assumption that all you need to do is change the path in `include`

[code]

[2017-06-22 09:17] novemberborn commented on #552
Just observed a similar problem with `--instrument`.

As an aside it might be worthwhile using [`package-hash`](https://github.com/novemberborn/package-hash) for this, once nyc drops 0.10/0.12 support. @bcoe what are your thoughts on that?

[2017-06-22 16:31] jeffijoe commented on #599
Running into this when testing with AVA which uses Babel.

[2017-06-22 20:32] garthenweb opened #615 "ENOENT: no such file or directory (nyc_cache)"
## Expected Behavior

NYC should not throw when installing with npm v5 as a dependency.

## Observed Behavior

Throws errors while running:

[code]

I guess this is an issue on Windows because it's working with Travis: https://travis-ci.org/garthenweb/bubleify

## Bonus Points! Code (or Repository) that Reproduces Issue

https://github.com/garthenweb/bubleify/tree/chore/update-dependencies
Execute

[2017-06-23 08:25] novemberborn commented on #615
I can't reproduce this on macOS. Given your description in https://github.com/istanbuljs/nyc/pull/616:

the tgz file in the package.json when installing nyc as a dependency.

This seems like buggy behavior on npm's part. It tends to add its own fields to `package.json` files using an underscore prefix.

[2017-06-25 14:16] bcoe commented on #599
@jeffijoe @mysticatea see: https://github.com/tapjs/spawn-wrap/pull/58

[2017-06-25 16:17] bcoe commented on #599
@hzoo is the inability to return at the top level intentional on babylon's part; trying to figure out whether @isaacs and I should fix this in spawn-wrap or Babylon?

[2017-06-25 16:35] #599 closed

[2017-06-25 18:54] bcoe commented on #599
@jeffijoe @mysticatea please give this a try:

`npm i nyc@next`

the next release of nyc lands a fix for this.

[2017-06-25 18:55] bcoe commented on #613
@MegaArman landed your PR 👍 thanks for the contribution.

[2017-06-25 18:55] #613 closed

[2017-06-25 21:07] mysticatea commented on #599
Thank you. I confirmed that `nyc@next` fixed this issue.

[2017-06-26 21:46] garthenweb commented on #615
I just checked the behavior one more time and can still tell that it's the same issue after removing `node_modules` and reinstalling again (also with npm v5.0.4). Here is the package.json in `node_modules/nyc` folder in case it might be helpful:
[code]

I also checked some other packages in my `node_modules` folder and found some with an URL and some with a simple version number. The only pattern

[2017-06-27 22:26] ciekawy opened #618 "unable to get correct nyc/istanbul coverage report for typescript"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
get correct coverage report for typescript project

## Observed Behavior
coverage is not correct for typescript files. i.e. html coverage map is miss-aligned with the source also coverage numbers seem to not be correct (and sometimes non deterministic

I've described my issue in https://stackoverflow.com/quest

[2017-06-27 23:12] toddpi314 commented on #599
Confirmed this resolves issue for me too, different reproduction scenario revolving around spawn.

[2017-06-29 20:00] ciekawy commented on #610
any progress on this? I believe it is same as https://github.com/istanbuljs/nyc/issues/425

[2017-06-30 00:19] stevenvachon opened #619 "Incorrect line numbers in error stacks"
When I take my mocha code out of nyc, the line numbers are correct, so I know that nyc is to blame.

https://github.com/stevenvachon/incomplete-url/commit/9c6eb47e3b98916b3697af3ad472f7cd73ffffd7

produces: https://travis-ci.org/stevenvachon/incomplete-url/jobs/248590761

[2017-06-30 07:39] sgronblo commented on #603
"Problems with --all" is a bit vague but I'm having a similar issue.

I have the following mocha.opts:

[code]

The following options for nyc in package.json:

[code]

I run `./node_modules/.bin/nyc mocha ./test/unit` and unfortunately the `all` doesn't seem to work with the defined extensions (.ts and .tsx). I currently have a couple of .ts files in my ./src/ directory that I expect should show u

[2017-06-30 13:09] Speedy37 commented on #542
While implementing the `--root` option, I found that the `NYC_CWD` environment variable does almost exactly that (it still looks upwards for package.json).

[2017-07-02 13:09] guillaumeblaquiere opened #621 "No coverage with express-openapi"
## Expected Behavior
When I run a mocha rest api test on my server, all the called JS appear as covered in report

## Observed Behavior
On the server initialization appear as covered. No coverage for API call. I think it's because of indirection in openapi initialization and no explicit route (only deduce from project structure)

## Bonus Points! Code (or Repository) that Reproduces Issue

the exp

[2017-07-03 15:41] nadavye opened #622 "NYC doesn't work well with *.JSX files"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
NYC should collect the correct coverage for *.JSX files.

## Observed Behavior
In some cases, NYC doesn't identify methods inside a *.JSX file.  We've seen a case in which a tested method doesn't appear in the `fnMap` object.  Note that in the same project, another *.JSX file gets method coverage.

## Bonus Po

[2017-07-05 11:44] scaljeri opened #624 "Unable to get coverage data using Mocha"
When using

    $> cross-env NODE_ENV=test  nyc --require babel-register mocha

the unit tests runs fine, but the coverage seems incorrect:

![image](https://user-images.githubusercontent.com/1078741/27862733-0d244dd2-6187-11e7-9f64-3ee1e1967284.png)

On [stackoverflow](https://stackoverflow.com/questions/44874558/no-coverage-data-with-nyc-mocha) I didn't get much response, so thats why I'm postin

[2017-07-05 12:08] nadavye commented on #622
@bcoe - I don't mind trying to debug and solve it. If you can give some hints were to start..

[2017-07-05 14:39] adamgajzlerowicz commented on #624
I am having the same issues. With mocha covering number of files running nyc npm test brings me the same result as you have :(

[2017-07-06 01:17] dsole commented on #571
I've noticed that this issue does **not** occur when caching is disabled.

[2017-07-06 16:45] cblair opened #625 "Missing branch coverage reporting for certain ES6/promise branches"
## Expected Behavior
Report branch coverage for `.then()` Bluebird statements with function short-hand. This example queries a database and then collects a result:

[code]

## Observed Behavior
Coverage is not reported for the above noted line, even though console logs inserted confirm code execution. Branch coverage will also miss this newly installed code:

[code]

## Bonus Points! Code (or Repo

[2017-07-07 08:10] juanpicado commented on #504
@cvle what do you meant with the **require** thing?

[2017-07-07 08:33] juanpicado commented on #504
Ahh, now I get it, the fix is remove the `require` from the `nyc` options body.

[code]
and do it in this way

[code]

[2017-07-07 20:49] JaKXz commented on #504
@juanpicado would you like to make a contribution to our docs? :)

I haven't used TypeScript in a while, so it would be nice to keep [the tutorial](https://github.com/istanbuljs/istanbuljs.github.io/tree/development/content/docs/tutorials) up to date on this for the latest versions of nyc and ts-node etc.

[2017-07-07 20:52] JaKXz commented on #625
Just curious, your `query.execAsync()` returns a Promise with an asynchronous `.map` function [that returns a promise]? Perhaps I'm misreading something but I'm surprised you can call `.then` if it's just a regular array returned by `.map`.

[2017-07-07 21:29] juanpicado commented on #504
Sure ! There it goes

[2017-07-09 18:52] snuggs commented on #613
@bcoe @MegaArman this is awesome work. Already using `tap-nyc`(and NYC for that matter) in build pipeline! A Godsend 🙏 .  https://github.com/devpunks/snuggsi/tree/master/bin#test-runner

[2017-07-09 19:16] nadavye commented on #622
@bcoe ping.

[2017-07-11 15:05] cblair commented on #625
Yeah, I learn something every day with Promises. :)

[2017-07-11 15:58] cblair commented on #625
So now that I think about it... there may be two different branches here to test, although its more of a data coverage issue that other branch coverage reporters wouldn't report. `(exportFormats = []) => {...}` needs to be tested for `exportFormats = [...]` and `exportFormats = undefined`. I haven't tested this theory yet, but getting rid of the default param value get's rid of the extra branch. I

[2017-07-11 17:47] JazzFiend commented on #624
Same issue here.

[2017-07-11 22:37] bcoe commented on #624
@scaljeri try switching `./di.js` to `di.js` -- this is a glob pattern not a directory path ... it might be good to make our test-exclude library handle this format though.

@JaKXz @adamgajzlerowicz please open your own issues with specific repos being referenced; it tends to be slightly different configuration issues causing people issues.

[2017-07-12 02:50] erwingo opened #627 "is "source-map-support" needed for reliable reports with Typescript?"
Following this tutorial they ask to install "source-map-support", but I didn't and the reports seem to be working pretty good, so I'm not sure if this is needed.

[2017-07-12 02:56] erwingo commented on #627
Nevermind, i just realized that the package was already installed as a devDependencie of nyc 😄

[2017-07-12 02:56] #627 closed

[2017-07-12 09:48] adamgajzlerowicz commented on #624
I have fixed my issue by applying the command correctly.
My test command that was fully working and running tests was this:
`cross-env TEST=TEST cross-env NODE_PATH=./src mocha --require ignore-styles --require jsdom-global/register --compilers js:babel-core/register --recursive \"src/**/*.spec.@(js|jsx)\"`

To use istanbul with this command what I had to do was this:

`cross-env TEST=TEST cross-e

[2017-07-12 17:27] JakeDluhy opened #628 "Unexpected token import when upgrading from 10.1.2 to 11.0.3"
## Expected Behavior
I can run my tests
## Observed Behavior
Tests fail with error
[code]
## Bonus Points! Code (or Repository) that Reproduces Issue
I run `npm run test:coverage` which (using better npm run) maps to
[code]
`npm test` runs the following
[code]
and the script `run-tests` looks like
[code]

Note it's failing on the `require('../mirage').default;` line. Previously `babel-register` wa

[2017-07-12 20:56] epyx25 opened #629 "cov_1fanynun32 is not defined"
## Expected Behavior
test runs with nyc cover
## Observed Behavior
running `npm test` produces the following error:

Removing nyc from the [test script](https://github.com/epyx25/test/blob/master/package.json#L16) solves the problem, all tests runs as expected.

Looks like related to #514

## Bonus Points! Code (or Repository) that Reproduces Issue
https://github.com/epyx25/test

Here is the [test

[2017-07-13 01:48] epikhighs opened #630 "coverage % changes even though no code change occurred"
## Expected Behavior
 code coverage %s stay the same across multiple coverage runs using the --all option.  If i do not use --all then the code coverage % stays constant.
## Observed Behavior
Even though I do not make any code change, code coverage %s varies b/t two values %Lines 49.5% and 50.44%.

Babel is perhaps behaving in an unexpected way with with the output.

When I dig into the /coverage

[2017-07-13 04:17] Nava2 commented on #176
@seanpoulter you mentioned:

Would this be possible to do while running mocha against `tsc`-compiled `js` files? If they have inline source maps. My scenario is that I have `tsc` compiling my library files to a folder, `lib-js`. All of my mocha tests than include the `lib-js` versions.

I run coverage against the `js` files, but having the `ts` source maps respected would be excellent.

[2017-07-13 07:32] epikhighs commented on #630
I think the problem was some combination of not using the babel instanbul plugin and including too much in "include" option (I was matching with a leading ** in the include).

But I think it's now producing consistent coverage % for now.

[2017-07-13 07:32] #630 closed

[2017-07-13 08:51] suculent opened #631 "Config path is an array"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior

Run normally.

## Observed Behavior

Fails on starting nyc from any path.

[code]

## Bonus Points! Code (or Repository) that Reproduces Issue

http://github.com/suculent/thinx-device-api

## Forensic Information

**Operating System:** the operating system you observed the issue on.

Ubuntu

**Environment Inf

[2017-07-13 20:03] scaljeri commented on #624
@bcoe thanks, that did the trick. One last question, the coverage doesn't work when I set `NODE_ENV=test`. I guess this has todo with the fact that in my .nycrc file I have `"instrument": true`, is that right?

[2017-07-15 22:41] ScottFreeCode commented on #631
I was using Node 8.1.0 on Mac with whichever version of NPM is bundled with it (I think it's 5.0.3?), used `npm i nyc@latest` to upgrade from the last 10.x.y version, and got this issue; based on the find-up issue I tried `npm ls` and found a lot of invalid, extraneous and missing packages; tried `npm prune` and `npm i` and couldn't fix it; ended up `rm -r -f node_modules && npm i` to make it work

[2017-07-16 19:01] bcoe commented on #631
@ScottFreeCode this is an issue with specific versions of npm hoisting the wrong deep dependency to the top. It should be fixed for you in the near future, with upcoming npm CLI bug fixes.

[2017-07-16 19:01] #631 closed

[2017-07-17 08:31] justelad opened #633 "Feature: Which tests cover this function"
Hi there,

I had an idea that it would really be helpful if the code coverage could also display which tests (filenames and name of describe/it blocks) result in the specific function(s) being called - not just the number of times a function was called but also who called it.

A wild guess that the overhead of storing and displaying this information might be considerable in terms of size of artefa

[2017-07-18 13:05] sergueyarellano commented on #529
Same problem here.

Any updates on the issue @unional ?

Any alternative to systemjs for loading amd modules with path, shim configs, etc?
I'm going to try requirejs, but don't know if it's gonna work in node...

[2017-07-18 14:52] sergueyarellano commented on #529
Finally I tried requirejs in node after struggling with systemjs coverage hooks.

I get lots of `Shim config not supported in Node, may or may not work` when importing libraries like jquery

Although you can configure the node environment as follows:

[code]

cheers

[2017-07-18 17:30] unional commented on #529
@sergueyarellano what you did is essentially what `jsdomify` and `browser-env` does, and is explicitly discouraged by the jsdom team.

[2017-07-18 19:41] bradlord commented on #618
I'm also seeing this issue. I've created [a repository](https://github.com/bradlord/nyc-typescript-failing-example) to demonstrate the issue. In that repository, I created two files with identical contents. One has a .ts extension and the other has a .tsx extension. Interestingly, the coverage highlighting seems accurate in the .ts file, but not in the .tsx file:

![fooTs](https://user-images.gith

[2017-07-18 20:26] jvanoostveen commented on #618
I also see several of the second example coverage reports on .ts files as well. With files fully covered when using nyc 10.x.

[2017-07-19 03:14] sudo-suhas opened #634 "nyc v11.1.0 not published"
The latest version of `nyc` published on npm is still `v11.0.3` which was released 3 weeks ago.
`v11.1.0` [was released](https://github.com/istanbuljs/nyc/commit/a3f033f597624d09d28ba3b15eadb6fb5fdab9a2) 2 days ago. Perhaps forgot to do `npm publish`?

[2017-07-19 16:59] EvgenyOrekhov commented on #634
Looks like `v11.1.0` have been published for a short period of time, because somehow I managed to update nyc to it, but now npm says

[code]

[2017-07-19 17:08] bcoe commented on #634
@EvgenyOrekhov @sudo-suhas `11.1.0` will be the next release of nyc, I was waiting for feedback from a few users before we release it:

[code]

You can try out this version and give feedback by running, `npm i nyc@next`.

[2017-07-19 18:22] stevenvachon opened #635 "How does this work with child_process'es?"
I'd like to get similar functionality added to [node-pty](https://npmjs.com/node-pty), but am not sure how `nyc` and `istanbul` work. Does it search a JavaScript AST of `require`'d files for instances of `spawn("node"`?

https://github.com/Tyriar/node-pty/issues/113

[2017-07-20 00:27] sudo-suhas commented on #634
Thanks @bcoe.

[2017-07-20 00:27] #634 closed

[2017-07-20 20:21] ScottFreeCode commented on #615
This sounds like https://github.com/npm/npm/issues/17033 and https://github.com/npm/npm/issues/17187

[2017-07-20 21:56] ScottFreeCode commented on #634
For what it's worth (and just to put in my experience that led me to this issue report), having a version published to NPM with a version higher than the one tagged `latest` can do weird things to `npm outdated` -- right now, for instance, if you `npm i nyc@latest && npm outdated` you are likely to get a red `nyc` in the output (I believe because NPM sets the wanted version to `^11.0.3`, which inc

[2017-07-21 20:26] chrisnicola commented on #434
The only way I can currently make this work is to set `"instrument": true` which as I understand things wrong to do when using the babel-istanbul-plugin. But without that it doesn't see any files that have not been required at least somewhere.

[2017-07-21 20:44] chrisnicola commented on #434
Ok so with a bit of fiddling around I found that `nyc` must require `babel-register` itself for the `all` function to work regardless of whether the test scripts do this already. This config works:

[code]

[2017-07-22 21:44] bcoe commented on #635
Hey @stevenvachon, nyc is using the module [spawn-wrap](https://github.com/tapjs/spawn-wrap) to handle wrapping subprocesses. `spawn-wrap` basically shims `child_process.exec` and `child_process.spawn`, and executes an alternative `node` bin when you run either of these methods.

This alternative `node` executable injects the require-hook logic used by `nyc` to instrument files.

I don't know much

[2017-07-23 00:24] stevenvachon commented on #635
Thank you. Looking through some of the source code, it looks like its `exec` and `spawn` patches only inject terminal variables before the `node` executable. Is this correct?

[2017-07-25 21:17] brid opened #636 "Invalid regular expression errors while trying to parse/inject functions?"
## Expected Behavior

Running nyc against tests that work with mocha or mocha-grunt should produce coverage reports.

## Observed Behavior

Running tests with nyc before mocha causes errors relating to regular expressions. Looking at the stack trace it appears nyc is injecting it's own code into instrumented files before trying to regex these out, and running into problems.

Running:

Returns:

`S

[2017-07-27 06:03] wikidson opened #638 "Unknow"
hello, the problem :
-----
![image](https://user-images.githubusercontent.com/9945173/28656259-801dc9aa-72d3-11e7-9fde-349b28439117.png)

## version:
"nyc": "^11.0.3",
"ava": "^0.21.0",
"node":  "v7.10.0"
"os": mac

## config
![image](https://user-images.githubusercontent.com/9945173/28656424-81ca95fc-72d4-11e7-9251-f8fc7e97aa2a.png)

[2017-07-29 19:52] bcoe commented on #638
@wikidson it looks like you are loading `babel-register` twice, once in the `ava` configuration, and once int he `nyc` configuration. Try removing it from the `ava` config and I believe it will fix things for you.

[2017-07-29 19:52] #638 closed

[2017-07-29 19:53] bcoe commented on #636
@brid could you please provide a link to the repo that is having this behavior, or if this isn't possible a repo with a minimal reproduction.

[2017-07-29 19:58] bcoe commented on #628
@JakeDluhy rather than requiring `register` programmatically with `require('babel-core/register');`, try executing babel-register with nyc:

[code]
I think the root problem might be that a library is being loaded that requires module syntax, before the `register` hook has been installed, by pulling this require logic into the nyc configuration, it will ensure that this logic is applied at the outs

[2017-07-29 20:01] bcoe commented on #625
@cblair I think you hit the nail on the head, the problem is that the default parameter assignment doesn't get executed when you're passing in values to the method -- whether or not this behavior is expected is another question.

I recommend opening a conversation [here](https://github.com/istanbuljs/istanbuljs), which is the codebase that performs the actual instrumentation, I would be curious to

[2017-07-29 20:01] #625 closed

[2017-07-29 20:05] bcoe commented on #624
@scaljeri sorry or the slow follow up! if you set environment to test, it will start using `babel-plugin-istanbul` rather than `nyc` and sourcemaps -- this is most likely actually preferable.

I recommend setting [instrument to false and sourcemaps to false in the nyc config](https://github.com/istanbuljs/nyc#use-with-babel-plugin-istanbul-for-babel-support).

[2017-07-29 20:05] #624 closed

[2017-07-29 20:10] bcoe commented on #622
@nadavye sorry for the slow reply; have been dealing with some personal issues over the past couple months, which has severely limited OSS time.

For starters, are you using babel-plugin-istanbul for instrumentation? I think we will want to center debugging around:

* [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul)
* [istanbul-lib-instrument](https://github.com/istanbu

[2017-07-29 20:14] bcoe commented on #619
@stevenvachon if I follow, line numbers are still incorrect with `produce-source-map` is enabled?

@kpdecker perhaps you could help debug a bit? I haven't played too much with this feature -- hopefully there hasn't been a regression.

@stevenvachon would definitely love to get this working for you; would also any help you can provide debugging, if you have any spare cycles.

[2017-07-29 20:30] bcoe commented on #618
@bradlord running your example with `nyc@11.0.3` I seem to get identical output for bot the tsx and ts file.

I don't personally use TypeScript for any projects, so I'm not the best person in the world to debug issues; but perhaps we can loop in @JaKXz and @mohsen1 who have helped document the usage of TypeScript with nyc/istanbul.

I'll happily help land any updates to documentation we want to ma

[2017-07-29 20:31] bcoe commented on #615
I believe this is an issue with npm (which should have been fixed) please feel free to reopen this issue if I'm incorrect.

[2017-07-29 20:31] #615 closed

[2017-07-29 20:32] bcoe commented on #611
@ciekawy this feature is now landed 👍

[2017-07-29 20:32] #611 closed

[2017-07-29 20:35] bcoe commented on #610
@ORESoftware @ciekawy it hasn't been a top priority of the project to get test coverage working in a long lived process, e.g., a server; I would however love to support this.

Would happily help landing any patches that would help address the issues folks are running into -- for starters, I think it would be worthwhile to figure out a very minimal reproduction in an isolated toy repository.

[2017-07-29 20:39] bcoe commented on #609
@awexfwex unfortunately this might simply be a symptom of how the babel transpilation is being applied, would need to see what the final instrumented code looks like; but there's a good chance that the one liner `export class Demo` ends up instrumenting the class in such a way that we lose the name.

do you also lose the name if you do this:

[code]

The actual underlying issue will be in the [ins

[2017-07-29 20:50] bcoe commented on #608
@eisbehr- the way that the tree is walked during instrumentation has changed slightly, but this should do the trick for you:

[code]

You just need to make sure that the ignore stanza immediately proceeds the function definition.

[2017-07-29 20:50] #608 closed

[2017-07-29 20:52] bradlord commented on #618
I tracked down the difference between the TS and TSX coverage reporst to a [source map handling bug in ts-node.](https://github.com/TypeStrong/ts-node/issues/393) After upgrading to the latest version of ts-node, I'm at least seeing identical output for TS and TSX files.

[2017-07-29 21:03] bcoe commented on #607
@jedwards1211 that pseudo code you've written for outputting coverage reports is almost identical to what's already happening inside nyc to facilitate writing reports via the module [signal-exit](https://www.npmjs.com/package/signal-exit).

I think the code you shared in this issue will cause more issues, because you're now creating a race condition between `nyc`, your actual program, and your own

[2017-07-29 21:05] bcoe commented on #607
@jedwards1211 a few things I might check:

* what globals are set at the time when the coverageFinder method is called: https://github.com/istanbuljs/nyc/blob/bbadc1f198bfc060940a040bb604ad2474109ed8/index.js#L402
* what happens if you configure an alternative coverage variable, just out of curiosity: `https://github.com/istanbuljs/nyc/blob/bbadc1f198bfc060940a040bb604ad2474109ed8/lib/instrumenter

[2017-07-29 21:06] bcoe commented on #607
@jedwards1211 I would love to get to the bottom of this, and will happily help land any patches that it takes.

[2017-07-29 21:11] bcoe commented on #606
@Lube would you be able provide a minimal reproduction for this issue in a repo? Don't 100% follow what's happening.

[2017-07-29 21:17] bcoe commented on #605
@eisbehr- this seems like a reasonable request; I think for starters I'd like to only create the `coverage` folder when required; I'm a little hesitant to move the `.nyc_output` folder into `./coverage`, mainly because I don't want the report generation logic to interfere with the low-level functionality of the `.nyc_output` folder -- this folder contains the raw coverage information from each sub

[2017-07-29 21:19] bcoe commented on #604
@nadavye @jamestalmage If you isolate the problem to `spawn-wrap`, I'd be happy to introduce a `--no-spawn-wrap` flag to nyc that disables it for you; just let me know where you ended up debugging this issue.

[2017-07-29 21:22] bcoe commented on #603
@sgronblo @sublimeye @marshmellow1328 sorry for the slow reply, have been dealing with some personal issues and have been an abysmal OSS maintainer the past few months.

For starters, I would make sure that you configure it so `nyc` requires `ts:ts-node/register` rather than mocha; you can do this using nyc's `require` configuration; this way `--all` will properly understand TypeScript syntax.

Ot

[2017-07-29 21:23] bcoe commented on #597
@wysisoft not quite sure how we'd pull this off in an elegant way; would definitely like to pull it into a module that does all the bookkeeping, and is enabled optionally, but I really like the idea!

It's kind of similar to the work @addaleax did on tracking subprocess information.

[2017-07-29 21:23] bcoe commented on #597
would love help implementing if anyone is interested.

[2017-07-29 21:29] bcoe commented on #596
@ORESoftware could you please provide a link to a repository that is running into this issue?

Here's a unit test we have for logic very similar to what you're attempting:

https://github.com/istanbuljs/istanbuljs/blob/master/packages/test-exclude/test/test-exclude.js#L219

We're not doing anything exciting with our `test-exclude` logic, it simply runs a glob with a few nice defaults applied, e.g.

[2017-07-29 21:31] bcoe commented on #595
@pixelass I believe this should now be addressed by https://github.com/istanbuljs/istanbuljs/pull/65

Please feel free to reopen if you're continuing to run into issues 👍

[2017-07-29 22:04] bcoe commented on #594
@mrchief @novemberborn @ljharb `--all` will only work if nyc is performing the instrumentation itself; this is because as indicated in this thread, nyc loads the files and pulls out the populated empty instrumentation object.

@mrchief in your specific case, the problem is that the top level nyc process needs to perform the instrumentation, so this would fix things:

[code]

I'm not sure what the

[2017-07-29 22:05] bcoe commented on #594
whoops, flagged @jamestalmage instead of @novemberborn on this issue (sorry James 👋) getting my AVA contributors mixed up.

[2017-07-29 22:08] stevenvachon commented on #619
@bcoe you followed correctly. I can maybe try to help debug.

[2017-07-29 22:20] wysisoft commented on #597
I might be over simplifying it, but you already have a global variable (I forget its name, something like __globalVar__), I thought you can just add a property called something like testName and whatever the current value of __globalVar__.testName is recorded along with the rest of the instrumentation information, and then its up to users like me to propertly set the __globalVar__.testName value a

[2017-07-29 22:23] bcoe commented on #597
@wysisoft sounds like this could work reasonably well, the global variable being set as tests run is `__coverage__` which has coverage information for each file; I would definitely want to only enable this with a flag, as it has the potential to slow down the overall test run.

[2017-07-30 00:11] ljharb commented on #594
@bcoe ok, then that means `--all` won't work for my use case, as I intentionally prebuild and preinstrument the code myself. Is there any possibility of an option that allows nyc to locate *every file on disk* in an included dir, since that's what "all" means to me intuitively?

[2017-07-30 01:13] wysisoft commented on #597
Ya I might be alone on this but I think that actually knowing which test provides which coverage is critical for maintaining my code base, also for getting a good place to start when coverage is missing.

[2017-07-30 09:27] kunagpal opened #640 "Bug: Code coverage thresholds not respected"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Programmatic use of NYC with breached code coverage thresholds results in a non-zero exit code.

## Observed Behavior
While using NYC programmatically (via the `.wrap()` interface), coverage threshold breaches result in an exit code of `0`.

## Bonus Points! Code (or Repository) that Reproduces Issue
https://g

[2017-07-30 16:16] novemberborn commented on #594
We'd have to parse the file to extract the coverage header. Loading the file may lead to unexpected code execution.

[2017-07-30 19:08] bcoe commented on #588
@hbarcelos closing this issue for now, because I don't have enough information to reproduce the issue; If you have some time, please provide a minimal reproduction for this issue in a repository you can share, and I'll happily revisit this issue.

[2017-07-30 19:08] #588 closed

[2017-07-30 19:12] bcoe commented on #586
@Lange unfortunately there have been some breaking changes between the Istanbul 1.x instrumentation format (which nyc uses), and the old 0.x releases of Istanbul; some of which are documented here:

https://github.com/istanbuljs/istanbuljs/blob/master/packages/istanbul-lib-instrument/v0-changes.md

merging the old style and new style reports is not likely going to be possible.

[2017-07-30 19:12] #586 closed

[2017-07-30 19:21] Lange commented on #586
I actually no longer have this issue, because the package I was using has updated to use a modern version of `istanbul`/`nyc` and now outputs compatible coverage data. All good!

[2017-07-30 19:29] bcoe commented on #581
@NiGhTTraX thanks for the great reproduction, and sorry for the slow reply have been trying to gradually catch up on old GitHub issues.

I did a tiny bit of digging using your example repo, and the issue seems to be an interaction between the exclude rules and he `--all` functionality. My hunch is that the walk of files that takes place during the `--all` step isn't having the include and exclude

[2017-07-30 19:33] bcoe commented on #579
@bensaufley this is totally a think now \o/ thanks for helping to implement it.

I've recently setup a community slack (see README.md) if you feel like staying in touch and contributing more to these projects.

[2017-07-30 19:33] #579 closed

[2017-07-30 19:40] bcoe commented on #576
@StoneCypher feel free to open a new issue if you ran into any problems, I think with some fiddling `--no-clean` should do the trick for you 👍

[2017-07-30 19:40] #576 closed

[2017-07-30 20:00] bcoe commented on #572
@gowritharanmageswarasc sorry for the slow reply! have been more busy with work and life stuff than usual over the past few months.

I like this idea! one thought that comes to mind, is that it would be nice if reports in general were more configurable -- make it easier to provide your own report.

Would love help thinking about how to implement this (and implementing it). The repo we will be work

[2017-07-30 20:00] #572 closed

[2017-07-30 20:05] bcoe commented on #571
@dsole @maghis what's supposed to happen is that when `--all` runs it requires just enough of the source-file to grab the header for tracking coverage information, but doesn't actually require the file (which would result in code executing).

The source-map logic looks for a footer in the file representing source-map information, and writes this into a cache folder -- my hunch is that perhaps the

[2017-07-30 20:07] bcoe commented on #560
@sudo-suhas this is a very weird issue; but since this only happens in Node 5, which is not an LTS of Node I'm tempted to close this issue.

Have you seen similar behavior crop up on any newer versions of Node?

[2017-07-30 20:20] ciekawy commented on #618
upgrading to latest `nyc`, `ts-node` did not change anything. Yet just found that using `"target": "es5"` as `compilerOptions` in `tsconfig.conf` seems to solve the issue (need to confirm though if coverage report is fully correct).
Also if you need `es5` target in production there is still an option to use `TS_NODE_COMPILER_OPTIONS='{"target":"es6"}' nyc ...` i.e. in `package.json`'s `scripts` se

[2017-07-30 20:21] garthenweb commented on #615
Thank you for all of your comments and investigations. I cannot reproduce this issue anymore with npm 5.3.0 :)

[2017-07-30 20:25] bcoe commented on #557
@astorije took the time to look into things a little bit for you, sorry for the slow reply.

If you add this to your exclude, `**/coverage/**`, then things should work as expected. The problem is that something in your testing configuration is changing the root folder, so that file paths are reported as `lounge/coverage/foo.js` rather than the expected `coverage/foo.js` -- not quite sure what's mu

[2017-07-30 20:25] #557 closed

[2017-07-30 20:33] bcoe commented on #552
@novemberborn I'd be tempted to start by just extending our existing hashing function with @tomdale's suggestion; this logic was already pulled into its own [internal module](https://github.com/istanbuljs/nyc/blob/master/lib/hash.js) so this will be nice and simple

 `nyc` has _a lot_ of dependencies, which I've sometimes seen it criticized for. yargs also ran into this critique, and I've changed

[2017-07-30 21:37] ljharb commented on #594
I'm confused; I'm merely suggesting taking every filename (no parsing) and adding it as having zero coverage, and then overlaying the normal coverage on top of that.

[2017-07-30 22:39] bcoe commented on #594
We're actually already doing this with the `--all` functionality, it does a `noop` require and extracts and stores the coverage header from the file, if I'm recalling correctly. I'm not 100% sure why @ljharb's approach would not be working; Perhaps the issue is that the transpiled code is in an excluded folder, e.g,. `/dist`?

It's probably not a huge amount of work to better support @ljharb's use

[2017-07-30 22:45] bcoe commented on #615
@garthenweb great 👍

[2017-07-30 22:48] bcoe commented on #618
@ciekawy interesting; nyc should understand ES6 syntax -- so not quite sure why compiling down to ES5 would make a difference.

@bradlord @jvanoostveen perhaps you can try the trick that @ciekawy came up with; and if that works we can document it in our README and typescript tutorial -- it seems like it would also be worthwhile to open up an issue on `ts-node`, tracked to this issue, I'd really lo

[2017-07-30 22:49] bcoe commented on #586
@Lange awesome 👍 hate to fail to give users a workaround, so I'm glad that this isn't blocking you any longer.

[2017-07-30 23:47] bcoe commented on #640
@kunagpal would love help digging into this, a good start would be adding a unit test. I'm a bit confused, because newer versions of Node.js should do the right thing when you set:

`process.exitCode = 1`

I just setup a slack community for the various open-source projects I manage, here:

http://devtoolscommunity.herokuapp.com/

If you have any questions while working on tests.

[2017-07-30 23:47] StoneCypher commented on #576
oh, i'm sorry, i thought i replied to this

the answer i had meant to give was "yes, thank you very much"

my apologies for having left this unanswered by accident

[2017-07-31 00:01] ciekawy commented on #618
I think it's otherwise as nyc/Istanbul seem to handle better ES6 than ES5. `"target": "es6"` which seems to work transpiles to ES6

[2017-07-31 00:13] sudo-suhas commented on #560
@bcoe I have not faced this issue on any other version of node. I also stopped running builds on node 5. You can close the issue if you want.

[2017-07-31 03:07] jedwards1211 commented on #607
@bcoe I'm confused what you mean by an odd interaction between crater and nyc's signal handling.  My code never resets `__coverage__` either, so what would?  Or might the signal handler be getting called in a weird context?

[2017-07-31 06:44] scaljeri commented on #624
@bcoe thanks!

[2017-07-31 09:14] kunagpal commented on #640
@bcoe I agree that newer versions of Node behave correctly with `process.exitCode` being set, but the issue lies in the fact that in the code here: https://github.com/istanbuljs/nyc/blob/master/index.js#L459

[code]

From the last line of the snippet, we can see that `process.exit` will only be called if both conditions are satisfied:
* The current node version is `0.10.x` or `0.11.x`.
* The curre

[2017-07-31 15:12] ciekawy commented on #610
this is not for sure yet with latest `nyc` and after changing target to ES6 I found no more failures since then. However as this is for my TS project and seem to be related to https://github.com/istanbuljs/nyc/issues/618 now instead of
[code]
I'm observing periodically (still less frequently) messed coverage reports with reports for lot of the files containing stuff like:
[code]

[2017-07-31 20:14] wysisoft commented on #597
Keep in mind that i'm the worst developer in the world.

So i'd propose having another global object called __coverageTests__.
In instanbul's instrumenter.js, I think  nyc needs to override the AST 'cover' functions so it does another line, something like __coverageTests__.s[id] = (__coverageTests__.s[id].indexOf(__coverage__.currentTest + ';') == -1 ? __coverageTests__.s[id] + ';' : __coverageTes

[2017-07-31 21:57] miloss opened #641 "Question about .nyc_output and window.__coverage__"
I am trying to generate HTML report from `window.__coverage__` object, with partial success. It seams that easiest way to to this would be using `nyc`, which as I see only supports creating report from existing `.nyc_output` folder.

Is there a straightforward way to get `.nyc_output` folder from `__coverage__` object? If not, what would be the right direction to go?

Thanks for reading this ✌️

[2017-07-31 23:47] ciekawy commented on #603
currently I'm able to run `ts-node/register` on mocha level rather than with `nyc` (as otherwise running pure mocha without nyc won't work).

see also:
https://github.com/istanbuljs/nyc/issues/618
https://github.com/istanbuljs/nyc/issues/610

[2017-08-01 05:16] bcoe commented on #603
@ciekawy `--all`  will not work properly if   `ts-node/register` is required at the mocha level rather than the nyc level, because when `nyc` requires files it won't understand the TypeScript syntax.

This might be a good starting point for debugging your projects, if you're finding you're unable to have nyc instrument the require statement.

[2017-08-01 05:18] bcoe commented on #641
@miloss if you simply output the contents of `window.__coverage__` (assuming it's in Istanbul 1.0 format) to `.nyc_output/out.json`, you should be able to run `nyc report --reporter=html` to get an HTML report.

Would this do the trick for you?

[2017-08-01 05:25] bcoe commented on #597
@wysisoft I haven't thought too hard about this problem yet -- of the top of my head, I feel like you might need to modify both the testing framework and nyc to get this functionality.

What I'd be tempted to do would be to set a global variable in the test suite (assuming it's not spawning any subprocesses) which would indicate the current name of the test that's running; I would then perhaps gra

[2017-08-01 05:30] bcoe commented on #640
@kunagpal I would start by adding a failing test for the behavior you're seeing, the fact that:

https://github.com/istanbuljs/nyc/blob/master/index.js#L466

Sets the exitCode to 1, should result in `$? = 1` once the normal execution of the application completes; I'm not sure that we're really gaining much by not exiting immediately ... but you've tickled my curiosity as to what the underlying iss

[2017-08-01 05:31] bcoe commented on #624
@scaljeri things are working for you? awesome 👍

[2017-08-01 05:32] bcoe commented on #560
@sudo-suhas sounds good; chalk this up to a weird historical issue with Node 5.

[2017-08-01 05:32] #560 closed

[2017-08-01 05:34] bcoe commented on #576
@StoneCypher no worries, I'm glad you're on your feet.

[2017-08-01 05:35] bcoe commented on #619
@stevenvachon would definitely appreciate help digging into this; sounds like potentially a regression with produce-source-map.

[2017-08-01 05:38] bcoe commented on #434
@chrisnicola if you have two secs, would happily accept a patch to the section of the README on  `babel-plugin-istanbul`, highlighting the fact that nyc must perform the instrumentation for `--all` to work.

[2017-08-01 05:39] bcoe commented on #634
@ScottFreeCode might be worth opening an issue on npm/npm; I've noticed this behavior too, and it's probably a pretty simple patch -- I've honestly just always ignored the behavior.

[2017-08-01 05:46] bcoe commented on #529
@unional @sergueyarellano me thinks to get this working an additional plugin would be required for jsdom. What you basically want is that when JSDom loads a block of JavaScript, you should hook into this step and run the JavaScript through the [istanbul instrumenter](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-instrument) -- I think you'd probably be better to do thi

[2017-08-01 05:47] bcoe commented on #630
@epikhighs that's good news 👍 please let me know if you run into any more issues in the future.

[2017-08-01 05:49] bcoe commented on #176
@Nava2 @seanpoulter I recently created a [slack channel](http://devtoolscommunity.herokuapp.com/) for `nyc`, `istanbul`, `yargs`, etc., might be a good place to discuss some of these features.

[2017-08-01 05:51] bcoe commented on #627
👍 glad things are working for you; there are definitely a few outstanding issues with TypeScript, if you browse through open-issues. If you run into any problems, feel free to join these threads -- also if you feel ambitious, and want to help dig into any of these issues, help is always appreciated.

[2017-08-01 05:57] bcoe commented on #612
@bradennapier odd, not quite sure what might have been happening to you; but glad things are running well now ... and I didn't even have to do anything \o/

[2017-08-01 06:07] bcoe commented on #548
@juancarlosfarah as you noticed, haven't really put too much thought into how you'd use nyc to instrument a long-lived process.

What I've tended to do in my own unit tests is too start a server in in the unit-tests itself, generally in the `beforeAll` block. Because nyc hooks the require statement and subprocesses, this will then result in appropriate coverage for tests that exercise the server i

[2017-08-01 06:10] #230 closed

[2017-08-01 06:12] bcoe commented on #230
@fulax 👋 the underlying issue is going to most likely be with the library [spawn-wrap](https://www.npmjs.com/package/spawn-wrap), mind opening an issue here? I'm sure @isaacs would happily accept a patch too, if you get a chance to do any digging.

[2017-08-01 07:29] kunagpal commented on #640
@bcoe Thanks for that pointer, I'll add the test.

[2017-08-01 09:13] miloss commented on #641
Yes, that worked perfectly. Thank you so much 👏

You think this would be worth adding to documentation? Or is this way of getting coverage (from browser/global object) not really recommended in the long term?

[2017-08-01 16:58] willhayslett commented on #35
I know this is old, but I ran into this and was so confused. How about "Uncovered Line #'s" or "Uncovered Line Numbers"? "Uncovered Lines" isn't very clear.

[2017-08-01 20:00] Viatorus opened #642 "NYC with webpack and without babel"
I want to use my ES6 project without babel.
In order to use istanbul, I wrote a webpack register and compiler, which can be found under _scripts/_ here: https://github.com/Viatorus/TestProject/

The problem I ran into is that istanbul includes the webpack bootstrap and the test.spec.js into its coverage report. Leaving out test.spec.js in the include options or trying to exclude disable them does

[2017-08-02 08:13] #641 closed

[2017-08-02 14:43] johan-gorter commented on #618
Hello, I am on the same team as @jvanoostveen. We already have `"target": "es5"`  in our `tsconfig.json`.

The issue we are seeing with nyc 11.x seems to be a flaky one. I have 2 test-runs on identical source-files, one producing `Branches: 99.79% ( 8998/9017 )` and the other one producing `Branches: 100% ( 7537/7537 )`.

Hope this information is useful.

### Forensics
os: windows
nyc: 11.1.0
last

[2017-08-02 15:50] tomdale commented on #552
I think this is straightforward to accomplish with Node's built-in `crypto` module:

[code]

[2017-08-02 19:52] kunagpal commented on #640
@bcoe To add some more context, my current test suite setup is like this:
1. Run unit tests
2. Using NYC programmatically, generate, report, and enforce code coverage. (https://github.com/kunagpal/express-boilerplate/blob/develop/scripts/test/run.js#L104)
3. If there are no errors in 2, proceed to other tests.

Since the current coverage checking logic is to eagerly exit only for older Node versio

[2017-08-03 10:11] juancarlosfarah commented on #548
@bcoe, thanks for your reply. I'm looking into the second option you presented. As you noted, my approach is to instrument the code, fire up the instrumented server, run multiple integration tests against that server and then run reports against the coverage results. In my opinion the ideal solution should somehow make that second approach as straightforward as possible. I know that it can be comp

[2017-08-06 14:48] novemberborn commented on #594
Best I can tell, [`istanbul-lib-instrument`](https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-instrument) stores the coverage header for the last file it covered. That's then accessed as part of `NYC#addAllFiles()`.

I'm not sure why the `fakeRequire` logic is there, perhaps so that `addFile()` can be used for both `--all` and normal scenarios. It seems unnecessary and a

[2017-08-07 12:41] Justus-Maier commented on #605
+1 Default: ./coverage/.nyc_output @eisbehr-

Also, the options "temp-directory" and "report-dir" are inconsitently named and not well documented.

[2017-08-07 13:05] eisbehr- commented on #605
Yes, the documentation of these folder is pretty bad. Was searching for them too as I switched to the new version. No hint or anything.

I would still recommend to place this folder inside the `./coverage/`, because it all belongs to the reports and the root dir becomes a mess. Starting to creade folders and folders in the root is not helpful for anyone. One folder, okay, but any folder more in th

[2017-08-07 13:20] maghis commented on #571
Well, I can live disabling the cache, not sure what the best behavior should be.
I tend to err on the side of correctness but I get the optimization point. When is the cache invalidated?

[2017-08-07 17:50] bcoe commented on #571
@maghis the cache will be invalidated with any new release of nyc. It will also be invalidated if the shasum of a file being instrumetned changes.

I suggest we keep this issue open; if you can provide a minimal reproduction of the behavior you're seeing, I bet we can figure out why the source-map isn't being appropriately kicked along.

[2017-08-07 18:02] bcoe commented on #605
@eisbehr- @Justus-Maier if someone wants to take a stab at implementing this change, I'd be interested to see how difficult it would be; mainly I'd want to make sure that the `coverage/.nyc_output` is not nuked between reporting runs -- there might need to be some changes to how reports are generated and how nyc runs to ensure this.

[2017-08-07 18:34] bcoe commented on #594
@novemberborn @ljharb aha, yes; instrumentation should definitely be disabled for `nyc` (using `instrument: false`) if you're using the `istanbul` plugin.

[2017-08-07 20:42] ljharb commented on #594
Disabling instrumentation (and source maps, it seems) doesn't seem to change anything - `src/forbidExtraProp.js` still isn't showing up as uncovered.

[2017-08-08 00:13] bcoe commented on #548
@juancarlosfara, @miloss had almost an exact same requirement and put together these rough docs:

https://istanbul.js.org/docs/advanced/coverage-object-report/

It would be cool to work together and figure out a better workflow, and then we could work backwards (and update the docs so that we don't have to perform quite as manual of a step :p ).

[2017-08-08 00:23] bcoe commented on #618
@johan-gorter as indicated in the initial post, make sure that nyc has a `require` stanza that pulls in `"ts-node/register"` for you. This is required because the `--all` step functions by pre-instrumenting all of the files, and pulling out the coverage information.

If `nyc` itself is not the process performing the instrumentation, then there will be a discrepancy between the line count retrieved

[2017-08-08 00:38] bcoe commented on #633
@elad-nach this is a pretty cool idea and I know a few others are interested in having a similar feature set, see https://github.com/istanbuljs/nyc/issues/597 might be worth joining the istanbul slack, to discuss an approach to implementing this, I know @refack is also interested in this feature

http://devtoolscommunity.herokuapp.com/

[2017-08-08 08:35] johan-gorter commented on #618
Thanks for pointing me in the right direction. I added the require statement to my package.json which contained the `all:true`.

We had problems with this require stanza before, producing vague error messages: `ts.Debug.assert(outputText !== undefined, "Output generation failed"`. I found out that this could be fixed this by adding `"**/*.d.ts"` to our excludes. (nyc seems to consider `file.d.ts`

[2017-08-08 09:17] johan-gorter commented on #618
The result now is that branches and functions are at 100% again. However, we now have 0.2% missing statement coverage and 0.21% missing line coverage. There seem to be at least two cases where we see missing coverage:

1) Import statements that import only interfaces from another file

[code]

2) Files that only contain an interface, like `point.ts` (Statements 0/1, Lines 0/1)

[code]

When using

[2017-08-08 17:44] JakeDluhy commented on #628
Just tried that, no luck =(. I am still getting the same error.

[2017-08-08 20:36] elad-nach commented on #633
Time to dig in on how nyc works...

[2017-08-09 02:12] refack commented on #633
אהלן Elad,
I discusted this lightly with @bcoe, and we figured that for good coverage we need to hook into `mocha`, `node-tap`, `jest`, and `ava`.
I think I have a solid grip on `mocha` and `node-tap`, plus I need a generic hook for the way `node` core runs the tests which is simply `node test/x/y.js` (so `process.argv.join(' ')` is good enough for me).
If you can cover `jest` and `ava` we get ver

[2017-08-09 12:28] Xiphe commented on #425
I stumbled across the same issue in a vue.js project

An answer from @mathieumure helped me find out, that I had my code instrumented twice. Once by babel istanbul plugin, once by jest. (ref (https://github.com/vire/jest-vue-preprocessor/issues/15#issuecomment-313091465)

Though that might not be related to this specific problem, Maybe it helps others who find this issue first.

[2017-08-09 16:41] cklanac commented on #310
@laggingreflex Nice work on mochista, maybe I'll give it a try. For anyone else who's looking for any easy solution, the following is working well for me.

`nodemon --exec nyc --reporter=lcov --reporter=text mocha`

It's a full restart of nyc and mocha so it runs a little slower than `mocha --watch` but it works great with VS Code's Coverage Gutter extension

[2017-08-09 17:02] bcoe commented on #310
@cklanac that's really slick 👍 if you have a few moments, and feel like making an OSS contribution to the Istanbul project, it would be awesome to add some documentation regarding this approach here:

https://github.com/istanbuljs/istanbuljs.github.io

Maybe a tutorial along the lines of "Watching for Test Coverage Changes with Nodemon"?

[2017-08-09 17:07] bcoe commented on #633
@elad-nach @refack I'm pretty swamped currently working on a new product at npm 😛 but am also around to help keep this moving along. Might be worth starting by just specing out the changes you would like to make to the `__coverage__` object format, such that you can track per-assertion information, then we can start working backwards.

Performance is pretty key in this object, and tiny changes can

[2017-08-10 05:49] bcoe commented on #628
@JakeDluhy any chance you could provide a GitHub repo with a minimum failing example? I'd happily debug for you.

[2017-08-10 05:55] bcoe commented on #618
@johan-gorter are you still seeing flaky behavior (coverage information that fluctuates)?

If this problem seems to have been corrected, I do recommend opening a new issue; the fact taht these files do not get exercised might be a different issue entirely; bonus points, perhaps we could figure out a minimum reproduction.

@ciekawy it sounds like you've got a working solution now, and we can probab

[2017-08-10 07:06] johan-gorter commented on #618
I have not observed any flakyness anymore. I will try to find the time to create a minimum reproduction.

[2017-08-10 17:31] JakeDluhy commented on #628
Sure! Here it is: https://github.com/JakeDluhy/nyc-breaking

Thanks so much!

[2017-08-11 07:43] elad-nach commented on #633
אהלן @refack :)
so if i understand correctly - we just need the test runners to report which file is under test (when the test starts and ends).
is there a specific format we'd like to have this in?

[2017-08-12 20:02] cdaringe opened #644 "Old removed files seem to stay cached in reports"
## Expected Behavior

- no report for old, non-existing file (`project.js`)

## Observed Behavior

- report shows coverage for non-existent file

[code]

- `rm -rf coverage .nyc_output` has no effect pre-`yarn test`
- `🛰  counsel$ find . | grep project.js` produces _nada_
- renaming the `Project.js` to anything else (and updating the code to point to it) resolves the issue
- reverting the rename p

[2017-08-12 21:07] bcoe commented on #644
@cdaringe hey 👋 my guess would be their's content in `node_modules/.cache/nyc/.cache` that references the old file -- this sounds like it might be a bug though, it should certainly bust the cache when a file no longer exists (I wonder if workspaces might somehow be interfering).

Try `rm -rf node_modules/.cache/nyc/.cache`

[2017-08-12 21:14] bcoe commented on #618
@johan-gorter going to go ahead and close this, thanks for the reproduction.

[2017-08-13 04:51] cdaringe commented on #644
greetings!

indeed, the cache is there (`<root>/packages/counsel/node_modules/.cache`), and not in `<root>/node_modules/.cache`.  clearing the cache doesn't resolve it.  the fact that i `rm -rf`'d my whole project, re-cloned the source, and the issue still happened, im wondering it there are _other_ caches on disk used?

[2017-08-13 05:12] cdaringe commented on #644
a hint, but not the key, is that I had a require statement that still looked like `require('./project')` vs `require('./Project')`.  it as though the report uses the value parsed from the require statement vs the actual resolved file basename.

[2017-08-14 06:06] eseliger opened #645 "Wrong exit code for out of memory run test suite"
## Expected Behavior
nyc should exit with return code different from 0
## Observed Behavior
It actually doesn't. Although, in my opinion, it should. Because a application that runs out of memory obviously failed and so should nyc. This caused some trouble in our CD pipeline, so it can be dangerous.

## Suggestion
Using spawn instead of fork seems not to share the memory and kill nyc as well. As yo

[2017-08-14 14:29] liujinmarshall opened #646 "nyc fails with "unknown" result on Ubuntu 14.04"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
nyc mocha is expected to output coverage data

## Observed Behavior
It fails with "4 unknown" even the test finishes on Ubuntu

----------|----------|----------|----------|----------|----------------|
File      |  % Stmts | % Branch |  % Funcs |  % Lines |Uncovered Lines |
----------|----------|----------|----

[2017-08-14 14:49] sneakertack commented on #619
I faced a similar issue with `--produce-source-map` not appearing to work a few days back, even with source-map-support (in my case, required in app code via `require('source-map-support').install({hookRequire: true})`).

I think I've gotten it working after adding both the `--eager` and `--cache false` flags. @stevenvachon maybe you could verify if that fixes things?

To me it feels like it has s

[2017-08-14 17:56] bcoe commented on #619
@sneakertack a similar class of bug has been reported by @isaacs' related to stack-traces getting out of alignment when using arrow-functions ... it might be worth diving a bit deeper into the source-maps being generated by Istanbul's instrumenter ... feels like something is out of whack.

[2017-08-14 17:58] bcoe commented on #646
@liujinmarshall could you please provide a link to the library that is failing to instrument under ubuntu 14.04, alternatively perhaps a minimum failing example.

[2017-08-14 18:14] rupamroy opened #647 "nyc ts-node --project does not work on windows."
## Expected Behavior
On my windows system when i try this
[code]
It should run tests for the code and report on coverage.

## Observed Behavior
It throws the following output
[code]
## Additional
The below code however workings fine.
[code]
The .nycrc file looks like this
[code]

## Forensic Information
**Operating System:** Windows 10 on MINGW64
**Environment Information:**
https://gist.github.co

[2017-08-14 18:16] bcoe commented on #647
@rupamroy are you able to provide a link to the project that is having this issue?

[2017-08-14 21:11] rupamroy commented on #647
No sorry i can't do that , This is within a corporate network and not open sourced project.

[2017-08-15 20:18] juancarlosfarah commented on #548
@bcoe, I'm happy to help. Just got back from holidays so I'm focusing on this now. I'm more than willing to contribute to documenting the workflow as this is something that I'd like to get working smoothly.

[2017-08-15 22:38] hexsprite opened #648 "nyc meteor support"
## Expected Behavior

`nyc meteor test` should produce a coverage report

## Observed Behavior

`nyc` can't seem to retrieve the coverage from the test. However if I call the node executable directly instead of using the meteor wrapper script it works fine. Eg:

`$NODE $METEORJS test`

I believe this is probably something that will need to be fixed in Meteor JS itself but I'm hoping someone from t

[2017-08-16 11:49] vinayathimmappa commented on #548
@bcoe, please let me know how I can pitch in. I would be happy to do this. I am currently trying out Jenkins integration and this "SIGINT" is causing code coverage not working.

[2017-08-16 14:13] keithkml commented on #514
Nightmarejs converts functions passed to `evaluate` into strings, then `eval`s them within the Electron/Chrome context. This means when the function is actually executed, Istanbul's coverage info variables are not present in scope.

The solution is to use Istanbul's [coverage comment syntax](https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md#ignoring-code-for-coverage

[2017-08-16 14:14] keithkml commented on #629
See solution at https://github.com/istanbuljs/nyc/issues/514#issuecomment-322784724

[2017-08-20 12:41] lzxb opened #650 "Unable to complete coverage test of one hundred percent"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
Ability to complete coverage testing by one hundred percent
## Observed Behavior
Cannot complete coverage test by one hundred percent
## Bonus Points! Code (or Repository) that Reproduces Issue
[code]

[2017-08-20 12:47] addaleax commented on #650
Your example gives 100 % coverage for me with the latest versions of nyc and ava; is there something else in your setup involved?

[2017-08-20 12:47] lzxb commented on #650
![image](https://user-images.githubusercontent.com/8424643/29495013-cb2b41c0-85e8-11e7-8326-a21c43fbe46b.png)
Error

[2017-08-20 12:56] lzxb commented on #650
'!!obj'has already been judged, and'typeof obj === 'undefined'' cannot exist behind

[2017-08-21 06:06] krainboltgreene opened #651 "nyc + babel + babel-tap|tape explodes"
Alright, so here's the situation:

  - I'm using code that has non-ES5 syntax (transpiled via babel).
  - I'm running tests that have non-ES5 syntax (transpiled via babel).
  - My tests are written in tap format (run via tap OR tape).
  - I want to fail the tests if the coverage doesn't meet standards (100%).

This crossing of babel, tap(e), and nyc seems like it should be a very simple thing, how

[2017-08-21 20:40] rupamroy commented on #647
Hi Any update on this issue ?

[2017-08-21 21:12] bcoe commented on #647
@rupamroy haven't had a chance to spin up a Windows VM, please feel free to join our community slack if you want to try to recruit some folks to dig into this bug:

http://devtoolscommunity.herokuapp.com/

It would be helpful if you could provide a minimal failing reproduction in a toy repo ... doesn't need to be the proprietary codebase you use at work.

[2017-08-22 03:04] krainboltgreene commented on #651
I was actually able to get it working with `NODE_ENV=test` 😊

[2017-08-22 03:04] #651 closed

[2017-08-22 03:32] bcoe commented on #651
@krainboltgreene awesome 👍

[2017-08-24 02:36] DblK commented on #468
I suggest to have lines, statements, functions & branches under a global object and also a perFile object.
That way we can have a global of 90 and a minimum per file at 60.
That way we can avoid 0 on some files when working on huge project with a lot of 100.

[2017-08-24 17:36] nwhetsell opened #652 "Coverage of code run using vm.runInThisContext"
Is there any way to get coverage statistics of code run using [`vm.runInThisContext`](https://nodejs.org/api/vm.html#vm_vm_runinthiscontext_code_options) in [Jasmine](https://jasmine.github.io)?

Here’s a repository that shows what I’m trying to achieve: https://github.com/nwhetsell/nyc-test.

There are two functions, in two files, in the repository. The [Jasmine spec](https://github.com/nwhetsell

[2017-08-25 06:23] bcoe commented on #650
@lzxb I am also unable to reproduce this issue:

**package.json:**

[code]

**util.js:**

[code]

**test.js**

[code]

[2017-08-25 07:04] lzxb commented on #650
Yes, ES6 has this bug
**package.json**
[code]

**util.js**
[code]
**test.js**
[code]

[2017-08-25 08:40] memelet opened #653 "Ability to set the module/package name to be used in /coverage/lcov-report/{name}"
When running nyc in a teamcity build, teamcity will checkout the project under a random number -- not the git project/package name. The result is that the coverage report does not include the module name, eg:
[code]
From what I can tell, there is no way to tell nyc not to use directory name in this case.

[2017-08-26 03:21] laneholcombe opened #654 "lcov TN: field is always empty"
Please use the template provided below, when reporting bugs:
-----

## Expected Behavior
When generating an lcov report the TN: (Test Name) field should be populated
## Observed Behavior
TN: is always empty
## Bonus Points! Code (or Repository) that Reproduces Issue
Guaranteed any test suite will produce this result
## Forensic Information
Windows, Linux, and Mac
**Operating System:** the operatin

[2017-08-26 07:35] ruiming opened #655 "cluster code coverage did not be included in the coverage report sometimes"
## Expected Behavior

## Observed Behavior
I used cluster to test my server.
Koa server was run in a worker, and I tested the router of the server from master. This prevent the koa crash result in the whole process crash. But it seems that nyc can not calculated coverage report correctly sometimes.
the handle function of route existed in the controller file in `controllers` folder which it simply

[2017-08-28 14:24] erickzanardo opened #657 "Nyc doesn't include files that has spread object syntax on the coverage"
## Expected Behavior
All files, that aren't excluded on nyc config should be included on the coverage

## Observed Behavior

Files that have the spread operator syntax are been omitted from the coverage

I've included a zip file that contains a simple npm project that reproduces the problem, basically the project has two files `a.js` and `b.js`:

[code]

[code]

They both are tested but when the c

[2017-08-31 07:37] davidbonnet commented on #628
This unresolved issue might be related: https://github.com/standard-things/esm/issues/83.

[2017-08-31 19:19] NiGhTTraX commented on #581
So I found the real problem: the plugin is instrumented by `babel-plugin-istanbul` when it's required by Babel while transpiling a source file with `babel-register`. Deep breath. Here's how it happens:

1. `if (config.all) nyc.addAllFiles()` - entry point for when `all: true`
1. `glob.sync(pattern, {cwd: dir, nodir: true, ignore: this.exclude.exclude})` - this correctly excludes the plugin; let's

[2017-08-31 20:50] Rush commented on #542
I'm trying migrate from istanbul and I'm also missing this feature.

[2017-08-31 21:31] Rush opened #658 "Configuration option to include function headers as part of coverage"
Below is a screenshot showing a difference between lcov reports from istanbul and nyc. I am trying to migrate from istanbul but in order to safely do so I would preferably like to see same coverage numbers.
My request is about ability to reproduce istanbul behavior in nyc.

![](https://rush.sh/dojgD12n6pMKslxq7UFXTzYZr7Y/istanbul-vs-nyc.png)

Note, I am not the only one suffering from this issue a

[2017-09-03 22:35] bcoe commented on #654
@laneholcombe digging into the codebase, it looks like the TN: feature is not currently implemented. What would the expected value of the field be, I think we would need to understand some context about the specific test runner being used to execute the file?

This might dovetail somewhat with the research being done by @refack and @elad-nach on how to track more information from the test runner i

[2017-09-04 00:32] bcoe opened #659 "todo: figure out how to instrument .mjs files"
@bmeck has some amazing work close to landing that introduces ESM modules to node:

https://github.com/nodejs/node/pull/14369

Our strategy for hooking require statements (using require.extensions) will no longer work for `.mjs` files (which use the new ESM module syntax). @bmeck indicates that we might be able to pull off something similar using [import()](https://bugs.chromium.org/p/v8/issues/de

[2017-09-04 03:19] jdalton opened #660 "Expand .nycrc to process.argv"
I noticed `mocha` will [expand its `mocha.opts`](https://github.com/mochajs/mocha/blob/master/bin/options.js) into `process.argv` args.
This allows scripts that were `--require`'d to detect themselves.

Would `nyc` be open to expanding [its config](https://github.com/istanbuljs/nyc/blob/dd40dc5118741415a7f35626555f58390afd9641/lib/config-util.js#L20-L35) into `process.argv` args too?

If it's some

[2017-09-04 03:55] bcoe commented on #660
@jdalton I really like this idea, I think we'd just need to be smart and figure out how to make it place nice with features like this:

https://github.com/istanbuljs/nyc/pull/620

We allow folks to override a few parameters like `cwd`, but we then assume that a spawned subprocess won't have these parameters overridden ... `cwd` might be the only edge-case.

[2017-09-04 10:01] wizzfile commented on #547
ок

[2017-09-04 12:31] NorbertAtSAP opened #661 "Error when user code contains `class Function`"
When user code contains a class named `Function`, a name clash occurs in the instrumented code.

To reproduce, use the following file `foobar.js`:

[code]

When trying to cover this with `nyc node foobar.js`, I get the following error:
[code]

It works fine if I call my class `Function2`

Greetings - Norbert

[2017-09-04 23:57] #657 closed

[2017-09-05 00:27] #581 closed

[2017-09-05 05:46] bcoe commented on #657
@erickzanardo this should now be fixed in `nyc@11.2.0` mind trying it out?

[2017-09-05 06:04] bcoe commented on #658
@Rush this would appear to relate to some technical differences in how the instrumenter (or potentially the reporter) opts to instrument functions in Istanbul 2.0 vs. Istanbul 1.0. You can find the instrumenter codebase here:

https://github.com/istanbuljs/istanbuljs/tree/master/packages/istanbul-lib-instrument

I note that it does highlight the line if the function is assigned:

[code]
would love

[2017-09-05 06:57] bmeck commented on #659
In newer builds of v8, code coverage is built in. I would say looking at https://chromedevtools.github.io/devtools-protocol/tot/Profiler/#method-startPreciseCoverage first might be the quickest approach.

Web compatible hooks for ESM are still being looked at and don't have a spec yet.

[2017-09-05 07:25] boneskull commented on #515
Mocha could also use this.

[2017-09-05 07:40] boneskull opened #663 "tragedy strikes: --no-clean and no temp directory"
## Expected Behavior

use with `--no-clean` flag doesn't throw if there's no temp dir (typically `.nyc_output`)

## Observed Behavior

[code]

## Bonus Points! Code (or Repository) that Reproduces Issue

Well, `createTempDirectory()` [isn't called](https://github.com/boneskull/nyc/blob/master/index.js#L337) if [`clean` is falsy](https://github.com/boneskull/nyc/blob/master/bin/nyc.js#L41).

## For

[2017-09-05 07:49] boneskull commented on #515
sorry; didn't realize this issue is not "implement such a thing" because it already appears implemented.  just needs more tests (I found a problem; see #664) and docs.  otherwise, it seems to work!

[2017-09-05 08:07] beckend commented on #657
@bcoe works!

[2017-09-05 12:15] erickzanardo commented on #657
@bcoe it worked, thanks a lot

[2017-09-05 16:46] bmeck commented on #659
~workflow:

1. `node --inspect-brk=$DEBUG_PORT app.js`
2. connect over `http://127.0.0.1:$DEBUG_PORT/json` to grab URL to send messages to over `ws:`
3. `Profiler.enable`
4. `Profiler.startPreciseCoverage`
5. `Runtime.enable` -> should generate a `Runtime.executionContextCreated` with id of `1`, that is the main context.
6. wait for `Runtime.executionContextDestroyed` with id of `1`.
7. `Profiler.

[2017-09-05 17:03] jamespedid opened #665 "NYC for performance instrumentation"
Hello, I just have a basic question: can nyc be used for instrumentation purposes other than code coverage? In particular can nyc be used to instrument code as part of a performance test? Thanks in advance!

[2017-09-05 19:57] camsjams commented on #631
Doing `rm -r -f node_modules && npm i` works, glad I didn't have to downgrade to < Node 8, thanks @ScottFreeCode

[2017-09-05 20:21] vanduynslagerp opened #666 "NYC v11.2.0 exclude file with sourcemap from coverage"
## Expected Behavior
As previous version, the expected behavior is to include in the coverage all the files in `include` property whether they have a sourcemap or not.
It seems to be a regression due to #649.

## Observed Behavior
When a file referenced in `include` has a sourcemap it's excluded from the coverage report.

## Bonus Points! Code (or Repository) that Reproduces Issue
- Create `src/in

[2017-09-05 20:38] bcoe commented on #666
@princjef any thoughts about a compromise that would prevent this bug and also address #581?

@vanduynslagerp would it be sufficient to move the `this.exclude.shouldInstrument` logic to after the coverage remapping has been applied?

[2017-09-05 20:51] vanduynslagerp commented on #666
@bcoe turns out I was wrong, #649 is not the cause of this issue. It's #637.
When I comment [those 3 lines](https://github.com/schutm/nyc/blob/2fd867417eeeedbe95ea8f18d0e83973d6d31c88/index.js#L417-L419) it works as expected.

[2017-09-05 21:08] bcoe commented on #666
@vanduynslagerp hmm, this is pertinent to my interests because I specifically wanted this feature landed for [Node.js](https://github.com/nodejs/node/pull/15194) any thoughts on how we can have our cake and eat it too? (CC: @schutm).

Shouldn't the fact that we've already remapped our coverage (`map.data = this.sourceMaps.remapCoverage(map.data)`) be doing the trick for us (obviously it's not, but

[2017-09-05 23:21] vanduynslagerp commented on #666
What I'm doing is something similar to what is described in #637:
- I have my es6 sources in `src`
- I transpile them with `babel` in `lib`
- I deliverer the content of `lib` therefore this is what I want to test, so my tests import what's in `lib`

In order to make that works (in `11.1.0`) I have to add in `package.json`: `"nyc": {"include": ["lib/*.js"]}`. If I don't do that then the content of

[2017-09-06 00:03] bcoe commented on #666
@vanduynslagerp out of curiosity, do things work for you if you do move the `_this.exclude.shouldInstrument` logic to above the coverage remapping? seems like this might be the quick fix.

[2017-09-06 00:12] vanduynslagerp commented on #666
Do you mean [here](https://github.com/schutm/nyc/blob/2fd867417eeeedbe95ea8f18d0e83973d6d31c88/index.js#L416) ?

That was my intuition [as well](https://github.com/istanbuljs/nyc/issues/666#issuecomment-327299507).

So, to be clear, that works:
[code]

That does not work:
[code]

[2017-09-06 00:45] bcoe commented on #666
@vanduynslagerp 👍 cool, if you submit a pull request with that change I'll try to get a patch out the door ASAP -- @schutm would you be able to confirm whether this modified implementation would continue to work for your use-case?

[2017-09-06 01:47] vanduynslagerp commented on #666
Sure ! PR done #667

[2017-09-06 02:44] #666 closed

[2017-09-06 02:48] bcoe commented on #663
@boneskull awesome thanks for the contribution 👍 will work on cutting a new release tonightish.

[2017-09-06 02:48] #663 closed

[2017-09-06 09:02] Speedy37 opened #668 "NYC v11.2.0 exclude file with sourcemap from coverage"
## Expected Behavior

Sourcemap of files that are far away from covered .js files should be included by default, not excluded.
This is a regression introduced by #637

## Observed Behavior

All my sourcemaps are excluded :(

## Forensic Information

shouldInstrument is called with "/myabsolutepath/@msbuildsystem/js.typescript/src/worker.ts"
the relFile path is "../../../../../@msbuildsystem/js.typ

[2017-09-06 09:06] Speedy37 commented on #668
Because #649 is likely to cause a lot of regression, can't it be activated by a flag ? (like --filter-sourcemap)

I really like to keep my output files away from my source files

[2017-09-06 10:21] clakech opened #669 "feat: make 'istanbul cover' work the same as Istanbul"
We used to instrument our server using "istanbul cover app.js" command and then execute some blackbox tests on this app to know our coverage.

I am trying to use "nyc instrument app.js" to do the same but I am not sure if this is the good way to do it. The server shutdown immediately after I start it using "nyc instrument app.js"

With "istanbul cover app.js" the server stay up until we stop it "m

[2017-09-06 10:25] clakech commented on #610
Hi, I have the same issue here @ORESoftware
Do you find a way to use nyc with a running server ?

[2017-09-06 18:18] reggi opened #670 "babel-plugin-istanbul works on v10.0.0 but not latest"
I made an initial issue here in the plugin repo. https://github.com/istanbuljs/babel-plugin-istanbul/issues/128

I just saw that the `package.json` I have (in the issue explained below) works with `v10.0.0` but on the latest `v11.2.1` it's not working with that istanbul plugin. Is there something wrong with my config to support the newer release of `nyc`?

---

I'm trying to get `nyc` `ava` and `b

[2017-09-07 21:37] jdalton commented on #660
Ah nice! To start `nyc` could transfer to `process.argv` the ones it probably won't have problems with then expand as guards or code to handle others is added.

[2017-09-07 21:43] bcoe commented on #660
@jdalton that's not a bad idea, maybe just black-list `cwd` for starters?

[2017-09-07 21:44] jdalton commented on #660
👌 , I'll work on a PR

[2017-09-08 20:04] schutm commented on #666
@vanduynslagerp I think  my use case is slightly different. You have your sources and transpiled files in the same root folder (project folder). I have my transpiled files in folder next to my project folder. E.g. your structure looks like:

[code]

Mine would like:
[code]

[2017-09-09 12:49] JayKan opened #671 "Feat: allow a custom results processor"
I'm just curious if there is any way that you guys can expose a `testResutlsProcess` property on `.nycrc` file just like how `Jest` is doing it on its `jest.config.json`(https://facebook.github.io/jest/docs/en/configuration.html#testresultsprocessor-string)

Let me know if this is something you guys would be interested in adding

[2017-09-09 19:23] StoneCypher opened #673 "Do I misunderstand how you glob? If not, I'm losing test cases and I don't know why"
## Expected Behavior
Small-medium (430 cases in ~20 files) testset on library.  100% coverage.

Tried to switch from shallow match for test names run to deep match.  No change, as expected.

[code]

## Observed Behavior
Move one test case into subdirectory.  Expect no change.

Only the test set now in the subdirectory is actually run.

[code]

## Bonus Points! Code (or Repository) that Reproduces

[2017-09-11 03:03] yangli1990 commented on #518
thank you @bcoe

[2017-09-12 15:58] jbenoit2011 commented on #618
By the way, do not know if this is related, but I noticed the `removeComments` option, in `tsconfig.json`, if enabled will remove Istanbul ignore tags and so actual coverage will be different from the expected one.

[2017-09-13 10:18] thetutlage commented on #470
Since this issue is open, it also conflicts with puppeteer. Here's the issue I reported with them https://github.com/GoogleChrome/puppeteer/issues/763.

And the repo to reproduce the issue https://github.com/thetutlage/puppeteer-tests.

I tried digging into the codebase, and realized `foreground-child` is where things are getting messy.

[2017-09-13 17:48] cblair commented on #625
Thanks @bcoe, I moved the issue to here: https://github.com/istanbuljs/istanbuljs/issues/84.

[2017-09-14 07:18] liujinmarshall commented on #646
Somehow I managed to get over this with latest node (8.3.0 at that time) instead of LTS, together with "cross-env NODE_ENV=test" before the nyc command in package.json.

Sorry for the late response. I'll close this issue.

[2017-09-14 07:19] #646 closed

[2017-09-16 14:30] willin commented on #658
https://codecov.io/gh/AirDwing/node-dwing-redis/commit/9e45f7c035ff790c92f8192296a3bd0bd4085a48

Woops!

There was an error processing coverage reports.

Most common issues

coverage.lcov:

[code]

[2017-09-16 16:03] bcoe commented on #673
@StoneCypher the appropriate tests run with that glob in ava, but are failing to show up in coverage report?

Perhaps see if you can reproduce with a failing test in the matching library itself:

https://github.com/istanbuljs/istanbuljs/tree/master/packages/test-exclude

[2017-09-16 16:09] bcoe commented on #658
@willin are you seeing the same behavior reported in this pull request (function names not highlighted as instrumented?)

[2017-09-16 16:11] StoneCypher commented on #673
no

1) create test rig using glob to match test files.

2) produce large working test set across 20+ test files.  run and get complete coverage.

3) create subdirectory.  move one test file into subdirectory.  re-run.  only one test file in subdirectory is now executed; none in original directory are executed.

[2017-09-16 16:12] StoneCypher commented on #673
also i really love your tool and am thankful for it

when i try to be terse to be clear, sometimes i sound butthurt.  i'm not.  nyc saves me hella time

[2017-09-16 16:20] bcoe commented on #673
A quick work around might be to simply match both:

`ava src/js/tests/*.js src/js/tests/**/*.js`

I do think `**/*.js` should be matching 0 or more subfolders though (not 1 or more) so definitely seems like something worth putting a test case around. I think the problem might actually relate to AVA, it's the test runner itself not running all the tests as expected right?

[2017-09-16 16:21] StoneCypher commented on #673
my quick workaround is to just not organize my tests in subdirectories 😂

.

I do not well understand the relationship between these tools.  That is plausible.  Should I re-file there?

[2017-09-16 19:32] bcoe commented on #648
@hexsprite 👋 hey. This is an interesting one, I'd definitely expect that `node meteor` would also fail to return coverage.

I would love some help digging into this one, as I myself am not a Meteor user. Where I would start would be to look at if there's any difference in how meteor is executed if it's run with `node` vs. relying on the shebang.

If you feel like collaborating on debugging this is

[2017-09-16 19:36] bcoe commented on #645
@eseliger interesting, I wonder if the module [signal-exit](https://github.com/tapjs/signal-exit) module we use to write reports when the application exits might be the culprit.

It might be worth disabling the handling of SIGARBT and seeing whether the issue continues (you could do this by temporarily modifying the signal-exit module in the node-modules folder). I would love some help digging int

[2017-09-16 19:38] bcoe commented on #644
Oh interesting, I wouldn't be shocked by this. Did things work as expected when you switched to `./project`?

[2017-09-16 20:05] bcoe commented on #470
@thetutlage If I had to guess, I'd bet the underlying issue is with the `spawn-wrap` module which is used to hook into exit signals (it might be worth creating an issue here as well).

Would love help digging into this further if you're so inclined 👍

[2017-09-16 20:08] bcoe commented on #646
@liujinmarshall good, please don't hesitate to reopen this if you run into this issue again.

[2017-09-16 20:12] bcoe commented on #655
@ruiming ever make any progress on digging into this?

One thing comes to mind, are you using typescript-register to handle TypeScript parsing? If so, I would make sure that it's nyc that it's `nyc` itself that requires this module, by adding a `require` stanza to the `nyc` configuration.

If this does turn out to be the problem, I would love some help updating the README.md for nyc, since this or

[2017-09-16 20:14] bcoe commented on #661
@NorbertAtSAP thanks for the bug report, definitely an interesting one; if you have any interest in contributing, would happily accept a failing test or fix if you feel like digging into this.

We have a community slack here: http://devtoolscommunity.herokuapp.com/

[2017-09-16 20:16] bcoe commented on #665
@jamespedid this is a cool idea; but not something currently supported by `nyc`. If you're curious how `nyc` works behind the scenes, and wanted to crib some of the logic for writing performance instrumentation, all the instrumentation code can be found here:

https://github.com/istanbuljs/istanbuljs

[2017-09-16 20:16] #665 closed

[2017-09-16 20:17] bcoe commented on #668
@Speedy37 see https://github.com/istanbuljs/nyc/pull/674, let's try to figure out a solution that fits everyone's needs.

[2017-09-16 20:19] bcoe commented on #669
@clakech we haven't yet ported over this feature from Istanbul, definitely sounds like something we should potentially add.

[2017-09-16 20:27] bcoe commented on #670
@reggi trying to reproduce your issue. I used the `package.json` that you provided, and created a test as follows in `test/test.js`:

[code]

coverage is outputting for me as expected; could you provide a small example repo that's failing to output coverage?

[2017-09-16 20:41] cdaringe commented on #644
IIRC, fixing the require statement to match the updated file casing of `Project.js` did not resolve the issue

[2017-09-16 20:43] cdaringe commented on #644
I know this isn't super actionable without a reproducible thing.  As noted above I did try to repo and I cannot.  That's why I was wondering if there was any other caching at play?  If you think there are some things you could check that would be rad.  If not and you care to close the issue, I understand too.  Thx!

[2017-09-16 23:38] hexsprite commented on #648
Hey thanks @bcoe, I joined Slack and I'll reach out to you

To document the problem further here's an analysis of the flow of execution.

A user runs the Meteor script in their shell like so:

`$ meteor test <test args etc>`

Meteor script is here:

https://github.com/meteor/meteor/blob/devel/scripts/admin/launch-meteor

It's basically a bootstrapping bash script that will locate and possibly down

[2017-09-17 05:12] ruiming commented on #655
No. I had stopped using cluster to test.
I had do some test to try to find the problem. Finally it proves that it is the problem of `espower-typescript/guess`(I am using power-assert)
To test below code:
[code]
Test file:
[code]
And I run`npm run test1` and `npm run test2` with nyc disable cache.
[code]

The result is `test1` with full coverage report and `test2` with unknown report.
Then I just c