[2015-05-25 20:47] sindresorhus opened #20 "Hide the `nyc_output` folder"
Make it `nyc_output` => `.nyc_output`.

It's only a temp folder for reports so there's nothing for end-users to see there.

[2015-05-25 20:48] sindresorhus opened #21 "Readme - add tip on how to disable Coveralls comments"
Those annoying comments are the main reason I never bothered trying out coveralls.

https://github.com/bcoe/nyc#integrating-with-coveralls

[2015-05-25 20:50] bcoe commented on #20
:+1:

[2015-05-25 21:03] bcoe commented on #20
addressed in https://github.com/bcoe/nyc/pull/22

[2015-05-25 21:03] #20 closed

[2015-05-25 21:03] bcoe commented on #21
addressed in https://github.com/bcoe/nyc/pull/22

[2015-05-25 21:03] #21 closed

[2015-05-29 11:51] alessioalex opened #24 "`nyc report --reporter=json` not doing anything?"
There is no `.json` file created in the project folder. Any tips on this @bcoe ? tnx

[2015-05-29 12:11] alessioalex commented on #24
my bad, it's inside the `coverage` folder

[2015-05-29 12:11] #24 closed

[2015-06-03 09:04] mastilver opened #26 "fails when running `npm test`"
Hi

I'm using nyc with mocha and coveralls
I've setup my .travis.yml and package.json as specified on the readme

The test is passing on travis and test coverage are send to coveralls.
But when I do `npm test` on my computer, it fails

[code]

The repo: https://github.com/mastilver/node-annotation-parser

[2015-06-03 16:36] bcoe commented on #26
CC: @isaacs seems like our shebang logic is having trouble with Windows.

You might try explicitly specifying the path to the mocha bin:

`./node_modules/.bin/nyc ./node_modules/.bin/mocha test`

[2015-06-03 20:43] mastilver commented on #26
I've set `test` by `./node_modules/.bin/nyc.cmd ./node_modules/.bin/mocha.cmd`

It's now outputting:

[code]

I've tested the same on linux, it does work.
Unfortunately I need to stick with windows for my job. :/

[2015-06-04 04:53] isaacs commented on #26
Interesting!

I'm not super surprised that it doesn't work on Windows.  There's some deep and strange unixy stuff going on.  But I wonder where the error actually lies.

I'll try to spin up a VM soon.  Either spawn-wrap is just busted on Windows (my guess), or it's something specific to do with how nyc is invoking it.

[2015-06-08 19:33] rmg commented on #26
I'm getting a failure on my Windows CI machines that might be related to this. The stack trace might be _slightly_ more useful than the above:
[code]

That is the result of running `tap --bail --save fails.txt --coverage test/test-*.js` in a subshell that has `$(pwd)/node_modules/.bin` injected into the `PATH`.

[2015-06-08 20:03] bcoe commented on #26
@rmg @mastilver I don't currently have a Windows testing environment, but I will try to get one up and running soon. It would be nice to try to get things at least partially working with Windows.

[2015-06-14 17:22] Raynos opened #28 "Expose `check-coverage` functionality"
I was able to get `istanbul check-coverage` working using it's glob functionality

[code]

It would be nice if there was a `nyc check-coverage` command that did this for me and was documented with the `nyc` tool.

[2015-06-14 17:31] Raynos opened #29 "Allow specifying reporters with `nyc` directly"
To get a report I currently run

[code]

It would be great to just run

[code]

Also note I'm relying on the "--reporter" can appear multiple times feature which may be accidental :)

[2015-06-15 06:11] bcoe commented on #29
@Raynos I love this idea. I will start looking into adding the option this week; it's not trivial because I need to be able to handle commands like:

`nyc ./node_modules/.bin/mocha --check-globals`, so I'll need to add some logic to intelligently munge `process.argv`.

[2015-06-15 06:12] bcoe commented on #28
:+1:

[2015-06-15 06:58] Raynos commented on #29
@bcoe

The way istanbul does this is `nyc --reporter text --reporter html -- node test/index.js`

It can also be handled like node where flags after `nyc` and before the binary belong to `nyc` and all other flags belong to the binary.

[2015-06-18 13:49] bcoe commented on #29
@Raynos, I've got a testing branch that adds this support. I use `yargs` to parse `process.argv` and then I use the information I extract to slice the original arguments:

[code]

Works great, but I'm waiting to land this pull, or something similar on one of the dependent libraries:

https://github.com/isaacs/foreground-child/pull/3

CC: @isaacs this was the feature request I was talking about, I

[2015-06-18 16:50] Raynos commented on #29
Nice work :) I'll try it out once it's ready. Thanks @bcoe appreciate it.

[2015-06-24 16:02] bcoe commented on #28
@Raynos I've published this feature to the `next` tag on npm, give it a spin:

`npm install nyc@next`

If everything is looking good, I'll push things to `latest`.

https://github.com/bcoe/nyc/blob/master/CHANGELOG.md#v240-20150624-1557-0000

[2015-06-24 16:02] #28 closed

[2015-07-10 05:54] #29 closed

[2015-07-10 08:58] boennemann opened #34 "nyc fails with "Unexpected token ILLEGAL" when `exec`ing shell script"
As first reported via https://twitter.com/boennemann/status/619103847043203072

I'm trying to instrument the integration tests for https://github.com/semantic-release/semantic-release.
They are running a shell script to start the npm-registry-couchapp before tap/nixt tests are running against it. Everything works fine, but once I run them with nyc I get this error (multiple times):

[code]

Steps

[2015-07-10 22:29] bcoe commented on #34
CC: @isaacs

[2015-07-13 16:44] aredridel opened #35 "Report has bogus uncovered lines report"
Files in `.nyc_output` are at https://gist.github.com/aredridel/67a635a727047e541c32

Output:

[code]

[2015-07-13 17:29] bcoe commented on #35
@aredridel are you running nyc on an open-source project? This could relate to a subprocess we're failing to cover, or a code path that's difficult to hit during the spawning process.

[2015-07-13 18:02] aredridel commented on #35
Yeah, this is on https://github.com/aredridel/dust-makara-helpers/tree/browser-support

[2015-07-13 18:03] aredridel commented on #35
Oh! That's not a number of uncovered lines. That's a list of them. Geez.

[2015-07-13 18:04] aredridel commented on #35
I thought it was literally calculating 94 billion uncovered lines.

[2015-07-13 18:08] aredridel commented on #35
Okay, this is not a bug. This is me misunderstanding the information in that column since it happened to parse as a number with thousands separators.

[2015-07-13 18:08] #35 closed

[2015-07-13 20:02] bcoe commented on #35
@aredridel what do you think a better heading would be? a similar issue was here:

https://github.com/gotwarlost/istanbul/pull/390

we should be more clear!

[2015-07-13 20:05] aredridel commented on #35
If there'd been spaces instead of commas it'd have been clear for me; not sure how that'd be interpreted internationally.

[2015-07-13 20:05] aredridel commented on #35
"Which lines uncovered" would have made it clear too.

[2015-07-14 22:30] rmg opened #36 "Feature request: ability to stop nyc process propagation"
It would be nice if there was some environment variable that could be set that would disable the nyc injection in a child process (and any of its descendants).

The use case is for writing multi-process tests for things like process supervisors where instrumenting both the supervisor and the example app it is running is needless overhead when what is being tested is how the supervisor responds in

[2015-07-21 04:10] sam-github opened #37 "I see coverage reports for my node_modules"
The README suggests that this shouldn't happen.

I notice I see it for the only one of my deps that are npm linked into my project.

Its not a big deal, I can visually skip over it the parts I don't care of, but is this intended behaviour?

[2015-07-25 20:36] bcoe commented on #37
@sam-github I've noticed this bug if I symlink files as well, I haven't had a chance to dig into the cause yet -- but seems like a legitimate bug.

[2015-07-25 20:37] bcoe commented on #36
I like this idea, feel free to submit a patch if you have a chance to look at this before I do.

[2015-07-25 20:39] bcoe commented on #34
@boennemann haven't forgotten about this issue, but have been absolutely swamped lately. The most likely source of this issue is probably going to be somewhere in:

https://github.com/isaacs/spawn-wrap

Thanks for the test case, will dig into this as soon as I pop a few things off my stack.

[2015-07-25 20:40] bcoe commented on #34
@boennemann hope the semantic-release project is going well, I really liked hearing about the project at NodeConf Adventure.

[2015-07-25 20:58] rmg commented on #36
I spent a few minutes on it when I reported it, but couldn't see a straightforward way to do it. I'll definitely submit a PR if I do figure it out, but I wouldn't put any wagers on when that'll happen.

[2015-07-26 16:14] boennemann commented on #34
@bcoe Thanks for the update! I absolutely understand that things take their time :+1:
I've updated the original post, because the repo location changed.

Also thank you for the kind words :blush: Things are shaping up nicely and talking to you and the other npm folks directly helped a lot with it!

[2015-08-02 18:59] #26 closed

[2015-08-06 22:34] motapc97 commented on #26
For me, `nyc npm test` still fails on Windows, but now, I get another error.
I suspect it's because the `argv` variable is wrong, but I'm not sure...

![](http://i.imgur.com/hhhlhKa.png)

[2015-08-07 05:07] rmg commented on #26
@motapc97 :-(

What about `nyc ./test/mota-test.js` or `nyc ./node_modules/.bin/grunt buildTest`?

[2015-08-07 14:05] motapc97 commented on #26
![](http://i.imgur.com/7hA9BBm.png)

As you can see, the first command doesn't fail, but I find no coverage output :(

[2015-08-12 03:29] ronkorving opened #39 "What about my untested files?"
Hi,

So I tried out nyc on my project that I test with tape. I noticed that it doesn't report about files that are never touched by unit tests. Is this expected behavior? Everything looks very green, when in reality some files aren't yet tested at all.

[2015-08-12 03:57] ronkorving opened #40 "Feature request: supress test output"
Running `nyc tape test/*.js`, I see the output of both the tests and the coverage report. When I run the coverage reporter, I'm not actually interested in the test output. It would be nice if there was an option like --silent for the test command itself, to suppress its output and only have the coverage report printed to my terminal.

[2015-08-15 20:49] bcoe commented on #40
@ronkorving you should be able to pass the silent flag to nyc:

[code]

Does this work for you?

[2015-08-15 23:00] ronkorving commented on #40
Not in front of a PC now but I tried that. Iirc it silences the coverage report, not the tape output.

[2015-08-17 00:30] bcoe commented on #39
I think it would be a great enhancement to have nyc report %0 coverage on files that have not been executed.

[2015-08-17 00:54] ronkorving commented on #39
Without it, I think it's very easy to lie to yourself.

[2015-08-17 01:06] bcoe commented on #39
Let me know if you feel like taking a stab at this, otherwise I'll try to schedule some nyc hacking soon.

[2015-08-17 02:33] ronkorving commented on #39
If you could leave some thoughts as to how this could be best accomplished in this project, I may find some time to give it a shot. I'm new to this code base, but never mind contributing when I have the time.

[2015-08-17 10:38] ronkorving commented on #40
Example output:

[code]

I get no coverage report, but see my test output. The reverse of what I was hoping for.

[2015-08-17 10:40] ronkorving commented on #40
When I remove --silent, the coverage report *is* shown, right after the test output.

[2015-08-21 02:14] rmg commented on #39
@ronkorving I think the simplest approach would be generating a list of files that are eligible for coverage and then adding stub entries for any that are missing in the final coverage report. Could be really prone to false-positives, though, depending on how the module is written.

[2015-08-27 10:21] ronkorving commented on #40
So if you're saying --silent is *supposed* to silence the test, *not* the coverage report, please confirm that. I can make a PR to fix it.

[2015-08-27 10:47] ronkorving commented on #39
I've opened https://github.com/gotwarlost/istanbul/issues/428 because the proper solution may be in Istanbul, rather than in nyc.

[2015-08-27 16:31] bcoe commented on #40
@ronkorving the purpose of `--silent` is to silent the coverage reporting. This is useful because people might want to simply output the coverage information to `nyc_output`, but not modify the test output itself. Does tape also accept a silent flag? If so this might work:

`nyc --silent tape test/*.js --silent`

[2015-08-27 22:48] ronkorving commented on #40
There is no documented way in tape itself. I guess a devnull reporter could be made or otherwise, but from my user perspective, having a suppression flag in nyc would make sense as it would not be limited to tape. What do you think?

[2015-08-29 21:43] bcoe commented on #40
@ronkorving perhaps an additional flag, `--really-silent` which would suppress all output, I think this would actually require an additional option flag in foreground-child:

https://github.com/isaacs/foreground-child

CC: @isaacs

[2015-08-29 21:51] isaacs commented on #40
The goal of foreground-child (and, as far as I gather, of nyc) is to be identical to just running the command itself. This is why foreground-child always passes the parent stdio file descriptors to the child.  So, if tape doesn't have a way to suppress output, then I'd argue that nyc shouldn't suppress the output either.

You can do this, though, right?  `nyc --silent tape test/*.js &>/dev/null &&

[2015-08-29 22:58] bcoe commented on #40
this argument works for me, @ronkorving are you fine with piping to `/dev/null`?

[2015-08-30 08:39] ronkorving commented on #40
Sure, if it's not as trivial to build in as I hoped, or if it doesn't fit the nyc philosophy, no problem.

[2015-08-30 08:39] #40 closed

[2015-09-12 05:13] bcoe commented on #39
@ronkorving I've landed `--all` on the `latest` release now.

I wanted to get some fixes in for Windows as well, and to do some further testing, before pushing the latest release.

Give `nyc@3.2.2` a shot, and let me know what you think.

[2015-09-12 05:13] #39 closed

[2015-09-18 20:54] motapc97 commented on #26
Sorry, but I keep getting errors...

![](http://i.imgur.com/L5HSvfA.png)

[2015-09-25 20:28] SamVerschueren opened #48 "Coverage report isn't generated correctly"
Hi

I am writing tests for my library with `AVA`. I want to test my code coverage with `nyc`, but something seems wrong.

This is the library I am talking about: https://github.com/samverschueren/dynongo

I only wrote tests for the [libs/utils/name.js](https://github.com/SamVerschueren/dynongo/blob/master/lib/utils/name.js) file but `nyc` reports no coverage at all.

If I run `nyc` on a project te

[2015-10-07 17:48] bcoe opened #49 "documentation updates"
Based on work we've been doing on wrap-ansi, there are a couple documentation updates we should make:

* point out that `nyc report` only works if you have already run tests inside the same project directory.
* point out that `COVERALLS_TOKEN` is optional if the repo is open-source (verify this to be the case).

CC: @sindresorhus, @Qix-

[2015-10-07 18:06] sindresorhus commented on #49
Maybe also update the example here to include running tests in the `coverage` script https://github.com/bcoe/nyc#integrating-with-coveralls as it's a good default.

[2015-10-27 21:54] davidchase opened #50 "coverage using exclude option"
I am trying to use `nyc` with `ava` and running into a small issue for good measure here's a link to the conversation at [ava repo](https://github.com/sindresorhus/ava/issues/94).

So essentially i have a few directories in `node_modules` directory that i would like to cover since i do unit tests for them.

Unfortunately a setup like so:

[code]

results in no coverage at all.

setting up more spe

[2015-10-29 14:18] davidchase commented on #50
any interest in adding an `include` key

[2015-10-29 19:33] SamVerschueren commented on #48
With AVA 0.3.0, coverage reports work correctly.

[2015-10-29 19:33] #48 closed

[2015-10-30 00:08] BridgeAR opened #51 "Immediate failure without further info"
I ran into a strange bug that will kill nyc right away without any error message.

Just comment [this line](https://github.com/NodeRedis/node_redis/blob/0ec2c43603ccbad95185475447f832f3f44866bd/test/node_redis.spec.js#L141) out and running that test will kill nyc (that line should actually be deleted but the tests won't run afterwards anymore).

[2015-10-31 08:41] jamestalmage opened #52 "empty test coverage"
see https://github.com/jamestalmage/promisify-firebase

changing nothing but `index.js` and `test.js` to a minimal test case (i.e., not changing any of the build config / package.json / etc), I can get working coverage. This means that the code of my module itself is somehow disabling the coverage.

I've poked around trying to figure out exactly what line is causing it, so far no luck.

any help w

[2015-10-31 22:21] jamestalmage commented on #52
So I have narrowed things down quite a bit. See [here](https://github.com/jamestalmage/promisify-firebase/blob/minimal-nyc-working/test.js#L19-L21).

Simply instantiating a new `Firebase` disables `nyc`:

[code]

The debug source for Firebase is [here](https://github.com/firebase/firebase-bower/blob/master/firebase-debug.js), unfortunately that is just the web build, which is slightly different th

[2015-11-01 00:06] bcoe commented on #52
@jamestalmage thanks for digging into this! I'm on my honeymoon right now so my turn around on open-source is a bit slow, but I'm hoping to dig into some of the open issues on nyc ASAP.

[2015-11-01 00:11] jamestalmage commented on #52
Congratulations!

Don't give it another thought until you are back. I'll live.

[2015-11-02 20:19] jwngr commented on #52
Firebase has a known issue where the process doesn't die until you explicitly call `process.exit()`.  But I don't understand this issue well enough / have the right context to know if that's related to this issue.

[2015-11-02 20:46] jamestalmage commented on #52
Even if you call `Firebase.goOffline()`?

[2015-11-02 22:44] jwngr commented on #52
Yeah, this is a recent issue. The Google Groups thread is from a long while ago. @mikelehen tells me this is still an ongoing issue, I believe even if you call `Firebase.goOffline()`.

[2015-11-02 23:10] jamestalmage commented on #52
Turns out to be a combination of the Firebase long running process, and an issue with the way `ava` closes forked processes.

It was killing the parent process, which means the `onExit` listeners for each forked process were never triggered. Consequently the coverage data was never written to disk.

I have filed a PR that will fix this in `ava`: https://github.com/sindresorhus/ava/issues/120

Perh

[2015-11-03 15:33] shannonmoeller opened #53 "Babel Support?"
Is there a way to have `nyc` use `babel-istanbul` or `isparta` under the hood to support covering ES5+ code?

[2015-11-05 16:08] bcoe commented on #53
@shannonmoeller I've been on my honeymoon, and am a bit slow on the open-source front these past couple weeks, so apologies!

Off the top of my head there isn't a way to do this, I love the idea however  -- I will need to dig into `babel-istanbul` and investigate how hard it would be to combine with `nyc`'s hijacking of the `istanbul` API.

[2015-11-05 17:29] shannonmoeller commented on #53
@bcoe Congrats! No worries.

`babel-istanbul` and `isparta` are both forks of `istanbul` and share the same api. I've been playing around with a fork that adds an `--istanbul` flag that allows you to specify a custom module path. It's going fairly well, but still some bugs around the `check-coverage` command's execution of `foreground()`.

[2015-11-10 14:34] bcoe commented on #51
I wonder if removing this line is perhaps resulting in an exit code that nyc is not properly catching -- did you ever figure out any solution to this problem?

[2015-11-10 14:36] bcoe commented on #50
@davidchase sorry for the slow reply, was on vacation and am just getting back in the swing of things.

I like the idea of an include key! do you want to take a stab at this? I don't think it would be too hard, just toggle the logic slightly when instrumenting files depending on whether an `exclude` or `include` option has been set when creating the nyc instance.

[2015-11-10 16:55] davidchase commented on #50
@bcoe cool no worries added a PR #54

[2015-11-12 20:09] Janpot opened #55 "Incorrect? coverage report with child_process.exec"
I'm trying out `nyc` on my project https://github.com/Janpot/fantastiq with `nyc npm test` which yields:

[code]

This looked very odd to me as I expected my coverage to be closer to 100%. Checking out some of the lines I was sure they were all called in my tests. After some trial and error I found that after skipping some tests I get the (hopefully) correct coverage:

[code]

The tests I skipped

[2015-11-12 20:56] Janpot commented on #55
And doing the same with the `--all` option gives more different results:

cli tests enabled:

[code]

cli tests skipped:

[code]

[2015-11-13 19:11] BridgeAR commented on #51
The tests runs properly if executed by mocha without nyc.

[2015-11-13 19:34] bcoe commented on #55
@Janpot I will need to dig into how the babel step in your test-suite works, I'm guessing this is where something is getting lost in translation.

[2015-11-14 18:48] bcoe commented on #55
@Janpot both babel-registry, and nyc override `require`:

https://github.com/babel/babel/blob/master/packages/babel-register/src/node.js#L99

I'm starting to dig, and will see if I can get them to play nice together :+1:

[2015-11-14 19:36] Janpot commented on #55
thanks for looking into this.

[2015-11-16 14:42] shannonmoeller commented on #53
I've gotten to a point where my fork is using the correct version of `istanbul` as specified by the cli flag, but the way subprocesses are spawned isn't playing nice with `babel-node`:

[code]

[2015-11-16 15:26] bcoe commented on #53
Hey @shannonmoeller this could be related to:

https://github.com/babel/babel/pull/3062

It would be awesome if you would chime in on that pull request, I'm trying to convince the maintainers of `babel` to open up a hook for tools that instrument babel compiled code.

[2015-11-16 15:27] bcoe commented on #55
@Janpot it might be useful if you'd chime in on this pull request:

https://github.com/babel/babel/pull/3062

I'm trying to convince the maintainers of babel, that it would be great to expose a hook for other libraries to instrument the babel-compiled code.

[2015-11-16 16:01] shannonmoeller commented on #53
I've chimed in there. That said, what I'd really love to see is instrumentation handled as a Babel plugin. That would deprecate the need for Istanbul to hook in at all and drop having to parse the code with both babel and esprima. But that's an issue for another repo.

[2015-11-24 02:54] sindresorhus opened #56 "Normalize paths to posix before matching with `exclude` option"
It's pretty awkward having to write a regex that supports both forward and backwards slashes.

https://github.com/jamestalmage/ava/blob/172f6d8f298351dc78ca9b06ffce26ba6a80d468/package.json#L81-L84
https://github.com/bcoe/nyc/blob/4e9545a0c039032585149bf503c797f975e1e982/index.js#L28

-

Ideally, `exclude` would just support globbing.

[2015-11-24 02:56] sindresorhus opened #57 "Only exclude `test.js` at the top-level"
Currently you exclude it at any level.

This excludes https://github.com/sindresorhus/ava/blob/master/lib/test.js even though it's `lib/test.js`.

[2015-11-24 06:23] bcoe commented on #56
:+1: I will try to get a release of nyc out within the next few days, I'm currently working on adding support for babel's require hook which has taken me down a bit of a refactoring rabbit hole.

[2015-11-25 07:42] bcoe commented on #55
@Janpot a work in progress (needs more tests and some code cleanup), but give this a shot:

https://github.com/bcoe/nyc/commit/334e479bd0db7ef476b844dd53a55fa0ca6b952c

<img width="591" alt="screen shot 2015-11-24 at 11 37 17 pm" src="https://cloud.githubusercontent.com/assets/194609/11391112/e15f74f8-9304-11e5-8dc1-807ecda56050.png">

It adds support for babel using:

* a more complicated approac

[2015-11-25 08:31] Janpot commented on #55
Thanks, looking good.

I'll give it a shot when I work on this again

[2015-11-29 20:00] bcoe commented on #53
@shannonmoeller `nyc@4.x` is now out the door with Babel support. I've put together this blog post on the topic: https://github.com/polyglotweekly/polyglotweekly.com/pull/15

[2015-11-29 20:00] #53 closed

[2015-11-29 20:01] bcoe commented on #55
@Janpot `nyc@4.x` is now out the door with Babel support. I've written this blog post on the topic:

https://github.com/polyglotweekly/polyglotweekly.com/pull/15

[2015-11-29 20:01] #55 closed

[2015-11-29 20:40] Janpot commented on #55
@bcoe Thanks, I'm trying it out but running into other babel issues first.

[2015-11-29 21:58] shannonmoeller commented on #53
Thank you very much!

[2015-11-30 01:19] mindmelting opened #61 "When not using the require flag, nyc now breaks"
If not using the require flag, this line:
https://github.com/bcoe/nyc/blob/master/bin/nyc.js#L9
returns `[""]`
which when combined with this commit:
https://github.com/bcoe/nyc/commit/f33ac6dcec152439f35323fe31792031041780c7
breaks with this error:
```AssertionError: missing path```

I'll put together a PR to quickly fix...

[2015-11-30 01:26] bcoe commented on #61
@mindmelting this should now be fixed in `nyc@4.0.1`, could you let me know if this does the trick for you?

[2015-11-30 01:34] mindmelting commented on #61
Ha, looks exactly the same as my PR https://github.com/bcoe/nyc/pull/62 beat me to it!

Seems to bypass that issue, I am using nyc in combination with ava, and it hangs after running the tests, but I assume this may be a different issue Babel related... I'm investigating...

[2015-11-30 01:34] #61 closed

[2015-11-30 01:37] mindmelting commented on #61
Yep works fine now, thanks!

[2015-11-30 09:36] mateatslc opened #63 "Specify output folder"
Is there any way to control where it spits out the generated report without involving `.istanbul.yml`?

[2015-12-01 22:03] ekmartin opened #67 "Ignoring code"
Hi! Are there any alternatives to `/* istanbul ignore next */` and [similar](https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md)? Doesn't seem like the Istanbul variant is taken into consideration at least.

[2015-12-03 02:12] bcoe opened #70 "extract require hook logic into an external module"
@novemberborn has done a great job of generalizing the logic around extending require hooks, I think this logic would be a great candidate for pulling into its own module -- with a thorough test suite.

CC: @jamestalmage, @ariporad

[2015-12-03 02:25] ariporad commented on #70
@bcoe: Can I take this on? I'd like to give it a shot.

[2015-12-03 02:29] ariporad commented on #70
@sebmck, @gotwarlost: If I/we wrote a library for properly messing with require, would you switch to using it in your projects? I'd be happy to submit PRs if needed. (@gotwarlost, feel free to read babel/babel#3062 for some more context).

[2015-12-03 02:34] ariporad commented on #70
Also, (sorry for so many separate comments), what about naming it pirates, since your hijacking require, and it involves hooks? [The name is available](https://www.npmjs.com/package/pirates). We could also do requiarrr/requiargh, but that kind of makes me cringe.

[2015-12-03 02:54] ariporad commented on #70
@bcoe: (Sorry, I promise this will be the last one): [here](https://github.com/bcoe/nyc/blob/master/index.js#L179), multiple require hooks won't work together (like calling `super`) will they? They'll just override each other (while maintaining nyc's stuff), right? If not, what am I missing?

[2015-12-03 03:00] bcoe commented on #70
@ariporad I like boring old, `https://www.npmjs.com/package/require-wrap` but I'm weird that way :+1:

I think the logic @jamestalmage into the require-hook is quite sound, I would use this as a jumping off point -- it overrides the `getters`/`setters` on `require.extensions`, and sets aside other hooks that folks try to register, so that you end up with a stack.

There's been some discussion with

[2015-12-03 03:13] ariporad commented on #70
@bcoe: (In order):
1. We'll discuss the name
2. Yes, it very much is. I defiantly plan to use that as a starting point, I just want to make it support more than one hook.
3. It's already been done: https://github.com/istanbuljs.
4. I'm happy to let you contribute, although I'm not quite sure what you mean by "pull it in to nyc". (I also think that it might be out of scope for the istanbul org, but

[2015-12-03 03:17] bcoe commented on #70
@ariporad awesome, hadn't noticed istanbul had been moved into an org like this :+1:

It might be worth combining efforts and extending:

https://github.com/istanbuljs/istanbul-lib-hook

Further, the main problem being that babel kicks this hook out of the way.

[2015-12-03 03:21] ariporad commented on #70
@bcoe: The trouble is that `istanbul-lib-hook` deals with a lot of istanbul specific things. I'm going to try to do something with the code from `nyc`, I should have something tomorrow night if not before.

[2015-12-03 03:32] gotwarlost commented on #70
Actually `istanbul-lib-hook` doesn't do _anything_ that is istanbul specific.

[2015-12-03 03:38] gotwarlost commented on #70
Also look at the require hooking mechanism that has changed courtesy a PR from @blakeembrey

It allows for custom module extension loaders and hooks into `module._compile` much like the nyc hook

[2015-12-03 03:56] jamestalmage commented on #70
Thanks for the credit, but it wasn't me. @novemberborn maybe?

`istanbul-lib-hook` looks very promising. I think the best strategy would be trying it in `nyc`, `AVA`, `Babel` etc. If we run into obstacles, we should try and fix them in `istanbul-lib-hook` before spinning off duplicate efforts.

I will handle AVA integration.

[2015-12-03 04:02] ariporad commented on #70
@gotwarlost: Wow, I certainly just skimmed that... Never mind. Although, it still doesn't support multiple hooks using it. (They would just override each other). I'll submit a PR that fixes that. (I'd still like to advocate for changing the name to pirates, but...)

I'll take babel.

[2015-12-03 04:11] ariporad commented on #70
@gotwarlost, @bcoe: Ok: I submitted istanbuljs/istanbul-lib-hook#2. It supports multiple modules using it, but has no support what so ever for other modules hijacking require without it. I can add that, but it feels totally out of scope for that project.

[2015-12-03 04:30] ariporad commented on #70
Ok, (I lied about the stopping the flow of comments bit): I *_think_* the best course of action is to close istanbuljs/istanbul-lib-hook#2, and someone (unless a volunteer comes forward before I get to it, I'll start, but I'm open to anyone) should combine `istanbul-lib-hook` and the nyc hook logic into one package (still advocating for calling it `pirates`), which supports:

1. Super easy require

[2015-12-03 04:38] bcoe commented on #70
@ariporad I think you should take a crack at this, definitely a problem that everyone re-invents the wheel to solve -- I'm sure folks would be happy to move towards a well tested solution that covers the various edge-cases folks bump into.

Let me know anything I can do to help.

[2015-12-03 05:43] ariporad commented on #70
Oh, I almost forgot: @gotwarlost, @bcoe: can I have permission to (with attribution) modify and redistribute (well, really just take ideas from) your code? Thanks! (I'm going to release this under the MIT license, FYI)

[2015-12-03 12:15] novemberborn commented on #70
@ariporad sounds cool! Let me know if you run into any trouble.

[2015-12-03 14:54] Janpot commented on #55
@bcoe Finally got around to testing this. It seems the `--all` option is broken for me now.

without it I get the coverage report but when I enable it I get a

[code]

[2015-12-04 01:16] ariporad commented on #70
Ok everyone, let's move this discussion to the repo for the project, ariporad/pirates#1.

[2015-12-04 11:24] mysticatea opened #74 "Maximum call stack size exceeded"
Hello.

I'm trying to use nyc with Babel.
But I got a stackoverflow error.
What am I doing wrong?

[code]

----

Windows 7 64bit
Node v4.2.2
npm v3.5.0

package.json

[code]

.babelrc

[code]

test.js

[code]

[2015-12-05 17:38] novemberborn commented on #74
@mysticatea does it crash if you run `mocha --require babel-register test.js`?

[2015-12-05 17:50] mysticatea commented on #74
It does not crash.

[code]

[2015-12-06 03:55] ariporad commented on #70
Ok, @bcoe, @gotwarlost, @novemberborn, @jamestalmage, @sebmck: I got pirates mostly done! It's now [available on npm](npm.im/pirates), and I've opened pull requests for babel (babel/babel#3139) and istanbul (istanbuljs/istanbul-lib-hook#5), and a PR for nyc is in the works. If you have any other modules you like that use require hooks, convince them to adopt pirates! It's super easy and reduces co

[2015-12-06 14:23] novemberborn commented on #74
Works for me with Node 4.2.1 and 5.0 on OS X, which makes me think this is a Windows issue. Is there anything interesting in the longer stack trace? There's repetition here:

[code]

but then it crashes on `String.split`?!

[code]

@bcoe do you have access to a Windows box to confirm this on?

[2015-12-07 00:22] mysticatea commented on #74
[code]

This is a stackoverflow, so there is possibility of clashing in every function call.

- https://github.com/bcoe/nyc/blob/v4.0.1/index.js#L139
- https://github.com/babel/babel/blob/v6.3.2/packages/babel-register/src/node.js#L108

Hmm, Babel seems to call the old extension here, but the old extension is nyc and nyc is calling Babel. So looks there is a potential infinity loop.

`filename` is

[2015-12-07 00:24] bcoe commented on #74
@mysticatea could you give the current `master` branch a shot, there have been some changes to the require-hook that I think might fix the infinite you're seeing.

Disclaimer, I have yet to get subprocess spawning fully functional in Windows.

[2015-12-07 00:32] mysticatea commented on #74
Ok, I will try it later.

[2015-12-07 01:20] bcoe commented on #74
@mysticatea I tested the master branch of `nyc` on Windows, and it worked great with a couple changes:

<img width="883" alt="screen shot 2015-12-06 at 5 18 09 pm" src="https://cloud.githubusercontent.com/assets/194609/11616984/5c91a8bc-9c3d-11e5-9385-cf024280aabb.png">

1) `test.js` is ignored by default, so you should change the filename to something like `foo.js`.
2) `nyc` currently has trouble

[2015-12-07 09:03] jamestalmage commented on #70
I think there is some fundamental confusion here about why it was necessary for `nyc` to implement the `getter`/`setter` hook, I will try and explain:

For starters, I wrote [this gist](https://gist.github.com/jamestalmage/df922691475cff66c7e6) that is a step by step walkthrough of how a stack of `pirates` style extension works. The code flow is surprisingly complex when you peel it all apart. Whi

[2015-12-07 09:59] mysticatea commented on #74
Thank you for the verification and the information!
I also verified that `master` branch works.
I'm looking forward to the next release. :)

[2015-12-07 09:59] #74 closed

[2015-12-07 11:40] novemberborn commented on #70
Reading your walkthrough I'm thinking that may have been by accident! :wink:

I guess nyc gets away with using `Module.prototype._compile` because it's the last transform in the chain, which is both out of necessity and because it is guaranteed to be installed first.

[2015-12-07 12:40] jamestalmage commented on #70
Sort of. From my reading of the source code, I think things will break down if two or more transforms are installed on top of `nyc`. I may be missing something.

[2015-12-07 15:04] ariporad commented on #70
Actually, @jamestalmage, they're run on reverse order, so as long as nyc can register it's hook first, it will always be last.

[2015-12-07 17:31] novemberborn opened #79 "nyc-test needs tap --coverage"
`$(npm bin)/tap test/nyc-test.js` fails, where `$(npm bin)/tap --coverage test/nyc-test.js` succeeds. This seems wrong, `tap` comes bundled with `nyc` for its own coverage reports but that shouldn't impact the tests.

[2015-12-07 17:33] novemberborn opened #80 "nyc-test wraps itself again and again"
Multiple tests in `test/nyc-test` instantiated `NYC` and call `wrap()`, wrapping the current process. This leads to poor test isolation. Each test should probably be run in its own process.

[2015-12-07 17:45] novemberborn opened #81 "Windows support"
Ticket to track progress. @bcoe should probably flesh this out more :smiley_cat:

[2015-12-07 18:59] jamestalmage commented on #80
I think this is (at least partly) the source of my trouble with `capture-require`

[2015-12-07 19:19] jamestalmage commented on #70
Nope. I have thoroughly verified that they do execute in order through multiple tests. I was certainly confused when I realized this. At first glance at the code, it does seem the order would be reversed. Read [this gist](https://gist.github.com/jamestalmage/df922691475cff66c7e6) to fully understand why/how they execute in order.

[2015-12-07 23:00] ariporad commented on #70
Wow, yeah, you're right. My bad. Sorry.

[2015-12-07 23:02] jamestalmage commented on #70
No problem. I started with the same assumption you did.

[2015-12-08 00:08] ariporad commented on #70
Ok, @bcoe, @jamestalmage, @novemberborn: Sorry, I totally misunderstood what you wanted. I'll try to build this into pirates, it doesn't seem unreasonable to want to do.

[2015-12-08 00:10] ariporad commented on #70
Hmm... Thinking about this: I'm probably going to implement this as an option (ie. `{ last: true }`). What would you expect to happen if two modules both try to do this? Should it throw an error?

[2015-12-08 00:42] jamestalmage commented on #70
I think it's a bad idea to build it into `pirates`. The need for this is incredibly niche, and the implementations are entirely separate (virtually no repetition between the two). That alone begs for separately deployed modules.

I want to be able to just point people at `pirates` and say, "that is the way to extend require". Providing that option will lead to people using it ("certainly MY transf

[2015-12-08 01:42] ariporad commented on #70
@jamestalmage: Fair enough. But at some point (soon) I'd like to fix NYC's logic. I'm not sure exactly the way to go, but I'm guessing it's to wrap [`Module.prototype.load`](https://github.com/nodejs/node/blob/master/lib/module.js#L335).

[2015-12-08 18:46] sindresorhus commented on #81
Would be nice if you set up Appveyor so you have continuous testing on Windows too.

[2015-12-09 01:09] bcoe commented on #49
I think the `COVERALLS_TOKEN` being optional is information that should live in the coveralls documentation. I've updated the example of piping coverage, which will land in this pull:

https://github.com/bcoe/nyc/pull/84

[2015-12-09 01:09] #49 closed

[2015-12-09 01:24] gotwarlost commented on #70
after reading this thread, I feel like sharing this link: https://xkcd.com/927/ :)

[2015-12-09 01:46] jamestalmage commented on #70
@gotwarlost - Love that one, and it goes to the point I am making. I don't really want wide adoption of `capture-require`, except by those people who really need it (so far coverage tools is the only good example I have found). Baking that behavior into `pirates` is an invitation for people to use it. I am perfectly content posting a big warning in the `capture-require` readme: "go use pirates", i

[2015-12-09 17:23] sindresorhus commented on #49
It should, but you're pretty much telling everyone to waste time adding it when it's not needed in most cases:

If you're not going to document it, please remove that step.

[2015-12-09 17:29] Qix- commented on #49
I'd go so far as to suggest it's a bit of a security risk as well by including the plain text coveralls token in a public repository's .travis file since they're intended for private repositories to begin with.

[2015-12-09 17:31] sindresorhus commented on #49
@Qix- You can add it in the Travis web UI too.

[2015-12-09 17:52] jamestalmage commented on #49
I don't understand what the coveralls environment variable enables on Travis. I've never used it. What am I missing out on?

[2015-12-09 20:49] Qix- commented on #49
@Jamestalmage it's to validate yourself against coveralls when posting private repo coverage

[2015-12-10 01:27] ariporad commented on #70
@jamestalmage: Ok, that sounds great.. How ever I really do insist that it properly supports a require chain. I'm pretty sure the way to go about that is to wrap `Module.prototype.load`, then things like pirates will still work.

[2015-12-10 01:50] jamestalmage commented on #70
`capture-require` will do just that. [The test suite proves it](https://github.com/jamestalmage/capture-require/tree/master/test).

[2015-12-10 01:54] ariporad commented on #70
@jamestalmage: oh, thanks! You rock!

[2015-12-10 07:12] bcoe commented on #74
@mysticatea I've released `nyc@5.0.0` with these fixes for Windows, I've also patched Windows so that it works without needing to reference `_mocha`:

https://github.com/bcoe/nyc/pull/87

Your original `node_modules/.bin/mocha` should work now.

[2015-12-10 07:18] mysticatea commented on #74
Thank you so much!

[2015-12-10 07:19] bcoe commented on #81
I've made some further changes to our patched version of `spawn-wrap` and my testing copy of Windows now works with subprocesses \o/

Once the [test rewrite](https://github.com/bcoe/nyc/pull/89) is finished, we should try the new test-suite out on Windows and see what additional work would be needed to get things working on AppVeyor.

We should also work on getting on the master branch of `spawn-w

[2015-12-10 07:21] bcoe commented on #37
@sam-github could you try `nyc@5.0.0` and let me know if it solves this problem for you, we've rewritten the logic for excluding files -- it's now glob based.

[2015-12-10 07:21] bcoe commented on #50
@davidchase could you try `nyc@5.0.0`, we now have an `include` and `exclude` key, both of which use globs.

[2015-12-10 07:22] bcoe commented on #56
@sindresorhus well that took more days than I thought it would, sorry about that. when you have the time, could you give `nyc@5.0.0` a shot and let me know what you think of the new globbing functionality?

[2015-12-10 07:23] bcoe commented on #57
@sindresorhus let me know if the new `include`/`exclude` logic solves this problem for you.

[2015-12-10 11:23] novemberborn commented on #81
Sounds good.

[2015-12-10 21:00] sindresorhus commented on #57
:+1:

[2015-12-10 21:00] #57 closed

[2015-12-10 21:03] sindresorhus commented on #56
Tried it out. Nice work!

In AVA, for our own tests, we use `nyc` indirectly through `tap`. Would it be possible to bump `nyc` in `tap` and do a new release?

[2015-12-10 21:03] #56 closed

[2015-12-10 21:50] bcoe commented on #56
@sindresorhus I'll chat with @isaacs and see if we can work on upgrading, I'd love to move off of the fork of `spawn-wrap` potentially too.

[2015-12-11 15:30] jwhitfieldseed opened #91 "--all option fails with ES6 modules"
`--all` causes NYC to fail immediately for code with ES6 modules. I am using Node @5.1.0, nyc @5.0.0 with `mocha` and `babel-register`.

The error looks like:

[code]

__.babelrc__:

[code]

__package.json__:
[code]

`$ npm test` succeeds and `$ npm run test-all` fails where `test.js` uses `import`, or `requires` a file that uses `import`.

https://github.com/jwhitfieldseed/nyc-issue-91 reproduces

[2015-12-11 17:33] novemberborn commented on #91
Ohh nice find!

`--all` bypasses any custom require hooks loaded through `--require`, so the files are never transpiled before being handed to Istanbul, which then fails to parse the new syntax.

@bcoe is there any insight you could provide as to `--all`'s implementation? It seems to run in the topmost `nyc` process, not in the `mocha` subprocess, so simply doing a `require(filename)` inside `addA

[2015-12-12 19:23] bcoe commented on #91
@novemberborn @jwhitfieldseed I know Istanbul has its own implementation of this functionality using the configuration setting: `--include-all-sources`, perhaps we could see about having this functionality exposed when running Istanbul as an API? I'm not quite sure what this would entail CC: @gotwarlost

[2015-12-13 06:20] kolodny commented on #67
+1

[2015-12-13 06:22] jamestalmage commented on #67
We use istanbul under the covers, so I am surprised to hear istanbul comments don't work. Can you submit a minimal reproduction?

[2015-12-13 06:44] kolodny commented on #67
@jamestalmage here you go https://gist.github.com/kolodny/8bc9d82cf0f147161a9a

[2015-12-13 06:49] jamestalmage commented on #67
If I had to guess, it would be that the babel transform is the problem. Does it work if you do not bring babel in the mix?

[2015-12-13 06:56] kolodny commented on #67
I think so, so does that make this a babel sourcemaps bug or a nyc edge
case not accounted for?

On Sun, Dec 13, 2015 at 1:49 AM, James Talmage <notifications@github.com>
wrote:

[2015-12-13 07:01] jamestalmage commented on #67
not sure yet.

[2015-12-13 07:01] jamestalmage commented on #67
investigating now

[2015-12-13 07:10] jamestalmage commented on #67
confirmed: https://github.com/jamestalmage/__nyc-coverage-issue-67

@novemberborn - The only way to get the coverage report to show 100% like it should is to manually transform **without** source-maps. The transforms aren't getting in the way here. There is a bug. You are way deeper in to source-map support than I am, so I'm punting to you.

[2015-12-13 15:09] novemberborn commented on #67
@jamestalmage my guess is that the original coverage has done what it does to mark the ignored code as covered. But then the source map is applied and that somehow gets lost. I'll see about hooking in [`remap-istanbul`](https://github.com/SitePen/remap-istanbul) purely for the remapping, perhaps they've already taken this into account.

[2015-12-14 12:04] novemberborn commented on #67
@ekmartin @kolodny #92 should fix this. If you could install that branch to confirm that would be appreciated. Thanks! :smile:

[2015-12-14 14:19] ekmartin commented on #67
That worked @novemberborn, thanks :smiley:.

[2015-12-14 21:54] BridgeAR commented on #51
I just checked if the refactoring has helped but this is still an issue with 5.0.1.

[2015-12-14 23:37] #80 closed

[2015-12-14 23:48] jamestalmage commented on #79
closed via #89

[2015-12-14 23:48] #79 closed

[2015-12-14 23:50] #70 closed

[2015-12-15 00:29] jamestalmage commented on #81
@bcoe

If you want to open up an AppVeyor account I can help track down any issues it introduces (that was one of my first contributions to AVA).

AppVeyor makes it a bit of a pain to add team members (when compared to Travis), here were the instructions I hunted down and sent to @sindresorhus. I think these worked out OK.

Also, you will need the e-mail I signed up with (which I foolishly I did n

[2015-12-15 05:32] bcoe opened #94 "babel support broken on master"
there was a regression with the most recent patches that landed on master:

<img width="587" alt="screen shot 2015-12-14 at 9 20 22 pm" src="https://cloud.githubusercontent.com/assets/194609/11802718/b047a508-a2a8-11e5-8720-7c35a63da3f8.png">

EDIT: looks like the remapping branch hasn't landed yet -- nothing is immediately jumping out at me as to why this is now cropping up.

[code]

Leading to:

[2015-12-15 05:51] bcoe opened #95 "build currently failing on master"
All the branches merged were in the green, but it seems as though the combined build is failing on travis:

https://travis-ci.org/bcoe/nyc

[2015-12-15 05:53] jamestalmage commented on #95
Digging into it now

[2015-12-15 06:00] bcoe commented on #95
Cool, in the meantime, working on getting AppVeyor up and running for builds too :+1:

[2015-12-15 06:07] jamestalmage commented on #95
Well, at least part of the reason is that I am an idiot.

I was using the old name and api `capture-require` vs, the new one `append-transform`. I'm not sure why that would make it fail on Travis though.

Also, I had `capture-require` installed as a `dev-dependency`. So that would certainly have caused problems (but not on travis I wouldn't think).

[2015-12-15 06:11] bcoe commented on #81
@jamestalmage I've created an appveyor project for `nyc`:

https://github.com/bcoe/nyc/pull/96

What email address do you use on AppVeyor, I'll add you to the org.

[2015-12-15 06:12] bcoe commented on #95
@jamestalmage that probably explains both problems -- it's been a busy few weeks for me, and I honestly just thought I'd dreamt the whole renaming thing ;)

[2015-12-15 06:16] jamestalmage commented on #95
Well,
Turns out it was me being an idiot, plus the presence of the Coveralls environment variable on Travis.
Apparently that forces tap into coverage mode, which meant we were double wrapping ourselves again, a `--no-cov` flag seems to have fixed it.

[2015-12-15 06:19] bcoe commented on #95
@jamestalmage I won't have you disparaging yourself! especially right before I'm going to try to convince you to get our tests running on Windows :stuck_out_tongue:

the `nyc` - `travis` - `tap` - `nyc` - `sourcemap`, etc., interaction is confusing.

[2015-12-15 06:19] jamestalmage commented on #81
Sent via Gitter.

[2015-12-15 06:23] #95 closed

[2015-12-15 06:48] jamestalmage commented on #94
It works for me on Node 5.2, but not Node 4. Which is odd.

[2015-12-15 07:06] jamestalmage commented on #94
This is related to Babel not playing nice with extensions. The fix for that is in the works, but we should probably revert out the appendTransform stuff until that happens.

[2015-12-15 10:02] jamestalmage commented on #94
Found it!

Pretty major oversight in my tests for `append-transform`. I never tried transforms that were once removed (i.e. requiring a module that required a module that was transformed). Fix is released in `append-transform@0.2.1`.

I'm having a hang of a time getting `yarsay` to work using npm link though. Instead I was able to get it to work by packing up a tarball and installing that:

[code]

[2015-12-15 11:18] novemberborn commented on #94
Hmm that seems reasonable. Note that nyc doesn't depend on Babel anymore, it must be a transitive dependency showing up at a higher level due to flattening.

[2015-12-15 11:44] jamestalmage commented on #94
yes - I think that is what is happening. Either way, #98 makes `npm link` "just work".

[2015-12-15 16:36] novemberborn commented on #51
@BridgeAR

I've checked out <https://github.com/NodeRedis/node_redis/commits/0ec2c43603ccbad95185475447f832f3f44866bd/> locally and installed dependencies. Node 5.2.0, npm 3.3.12, Redis server 3.0.5.

Before commenting out the line `npm test` sees 1751 tests passing and 13 pending. It's the same when I do comment out the line. Coverage is reported in both cases. This is with both `nyc@3.2.2` and `

[2015-12-15 21:09] BridgeAR commented on #51
@novemberborn I use the same setup and I'm still able to reproduce this. I did not check the individual commit but the latest master (both nyc and node_redis) with this test:
[code]
And my output looks like:
[code]
The redis module is not the client itself and there's a factory function for new clients. This is called with apply, eventhough it could also be null.

[2015-12-16 09:55] novemberborn commented on #51
@BridgeAR did you edit the output? I get:

[code]

[2015-12-16 10:06] BridgeAR commented on #51
I did not edit the output but the tests before running them. As you can see, there's no "1 passing (Nms)" and npm errors out. Redis will also keep running, since the test run dies right away without ending the redis-server as usual.

[2015-12-16 10:12] novemberborn commented on #51
Ah, that makes sense. Curious it doesn't output any of the messages between `The node_redis client` and `✓ return an error in the callback`, nor does the latter have the correct indentation. Do you get the same output running `mocha` directly?

What if you change the `test` script to `"test": "nyc mocha ./test/*.js ./test/commands/*.js --timeout=8000",`?

[2015-12-16 10:13] novemberborn commented on #51
And while we're on the subject of unexpected differences in our respective setups, any chance you have a global `mocha` installed? (I don't.)

[2015-12-16 10:28] BridgeAR commented on #51
`mocha` is not installed global.

Here's the output for different ways of running npm test:

[code]
[code]
[code]

So there's a difference in each of those.

[2015-12-16 10:33] novemberborn commented on #51
`nyc mocha` is the recommended invocation. `./node_modules/.bin/_mocha` is the child process spawned by `mocha` itself. And that seems to work, so that's good.

What is the output for running `./node_modules/.bin/_mocha ./test/*.js ./test/commands/*.js --timeout=8000` (without `nyc`)?

I wonder if you were to rimraf `node_modules` and reinstall, does even the `_mocha` invocation magically work? Ma

[2015-12-16 10:41] BridgeAR commented on #51
Using the mocha child process works as expected. And the output is the same as bevor after a rimraf.

[2015-12-16 14:05] jamestalmage opened #99 "use `--` to prevent `nyc` from processing further args."
Trying to use latest (master) `nyc` with a custom tap reporter:

[code]

Things work fine until the end, when `nyc` tries to find a `spec` reporter.

The typical solution is to stop processing after a `--` delimiter is found

[code]

[2015-12-16 15:08] jamestalmage opened #100 "cache instrumentation for speed."
It would be interesting to profile how much time is spent applying the istanbul transform and consider caching results across processes. This would help with test suites that spawn/fork a lot. AVA's tests currently spawn about 70 times, each one loading up at least 3 files that need to be instrumented.

[2015-12-17 11:40] novemberborn commented on #51
I'm inclined to think the problem is due to running `_mocha` rather than `mocha`. Unfortunately I can't reproduce the issue myself.

[2015-12-17 15:33] BridgeAR commented on #51
@novemberborn as far as I see it using _mocha is also not working as it should. The output x Tests passing  / failed including the error messages is missing.

I'll push a test case to travis if I find the time to see how travis handles it.

[2015-12-18 04:21] jamestalmage commented on #94
@bcoe - I think this issue is now fixed on master. Can you verify?

[2015-12-18 04:50] bcoe commented on #94
:+1: this week has been slammed at npm, but I plan on an open-source heavy weekend. You have some awesome write ups in other tickets I'd like to give feedback on too.

[2015-12-18 07:49] jamestalmage opened #103 "Fix remaining tests."
There are a few tests I think I did a poor adapting to fit our new testing strategy. @novemberborn had an alternate test strategy PR that we didn't go with, but I think it did adapt a few of the tests better.

We need to make sure we identify those and merge them in.

See:
  - https://github.com/bcoe/nyc/pull/85
  - https://github.com/bcoe/nyc/pull/101#discussion_r47897033

[2015-12-19 17:29] #103 closed

[2015-12-19 20:04] isaacs opened #105 "feature request: fail on user-defined minimum coverage level"
It'd be cool to specify (via env probably, so as to not mess with args?) a minimum level of statement/branch coverage, below which it's considered a failure.

Coveralls provides this, so the travis/coveralls wire-up I've got for node-tap meets my needs for PRs and such.  But it'd be good to surface this to a potential contributor ahead of time.  Like, "Yes, your tests pass, but you dropped the cov

[2015-12-19 20:20] bcoe commented on #105
In the bin, there's a way to do this:

`https://github.com/bcoe/nyc/blob/master/bin/nyc.js#L99`

But we just hook into the `istanbul` CLI; It would be cool to see if they expose this behavior through their API.

[2015-12-20 17:20] #81 closed

[2015-12-20 23:37] jamestalmage opened #109 "We are skipping tests regardless of platform."
`is-windows` returns a function instead of the advertised boolean: https://github.com/jonschlinkert/is-windows/issues/2

That means

[code]

always skips the test

[2015-12-21 00:23] jamestalmage opened #110 "Relative paths in the coverage file are in violation of istanbul spec"
The [istanbul spec](https://github.com/gotwarlost/istanbul/blob/master/coverage.json.md) calls for absolute paths, but we pass in relative ones. This is not just a nit, it [causes real problems](https://github.com/karma-runner/karma-coverage/pull/163).

[2015-12-21 00:49] #94 closed

[2015-12-21 00:50] bcoe commented on #52
@jamestalmage I think we might be able to close this since `ava#120` is merged?

[2015-12-21 00:51] #37 closed

[2015-12-21 00:51] jamestalmage commented on #52
Yep.

[2015-12-21 00:51] #52 closed

[2015-12-21 01:21] bcoe opened #111 "remove del dependency"
We already have `rimraf` as a dependency, and we're not using `del`'s glob functionality -- we can probably use `rimraf` where we currently use delete.

[2015-12-21 01:23] jamestalmage commented on #111
:+1:

[2015-12-21 10:49] novemberborn commented on #110
Are these introduced by the source map path rewrite?

[2015-12-21 10:54] jamestalmage commented on #110
No, we pass `relPath` to the instrumentor instead of `filename`. As I recall it isn't necessary, because most/all the reporters look for the longest common parent path and truncate to that.

It won't be an issue until someone tries to combine with coverage generated outside of `nyc`

[2015-12-21 10:55] jamestalmage commented on #110
Let's punt on the issue until the caching PR is merged. I don't want to rebase that again

[2015-12-21 11:45] riophae commented on #110
[code]
Maybe a related issue?

[2015-12-22 00:28] jamestalmage opened #112 "Clean state before every test."
There is at least one test that still requires existing state from a previous test.

I propose we wipe out `.nyc_output` and `test/fixtures/.nyc_output` between tests, as well as the cache directories.

Any tests that fail due to these changes should be updated to explicitly generate their prerequisite state.

[2015-12-23 23:54] bcoe opened #113 "new versions of nyc break tap test suite"
the tap suite runs several tests on require-hooks itself, these seem to be failing on newer versions of nyc:

[code]

I bet this is being caused by the overall of require-hook that we've been iterating on.

It would be great to get this fixed so that @isaacs can pull the new improved version into tap.

Any thoughts: @jamestalmage, @novemberborn?

[2015-12-24 06:18] jamestalmage commented on #113
https://github.com/isaacs/node-tap/pull/197

I think you forgot to switch `exclude` to glob patterns, or you were running Node `5.2.0` - both can cause that problem. (the test suite fails on `5.2.0` before that update)

[2015-12-25 04:40] jamestalmage commented on #113
closed via isaacs/node-tap#197

[2015-12-25 04:40] #113 closed

[2015-12-25 04:50] bcoe commented on #113
\o/ great job debugging this @jamestalmage

[2015-12-25 05:38] bcoe commented on #109
@jamestalmage I believe this issue is addressed in the branch you're about to land? reopen if I'm wrong.

[2015-12-25 05:38] #109 closed

[2015-12-26 21:38] jamestalmage opened #116 "Script for automatically "smoke testing" against a set of libraries, looking for regressions."
https://github.com/bcoe/nyc/pull/108#issuecomment-167260866

I think this could be an awesome general purpose module. My thoughts:
- It needs a simple config file that lists the projects that depend on the one you want to "smoke test".
- Mimic `.travis.yml` for configuring scripts (just the script names from the travis [Build Lifecyle](https://docs.travis-ci.com/user/customizing-the-build/#The-Bui

[2015-12-26 21:42] jamestalmage opened #117 "Split out the caching and source-map-fixing into separate modules."
NYC now does 3 things:
1. Installs an (optionally cacheable) transform via `append-transform` that captures coverage and source-map data.
2. Remaps istanbul reports using source-map data.
3. Uses `spawn-wrap` to make all this happen across forked processes.

I think `1` and `2` need to be split out.

[2015-12-28 04:17] bcoe commented on #100
addressed in https://github.com/bcoe/nyc/pull/108

[2015-12-28 04:17] #100 closed

[2015-12-28 04:41] bcoe commented on #111
see: https://github.com/bcoe/nyc/pull/119/files

[2015-12-28 04:41] #111 closed

[2015-12-28 21:39] Lalem001 opened #120 "`--all` appears to be broken in 5.1.0"
In `nyc@5.1.0`, I am getting the following error whenever `--all` is used:

[code]

Not sure where to start looking on this issue.

[2015-12-28 21:42] bcoe commented on #120
@Lalem001 do things work on `5.0.1`?

[2015-12-28 21:44] Lalem001 commented on #120
@bcoe yes.

I just experimented a bit and removing `writeCoverageFile` from `addAllFiles` stops the error, but I don't know yet if that changes the final output.

[2015-12-28 21:47] bcoe commented on #120
CC: @jamestalmage any thoughts on this?

[2015-12-28 21:49] Lalem001 commented on #120
Final output is affected, of course, without `writeCoverageFile`. Will keep experimenting.

[2015-12-28 22:08] jamestalmage commented on #120
Looks like it needs `nyc._createDatastoreDirectories()` [here](https://github.com/bcoe/nyc/blob/master/bin/nyc.js#L121).

That used to create the cache and temp directories, but now it is back to just creating temp. So the name can probably be returned to `createTempDirectory()`

Needs further investigation, but I suspect #112 is the reason this wasn't caught by our tests.

[2015-12-28 22:09] Lalem001 commented on #120
From what I can tell the issue is caused by a missing `.nyc_output` directory.

If I disable `NYC.cleanup`, and manually create the directory, `--all` works fine.

[2015-12-28 22:19] jamestalmage commented on #120
@Lalem001 - you are correct - see my comment above. You would not want to disable `cleanup`, but rather make sure the datastore directory gets created.

[2015-12-28 22:24] Lalem001 commented on #120
@jamestalmage Disabling cleanup was just a step to figuring out the issue.

[2015-12-28 22:26] bcoe commented on #120
@Lalem001, @jamestalmage cool -- this is why we release to a `next` branch first. Let's get a test around this behavior before we push `5.1.1` to `next`; perhaps we can just solve the cleanup ticket like @jamestalmage suggests.

[2015-12-28 22:58] Lalem001 commented on #120
`_createDatastoreDirectories` is called on `new NYC`. `nyc.cleanup` is called afterwards by the bin. To then call `_createDatastoreDirectories` again seems a bit redundant.

Perhaps we could add a cleanup option to NYC and cleanup before `_createDatastoreDirectories`?

[2015-12-28 23:03] jamestalmage commented on #120
Or, let's create a `reset()` function that is:

[code]

Then, in the CLI, only use `reset()`, and stop calling `_createDatastoreDirectories()` needlessly in every fork. That should give us a minor performance boost.

Feel free to come up with a better name than `reset`. :smile:

[2015-12-28 23:08] Lalem001 commented on #120
@jamestalmage `provision`?

[2015-12-28 23:12] jamestalmage commented on #120
I don't know. I think I might like `reset` better (though I'm still not thrilled with either).

Let's see if @novemberborn or @bcoe come up with anything.

[2015-12-28 23:51] bcoe commented on #120
my vote would be for `cleanup`, let's get a pull for this in a branch that also resets state between tests -- @jamestalmage did you want to tackle this, or @Lalem001?

[2015-12-29 01:38] sindresorhus commented on #116
:+1: We should definitely have this for AVA. I currently do it manually once in awhile and before a release.

-

Prior art: https://github.com/bahmutov/dont-break // @bahmutov

[2015-12-29 01:39] sindresorhus commented on #117
:+1:

[2015-12-29 01:42] jamestalmage commented on #120
So just add directory creation to the end end of the existing `cleanup` function?

[2015-12-29 02:13] jamestalmage commented on #116
Cool. Let's try using that and see how it goes.

[2015-12-29 02:45] bahmutov commented on #116
I will be happy to help

[2015-12-29 02:49] bcoe commented on #116
@jamestalmage I like this idea, and I could see it being a useful hosted service like travis :+1:

I've only thought about it a bit, but some things I'd like to be able to do:

* run another test-suite with an arbitrary library linked in against it (the library you're testing).
* it would be nice to be able to assert to CLI output.
* it would be nice to be able to assert that a file exists, and th

[2015-12-29 02:59] jamestalmage commented on #116
@bcoe - instead of building all that in, what if the config file just added a `validate` field that pointed to a script that was passed the output directory of the automated run?

[2015-12-29 10:16] novemberborn commented on #117
There's <https://github.com/SitePen/remap-istanbul> but it already does way too many things besides remapping the reports.

Even if 1 and 2 are split out they may still end up coupled to each other. Not sure I see the point, unless they're moved into Istanbul itself maybe.

[2015-12-29 10:22] novemberborn commented on #120
Shouldn't `cleanup`, you know, clean up? Maybe the `NYC` constructor shouldn't create the directories. `bin/nyc` should, and anything else that calls `NYC` directly.

[2015-12-29 10:44] jamestalmage commented on #120
That was my thought with naming it `reset()` it seemed more appropriate (though definitely not the perfect name).

[2015-12-29 10:51] jamestalmage commented on #117
I think `1` would almost certainly depend on `2` (but not necessarily the other way around).

It would allow all our hard work getting source-maps and caching working to be used in other contexts.

That may be the ideal solution, but I have got to imagine that there is a good reason that source-map support hasn't found it's way to master yet over there.

// @gotwarlost

[2015-12-29 11:01] jamestalmage commented on #120
See #121. I just named it `reset`. Happy to change it if someone has better ideas.

[2015-12-29 11:29] novemberborn commented on #117
Sure, assuming those other contexts discover the modules.

[2015-12-29 11:37] jamestalmage commented on #117
You take the risk of being ignored every time you type `npm publish`. That's just life.

For my part, I am really curious how much overhead `spawn-wrap` and `foreground-child` add? How much faster would AVA be if we used those split out modules and provided a `--coverage` option that called them in every forked process? Our `babel.js` script runs before any user scripts, so we can already provide

[2015-12-29 23:52] #112 closed

[2015-12-29 23:52] #120 closed

[2016-01-02 23:38] bcoe opened #124 "yarsay tests fail when running with --cache flag"
@jamestalmage I know this is something that was fixed at one point, but I can't seem to get the `lcov` report working if `--cache` is set for `yarsay`.

[code]

I rolled back several commits, and it doesn't seem as though this was ever working on `master`.

[2016-01-03 00:12] jamestalmage commented on #124
Worked on my machine with `5.1.1` https://github.com/yargs/yarsay/pull/6

[2016-01-03 00:14] bcoe commented on #124
@jamestalmage mind trying it with a linked copy of `nyc` on `master`. I thought we'd fixed this, but I can't seem to get it not to explode.

[2016-01-03 00:31] jamestalmage commented on #124
yep - it explodes with a linked copy.

[2016-01-03 00:46] bcoe commented on #124
@jamestalmage for the life of me I can not seem to isolate the change that is causing this exception in `yarsay` -- it almost seems like a race condition:

1. I rolled nyc back to `5.1.1` and linked in, was able to successfully output an `lcov` report a few times.
2. I moved forward to the next commit, ran tests, and the report again started throwing an exception.
3. I pulled in your most recent f

[2016-01-03 00:54] jamestalmage commented on #124
https://github.com/bcoe/nyc/commit/718a31904a63a474c308f21438eb686d55a02a30 definitely broke things.

#127? That should have fixe what https://github.com/bcoe/nyc/commit/718a31904a63a474c308f21438eb686d55a02a30 broke

[2016-01-03 00:55] jamestalmage commented on #124
make sure to clear `node_modules/.cache` and the self coverage files.

[2016-01-03 00:56] bcoe commented on #124
Oh, didn't know to remove self coverage will give that a shot.

On Saturday, January 2, 2016, James Talmage <notifications@github.com>
wrote:

[2016-01-03 01:02] jamestalmage commented on #124
Regenerating self-coverage should also work. We automatically use self-coverage if it exists. If you pull in a change, and try to use it immediately before generating new self-coverage via `node ./build-self-coverage.js` (which is part of `npm test`), then you are actually using covered code from before the merge.

I usually just do `npm run clean` in `nyc` to delete the self coverage. Self covera

[2016-01-03 01:07] bcoe opened #128 "add tests for ./bin/nyc.js"
It would be nice to have some unit tests for the nyc bin, I'm fine with these simply using spawn and asserting against `stdout`/`stderr`.

[2016-01-03 01:07] bcoe commented on #124
fixed by: https://github.com/bcoe/nyc/pull/127

[2016-01-03 01:07] #124 closed

[2016-01-03 01:08] #105 closed

[2016-01-03 10:23] MoOx commented on #110
Got the same issue as @riophae : absolute path added after local dir. That's weird (something like `'./src/blah/Users/ME/MY/ENTIRE/PATH/TO/A/RELATIVE/FILE.js`)

[2016-01-03 10:49] MoOx opened #130 "Problem with absolute path appended after relative one"
I have a test file that require a relative file (the file to test) https://github.com/MoOx/statinamic/blob/19fc8085ceb14a55a149feb330526f4275889cfa/src/PageContainer/__tests__/component.js#L8
But when I run test using `nyc babel-tape-runner src/**/__tests__/*.js` (or `nyc --require babel-core/register tape src/**/__tests__/*.js`) I got weird result that include the entire filename after the relati

[2016-01-03 11:13] MoOx commented on #130
I think I found a workaround.

[code]

[2016-01-03 11:19] MoOx commented on #130
That said, it's still very unclear to me: when I use a specific file that works, when I use a glob, that doesn't :(

[code]

[2016-01-03 11:29] MoOx commented on #130
As soon as I use two files, I got the issue.

[code]

I am trying to play with exclude and include separately, and at the same time but don't get anything logic :/

[2016-01-03 18:25] bcoe commented on #130
@MoOx could you create and share a branch that causes this exception, then @jamestalmage can easily dig into the problem.

Sorry that you're running into issues.

[2016-01-03 18:45] MoOx commented on #130
[code]

The big failure should append and you should be able to run the command I showed above ([with node_modules/.bin in your PATH](https://github.com/MoOx/setup/blob/1b712c1f9cb2495585d47c4db6a/dotfiles/zshrc#L151-L152))

I think it's related to tape being single process. I am currently upgrading to babel to switch to ava and hope that will help (but maybe I am doing this for nothing, you tell

[2016-01-03 18:46] MoOx commented on #130
I use tape, not tap. Can this be THE issue?

[2016-01-03 19:12] bcoe commented on #130
@MoOx I'd like `nyc` to work (within reason) with any test runner, we'll dig into this.

[2016-01-03 21:25] MoOx commented on #130
I successfully avoided the reported issue by replacing tape by tap.

[2016-01-03 22:22] MoOx commented on #130
I also successfully switched to tape without this issue

[code]

[2016-01-03 22:23] MoOx commented on #130
I mean from tape to ava

[2016-01-04 03:07] jamestalmage opened #131 "`package.json`: un-nest `config.nyc` to just `nyc`"
According to @sindresorhus, that is [the more common convention](https://github.com/sindresorhus/ava/issues/405#issuecomment-168569929).

Obviously we would need to support the current usage as well for the foreseeable future.

[2016-01-04 05:43] bcoe commented on #131
@jamestalmage eyeballed a few other projects such as `standard`, story checks out :+1: let's check both `nyc` and `config.nyc`, but update the documentation to simply `nyc` :+1:

[2016-01-05 02:51] #131 closed

[2016-01-05 09:16] KnisterPeter opened #133 "Support for async functions"
Right now nyc fail while handling reverse source-mapping when the original source contains async functions like this one:

[code]

[code]

[2016-01-05 09:26] KnisterPeter commented on #133
This is probably related to the 'source-map' module.

[2016-01-05 09:44] novemberborn commented on #133
@KnisterPeter could you publish your test code somewhere? It'll make it easier to debug.

[2016-01-05 10:25] KnisterPeter commented on #133
@novemberborn Would this be sufficient?
https://gist.github.com/KnisterPeter/cbabf9defb4377f08898

[2016-01-05 11:31] novemberborn commented on #133
I see you're using Babel 5. Looks like <https://github.com/sindresorhus/ava/issues/289#issuecomment-161662369>, in which case upgrading to Babel 6 should help.

[2016-01-05 16:21] jbcpollak commented on #63
+1

[2016-01-06 07:15] KnisterPeter commented on #133
No, Its TypeScript I'm using. Babel is there to transpile async functions to promises.

[2016-01-06 10:11] novemberborn commented on #133
Babel takes the source map from TypeScript and transforms it with the result of it's `async` compilation. The resulting source map is broken, that's what causes the failure. This should be fixed with Babel 6.

[2016-01-06 19:30] bcoe commented on #133
@KnisterPeter would you be able to try out `babel@6+`, I'm curious if this solves your issues.

[2016-01-09 07:05] tcurdt opened #134 "Add better examples to the documentation"
Update from moderator:

The biggest issue is that our documentation shows global use of `nyc` without ever suggesting that `nyc` be installed globally.

Original Message:
---
I am not quite sure how the instructions in the README ever worked. `npm i nyc` installs the module just locally and nothing gets added to the path. Calling

    nyc tap ./test/*.js

gives a "command not found" (to no surpris

[2016-01-09 07:10] jamestalmage commented on #134
You need to do:

[code]

Note the dot (`.`) in front of `bin`.

[2016-01-09 07:12] jamestalmage commented on #134
https://docs.npmjs.com/files/folders#executables

[2016-01-09 09:27] bcoe commented on #134
@tcurdt I think it would be worthwhile for us to update the documentation with some additional examples that demonstrate installing, and instrumenting your code with nyc.

[2016-01-09 10:54] tcurdt commented on #134
Fair enough:

        $ ./node_modules/.bin/nyc tap ./test/*.js
        events.js:141
              throw er; // Unhandled 'error' event
              ^

        Error: spawn tap ENOENT
            at exports._errnoException (util.js:874:11)
            at Process.ChildProcess._handle.onexit (internal/child_process.js:178:32)
            at onErrorNT (internal/child_process.js:344:16)

[2016-01-09 10:54] tcurdt commented on #134
What works: `./node_modules/.bin/nyc npm test`

[2016-01-09 11:05] tcurdt opened #135 "coloring"
On a bright terminal the current color scheme is not really working well.

![screen shot 2016-01-09 at 11 57 13](https://cloud.githubusercontent.com/assets/13697/12215713/41bce16e-b6c8-11e5-86dc-e0c439b4f31f.png)

In fact on very few terminal color schemes it's working well.

As a work around `./node_modules/.bin/nyc npm test | cat` works to disable the coloring.

Really not ideal.

[2016-01-09 12:48] tcurdt opened #136 "does not create output folder"
if it requires the output folder - it should also create it

        fs.js:813
          return binding.readdir(pathModule._makeLong(path));
                         ^

        Error: ENOENT: no such file or directory, scandir '/path/project/.nyc_output'
            at Error (native)
            at Object.fs.readdirSync (fs.js:813:18)
            at NYC._loadReports (/path/project/node_modules/nyc

[2016-01-09 17:00] jamestalmage commented on #136
From the stack trace, I am guessing you are running `reports` when no coverage information exists.
Perhaps we should provide a better error message - but that should still through don't you agree?

[2016-01-09 17:04] jamestalmage commented on #135
Green / Yellow / Red is a widely used coloring scheme, used by just about every test runner out there.

That said, this isn't even an NYC issue, but an istanbul one. We don't create the report. `nyc report` basically delegates to `istanbul report`.

[2016-01-09 17:04] #135 closed

[2016-01-09 17:06] jamestalmage commented on #134
[code]

Or you can install `nyc` and/or `tap` with the `-g` option.

[2016-01-09 17:08] tcurdt commented on #136
I would have to cross check if that was the cause. Could be.
Either way - catching this and providing a better error message would be great.

[2016-01-09 17:10] tcurdt commented on #134
`./node_modules/.bin/nyc ./node_modules/.bin/tap test/*.js` should go into the docs.

[2016-01-09 22:03] bcoe commented on #136
@tcurdt happy to improve this message, I think @jamestalmage is most likely correct about what bit you.

Updating the installation documentation I think would have helped you (and other new folks) avoid this issue as well.

[2016-01-09 22:04] bcoe commented on #133
@KnisterPeter bump, I'll be hacking a little bit later tonight and tomorrow let me know if you get a chance to dig into this.

[2016-01-09 22:07] bcoe commented on #135
@tcurdt might be worth opening a discussion on:

https://github.com/gotwarlost/istanbul

`red/green` is a bad color scheme for a good chunk of the male population -- so not a crazy idea to bikeshed colors a bit :)

[2016-01-09 22:12] jamestalmage commented on #135
Ooh - that is a really good point. We may need to rethink the color scheme for AVA as well.

[2016-01-10 02:57] tcurdt commented on #135
I am more concerned about the different contrasts for bright/dark themes - but that is indeed a good point. An option to turn off the coloring (be it via instanbul or in nyc) would be nice. For now piping through `cat` works as a work around.

[2016-01-10 12:06] novemberborn commented on #134
FWIW I tend to use `$(npm bin)/nyc` and the likes for locally installed dependencies.

[2016-01-10 14:42] KnisterPeter commented on #133
@bcoe I'll have to migrate a whole project, so its not on the easy side. But I will give it a try as soon as possible and report back here. But it could need a week or more...

[2016-01-12 08:07] jamestalmage opened #137 "Apply source-maps in top-level process."
Right now we save source-maps to the cache, and apply them at the time of report creation. This prevents having to repeatedly extract the sourcemap, and did improve performance.

However, it has become a repeated failure point. [This](https://github.com/gotwarlost/istanbul/pull/521) may be another example. Instead of waiting for report creation, I am starting to think that we should load up all th

[2016-01-15 22:38] azhang commented on #63
Seems like the code supports it, just need to add support for it in the cli:

https://github.com/bcoe/nyc/blob/master/index.js#L31

[2016-01-15 22:43] jamestalmage commented on #63
I don't think we should go down the road of reimplementing every istanbul command line option. That adds a lot of overhead.

Is there a really good reason why this is needed? And why `.istanbul.yml` is such a bad choice?

[2016-01-15 23:03] jbcpollak commented on #63
I just switched to using istanbul directly.

[2016-01-15 23:08] jamestalmage commented on #63
That's not a choice if your test runner forks processes (i.e. `tap` or `ava`). I would still be interested in the feedback

[2016-01-15 23:21] jbcpollak commented on #63
Agreed. My recommendation would be to find a way to generically pass command line options through to Istanbul so you don't need to handle every one. It would also make nyc a more transparent wrapper.

[2016-01-15 23:24] jamestalmage commented on #63
The problem there is that we actually do need to interfere with it a little bit (applying source-maps, collecting per-process info, etc).

[2016-01-16 03:48] #134 closed

[2016-01-16 20:29] jamestalmage commented on #128
I have found testing to stdout/stderr to be really problematic on Windows. Especially on Node 0.10 (though not exclusively). It's certainly worthwhile to include a handful of integration tests just to make sure all the glue works. Perhaps a better idea would be to run against a fixture with known coverage, and inspect the reports.

[2016-01-16 20:33] jamestalmage opened #140 "nyc related failure in tap AppVeyor tests"
https://ci.appveyor.com/project/isaacs/node-tap-5bjxi/build/20/job/3ym11uvlr09i0nwc#L535

[2016-01-17 11:45] ben-eb opened #141 "Throws with --babel flag set and no reporter specified"
[code]

Whereas this works perfectly:

[code]

ref: https://github.com/sindresorhus/ava/pull/444#issuecomment-172315357

[2016-01-18 11:25] harshag opened #142 "nyc target not found"
Getting below error since few hours

`
notarget No compatible version found: nyc@'isaacs/nyc'
00:01:19.701 npm ERR! notarget Valid install targets:
00:01:19.701 npm ERR! notarget ["1.1.0","1.1.1","1.1.2","1.1.3","1.1.4","1.1.5","1.1.6","1.1.7","1.1.8","1.1.9","1.2.0","1.3.0","1.4.0","1.4.1","2.0.0","2.0.1","2.0.2","2.0.3","2.0.4","2.0.5","2.0.6","2.1.0","2.1.1","2.1.2","2.1.3","2.1.4","2.2.0","2.2

[2016-01-18 16:13] albertogasparin commented on #91
I can confirm this bug: `--all` + `--require` = :boom:
Tried setting `include-all-sources: true` in `.istanbul.yml`, but it does nothing.

[2016-01-18 18:21] #50 closed

[2016-01-18 18:22] bcoe commented on #91
@albertogasparin mind sending a gist or link to a project with a minimal failing example, I'm on the road for 8 hours today and would love to work on patching this.

[2016-01-18 18:39] bcoe commented on #142
@harshag could you share with me your `package.json`, or the `cli` argument that you're running to install `nyc`?

[2016-01-18 19:16] jwhitfieldseed commented on #91
@bcoe is the repo from the issue useful? `npm test` fails in https://github.com/jwhitfieldseed/nyc-issue-91/tree/master/with-import.

[2016-01-18 19:19] jwhitfieldseed commented on #91
@bcoe actually, removing some indirection:

    cd with-import
    ./node_modules/.bin/nyc --require babel-register --all mocha index.js

[2016-01-18 19:20] bcoe commented on #91
@jwhitfieldseed :+1: that' a big help.

[2016-01-19 01:09] jamestalmage opened #144 "Add a new `profile` option."
Since I stumbling into [this process](https://github.com/bcoe/nyc/blob/master/docs/profiling.md) while trying to improve NYC's performance, I have [continued to discover](https://github.com/bcoe/nyc/pull/143#discussion_r50061548) ways that coverage data can answer questions beyond "is it tested".

I think it would be really interesting to add a new `profile` command.

The signature would be:

[cod

[2016-01-19 04:07] harshag commented on #142
@bcoe Below is my package.json. I am not using nyc directly, but guess some other package which I am using is dependent on nyc.
[code]

[2016-01-19 04:19] bcoe commented on #142
@harshag this is very strange behavior, it looks like something is trying to install a tag of yargs that never existed.

Try the following:

`npm cache clear; npm i nyc -g`

@isaacs any thoughts about this one?

[2016-01-19 04:20] bcoe commented on #144
@jamestalmage I like this idea a lot, I'll need to see it in practice -- but sounds really slick.

[2016-01-19 05:59] harshag commented on #142
Thanks @bcoe
I upgraded my npm version to 2 and now it works

[2016-01-19 06:02] timoxley opened #146 "Something between 5.0.1 & 5.1.0 made nyc super slow"
I'm experiencing tests that normally take <100ms taking 15-20s when moving nyc from 5.0.1 to 5.1.0.

It only appears to occur on specific tests, but I'm not exactly sure what's special about these tests without ripping everything apart. We're using babel. Slowness *appears* to occur when trying to hit an HTTP server, not sure if that's actually related though. Tried with cache on and off, no diffe

[2016-01-19 06:45] jamestalmage commented on #146
Hmm. That's odd. Our require hook did change quite a bit. But it's been universally faster for me since that release.

Is the project open source? Being able to pull down and profile the tests locally would be pretty key in troubleshooting this.

[2016-01-21 03:51] #63 closed

[2016-01-21 04:07] bcoe commented on #146
a few things worth checking:

* between `4.x` and `5.x` we changed how `exclude` configuration works, it now takes glob patterns. I would double check that files aren't being instrumented that shouldn't be.
* there was a bug in `spawn-wrap` that was causing files to not be instrumented, I would try downloading to an older version of `spawn-wrap`, and check whether tests speed up.
* @jamestalmage a

[2016-01-21 04:07] #142 closed

[2016-01-21 06:24] bcoe commented on #63
@jbcpollak @mateatslc @azhang I've made it so that the output directory can be configured with `--report-dir`, could you give the `next` tag of `nyc` a spin and see if it does the trick for you?

`npm i nyc@next`

[2016-01-21 09:01] mateatslc commented on #63
@bcoe verified, works.

[2016-01-21 16:08] jameswomack opened #149 "Open to using `const` for constant references?"
In pieces of code such as https://github.com/bcoe/nyc/blob/master/lib/source-map-cache.js#L105, _nyc_ has sets of references at the top of a function, all declared with the `var` :key:word. However, not all of the references are intended to be variable. In the case of `SourceMapCache.prototype._rewriteFunctions`, we have `f`, `fnMap` & `index`, where `index` is necessarily variable and it's two si

[2016-01-21 22:25] bcoe commented on #149
@jameswomack I'm happy to entertain this change, and would love the help :+1:

I don't think we're concerned about supporting all the way back to `0.8`, @jamestalmage and @isaacs might want to way in on this? I don't thin tap is making an attempt to support `0.8` any more?

[2016-01-21 22:29] isaacs commented on #149
I do still support 0.8, since the npm cli has to work there.  But const was supported in 0.8, wasn't it?

[code]

[2016-01-21 22:33] bcoe commented on #149
@isaacs gotcha, it existed prior to `0.10` but wasn't announced as a feature?

[2016-01-21 22:37] isaacs commented on #149
No idea!  I never bother to read feature announcements, because I always forget and have to check anyway.

[2016-01-22 01:14] jameswomack commented on #149
@bcoe I've used `const` in 0.8 w/o issues as well. Maybe I can open a PR w/ proposed changes on a subset of the project?

[2016-01-22 01:15] bcoe commented on #149
@jameswomack happy to accept that pull.

[2016-01-24 09:18] isaacs commented on #146
Note: if you were affected by this, then it's possible that tests slowed down because they weren't getting covered before, and now are.  Coverage doubles the number of child processes in play, and adds bookkeeping to every line if code.  It's slower.

[2016-01-24 09:19] isaacs commented on #146
(I say that because it shocked me as well, in a few projects, that tests got dramatically slower.  Turns out, it's because coverage started working.)

[2016-01-24 19:26] bcoe opened #151 "add tests that exercise foreground-child on Windows"
We should add a test that captures this regression:

https://github.com/tapjs/foreground-child/pull/6

CC: @isaacs

[2016-01-24 19:54] bcoe commented on #140
@jamestalmage get a chance to dig into this at all? perhaps try with the current master which has upgraded a few dependencies.

[2016-01-24 19:54] #91 closed

[2016-01-25 10:30] mateatslc opened #153 "nyc on npm is 2 releases behind"
version as per CHANGELOG.md: v5.5.0
version out on npm: v5.3.0

Please take a minute to `npm version / publish`, would love to enjoy recent fixes.

[2016-01-25 11:06] novemberborn commented on #153
`@next` is used to beta-test the new version in the wild before promoting it to `latest`:

[code]

You can install `nyc@next` or even `nyc@^5.5`, it's just that `npm install nyc` will give you `5.3.0` (for now).

[2016-01-25 15:12] mateatslc commented on #153
if `5.5.0` is `next` why `latest` is not `5.4.0` then?
anyways, it makes sense so closing this.

[2016-01-25 15:12] #153 closed

[2016-01-25 15:37] novemberborn commented on #153
`5.4.0` was `@next`, but then an issue was discovered, hence `5.5.0`.

[2016-01-25 15:38] mateatslc commented on #153
cool, thanks!

[2016-01-26 00:06] bcoe commented on #153
@mateatslc @novemberborn `nyc@5.5.0` is now latest.

[2016-01-26 04:41] jamestalmage opened #154 "Covers `npm link`ed modules."
If I use `npm link` and then run a test suite using NYC, the linked module ends up generating coverage info. I'm guessing because there is no `node_modules` folder in the parent path for linked modules (at least when using `nvm`).

[2016-01-26 11:14] novemberborn commented on #154
Could maybe exclude paths that go above the current directory?

[2016-01-26 13:08] matthewbauer opened #155 "out of memory with emscripten modules"
I just want to document this because I don't see it anywhere. Probably not possible to fix because of the nature of emscripten. Here is the output of nyc:

[code]

[2016-01-26 13:08] #155 closed

[2016-01-26 13:08] matthewbauer commented on #155
Never mind, this should be in istanbul issue tracker.

[2016-01-26 15:56] sindresorhus commented on #154
I've noticed this too. I npm link a lot and it really makes for a noisy coverage output.

[2016-01-26 17:22] kentcdodds commented on #67
Hi there, this doesn't seem to be working for me. Here's an example of what I've got:

[code]

Resulting coverage:

<img width="581" alt="screen shot 2016-01-26 at 10 22 23 am" src="https://cloud.githubusercontent.com/assets/1500684/12588605/b66622b8-c416-11e5-81f9-886553b66546.png">

Should I file a separate issue for this or am I doing something wrong?

[2016-01-26 17:37] kentcdodds commented on #67
Also, if it's helpful. Here's the [transpiled code](http://babeljs.io/repl/#?experimental=false&evaluate=true&loose=false&spec=false&code=import%20wrap%20from%20'.%2FWrap'%0A%20%0Aexport%20function%20foo()%20%7B%0A%20%20return%20'bar'%0A%7D%0A%20%0A%2F*%20istanbul%20ignore%20next%20*%2F%0Aexport%20default%20wrap(()%20%3D%3E%20%7B%7D)(foo)%0A%20%0A%20%0A):

[code]

I believe that should work. I als

[2016-01-26 20:22] kentcdodds commented on #67
I should mention that I'm using the latest version of nyc.

[2016-01-26 22:00] jameswomack opened #156 "Expose reporter(s) & reportDir via package.json config?"
I'm interested in moving `--reportDir=tests/output/coverage --reporter=html` into the package.json "nyc" config object, but don't know if that's something anyone else would see as being valuable.

[2016-01-26 22:15] bcoe commented on #156
@jameswomack sounds like a great configuration option, no objection here :+1:

[2016-01-26 22:29] jamestalmage commented on #156
For that matter, there should be 100% config parity between the CLI and the `package.json` config.

CLI should take priority, defaulting to the config (which in turn defaults to our set of "sensible" defaults).

[2016-01-26 22:36] jameswomack commented on #156
@jamestalmage That's what seems intuitive to me

[2016-01-26 22:44] bcoe commented on #156
`yargs@4.x` is slowly plodding along, this almost feels like something that could be handled by yargs eventually.

I like that both `ava` and `yargs` have moved towards using a prefix in the package.json for their config -- one could imagine a world where someone indicates that yargs should automatically parse this stanza and use it to override default settings.

[2016-01-26 22:44] bcoe commented on #156
... perhaps we could add this on the yargs `4.x` branch, and I could start publishing a `4.x` tag of yargs to npm?

[2016-01-26 23:09] jamestalmage commented on #156
:+1: The only contentious discussion we had w/ regard to this behavior in AVA, was what to do with array based args (i.e. `ava --require babel/register --require some-other-module`). What do you do to the `require` array in `package.json` if a `--require` option is used?

 My contention was that you blow the original array away, forcing them to rewrite all the `--require` tags if that is what they

[2016-01-27 14:43] sindresorhus commented on #156
:+1: That's been working very well for AVA and XO.

I too feel we made the right choice with that.

[2016-01-27 17:52] ben-eb commented on #141
Use `--require` instead of `--babel`.

[2016-01-27 17:52] #141 closed

[2016-01-29 10:34] micnic opened #157 "Empty coverage output"
I created a fake module https://gist.github.com/micnic/f815c0bee18e99805318 and added a test for it, I am using `tap` which uses `nyc` for code coverage. As you can see, If I do not add any additional argument I get an empty output, in case I add `--all` argument the output adds the `index.js` file but it has 0% coverage which is false as the exported function was executed inside the test file.

D

[2016-01-29 10:39] jamestalmage commented on #157
Try this:

[code]

This issue should really be raised with tap, since you aren't using nyc directly.

[2016-01-29 11:48] micnic commented on #157
@jamestalmage actually the `tap` commands that I used are equivalent to:

    nyc check-coverage tap test/index.test.js
    nyc report

that's why I posted here, it gives the same output as before.

I think the problem is somehow related to the `nyc`'s way of tracing required modules or maybe it's something related to `istanbul` module.

[2016-01-30 02:23] bcoe commented on #157
Rather than require('fake') I would try require('./) to require the index file.

[2016-01-31 18:42] isaacs opened #158 "Idea: track command, args, cwd, env of each process"
Nyc right now creates a really interesting record of not just what lines and files were covered, but also what lines and files were covered *by each individual process*, organized by pid.

I was thinking it might be interesting to have a way to drill into the details of each of those commands.

It might be worth putting off until someone has an idea for how to report on this, but even just for for

[2016-01-31 19:02] jamestalmage commented on #158
You could organize/combine hierarchically as well (what are all the pid's that pid X launched)

[2016-02-01 05:27] bcoe commented on #157
@micnic did you get a chance to give this a shot?

[2016-02-01 08:38] micnic commented on #157
@bcoe yes, I did the change, did not help, the same output, I also tried to run my test using `nyc node test/index.test.js` but without any good news. Then I moved my `fake` folder away from the `node_modules` folder and it worked! It seems that somehow the modules that are inside the `node_modules` are not checked at all by nyc, can you, please, confirm this?

[2016-02-01 11:01] novemberborn commented on #157
This is correct, see <https://github.com/bcoe/nyc/#excluding-files>, but I think there's a bug. This is supposed to exclude any dependencies from the coverage report. However if you are testing a dependency its working directory would naturally be inside a `node_modules` directory. We should only be excluding nested and sibling dependencies.

I think behavior should be like this:

path|cwd is `dir

[2016-02-01 16:21] novemberborn commented on #67
@kentcdodds I've managed to reproduce this. Looks like the source map code wasn't preserving skip annotations for entire functions, just for code locations. Will have a PR shortly.

[2016-02-01 17:24] novemberborn commented on #67
@kentcdodds could you try with https://github.com/bcoe/nyc/pull/159?

[2016-02-01 18:40] novemberborn commented on #157
@micnic could you try with #160?

[2016-02-01 18:40] novemberborn commented on #154
#160 should resolve this.

[2016-02-01 20:06] micnic commented on #157
@novemberborn it worked for the fake module, will try a more complex module and will write you when it is ready

[2016-02-01 20:24] micnic commented on #157
good news, the tests for the real module have the expected output (with about 28 files).
#160 LGTM!

[2016-02-02 09:44] #67 closed

[2016-02-02 13:50] Gudahtt opened #161 "Allow optional file extensions"
Would you consider adding support for alternate file extensions?

I'd like to use nyc for a project that uses the `.jsx` file extension, but I can't manage to get it to cover the `.jsx` files. Perhaps I've done something wrong, but it seems as though nyc assumes the files being tested have a `.js` extension.

[2016-02-02 21:37] bcoe commented on #161
@Gudahtt I thought we might actually get a request for this :) I like this idea.

@jamestalmage do your require-hook helper modules support alternative extensions? how hard would it be for us to pull this off?

[2016-02-04 07:30] #154 closed

[2016-02-04 07:30] #157 closed

[2016-02-04 08:02] bcoe commented on #157
@micnic could you please try this:

`npm i nyc@next`

I'll publish this version to `latest` tomorrow, if things work well :+1:

[2016-02-04 08:03] bcoe commented on #154
@jamestalmage @sindresorhus give this a shot:

`npm i nyc@next`

If it does the trick I'll publish `5.6.0` to latest sometime tomorrow.

[2016-02-04 08:04] bcoe commented on #67
@kentcdodds @ekmartin @kolodny, could you give the following a shot:

`npm i nyc@next`

If this does the trick for you, I'll promote `5.6.0` to latest sometime tomorrow.

[2016-02-04 08:40] micnic commented on #157
@bcoe `nyc@next` works fine for me, tried it on two of my modules, waiting for tomorrow release :)

[2016-02-04 16:41] kentcdodds commented on #67
Works for me :+1:

[2016-02-06 02:02] lloydcotten commented on #161
@bcoe I took some time to experiment with this.  I think I've determined how this can be done.  Here's the diff: https://github.com/bcoe/nyc/compare/master...lloydcotten:master

If you want I can refactor into a PR.  Was just wondering if the extensions supported should be configurable?  Such as adding them to the nyc config section in package.json, command line args, etc... thoughts?

[2016-02-06 02:13] jamestalmage commented on #161
- `append-transform` - [yes](https://www.npmjs.com/package/append-transform#extension)
- `caching-transform` - [yes](https://www.npmjs.com/package/caching-transform#ext), though that option really doesn't affect how the hook is installed (it just changes the suffix so cache entries will be saved with a `.jsx` extension - this helps your IDE open them with the correct pretty highlighting - and make

[2016-02-06 12:11] lloydcotten commented on #161
I've updated my branch trying to take into account some of the suggestions / info from @jamestalmage.  Just wanted to post the diff here again for review to see if I'm getting close to good.  If so, I can submit this as a PR.  https://github.com/bcoe/nyc/compare/master...lloydcotten:master

There aren't any additional tests yet, mainly because I'm not used to the way these tests are done and,  to

[2016-02-06 20:02] qasim commented on #110
Getting this issue when trying to report coverage to coveralls. Does my full absolute path twice, so my actual path is `/Users/qasim/blah/blah/index.js`, and nyc interprets it as `/Users/qasim/blah/blah/index.js`, which leads to coverage-node to think of it as `/Users/qasim/blah/blah/Users/qasim/blah/blah/index.js`(incorrect).

[2016-02-07 01:24] riophae commented on #110
The same with @Qasim

[2016-02-07 01:31] bcoe commented on #110
@novemberborn I wonder if some of the fixes for paths outside the working directory might have made this problem more prevalent?

[2016-02-07 04:35] jamestalmage commented on #161
@lloydcotten - It's best just to open a PR. You can prefix it with `[WIP]` (meaning "Work in Progress") if you feel it's not ready to be merged yet.

An actual PR makes it a lot easier for all of us to review and give feedback.

[2016-02-07 06:16] MoOx commented on #110
I can't really remember but I think I was doing something wrong, cause I don't have this issue anymore.

[2016-02-07 06:17] MoOx commented on #110
https://github.com/MoOx/statinamic/blob/ae82471e309cf1b2383f37aa9fb438d6cab81fc4/package.json#L140-L144

[2016-02-08 01:46] lloydcotten commented on #161
Thanks for the feedback @jamestalmage.  I added PR #163.

[2016-02-08 16:08] novemberborn commented on #110
I don't think so…? In any case just did #164.

@riophae @qasim could you try with that branch?

@MoOx the change to absolute paths should have fixed an issue with source map sources being absolute and not being resolved correctly against the relative coverage report. If you manage to reproduce the problem could you try with #164?

[2016-02-08 20:49] qasim commented on #110
@novemberborn fixed with that branch :+1:

[2016-02-11 03:28] lloydcotten opened #165 "opts/command line args precedence over config is inconsistent"
While doing pull request #163, I noticed that nyc will take config from package.json over command line args and/or opts passed into the NYC constructor for some cases, but will take opts over config for other values (namely `cwd`).  See these lines:
https://github.com/bcoe/nyc/blob/master/index.js#L34
https://github.com/bcoe/nyc/blob/master/index.js#L64

I patterned the new `extension` config afte

[2016-02-11 23:43] bcoe commented on #165
@lloydcotten my plan is to moving to having yargs load the configuration:

https://github.com/bcoe/nyc/issues/156

Command-line arguments will take precedence over package.json configuration when I make this change :+1:  Mind adding a note to #156

[2016-02-11 23:43] #165 closed

[2016-02-12 00:39] lloydcotten commented on #156
Just a note that any implementation done for these options, should also be done for the new --extension arg / config setting that is now implemented in pull request #163.

[2016-02-12 00:40] lloydcotten commented on #165
Sounds good.

[2016-02-13 06:27] #110 closed

[2016-02-14 01:28] riophae commented on #110
fixed!

[2016-02-20 18:26] aureooms opened #168 "Code mapping after an error occurs"
I'm running nyc with ava. When a runtime error occurs in a test (e.g. trying to access a key of `undefined`), ava outputs the stacktrace with lineno:col inside the instrumented file, not the original file. Would it be possible to map the instrumented code back to the original code and output the relevant lineno:col?

[2016-02-20 20:32] #156 closed

[2016-02-20 20:41] bcoe commented on #161
@lloydcotten @Gudahtt give this a shot:

`npm i nyc@next --save-dev`

I'll promote to `nyc@latest` once people have played with it for a bit.

[2016-02-20 20:41] #161 closed

[2016-02-20 20:42] bcoe commented on #130
@MoOx, @novemberborn did some work to switch over to absolute paths. Give this a shot:

`npm i nyc@next --save-dev`

[2016-02-20 20:42] #130 closed

[2016-02-21 16:32] novemberborn commented on #168
@aureooms nyc uses [Istanbul](https://github.com/gotwarlost/istanbul) to instrument the files. You'd probably need Istanbul to include a source map when it instruments a file, and it would have to take into account input source maps in case of ES2015 transpilation. Then it may or may not work automatically with AVA.

I don't think Istanbul supports this currently so you'd have to open an issue the

[2016-02-24 01:05] Gudahtt commented on #161
I've just tested this - seems to work great! Thanks!

[2016-02-25 17:21] KnisterPeter commented on #133
For babel6 and typescript 1.8 it does work, so I'll close this ticket.

[2016-02-25 17:21] #133 closed

[2016-02-25 17:35] novemberborn commented on #133
Thanks for the update @KnisterPeter. Hope you're liking nyc :smile:

[2016-02-25 17:41] KnisterPeter commented on #133
Yes its awesome, but currently the source-maps are not 'reverse applied' so we have a big webpacked transpiled coverage report.
This is kind of suboptimal. :grin:

[2016-02-25 17:44] novemberborn commented on #133
Could you open an issue for that? Ideally with a test case… I think it might be because we're not correcting the reports for combined source files. That would be an interesting feature to add.

[2016-02-25 18:07] KnisterPeter commented on #133
I'll do so later this week.

[2016-02-25 21:58] kentcdodds opened #171 "Add the ability to specify a custom tempDirectory"
The `NYC` constructor already accepts the option. But this needs to be exposed and utilized in the CLI. I almost had things working, but then had to get back to work.

My use case is I have frontend and backend code that's tested separately and I want to be able to track coverage on them separately. So I already specify the `--report-dir` for them, but to be able to utilize `check-coverage`, I nee

[2016-02-25 22:06] kentcdodds opened #172 "Add the ability to ignore errors for files required with --all"
I understand if you're not interested in supporting this use case, but I thought I'd ask. I have a codebase that's bundled with webpack and we utilize `aliases` and `modulesDirectories` and whatnot that sorta break the rules of CommonJS. Also, some of these files depend on DOM globals (like `getComputedStyle` for example) that are not exposed in the node environment in which we're running our test

[2016-02-26 11:41] novemberborn commented on #172
I guess this line throws? https://github.com/bcoe/nyc/blob/f417897cc7cbde397dd82240003b5bd509304cbb/index.js#L202:L205

The module needs to execute so the Istanbul instrumentation can track it. I wonder if Istanbul should wrap everything in a `try/catch` so in can report modules that fail to run. Alternatively nyc could catch the error. Not sure if it could still include it in the coverage report

[2016-02-28 08:24] MoOx opened #173 "Fatal error related to esprima when using --all"
[code]

The same command works without --all.
Stack trace is not clear for me.
Any idea?

I am using some es6, ava handle the require hook, maybe I should add it too with nyc?

[2016-02-28 08:26] MoOx commented on #173
I confirm that using `nyc --require babel-core/register -a ava` is a workaround. Maybe we should get a more clear reason of the error?

[2016-02-28 15:22] novemberborn opened #174 "--all doesn't use configured file extensions"
#163 introduced configurable file extensions however `--all` only selects `**/*.js` files. We could generate that pattern for all configured extensions and then use [`globby`](https://www.npmjs.com/package/globby) to load the files.

[2016-02-28 15:26] novemberborn opened #175 "--all should report which fails it failed to instrument"
#173 uses `--all` on a file containing unrecognized syntax. Requiring `babel-core/register` is the correct solution but it's unfortunate that nyc spits out a rather deep stack trace. Instead it should report which file it failed to instrument, offering suggestions regarding excluding those files or hooking up a transpiler.

[2016-02-28 15:28] novemberborn commented on #173
`--all` loads and instruments all `.js` files before launching AVA. It might be loading files containing syntax that Istanbul cannot parse. Using the `--require` flag on nyc itself allows those files to be loaded.

So yea you're doing the right thing. I've opened #175 to improve the error.

Please reopen if you have further questions.

[2016-02-28 15:28] #173 closed

[2016-02-28 15:29] novemberborn commented on #174
@lloydcotten perhaps you'd be interested in improving this? No obligation of course :smiley_cat:

[2016-02-28 16:24] lloydcotten commented on #174
Hmm... I see.  Yes, perhaps I could look at that.

[2016-02-28 20:16] bcoe commented on #34
@boennemann finally dug into this issue, see:

https://github.com/tapjs/spawn-wrap/issues/10

By simply ignoring `start.sh` in `spawn-wrap`, I was able to run your integration tests:

<img width="613" alt="screen shot 2016-02-28 at 11 56 59 am" src="https://cloud.githubusercontent.com/assets/194609/13381624/26cb718a-de15-11e5-9d65-7e200a9e76de.png">

[2016-02-29 21:49] JaKXz opened #176 "TypeScript support?"
When scanning through the issues, there was a hint that theoretically, TypeScript could be possible to instrument and produce coverage for.

This is my first guess in my `package.json` for an Angular 2 project using karma:

[code]

and I'm just getting an empty table.

[2016-02-29 22:34] JaKXz commented on #176
I tried both `npm i -D nyc@latest` and `npm i -D bcoe/nyc#master` [at time of writing], because the regular alias was just getting me v5.6.0?

[2016-03-01 06:05] bcoe commented on #176
@JaKXz good find, I should definitely promote `v6.0.0` to latest. You can install currently by running:

`npm i nyc@next`

Could you link me to an OSS project of yours that has `.ts` tests, I'd be happy to help figure things out.

[2016-03-01 19:12] JaKXz commented on #176
@bcoe https://github.com/JaKXz/webpack-ts-demo/tree/chore/use-nyc is an old project, spent some time this morning updating it and cleaning up some errors. That branch has a pretty similar setup to what I've described here, with one `.spec.ts` file --  the `master` branch has the old `karma-coverage` setup, and instruments the transpiled code and so you do get coverage numbers, but they're skewed b

[2016-03-03 09:09] LimeStreem opened #179 "Should define something easy searchable alias for nyc"
I'm recently struggling to use this library.
When I search about nyc in Google, of course it reach something related to New york city. That is not problem.

However, even I searched in "nyc code coverage" or "nyc node", most of pages are the pages related to Hackathon or conferences.

Download count of this library is currently growing, so I guess many people will struggle with this problem when m

[2016-03-03 11:02] novemberborn commented on #179
I found the easiest way to learn more about a particular package is to use `http://npm.im/{PACKAGE_NAME}`, which redirects to the npm page for that package. That page usually has a README and links to issue trackers etc.

[2016-03-04 11:36] thangngoc89 opened #181 "Exit with status code 137 on node 4 when using with AVA, --all and --require babel hook"
I have a [repo](https://github.com/MoOx/statinamic) setup with AVA and nyc

[code]

AVA option

[code]

On node 5, all tests passed.

But on node 4, npm@2 doesn't dedupe `babel-core/register` by default, we will have 2 different versions of `babel-core/register` : one from AVA and one from project's dependencies.

This will cause test [process exit with status code 137](https://travis-ci.org/MoOx/

[2016-03-04 11:46] jamestalmage commented on #181
The other issue here relates to the fact that he wanted to use the `--all` option. Which fails on ES6 files if you try to use AVAs `--require`  flag instead of nycs.

Also, it is preferable to use AVA's `require` pkgConf to provide a cleaner cli experience across both covered and non-covered test runs. Again, that doesn't work for `--all`

[2016-03-04 12:37] novemberborn commented on #181
It's starting to seem that `--require` here is just a cheat. You should let the child process be responsible for setting up the transpiler. nyc can hook into that better now than when `--require` was introduced. Basically nyc's `--require` is only useful if you have test code you *always* run using nyc and you're too lazy to manage the transpiler yourself.

But… then there's `--all`. I think we're

[2016-03-04 21:44] MoOx commented on #181
A workaround for --all is to add empty test files that just require the (not yet) tested file?

[2016-03-05 02:08] TrySound opened #182 "Error report is broken"
I have uncought expection in tests. Position and part of code are broken. I use tape for tests.
Error with nyc
[code]
without
[code]

[2016-03-05 13:25] novemberborn commented on #181
Yea, that way AVA can load the files and you won't need the conflicting `--require` for `nyc`.

Once AVA supports custom Babel configs you could use <https://github.com/novemberborn/babel-plugin-import-glob> to require all source files in one go, so you don't forget any.

Until we fix `--all` here that is :wink:

[2016-03-05 13:26] #174 closed

[2016-03-05 13:32] novemberborn commented on #182
@TrySound nyc uses [Istanbul](https://github.com/gotwarlost/istanbul) to instrument the files. This changes the code that is actually run. As you found running without nyc gives you a more usable stack trace. Use that for debugging, and nyc for computing the code coverage.

#168 talks about Istanbul generating source maps for its instrumentation. If it did that you could combine with <https://gith

[2016-03-05 13:32] #182 closed

[2016-03-05 14:57] MoOx commented on #181
I can already glob with `ava **/__tests__/*.js` :)

[2016-03-06 04:48] jamestalmage commented on #181
Also, if you are using Node 4+ only (not 0.12 or 0.10), you can use the native `--require` flag:

[code]

If you need to support Node `0.12` or below, I have created [`spawn-require`](https://github.com/jamestalmage/spawn-require), which would be used as follows:

[code]

:+1:

[2016-03-06 12:58] novemberborn opened #183 "Implement --all without requiring modules"
Currently when `--all` is used we require all modules that match a glob pattern. This causes these files to be instrumented and a baseline coverage to be established in the main process.

Requiring all modules has a few problems:

* The files may need to be transpiled, so `--require` needs to be used
* The files may throw when loading because they're in the wrong environment (#175, #172)
* If the

[2016-03-06 12:58] novemberborn commented on #181
Closing this issue since it's by design. Tracking improvements in #183.

[2016-03-06 12:58] #181 closed

[2016-03-06 15:49] rapzo opened #184 "`reporter` configuration in `package.json` not working"
When provided an array or even a string of reporters they are not taking into account due to this override: https://github.com/bcoe/nyc/blob/master/bin/nyc.js#L152
Taking it out fixes the issue, afaic.

This happens even in version 6.0.0, which branch i couldn't find, and master seems to be at v5.5.0 still, otherwise i'd provide the PR.

Or am i missing something?

Thanks guys.

[2016-03-07 07:37] jonathanong opened #186 "question: my coverage went up after updating to nyc@6. what changed?"
can't tell from the changelog: https://github.com/bcoe/nyc/blob/master/CHANGELOG.md#change-log

just wondering.

close this issue at will! and thanks!

[2016-03-07 10:25] GitScrum opened #187 "nyc@6 breaks my tests"
Hi, i heve [broken tests in travis](https://travis-ci.org/GitScrum/posthtml-cli/jobs/114118483), if used nyc@5.2.0 all my test is passed.

[2016-03-07 11:20] novemberborn commented on #186
There were source map related improvements in 5.5.0 and 5.6.0, maybe that's it. Do you recall what version you upgraded from?

Regardless, higher coverage numbers are good right? :grinning:

[2016-03-07 19:26] jonathanong commented on #186
from 5.6 to 6! yes it's good, but i can't tell what coverage actually changed so i'm a litttttle worried

[2016-03-08 08:16] bcoe commented on #186
@jonathanong if you look at the `lcov` visual report running on `5.6.0` and `6.0.0`, does anything jump out at you?

[2016-03-08 08:22] bcoe commented on #187
@GitScrum there appears to be a strange issue happening caused by `yargs@6.2.0`, simply adding:

`delete require.cache[require.resolve('yargs')]`

to the top of `cli.js` solves the problem. it seems like the fix for this bug should ultimately be in yargs.

[2016-03-08 10:18] GitScrum commented on #187
Thank you very much. 👏👏👏

[2016-03-08 10:18] #187 closed

[2016-03-09 02:54] ORESoftware opened #188 "support question - good grief"
the examples show:

[code]
but what about a simple example with

[code]

Is this possible?

[2016-03-09 03:22] jamestalmage commented on #188
Yes, though you might need to do:

[code]

[2016-03-09 03:25] ORESoftware commented on #188
alright thanks will give that a go

[2016-03-09 04:07] ORESoftware commented on #188
is this not a common request, why is it not in the readme I wonder
On Mar 8, 2016 7:22 PM, "James Talmage" <notifications@github.com> wrote:

[2016-03-09 04:30] jamestalmage commented on #188
You are the first! No it's not really that typical. Most people use a runner launched with a common API, so they are doing something like one of the following:

[code]

Is your issue resolved?

[2016-03-09 05:01] ORESoftware commented on #188
if you don't mind pls keep open til tomorrow, have to test on windows thx
On Mar 8, 2016 8:30 PM, "James Talmage" <notifications@github.com> wrote:

[2016-03-10 13:23] jwhitfieldseed opened #189 "Regression: the require option cannot be set in package.json"
[This demo project](https://github.com/jwhitfieldseed/nyc-issue-189) repoduces the issue.

The `--require` flag causes nyc to load libraries, but `nyc.require` in `package.json` does not.

package.json:
[code]

I also tried `"require": "babel-register"`, with the same result.

test.js:
[code]

Outcome:

[code]

[code]

In NYC 5 I successfully used this config snippet:

[code]

[2016-03-10 18:04] bcoe commented on #189
see: https://github.com/bcoe/nyc/issues/189

[2016-03-11 05:41] arrowrowe opened #190 "No coverage files found for Node v5.8.0 and NPM v3.7.3"
UPDATE: See @addaleax's analysis [here](#issuecomment-203841494).

---

See these Travis logs for details:
- [Using Node v5.8.0 and NPM v3.7.3](https://travis-ci.org/arrowrowe/romi/jobs/115243910) (failed)
- [Using Node v5.8.0 and NPM v3.8.1](https://travis-ci.org/arrowrowe/romi/jobs/115487555) (passed)
- [Using Node v5.7.1](https://travis-ci.org/arrowrowe/romi/jobs/115245095) (passed)
- [Using No

[2016-03-11 11:04] novemberborn commented on #190
@arrowrowe I cloned https://github.com/arrowrowe/romi and installed it locally. `npm test` ran fine:

[code]

This is on OS X, npm 3.8.1.

Can you reproduce this outside of Travis?

[2016-03-12 03:07] sarbbottam commented on #190
Works fine for me in `v5.8.0`

[2016-03-12 06:15] arrowrowe commented on #190
Thanks for responding! I will retry it later to confirm.

[2016-03-12 06:34] arrowrowe commented on #190
Failed on Ubuntu 14.04.1, using Node v5.8.0 and NPM v3.7.3, as the log below shows. (No need to paste it in fact. It is same with the Travis log.)

[code]

However, `npm test` **does run fine** after I update to NPM v3.8.1, remove `node_modules` and `npm i` again. So, is this problem happening only using Node v5.8.0 and NPM v3.7.3?........ Or was I making a mistake somewhere?...

Not sure what cau

[2016-03-12 13:34] novemberborn commented on #190
If you remove `node_modules` and reinstall under npm 3.7.3, does it work then?

[2016-03-12 14:39] arrowrowe commented on #190
@novemberborn I suppose not, as Travis's fresh install (Node v5.8.0 and NPM v3.7.3) fails. I am confirming it now. Will update later.

[2016-03-12 23:14] bcoe commented on #188
@ORESoftware is it okay to close this issue? Do you think there's any documentation that we could add to README.md?

[2016-03-13 00:36] bcoe commented on #189
@jwhitfieldseed give this a shot:

`npm i nyc@next`

Should fix the issues you were seeing. If everyone's tests are looking good I'll promote to `latest` soon.

[2016-03-13 00:36] #189 closed

[2016-03-13 00:37] bcoe commented on #186
@jonathanong I'm going to close this unless any issues have jumped out at you, I think @novemberborn is probably correct that it's changes to source maps that increased your coverage -- it's probably more correct :+1:

[2016-03-13 00:37] #186 closed

[2016-03-13 00:39] bcoe commented on #179
@LimeStreem I've struggled with this as well, I like the name `nyc` but it does make the library hard to search for. any thoughts?

Perhaps change the README.md to:

[2016-03-13 00:40] bcoe commented on #176
@JaKXz any progress on this, hope things are going well.

[2016-03-13 01:42] ORESoftware commented on #188
Thanks, go ahead and close, I haven't tested on windows yet, bu will later today, most likely it will be fine

[2016-03-13 01:50] #188 closed

[2016-03-13 04:42] thangngoc89 commented on #190
@arrowrowe woa. Thanks for you efforts. So much trouble with npm.

[2016-03-13 05:17] JaKXz commented on #176
@bcoe I haven't had any luck, no :(

Was my project / branch installable without issues?

[2016-03-13 05:31] JaKXz commented on #176
I did use `npm i nyc@next` in that branch :)

[2016-03-13 10:00] rapzo commented on #184
Fixed. #185

[2016-03-13 10:00] #184 closed

[2016-03-13 20:09] rpominov commented on #189
Not sure if this is the same issue, but `all` also doesn't seem to work when set via package.json. And it isn't fixed in `nyc@next`.

[2016-03-13 22:12] bcoe commented on #189
@rpominov there's a fix here:

https://github.com/bcoe/nyc/pull/194/files

I'll publish this to `nyc@next` so you can test as soon as tests pass.

[2016-03-14 01:10] bcoe commented on #189
@rpominov released the patch:

`npm cache clear; npm i nyc@next`

[2016-03-14 05:43] JaKXz commented on #176
@bcoe I also tried here: https://github.com/JaKXz/angular2-redux-starter/commit/ec82374e628a55e566f5d015a8dbf1b078faf1e4 using `remap-istanbul`, following @novemberborn's [instructions](https://gist.github.com/novemberborn/e133e9edabbb380229ca) without success.

[2016-03-14 10:35] novemberborn commented on #176
@JaKXz nyc can handle source maps out of the box now, provided the source maps are available when it instruments the source files. I'm not sure how well it would work with Karma though. In your branch you seem to be [hooking up Istanbul yourself](https://github.com/JaKXz/webpack-ts-demo/pull/3/files#diff-a2a3b7b0c9c3b4b93b4aebf4e3ec3cfbR37) which might conflict with nyc. And nyc might not work gre

[2016-03-14 11:17] rpominov commented on #189
@bcoe Works great now. Thanks!

[2016-03-14 17:45] JaKXz commented on #176
@novemberborn good catch, but [removing the post-loader didn't work](https://github.com/JaKXz/webpack-ts-demo/pull/3) either.

My guess for sourcemaps was that they should be inline for `nyc` to read them, is that right?

[2016-03-14 21:16] jwhitfieldseed commented on #189
The fix is great, thanks @bcoe :+1:

[2016-03-15 00:38] JaKXz commented on #176
More and more it just looks like the `.ts` extension is just not supported. No matter what configuration (with or without remap-istanbul and/or sourcemaps) I use, I don't get any files listed when I specify the `.ts` extension.

[2016-03-15 05:13] bcoe commented on #176
@JaKXz I noticed a problem with the documentation digging into your problem, which I corrected `extensions` should have been documented as `extension`. Having said this, the approach you are using will not work with `nyc`:

You are using `ts-loader`, as far as I can determine this does not ultimately call a `require()` which is how nyc instruments files. As far as I can tell, you have a couple opt

[2016-03-15 05:13] #176 closed

[2016-03-15 05:33] JaKXz commented on #176
@bcoe thanks for the response. I fixed the typo in `extension` and have re-added `istanbul-instrumenter-loader` in my karma webpack config [as a postLoader], but the `nyc --reporter=json karma start` command is still returning an empty `coverage-final.json` object.

[2016-03-15 06:08] bcoe commented on #176
@JaKXz `nyc` overrides `require()` and `child_process` to instrument code with Istanbul on the fly. It looks like the webpack is not compatible with this; rather than overriding the require statement it implements its own concept of loaders.

tldr; rather than using `nyc` just use `istanbul-instrumenter-loader`

1. make your loaders look something like this:

[code]

2. make your `karma.conf.js` l

[2016-03-15 07:44] MoOx opened #196 "exclude behavior change between 5.x and 6.x"
[code]

This config was consuming code in src, but not files like `src/PageContainer/__tests__/component.js` in 5.x.
With 6.1.1, those files in `__tests__` are counted in the % which sucks.

[2016-03-15 07:52] MoOx commented on #196
I had to add two pattern

[code]

Which looks like a regression to me :)

[2016-03-15 08:08] MoOx commented on #196
FYI, `"**/__tests__/**"` also works (yeah).

[2016-03-15 19:13] JaKXz commented on #176
@bcoe thanks for the support! That is pretty much [as far as I'd gotten before](https://github.com/rangle/angular2-redux-starter/pull/44) but I was hoping that I could instrument the actual `.ts` files - I have to move on for now, but I will try again someday, perhaps with a fix to `remap-istanbul`.

Looking forward to meeting you! :smile:

[2016-03-17 05:10] bcoe commented on #196
@novemberborn any thoughts about this, perhaps an update in how we process globs?

[2016-03-17 05:11] MoOx commented on #196
It seems I was wrong on the entire thing and confused by the order of reported file.
It seems  config is not in "config.nyc" but just "nyc", is this correct?

[2016-03-17 05:16] bcoe commented on #196
@MoOx yes, this was the breaking change between 5.x and 6.x -- we switched to using a new built in yargs feature to handle loading config from package.json.

Cool to close this?

[2016-03-17 05:20] MoOx commented on #196
Yeah can close.

One detail for better ux: provide a warning if people miss the config definition change :)

[2016-03-17 05:20] #196 closed

[2016-03-18 07:29] sarbbottam opened #197 "Should .nyc_output be deleted?"
Since `.nyc_output` is a temp directory, I am wondering if `nyc` should delete it, once the process ends.

[2016-03-18 20:07] jamestalmage commented on #197
We allow `nyc report` commands to be run at a later time, and `.nyc_output` still needs to be around for that.

[2016-03-19 01:57] jonathanong commented on #186
i found it. it's because the API for setting the excluded paths changed in `package.json`. it started counting coverage of all my tests, which are 99.9% or something.

fixed the config and my coverage is now correct again.

[2016-03-19 02:07] sarbbottam commented on #197
Wondering if it would be possible to run `nyc report` on `coverage` dir. Please excuse my ignorance. Thanks!

[2016-03-19 03:11] jamestalmage commented on #197
`nyc report` operates basically the same as `istanbul report`, except it first combines all the contents of `.nyc_output` before running the report. Running `.nyc_output` on the coverage directory wouldn't make a lot of sense (you already have `istanbul report` for that)

[2016-03-19 17:18] bcoe commented on #197
Hey @sarbbottam, as @jamestalmage says the reason for not deleting `.nyc_output` on each run is that it can be handy to output reports multiple times:

`nyc npm test`.
`nyc report lcov-text`
`nyc report lcov`

If you want to cleanup after nyc, I recommend adding a `posttest` command that uses `rimraf` to nuke the folder :+1:

[2016-03-19 17:18] #197 closed

[2016-03-20 19:07] skozin opened #198 "Bad application of source maps to coverage reports for ternary expressions"
I don't know for sure where I should report this issue, so sorry if it doesn't belong here.

When I generate coverage report with `nyc ava && nyc report --reporter=html`, the resulting report shows incorrect highlighting of the source code. And, the most critically, overall coverage numbers for branches and functions look incorrect (much less than expected).

I have prepared [the repo](https://git

[2016-03-20 19:12] bcoe commented on #198
@skozin does the percentage of coverage seem correct, but the highlighting off? This is most likely a problem with how we remap from the sourcemap to the coverage files used by Istanbul; @novemberborn is a subject matter expert on this part of the codebase.

[2016-03-20 19:17] skozin commented on #198
@bcoe no,

[2016-03-20 19:19] skozin commented on #198
It reports 75% Branches (33/44) and 66.67% Functions (4/6), although all functions except one have been executed, and almost all branches inside them was taken.

[2016-03-20 19:39] skozin commented on #198
I've simplified the case a little. Now nyc reports 73.68% Branches (28/38) and 66.67% Functions (4/6). The function coverage I expect to see is 80%:

[code]

[2016-03-20 19:43] skozin commented on #198
Also, If I move from ES6 classes to plain functions, the functions coverage numbers (both percentage and count) start to match the expected ones.

[2016-03-20 21:31] novemberborn commented on #198
@skozin I'll try and have a look at this tomorrow.

[2016-03-20 21:43] skozin commented on #198
@novemberborn Thanks a lot!

[2016-03-22 20:35] ItsCosmo opened #200 "Coverage when using mocha --watch"
nyc works as expected unless I add `--watch` flag to mocha, in which case no coverage is generated at all, nor is the `.nyc_output` folder populated with anything. Is this something that would be expected to work?

`NODE_ENV=test ./node_modules/.bin/nyc --require babel-core/register --reporter=lcov mocha "test/**/*spec.js" --require ./test/helper.js --watch`

[2016-03-22 21:29] novemberborn commented on #200
No. nyc only generates coverage when all child processes exit, which is not the case in `--watch` mode. You'll have to generate coverage separately I'm afraid.

[2016-03-22 21:29] #200 closed

[2016-03-23 10:24] MoOx opened #201 "--silent (and probably all option) are read when they should not ?"
[code]

I want npm to be silent, not nyc. Minor issue but wanted to report it :)
Maybe option should be first?

[2016-03-23 16:39] ben-eb opened #202 "Running nyc on child processes within child processes?"
I'm trying to find a solution to https://github.com/sindresorhus/ava/issues/604#issuecomment-200374272, where I want to be able to run AVA on each test file serially and output a global code coverage. I've got the start of a simple runner here:

[code]

This works great for running AVA on each file separately but it means that code coverage for the tests themselves are swallowed as nyc instruments

[2016-03-24 12:42] novemberborn commented on #202
@ben-eb I cloned <https://github.com/postcss/postcss-selector-parser>, saved your script as `runall.js` and changed the test script to `nyc node runall.js 'src/__tests__/*.js'`. I do get full coverage output:

[code]

Which repo were you trying with?

(I tried with `--all` but that crashed, probably due to #183)

[2016-03-24 12:58] ben-eb commented on #202
Was trying this out in a separate repo. That's good enough for me, thanks for your help. :+1:

[2016-03-24 12:58] #202 closed

[2016-03-24 13:18] novemberborn commented on #198
@skozin finally got round to this. First I compiled `index.js` directly (`$(npm bin)/babel index.js --out-dir build`) and switched the tests to use `./build/index.js`. The coverage report looked good:

![screen shot 2016-03-24 at 13 14 01](https://cloud.githubusercontent.com/assets/33538/14017879/54ef0296-f1c2-11e5-92cc-7457e64e252e.png)

I then looked more closely at the locations in your origina

[2016-03-24 13:21] novemberborn commented on #198
For future reference, using braces [in the arrow function](https://github.com/novemberborn/nyc-babel-issue-repro/commit/111f7424c704fd50fb8b2bbd003d7c347048f14f#diff-168726dbe96b3ce427e7fedce31bb0bcR69) also breaks the source map application.

The repo with the original test case and a workaround is at <https://github.com/novemberborn/nyc-babel-issue-repro>.

[2016-03-24 15:28] skozin commented on #198
@novemberborn, great, thanks for your help! I'll reformat my trenaries as a temporary solution.

And what do you think about incorrect Funcs numbers I described in previous comments?

Should I open another issue for this?

[2016-03-24 15:54] joerideg opened #203 "Running with `karma start` only covers karma.conf.js"
Hi,
I am trying to make my current build setup work with nyc.

Currently I have a karma setup that simply takes 1 .js file and runs 1 test from a .spec.js file.
Running `karma start` will output 1 succesfull test.

Now when I run it with nyc (globally installed) with `nyc karma start` it finishes succesfully but the coverage is showing coverage on the karma.conf.js?

The project is located [here](

[2016-03-24 16:38] novemberborn opened #204 "Can't enable cache in package.json nyc stanza"
This doesn't enable the cache:

[code]

I need to enable it through `nyc --cache`. @bcoe is this an issue with yargs maybe?

Also when will we enable the cache by default?

[2016-03-25 03:08] jamestalmage commented on #203
`nyc` only works to provide coverage for code run in forked Node.js processes. `karma` runs code in the browser - `nyc` is not the appropriate tool for providing coverage. See the karma docs. I believe they provide a recipe for coverage.

[2016-03-25 03:09] jamestalmage commented on #203
https://github.com/karma-runner/karma-coverage

[2016-03-25 04:14] #203 closed

[2016-03-25 06:07] bcoe commented on #204
@novemberborn what do the commands you're running look like, I'm able to enable the cache in the `nyc` block with `nyc@6.1.1` -- I do see an issue with config options not being passed to the `report` and `check-coverage` commands, which should be fixed (but I doubt is related).

Could you share the repo having issues?

[2016-03-25 08:13] joerideg commented on #203
ok thanks james!

[2016-03-25 15:16] novemberborn commented on #204
Yea sorry, it wasn't live before. See <https://github.com/novemberborn/x690>. `npm run coverage`. If I remove the `--cache` option and instead specify `"cache": true` I don't see `node_modules/.cache/nyc` being created. `argv.cache` in `bin/nyc.js` is `false`.

[2016-03-25 15:53] novemberborn commented on #198
@skozin if I take your `no-class` branch and apply the ternary workarounds I see the same uncovered lines as in the report for the built file (without source maps). I imagine any other mismatch is because of the ternary issue.

[2016-03-25 16:09] bcoe commented on #204
@novemberborn aha! see the problem, `nyc` is accidentally nested under `eslintConfig` rather than being at the top level.

[2016-03-25 16:12] novemberborn commented on #204
Duh :blush:

[2016-03-25 16:12] #204 closed

[2016-03-25 23:36] skozin commented on #198
@novemberborn, probably there is some misunderstanding here.

See, I run coverage on [`no-class-workaround` branch](https://github.com/skozin/nyc-babel-issue-repro/tree/no-class-workaround), which is the same as `no-class`, but with trenaries and arrow functions workarounds applied, and get the following:

[code]

HTML report shows `80% Functions 8/10`. These are the correct numbers.

Now I run th

[2016-03-26 00:21] skozin commented on #198
I've updated the branches to match more closely. Actually, now it's enough to see the diff, which now also contains coverage numbers: https://github.com/skozin/nyc-babel-issue-repro/compare/workaround...no-class-workaround.

[2016-03-26 03:31] skozin commented on #198
I'm not actually sure these invorrect functions numbers are caused by nyc, maybe this is an issue/feature in istanbul.

[2016-03-26 13:57] novemberborn commented on #198
@skozin yea I'm starting to think applying the source maps to Istanbul's coverage report is wrong. We need raw execution info, map that back to the original source, and then determine coverage.

Will keep your cases in mind when I/someone gets round to improving the behavior here.

[2016-03-26 20:21] thangngoc89 opened #205 "Make nyc works with mock-fs"
I'm using mock-fs in my tests for mocking fs.

All tests  passed when not using nyc. But when I run coverage with nyc. Both nyc and test fail. The process is killed.

Here is an example:

[code]

[code]

[2016-03-26 20:25] jamestalmage commented on #205
`mock-fs` is problematic. You can use `mountfs` to get around it. See https://github.com/sindresorhus/ava/issues/665

[2016-03-26 20:28] thangngoc89 commented on #205
Thank you. I'll give it a go

[2016-03-26 22:24] jamestalmage commented on #205
Even following the linked instructions, `nyc` causes the repo to fail.

See https://github.com/thangngoc89/nyc-mock-fs

I'm stumped. @novemberborn ?

[2016-03-26 22:34] jamestalmage commented on #205
Seems `promise-fs` is messing things up somehow, even though the file system is fully mocked.

See https://github.com/thangngoc89/nyc-mock-fs/pull/1.

Switching from `promise-fs` to just `pify` and `fs` fixes the problem.

[2016-03-28 00:30] willin opened #206 "'Branch not covered'"
https://github.com/gotwarlost/istanbul/issues/582#issuecomment-201318773

[2016-03-28 01:09] willin commented on #206
<img width="518" alt="qq20160328-1 2x" src="https://cloud.githubusercontent.com/assets/1890238/14068963/d4a31270-f4c4-11e5-852e-d35b52a64d59.png">

[2016-03-28 10:54] novemberborn commented on #206
Hey @willin we actually realized this the other day, see #198.

Didn't know Istanbul had some alpha branches that might fix this though. Thanks!

[2016-03-28 10:54] #206 closed

[2016-03-28 10:56] novemberborn commented on #198
@skozin apparently this may be solved in future Istanbul versions, though I don't know how compatible those will be with nyc. See https://github.com/gotwarlost/istanbul/issues/582#issuecomment-201318773

[2016-03-28 11:26] novemberborn commented on #205
`fs-promise` [uses](https://github.com/kevinbeaty/fs-promise/blob/4fa1d2d0d64f1c555302106b939c61b5a76ed75f/index.js#L3) `mz` which [tries to load](https://github.com/normalize/mz/blob/1704ccd4b630961deb437f79098cad0d46dd25ea/fs.js#L5) `graceful-fs`. Unfortunately `nyc` has a transitive dependency on `graceful-fs` as well. This means `fs-promise` ends up binding against the unmocked `graceful-fs`.

[2016-03-28 13:43] rpominov opened #207 "`include` option doesn't supported in CLI"
Can it be added to CLI options? I can submit a PR if it'll help.

[2016-03-28 15:09] jamestalmage commented on #205
Thanks for the in depth research @novemberborn.

Agreed.

[2016-03-28 15:09] #205 closed

[2016-03-28 16:26] bcoe commented on #205
This is definitely a danger with nyc having any library dependencies, I wonder if there should be a step where we clear the require-cache -- Isaacs told me this can be risky mind you, creating more opportunities for memory leaks.

[2016-03-28 18:02] novemberborn commented on #205
We might be better off reducing the dependencies we introduce into the child processes, possibly rewiring (à la proxyquire) any remaining dependencies so their bindings survive mocking.

[2016-03-28 18:07] jamestalmage commented on #205
Why not just shrinkwrap everything?

[2016-03-28 18:24] jamestalmage commented on #207
Do you have a use case where you are unable to just use the config in `package.json`?

[2016-03-28 18:32] rpominov commented on #207
Yeah, I'm building a tool that basically gives you an opinionated dev environment. It runs test compiles js etc. Also it does coverage, so nyc is just implementation detail of that tool, and nyc config have to be hidden from the tool's user. Currently I just pass all options via CLI, which works fine, except `include` can't be specified via CLI options.

Here is the link if you're interested https

[2016-03-29 00:13] sarbbottam opened #208 "Why the package name is `nyc`"
Wondering if it's an abbreviation, what does `nyc` mean?

[2016-03-29 09:46] novemberborn commented on #208
I imagine it stands for New York City, just like the Istanbul code coverage tool is named after the Turkish city.

[2016-03-29 14:54] jamestalmage commented on #208
https://youtu.be/fIBRw0dSu34

[2016-03-29 14:58] jamestalmage commented on #208
Closing as this is nobody's business but the Turks.

[2016-03-29 14:58] #208 closed

[2016-03-30 21:52] skozin commented on #198
@novemberborn, thanks for considering my cases, and for the link. Hope it will be compatible)

[2016-03-31 04:30] bcoe commented on #190
@arrowrowe this is a really interesting bug! I'd be interested to diff npm@3.8.1 vs. npm@3.7.3 -- I wonder if we touched anything in the script execution logic.

[2016-03-31 09:21] addaleax commented on #190
I think I understand this.

This has nothing to do with npm versions at all. As far as I can tell, it is because the Node.js distributions [have the shebang at the start of npm-cli.js replaced](https://github.com/nodejs/node/blob/33c27f8fcffd7b0c6d609fdd4503b4f7a3c45bcd/tools/install.py#L107-L117) with a (relative) reference to the Node.js executable.
This throws `spawn-wrap` off, though: It relie

[2016-03-31 11:23] arrowrowe commented on #190
Thanks a lot @addaleax! I will leave the right to close this issue to the owner @bcoe.

[2016-03-31 17:45] addaleax commented on #190
I think I’d be willing to write a patch for spawn-wrap which adds special handling for npm, if there’s a chance it gets landed. @bcoe, what do you think? izs seems to have abandoned that module, but given that you’re a member of npm and tapjs, I imagine you can assess the situation better than I do?

[2016-03-31 17:52] bcoe commented on #190
@addaleax wonderful find, yes please submit a patch to spawn-wrap and I can help land it.

[2016-03-31 17:54] bcoe commented on #190
@addaleax if I'm reading this correctly, does the issue arise when the platform is detected as `PORTABLE`?

[2016-03-31 18:08] addaleax commented on #190
@bcoe The issues arises either way. `PORTABLE` is set for generating the Node.js binary distribution tarballs, and is not set when running their `make install` in a source tree (I have tested this with both configurations). In any case the node binary is invoked using its full path, and that moves `PATH` out of the way.

[2016-03-31 19:39] bcoe commented on #205
@novemberborn @jamestalmage perhaps we start bundling dependencies for nyc ... as much as I'm not a fan of this approach, it does stop singletons from breaking.

[2016-03-31 19:56] jamestalmage commented on #205
What is the downside? I understand there are implications for a normal library, but for one that is basically guaranteed only to be used as a dev-dependency I think those downsides are mitigated somewhat.

We probably should seek outside opinions.

@isaacs @sindresorhus

[2016-03-31 20:34] sindresorhus commented on #205
ESLint recently tried bundling, but encountered an issue with bundledDependencies and npm@2: https://github.com/eslint/eslint/issues/5013

[2016-04-01 12:17] tp opened #209 "Return non-zero exit code when coverage is below required minimum"
Would you be open to discuss the possibility to return a non-zero exit code when the coverage is below the minimum thresholds set?

Or do you feel like this should be handled by external systems, working on the coverage data?

[2016-04-01 12:21] addaleax commented on #209
Is [this](https://github.com/bcoe/nyc#checking-coverage) what you are looking for?

[2016-04-01 12:25] tp commented on #209
Yes, adding `--check-coverage=true` gets the behavior that I wanted. :-) Thanks!

[2016-04-01 12:25] #209 closed

[2016-04-01 12:32] tp commented on #209
The only issue I have found is that this still returns 0 even when ava (the test command I use) returns a non-zero exit code because tests failed.

Wondering how to best check the test result and coverage in one go, or whether I need to analyze the output of the different tools to get a combined result.

[2016-04-01 12:48] addaleax commented on #209
I think that’s actually a bug, yep. For now, you should be able to run `nyc ava …` and `nyc check-coverage` separately to check their exit codes.

[2016-04-02 02:51] bcoe commented on #209
@tp shoot, yes we should patch this! please open an issue if you have a second, and patches very much welcome.

[2016-04-02 19:50] 59naga opened #211 "nyc was broken at nodejs 5.8.0 or greater than."
[can reproduce at this repository](https://github.com/59naga/boilerplate-commonjs-babel/blob/dcd8ae485efb8561be8ecc6e51d55eb6dad80ace/package.json#L21-L37).

[code]

[2016-04-02 20:14] addaleax commented on #211
This is the same problem as #190.

[2016-04-02 21:39] sarbbottam commented on #211
Could you try
 ```"cover:test": "nyc --reporter=lcov --reporter=text mocha --compilers js:babel-register",```
instead of
```"cover:test": "nyc --reporter=lcov --reporter=text npm test",```

![nyc-coverage](https://cloud.githubusercontent.com/assets/949380/14229152/9574fad0-f8e0-11e5-8bd6-01147c565b59.gif)

[2016-04-02 21:44] sarbbottam commented on #190
There is a work around to this, please refer [this comment](https://github.com/bcoe/nyc/issues/211#issuecomment-204807872) at #211, instead of `npm test`, if the command aliased to `npm test` is used, it works fine.

[2016-04-02 21:47] 59naga commented on #211
great! I'll to modify the scripts.

[2016-04-02 21:47] #211 closed

[2016-04-03 03:30] ericmdantas opened #213 "empty .nyc_output folder"
Hello,

I've been trying to run coverage of the simplest repo possible [here](https://github.com/ericmdantas/node-playground), but I can't get `.nyc_output` to be filled - which, I believe, leads me to the error:

[code]

I've run `$ nyc ava` and suchs and still don't have a `.nyc_output` folder filled. When it's generated, it's empty. The coverage shows in the console, but there's no files in the

[2016-04-03 03:33] sarbbottam commented on #213
could you try using
`"cov": "nyc ava **/*_test.js",`

instead of
`"cov": "nyc npm t",`

[2016-04-03 04:07] bcoe commented on #190
@addaleax what's a good email to use for you, I'd love to get you into our slack so we can debug this issue.

[2016-04-03 10:12] addaleax commented on #190
@bcoe anna@addaleax.net works fine, but I won’t have much time until the CEST evening :)

[2016-04-03 14:49] ericmdantas commented on #213
That did it, @sarbbottam! Thanks :smile:

[2016-04-03 14:49] #213 closed

[2016-04-03 17:33] jmdobry opened #215 "Html report broken"
nyc appears to correctly report code coverage when it prints to the console:

<img width="627" alt="screen shot 2016-04-03 at 10 24 13 am" src="https://cloud.githubusercontent.com/assets/1213510/14233761/6b1beda6-f986-11e5-895c-9cf6c17e2210.png">

But when I then run `nyc report --reporter=html` the generated html report is useless:

<img width="536" alt="screen shot 2016-04-03 at 10 24 58 am" src

[2016-04-03 18:10] jmdobry commented on #215
Okay, my problem is that I'm transpiling and bundling my sources from running the tests, instead of letting ava transpile my sources.

[2016-04-03 18:20] jamestalmage commented on #215
@jmdobry

Your best bet is to transpile with source-maps (either embedded our external `.map` linked files).

If you don't want to deploy source-maps, transpile to `protectDir/build` with embedded source-maps, and use those for testing, transpile to `projectDir/lib` for deploying (without source-maps). I usually do it this way anyways, and add `projectDir/build` to `.gitignore` - that way the `dis

[2016-04-03 18:22] jamestalmage commented on #215
Closing. Feel free to open another issue if you think there's something `nyc` can do to make this less painful.

[2016-04-03 20:24] jmdobry commented on #215
This is what I ended up with:

[code]

Which now gives me coverage reporting for individual source files. However, at the very first occurence of a "not covered branch" in the html report, the css paints the entire rest of the page yellow.

[2016-04-03 20:27] jamestalmage commented on #215
Try adding `sourceMaps: "inline"` to the babel portion of the config.

[2016-04-03 20:39] jmdobry commented on #215
Didn't make a difference. If I inspect the html, the first occurrence of a "not covered branch" starts with:

[code]

Instead of that `span` closing at the end of the not covered code, it continues and the entire rest of the page's html is nested under that `span`, and is therefore painted yellow because of the `cbranch-no` class.

[2016-04-03 20:48] jamestalmage commented on #215
Hmm. That almost seems like an istanbul issue. I'm not sure how our source-map remapping could impact that.

[2016-04-03 21:31] jmdobry commented on #215
I guess it's not a big deal, it just forces me to add coverage from the top of the file on down.

[2016-04-03 21:32] addaleax commented on #190
@bcoe Seen? Would like to delete the comment with my raw email address if that’s okay. :smile:

[2016-04-03 21:58] jamestalmage commented on #215
It should be fixed. Either in istanbul or here.

[2016-04-03 21:59] jamestalmage commented on #215
@jmdobry - Can you create a minimal reproduction on GItHub that @novemberborn and I can clone and play with.

[2016-04-03 22:23] bcoe commented on #190
@sarbbottam @arrowrowe @addaleax give this a shot:

`npm i nyc@bundle-test`

It's bundled with a version of `spawn-wrap` that should fix this underlying bug.

[2016-04-03 22:25] bcoe commented on #205
@thangngoc89 @novemberborn @jamestalmage give this branch a shot on a few of your repos:

`npm i nyc@bundle-test`

I've started bundling dependencies, it should also fix the issue with `node 5.8.0`.

[2016-04-03 22:28] jmdobry commented on #215
There may already be an open issue: gotwarlost/istanbul#557

[2016-04-03 22:35] addaleax commented on #190
@bcoe Yup, seems to work

[2016-04-03 22:41] sarbbottam commented on #190
@bcoe awesome, it saves me from repeating.

[2016-04-04 00:13] arrowrowe commented on #190
@bcoe :+1:  the fix works for straight-forward scripts like [this](https://travis-ci.org/arrowrowe/romi/jobs/120512370) (`nyc npm run test:only`, with `npm run test:only` equivalent to `ava`), but fails for more complex calling like [this](https://travis-ci.org/arrowrowe/romi/jobs/120511565) (`nyc npm run test:easy`, with `npm run test:easy` equivalent to `npm run lint && npm run test:only` and `n

[2016-04-04 00:35] jamestalmage commented on #190
@arrowrowe
You almost certainly don't want `npm run lint` being run with coverage, so your first link is the better way to do it. Also, I would avoid using `npm run` for such short commands (loading up `npm` does have some overhead, and your existing commands are really short).

If I were you, `package.json` would look like this:

[code]

Also, IMO the `lint` and `test:easy` scripts are pretty use

[2016-04-04 01:00] arrowrowe commented on #190
@jamestalmage thanks for the advice! It does benefit shortening scripts. I didn't notice the fact that my tortuous usage put `npm run lint` under coverage as well :(. And making scripts recursively call themselves is no more than a bad personal habit, which I will remember to avoid later on. The global usage of AVA and XO is cool; it is just sometimes there are different test suits across projects

[2016-04-04 01:09] jamestalmage commented on #190
Indeed, that's a good reason to use it. If you consistently use `test:only` and `test:easy` for all projects in your organization - that is good reason to include those scripts in `package.json` as well. It serves as documentation on the sort of build commands that can be run. I was just pointing out that there are shortcuts which should run a little faster.

[2016-04-04 01:24] addaleax commented on #190
I think it’s quite okay. Either way, the issue with running nyc + recursive npm scripts should be fixed soon, too.

[2016-04-04 01:25] thangngoc89 commented on #205
@bcoe nice. Test passed in https://github.com/thangngoc89/nyc-mock-fs . I'll take another look at it with a real app at the end of the day

[2016-04-04 02:46] jamestalmage commented on #190
Agreed - it's not a mistake to do so, just a bit verbose in this particular case.

[2016-04-04 09:51] novemberborn commented on #190
@jamestalmage I doubt this has any adverse effects though. The linter code wouldn't be instrumented and it would use the filesystem to access the code.

[2016-04-04 20:09] jamestalmage commented on #190
Wrapping with `spawn-wrap` and `foreground-child` have their cost. The use of `append-transform` has (minimally) adverse affects on require time. The affect should be minimal however.

[2016-04-05 05:36] bcoe commented on #190
@addaleax @arrowrowe can we close this at this point? If you run:

`npm i nyc@next`

We've landed various fixes to the `5.8.0` bug.

[2016-04-05 06:26] arrowrowe commented on #190
@bcoe good to me now! :100:

[2016-04-05 06:42] MoOx commented on #190
Maybe close when you cut a stable release? (This helps people tracking the issue to now when it's "stable").

[2016-04-06 15:41] ricoli opened #225 "double "npm" on execution"
So I have an npm script called unit:coverage that goes like this:
```nyc --cache --require babel-core/register --reporter=text-lcov --reporter=lcov --reportDir=test/reports/coverage/unit npm --verbose unit:report```

when running ```npm unit:coverage``` inside a docker container, I'm getting this:
[code]

As you can see, it's calling ```/usr/bin/nodejs /usr/bin/npm /root/.node-spawn-wrap-13-f4de9a

[2016-04-06 16:27] bcoe commented on #225
@ricoli can you try `+latest: nyc@6.2.1`. I just released `6.2.1` with some fixes for `Node 5.8.0`.

[2016-04-06 16:28] bcoe commented on #190
`nyc@6.2.1` is released.

[2016-04-06 16:28] #190 closed

[2016-04-06 16:29] bcoe commented on #179
the name nyc, and this project, seems to be getting some traction ... I think we can stick with the short hard to search name at this point.

[2016-04-06 16:29] #179 closed

[2016-04-06 16:33] ricoli commented on #225
Just noticed a few seconds before your reply that you published a new version - trying it now :)

[2016-04-06 16:42] ricoli commented on #225
Alas, still happens when using version 6.2.1 (spawn-wrap version 1.2.0)

[2016-04-06 17:07] bcoe commented on #225
@ricoli could you share a link with a minimal failing example?

@addaleax does anything jump out at you?

[2016-04-06 19:14] ricoli commented on #225
Sure, could you please ```docker run ricoli/nyc-debug```?

[2016-04-06 19:39] ricoli commented on #225
The dockerfile:
[code]
The package.json:
[code]

[2016-04-06 21:53] addaleax commented on #225
@bcoe I think I already mentioned tapjs/spawn-wrap#19 somewhere around here… anyway, I know the bug and that PR contains the fix for it.

[2016-04-07 08:56] ricoli commented on #225
@bcoe I've just tested the newly released spawn-wrap 1.2.1 and indeed it fixes this problem. Since you bundle the dependencies, could you republish to npm with newest spawn-wrap please?

[2016-04-07 14:52] ricoli commented on #225
cheeky ping to @bcoe :)

[2016-04-08 23:50] bcoe commented on #225
@ricoli hey \o/ give this a shot:

`npm i nyc@next`

If this does the trick I'll promote it to `latest`.

[2016-04-10 19:54] ricoli commented on #225
@bcoe just tried v6.3.0 and it worked great :)

[2016-04-10 20:18] bcoe commented on #225
@ricoli awesome, should be rolling out the new `nyc` tonight, just working on landing one more feature.

[2016-04-11 00:16] #207 closed

[2016-04-11 00:41] bcoe commented on #51
@BridgeAR we've made quite a few changes to the spawning parts of `nyc` since this issue was opened, is this something you're still seeing?

[2016-04-11 00:44] bcoe commented on #128
@addaleax thanks \o/ see:

https://github.com/bcoe/nyc/pull/224

[2016-04-11 00:44] #128 closed

[2016-04-11 00:45] bcoe commented on #146
as @isaacs indicates, the problem is most likely that files that weren't instrumented suddenly started being instrumented 👍

[2016-04-11 00:45] #146 closed

[2016-04-11 00:47] bcoe commented on #171
@kentcdodds hey :) where does this stand. Do you want to take a stab at this feature, should we try to encourage someone else to implement this feature

[2016-04-11 00:52] kentcdodds commented on #171
Would be awesome to set it up as a `first-timers-only` issue :+1: though, I'm not certain I know all that needs to happen for it to be implemented...

[2016-04-11 01:47] bcoe commented on #34
@boennemann could you create an up-to-date reproduction of this issue? @addaleax offered to help dig into the issue.

Alternatively, if everything is working well now perhaps we can close this?

[2016-04-11 02:48] bcoe commented on #225
@ricoli this is now released in `6.4.0`.

[2016-04-11 02:48] #225 closed

[2016-04-13 09:42] havenchyk opened #229 "TS support w/ webpack"
I'm following this issue https://github.com/bcoe/nyc/issues/176 and wondering, how can I set coverage for my tests in `ava` with help of nyc.

What I did is:
- transpile my tests from TS to es2015 with sourcemaps
- run `nyc ava`

and I've got something like this

![img](http://i.imgur.com/FAZ04Li.png)

[2016-04-14 07:38] nana4gonta opened #230 "Syntax Error occuers when npm command is wrapped in shell script"
I'm trying to output the TypeScript code coverage.
But, the following error occurs when npm command is wrapped like nodenv.
(Although I don't put execution results, `npm run test` succeeds.)

package.json:

[code]

run npm scripts:

[code]

Error is output in this line in the case of nodenv, but any other shell scripts that wraps `npm` becomes errors.

[2016-04-14 08:27] addaleax commented on #230
@nana4gonta Thanks for the report! As long as you consistently use `nodenv`, you should be able to work around this by using `nyc $(nodenv which npm) test` instead of `nyc npm test` in your package.json.
Or, if you only want to apply this for when you run the script manually, set `PATH="$(dirname $(nodenv which npm)):$PATH"` in your shell (you can copy-paste that, at least if it’s bash).

@bcoe I

[2016-04-14 08:56] novemberborn commented on #229
Could you provide more detail regarding your setup? Where does WebPack come in?

nyc can't figure out source-mapped coverage for WebPack inputs.

[2016-04-14 09:10] havenchyk commented on #229
@novemberborn sorry, I meant **without**  Wepback. At #176 the question was mostly about webpack, but I don't use it and would like to know in general, how to set up code coverage. I'll share my soon.

[2016-04-14 09:10] novemberborn commented on #230
@addaleax I'm using nodenv myself (version 1.0.0) and nyc@6.4.0 works fine. Just ran this locally: <https://github.com/novemberborn/x690/blob/0414cd992cce2f9ab6fd610c6c85729d09888176/package.json#L21>

This is with node v5.10.1 and npm v3.8.6 (installed through `npm i -g npm@next` some time ago).

[2016-04-14 09:31] addaleax commented on #230
@novemberborn You’re right, this *should* work… @nana4gonta Could you maybe post the outputs of `echo $PATH` and `npm run env | grep ^PATH` (no nyc or anything)? That might be very helpful in debugging this.

[2016-04-14 17:49] othiym23 opened #231 "nyc causes tests to fail under Node 0.8, 0.10, and 0.12"
The title is a little vague because I haven't had time to isolate the actual failure. You can see it in [this Travis build](https://travis-ci.org/npm/npm/builds/122993477). The failure is the same in all cases:

[code]

That build was run against [this branch](https://github.com/npm/npm/commits/othiym23/restandardificationated) of the npm CLI. I'm very impressed with how well `nyc` handles npm's t

[2016-04-14 18:05] bcoe commented on #231
@addaleax I told @othiym23 I'd been working with someone who's addicted to debugging hard issues like this, don't suppose this might be a class of problem you could help with?

We'd love to get coverage working for all of npm's tests.

[2016-04-14 18:22] iarna commented on #231
The code in question is:
[code]
Current node that is complete, but older versions you couldn't call `Object.keys` on things storing literals, eg:
[code]
Now why this wouldn't fail w/o nyc, I can't guess? I would expect this to consistently fail on older nodes period.

[2016-04-14 18:24] iarna commented on #231
And yeah, it does fail for me w/o nyc, so I think this is a false alarm.

[2016-04-14 18:37] bcoe commented on #231
@iarna @othiym23 @addaleax, interesting, let's keep this open for a bit until we get npm green?

[2016-04-14 19:06] addaleax commented on #231
Yep, pretty sure this is not related to nyc. There are [these objects](https://github.com/npm/npm/blob/785f3559717f989a3698ff64abb7ffab0026330d/test/tap/unit-gentlyrm.js#L347-L348) in the test file that look like `{ …, managed: false }`, which get passed to `makeObjUsePlatformPaths`. And that doesn’t work because `makeObjUsePlatformPaths` cannot handle booleans.

[2016-04-14 20:34] othiym23 commented on #231
Closing as not a problem with nyc. Thanks for your eyeballs, @addaleax, and thanks to all for taking a look!

[2016-04-14 20:34] #231 closed

[2016-04-15 02:03] nana4gonta commented on #230
@addaleax
I tried `nyc $(nodenv which npm) test`, but same error occuers.

`echo $PATH`:
[code]

`npm run env | grep ^PATH`:
[code]

And, my env is node v5.10.0, npm v3.8.6 on OSX.

[2016-04-15 02:13] addaleax commented on #230
This is really weird, everything looks good. There is a `/usr/local/Cellar/node/5.10.0/bin/npm`… right? Is the installation in `/usr/local/Cellar/node/5.10.0` from a manually downloaded tarball or `nodenv install`?

[2016-04-15 05:14] nana4gonta commented on #230
I don't know why there is `/usr/local/Cellar/node/5.10.0/bin/`.
I installed node v5.10.0 using Homebrew, and nodenv using [anyenv](https://github.com/riywo/anyenv).

[2016-04-15 05:16] nana4gonta commented on #230
And, Although it is not nodenv, I have no choice but to run `npm` is wrapped in shell script.
(`npm` is `exec node` shell script that give node-cli is made with `require('npm')` arguments)
(I'm sorry, I cannot paste code :( )

I wonder if nyc can support this case.

[2016-04-15 05:33] addaleax commented on #230
Are you talking about a shell script that you wrote, or something installed by nodenv? If it’s something by you, and you can’t publish code from it, then I’m not sure we can help you.

nyc currently makes the assumption that `npm` is not a shell script, but some JS file executed using `node`. We’ve had some trouble with `nyc npm run …` in the past, and so, unfortunately, had to treat `npm` command

[2016-04-15 07:50] nana4gonta commented on #230
Sorry, https://github.com/bcoe/nyc/issues/230#issuecomment-210289972 is talking about my env(want to run code, not OSX).
Regarding my env case, I will be looking for another way.

And, though about nodenv, Here is the result of `npm run which-npm`:
[code]

I tried a few command and found:
- Homebrew insert `/usr/local/Cellar/node/5.10.0/bin/` `npm run env` probably.
- npm use abobe `/Users/xxx/.an

[2016-04-15 07:56] addaleax commented on #230
Ah yes, that makes sense that things fail only when `nodenv` uses the `system` installation… is that workaround acceptable for you?

I think I’ll make a PR for nodenv that would address this, too.

[2016-04-15 08:13] nana4gonta commented on #230
Thanks.
Because I happen to use `system`, I will specify node version so It's OK.

[2016-04-15 09:10] addaleax commented on #230
nodenv/nodenv#48 – It’s at least worth a shot.

[2016-04-18 23:10] kirbysayshi opened #232 "--include prevents require hooks from executing on unmatched but required files"
If you have a project like:

[code]

[code]

[code]

And then run:

[code]

`./tools/require-extensions/hbs.js` will execute once, but the execution of `lib/file1.js` will fail (and no "HBS!" logs will be seen). The error will imply that node either couldn't load the `.hbs` file or something like `undefined is not a function` due to `template` being undefined.

But if one removes the `--include` f

[2016-04-18 23:23] kirbysayshi commented on #232
Also, another reason I was using the `--include` arg was because the project I'm working on has multiple entry points (views), but shared code between them. So we run tests+coverage for each entry point. The `--include` flag is an easy way of whitelisting the entry-point-specific code, without having to blacklist all the shared code.

[2016-04-20 16:43] novemberborn commented on #232
@kirbysayshi any chance you could share a more complete setup? Perhaps in a repo?

nyc shouldn't even recognize the `.hbs` extension so I'm not sure how it would prevent any code execution.

[2016-04-24 21:04] gdeoliveira opened #234 "Feature request: standalone configuration file"
While working on projects that do not have a `package.json` file present it would be nice to still be able to pass options to `nyc`. Would you consider adding support for an alternative standalone configuration file similar to `istanbul`'s `.istanbul.yml`?

[2016-04-26 12:45] doque opened #235 "TypeError: Cannot read property '2' of undefined when avoiding require() cache"
I have a module which has a conditional export:

[code]

Due to node's `require()` caching modules, I'm using [require-reload](https://www.npmjs.com/package/require-reload) to hot-reload the module for each of my tests, depending on a mocked `someConditional()`:

[code]

**This works fine for the tests, the module is reloaded and exports the appropriate json.**

However, it breaks the test coverag

[2016-04-26 13:15] doque commented on #235
The error still occurs after removing the `require-reload` part entirely and importing the module just once.

[2016-04-26 15:12] novemberborn commented on #235
Looks like Istanbul has trouble instrumenting the code. I've seen issues before with ternary operators and Istanbul before. Try placing `? numbers.cars` and `: merge…` on separate lines, that might help.

[2016-04-27 08:47] doque commented on #235
I've pinpointed the issue - renaming the file from `constants.js` to `constants.jsx` solves the problem. Tests run through and reporting works. This is very strange. I've enabled both extensions in the package.json file.

I've also set up a git repo that demonstrates this bug: https://github.com/doque/break_coverage
Pleas note that any reference to `require-reload` or `_.merge` is gone, but the bu

[2016-04-27 09:30] doque commented on #235
I've found the issue - adding `.js` as an extension breaks the reporting, like this:
[code]

This is due to the fact that the `.js` extension is always added by default: https://github.com/bcoe/nyc/blob/master/index.js#L59
So having the duplicate `.js` extension breaks the reporting.

[2016-04-27 09:30] #235 closed

[2016-04-27 09:40] doque opened #236 "Duplicate '.js' extension breaks coverage report"
Like discussed in #235, adding the `.js` extension (either via command line or package.json) breaks the test coverage report, as it results in duplicate array elements.

I've set up a git repository to reproduce this bug here: https://github.com/doque/break_coverage.
You can switch between the branches to see that it works when removing the '.js' extension (or if you use my fork), see the README.

[2016-04-27 13:43] bahmutov opened #238 "How to detect covered modules exit but not preloaded ones?"
Hi everyone,

I working on a tool called "liverage" that makes nyc coverage events a "live" stream that any client can connect to over a web socket. The goal is to make observing real time server coverage as simple as possible. The current setup that works is to load module `liverage` as a required one when running `nyc`. `liverage` installs mock global coverage object with setters and getters so

[2016-04-27 14:57] xjamundx opened #239 "Cannot read property 'start' of undefined"
## Reproduction Steps

1. Create an `index.js` file which uses babel-register, destructuring and a binary expression:

[code]

2. Run `nyc` with html reporter and `ava`:

`./node_modules/.bin/nyc --reporter html ./node_modules/.bin/ava ./index.js `

**Error**
[code]

You can also try this out in my repo here which is hooked up with this problem:
https://github.com/xjamundx/nyc-broke

[2016-04-27 15:03] novemberborn commented on #238
You should be able to [`unref()` your server](https://nodejs.org/api/net.html#net_server_unref). This "will allow the program to exit if this is the only active server in the event system." I haven't checked whether this is accessible in your web socket implementation.

Liverage seems neat! FYI I'm experimenting with replacing Istanbul for code coverage, and my approach would have streams bulit-in

[2016-04-27 15:11] bahmutov commented on #238
Thanks for the quick reply, yeah, I was looking at your Copenhagen module (as I was sitting in the namesake city working on liverage) and making the coverage a stream would be great and powerful feature.

[2016-04-27 15:11] #238 closed

[2016-04-27 15:42] novemberborn commented on #239
Looks like corrupted coverage data is being output by nyc, and it's tripping up the HTML reporter. If you could share your code, or even better an isolated reproduction, that would help in tracking this down.

[2016-04-27 15:48] xjamundx commented on #239
Thanks @novemberborn working on doing just that :)

[2016-04-27 16:44] xjamundx commented on #239
Okay this is fun.. It was a lot of code, but now we're down to:

**feedback.js**
[code]

**feedback.test.js**
[code]

Also might be good to know that my `ava` config looks like this:
[code]

The other variable appears to be the location of the feedback.js file, which sounds weird, but let me explain. My root is `~/dev/myco/myapp` and feedback.js file was originally in `~/dev/myco/myapp/public/js/c

[2016-04-27 16:47] xjamundx commented on #239
[code]

[2016-04-27 16:58] novemberborn commented on #239
That seems pretty minimal. Move it as high up as you can while still reproducing the issue. If you could share a GitHub repo that'd be great.

Coverage is only generated for `feedback.js`? We've had issues with `__tests__` test code being instrumented by nyc, though that should be fixed both here and in AVA.

[2016-04-27 17:01] xjamundx commented on #239
FYI using node6 (instead of `babel-register` to handle destructuring) makes the issue dissapear

[2016-04-27 17:01] xjamundx commented on #239
@novemberborn yeah so that's the annoying thing. when i create a fresh directory it won't repro (yet). Still trying to figure out what other variables might exist....

[2016-04-27 17:07] novemberborn commented on #239
Both AVA and nyc use `node_modules/.cache` for their caches. However, before you go and wipe that directory, perhaps try the following:

1. Copy/paste the entire project folder
1. In *that* copy, `rm -rf node_modules` and reinstall
1. See if that reproduces
1. If not, copy/paste again and `rm -rf node_modules/.caches`, see if that reproduces

If the problem goes away then I'd say this might just b

[2016-04-27 17:35] xjamundx commented on #239
Yeah it's one of those terrible things.

I now have `./public/js/bad.js` and `./test.js` I can repro the error 100% of the time with this command:
`./node_modules/.bin/nyc ./node_modules/.bin/ava ./test.js`

**test.js**
[code]

**bad.js**
[code]

**.nyc_output/57463.json**
[code]

**BUT**

If I simply do this

1. `cp -r public not-public`
2. update `test.js` to point to `not-public` instead of `pu

[2016-04-27 17:48] xjamundx commented on #239
- ❌ `./node_modules/.bin/nyc --reporter lcov ./node_modules/.bin/ava ./test.js`
- ❌ `./node_modules/.bin/nyc --reporter html ./node_modules/.bin/ava ./test.js`
- ✅ `./node_modules/.bin/nyc --reporter lcov ./node_modules/.bin/ava ./test.js`

[2016-04-27 18:05] xjamundx commented on #239
Even more bazaar:

1. `mv public not-public`
2. update `test.js`  to point to `not-public` instead of `public`
3. run the `nyc` command

not failing, but fails in the original place

[2016-04-27 18:18] #236 closed

[2016-04-27 18:18] xjamundx commented on #239
Yeah it has to be inside of `public/js` to fail. If I move it to `public` or `public/ghost` it will not fail, but if it's inside `public/js/tent` or `public/js/snooze` it will fail. That's what I'm thinking it's some weird caching thing that ties to the directory name.

A new repo created from scratch doesn't have any of these issues and it doesn't care about the folder name. Will try nuking my `n

[2016-04-27 19:02] bcoe commented on #236
@doque give this a spin:

`npm i nyc@next`

If it's doing the trick I'll promote the candidate release to `latest`.

[2016-04-27 19:29] novemberborn commented on #239
@xjamundx would you mind putting up a GitHub repo with your reproduction? I'll try and reproduce it locally when I get a chance.

[2016-04-27 19:52] xjamundx commented on #239
@novemberborn still struggling with getting it to work outside of my main repo, but I have a few ideas of how to do it.

[2016-04-27 21:03] xjamundx commented on #239
@novemberborn my branch now repros the issue with `npm test`:
https://github.com/xjamundx/nyc-broke

[2016-04-27 21:06] xjamundx commented on #239
Will update the description with reproduction steps

[2016-04-28 08:17] doque commented on #236
Works like a charm: https://github.com/doque/break_coverage

Thanks!

[2016-04-28 17:06] sindresorhus commented on #234
You can add a package.json file with just the nyc config:

[code]

[2016-04-28 18:11] jamestalmage commented on #234
I agree with @sindresorhus. The contents of an nyc config are just not substantial enough to warrant their own file. It drives me crazy that even a minimal project needs nearly 10 files, only two of which (`index.js` and `test.js`) contain code. I don't want to pile more files in the base dir of projects for no good reason.

[2016-04-28 18:31] bcoe commented on #234
@gdeoliveira does @sindresorhus' approach of an empty package.json do the trick for you?

[2016-04-28 20:07] JimmyBoh commented on #229
I am also working on this, coverage support for Typescript files without the use of webpack (I have a `dist` folder that contains the pre-transpiled javascript). I will share my experiences shortly.

[2016-04-28 20:43] JimmyBoh commented on #229
[Here is my repo](https://github.com/JimmyBoh/storm) for a node module where it is currently implemented. My basic setup is all TS files are in `src` and they transpile into `dist`. I even got it working with [Coveralls.io](https://coveralls.io/github/JimmyBoh/storm).

The crazy thing is that I see the same thing as @havenchyk when I run `nyc ava` from the command line. It only works when I run `g

[2016-04-28 21:45] gdeoliveira commented on #234
Just to clarify I wasn't proposing to move the configuration of the tool to a separate file when a `package.json` file is available, merely that it would be nice to be able to configure `nyc` on a non-node project via a secondary/alternative configuration file.

@bcoe It's a nice workaround but I think I'll stick to passing the options directly to the tool for the time being.

[2016-04-29 20:53] kirbysayshi commented on #232
@novemberborn I tried to reproduce this today with a new repo, and even tried with the internal code that initially prompted this report. nyc seems fine now! Not sure what I was doing wrong. Very sorry for the inconvenience of this bug report!

[2016-04-29 20:53] #232 closed

[2016-05-01 18:20] bcoe commented on #239
@xjamundx thanks for providing a reproduction, I will dig into this early next week if no one else gets to it 👍

[2016-05-02 00:43] rmg opened #241 "Error from coveralls.io API fails build"
After a successful test run, if the coveralls.io API returns an error the process exits with non-zero, which makes the tests appear to have failed.

[2016-05-02 00:51] rmg commented on #241
Posted this before actually looking into it. Then I found the code that is probably the cause of the behaviour in node-tap's [bin/run.js:390-398](https://github.com/tapjs/node-tap/blob/d5e11d0f660ac0a38b486adfb505b28a02e51fd3/bin/run.js#L390-L398)

[2016-05-02 00:51] #241 closed

[2016-05-03 21:46] kentcdodds commented on #239
Another test case for you. This code triggered the same issue:

[code]

Changing it to this fixed the issue:

[code]

[2016-05-03 23:57] reggi opened #244 "nyc npm test --all"
Running into an issue when I use the `--all` flag.

[code]

[2016-05-04 00:15] reggi commented on #244
EYEGOTIT.

`nf run -- nyc --all --require babel-core/register --require babel-polyfill npm test`

[2016-05-04 00:15] #244 closed

[2016-05-04 00:20] bcoe commented on #244
@reggi \o/

[2016-05-04 10:01] dead-horse opened #245 "bundle dependence `foreground-child` didn't publish to npm in nyc@6.4.2"
[code]

and it is fine in 6.4.1

[2016-05-04 10:06] thangngoc89 opened #246 "nyc@6.4.2 broken in test that use mock-fs"
I reported this issue before and it was fixed (https://github.com/bcoe/nyc/issues/205).

But I noticed that in nyc@6.4.2, the issue comes back. It's fine with nyc@6.4.1

See build: https://travis-ci.org/MoOx/phenomic/jobs/127717652

[2016-05-06 05:10] bcoe commented on #246
@thangngoc89 this should be fixed in `nyc@6.4.3`.

tldr; we need to figure out a better way to bundle dependencies.

[2016-05-06 05:10] #246 closed

[2016-05-06 05:11] bcoe commented on #245
@dead-horse this should be fixed in `nyc@6.4.3`.

we need to figure out a better release process around bundling dependencies.

[2016-05-06 05:11] #245 closed

[2016-05-06 05:11] thangngoc89 commented on #246
@bcoe Thanks a lot for this. Maybe you can use my test to detect this kind of issue

[2016-05-06 05:14] bcoe opened #249 "perfect release process"
## The Problem

It's important that we bundle dependencies for `nyc`; since nyc loads before other libraries, and has many dependencies itself, it can cause problems when these dependencies use a singleton pattern.

By bundling dependencies, we circumvent this problem because dependencies are loaded from a separate location on disk.

Unfortunately, if `nyc` is bundled with `npm > 2.x`, there is a

[2016-05-06 05:37] jamestalmage commented on #249
I don't think bundled deps are flattened though:

[code]

The `ls` command produces:

[code]

And sure enough, `lodash` is not bundled.

Without bundling, `node_modules` would contain a whole lot more.

It seems to me, we should just write an extra test that checks the following:

[code]

[2016-05-06 05:40] jamestalmage commented on #249
https://github.com/gajus/bundle-dependencies

[2016-05-06 06:07] bcoe commented on #246
@thangngoc89 did this fix things for you?

[2016-05-06 06:09] bcoe commented on #249
@jamestalmage story checks out, even with a fresh publish using `node 6.0.0 and npm 3.8.6` I wonder why we had a couple weird regressions in the last publish then?

https://github.com/bcoe/nyc/issues/245
https://github.com/bcoe/nyc/issues/246

[2016-05-06 06:22] thangngoc89 commented on #246
@bcoe yes, it did

[2016-05-06 06:27] jamestalmage commented on #249
Hmm. Not sure.

Did you maybe `npm install` with with `npm@3` and `npm publish` with `npm@2`?

If `npm@2` bundles expecting everything to be nested, but `npm@3` installs the flat directory structure, that would cause some transitive dependencies to be missed. But that doesn't explain `foreground-child`, so really, no idea.

The better solution might be to rely on something like [`np`](https://gith

[2016-05-06 20:12] bcoe commented on #249
CC: @thangngoc89 trying to figure out why bundle-dependencies behaves differently for you on V2 vs V3 of npm.

[2016-05-07 06:45] thangngoc89 commented on #249
@bcoe Thanks you. Please tell me if I can do anything to help with this.

[2016-05-07 15:44] novemberborn commented on #249
@bcoe there's something else that's weird with the bundled dependencies.

When I install nyc (`npm i nyc`), the `package.json` files for the bundled dependencies contain a `_resolved` prop that points at an IP address. E.g. for `strip-bom` I see <http://52.202.166.115/s/strip-bom/_attachments/strip-bom-3.0.0.tgz>. Looks like 6.4.2 was pointing at <http://52.90.65.171>.

If you then generate a shri

[2016-05-07 16:56] bcoe commented on #249
@novemberborn I'm currently benchmarking an alternate registry, which would explain where that IP address was coming from. Without shrink-wrapping myself, I didn't realize that this URL would be hard-coded as a result of bundling dependencies.

[2016-05-07 17:28] bcoe commented on #249
@novemberborn @thangngoc89 give `npm i nyc@next` a spin, hopefully addresses the URL issue and doesn't introduce a regression with `mock-fs`.

[2016-05-09 10:21] novemberborn commented on #249
@bcoe URL issue is still there with `6.4.4.`.

[2016-05-09 10:50] novemberborn commented on #239
@xjamundx playing with the reproduction now. I think Istanbul's HTML reporter is simply failing to produce the report. If I change the scripts to:

[code]

I get 100% coverage in the `test` output:

[code]

But the `posttest` fails.

I don't think there's much nyc can do about this. Like @kentcdodds found, sometimes the code needs to be changed for Istanbul to be happy.

(I'm excluding `index.js`

[2016-05-09 10:59] novemberborn commented on #239
I spoke too soon. The HTML report is crashing because there are no statements in the coverage data:

[code]

Here I changed the `feedback.js` file to `var { a } = true && {}`.

If I run this with Node 6 and disable `babel-register` I get this data:

[code]

`babel-register` emits ES5 code, coverage for which is mapped back to the original source through source maps. It looks like we're able to map

[2016-05-11 07:55] ORESoftware opened #256 "Support Q => mitigate istanbul and nyc both using coverage dir"
Looks like NYC and Istanbul both write to the coverage dir - perhaps I should just use NYC only and not use Istanbul at all - but right now I am using both and they both write to the coverage directory.

Any recommendations on how to mitigate this? The problem I see is that when I run "nyc report --lcov-reporter" it will overwrite the previous report that may be from Istanbul.

[2016-05-11 08:16] ORESoftware opened #257 "Support Q => multiple child_processes seem to cause problems"
this command works

`node index test/some-dir-of-files`

but this doesn't

`nyc node index test/some-dir-of-files`

however if I do this

`nyc node index test/some-dir-of-files/fileA`

it will work

so my suspicion is that there may be some issue running multiple child processes? Any idea? Let me know if you would like more info, as this is probably not enough to go on.

[2016-05-11 08:27] addaleax commented on #257
What do you mean by “does not work”? nyc spawns only a single child process in that case, namely `node index test/some-dir-of-files`, so it really should work. What platform are you on, and do you have some kind of reproducible test case?

[2016-05-11 08:38] ORESoftware commented on #257
I am on OSX, I don't have much more info to give you now, but let me try to dig further to get more clues. By "does not work", I mean that the program execution was not identical. Ideally the program will run exactly the same whether it was run with nyc node or just plain node, in this case, it was not identical at all and I am not sure why yet.

[2016-05-11 09:20] novemberborn commented on #256
You can use `--report-dir` to change the directory nyc writes its coverage report to.

[2016-05-11 09:20] #256 closed

[2016-05-11 15:51] acao commented on #239
I came up with a temporary workaround for this issue, appplicable to those who are seeking a text-based lcov.info output for usage with tools such as https://atom.io/packages/lcov-info, etc.

I wanted to use --reporter=lcov, however this wants to write to html as well as the lcov.info. All I needed was the lcov.info for my purposes.

First,in npm test as specified above, run nyc with your test har

[2016-05-12 12:59] dlmr opened #258 "Support sub directories for induvidual reporters"
I would like to specify individual directories for each reporter and not just place everything under `--report-dir`. Would a PR that aims to add this functionality be accepted and if so is there any ideas on how that should be configurable?

One approach is to make it possible to specify several `--report-dir` just as you can with `--reporter` and each of them map in order to the reporter.

Or may

[2016-05-12 13:41] novemberborn commented on #258
You could call `nyc report` for each `--reporter`, specifying `--report-dir`.

[2016-05-12 13:55] dlmr commented on #258
Thanks for the tip. Works great! 🙂

For some reason I thought that it would rerun my tests but I see that is not the case!

[2016-05-12 13:55] #258 closed

[2016-05-13 19:08] jescalan opened #259 "ES6 bug"
So I'm not sure if this is on istanbul or nyc or someone else but figured I'd start here!

This code will produce uncovered lines as it is detected as a comment:

[code]

It seems like this has something to do with coverage not detecting backticks as a string

[2016-05-13 19:15] jamestalmage commented on #259
@jescalan Can your provide more details? What test runner? How do you have it set up?

[2016-05-13 20:35] jescalan commented on #259
Running tests with `ava`, set up without any sort of transpiling, running on node6 😁

[2016-05-13 21:39] jamestalmage commented on #259
Is your code sample in a source file or AVA test file? I'm guessing the former.

If it is a source file and there is no transpiling happening, then this is almost certainly an `istanbul` issue. We only manipulate the coverage data if there is an inlined source-map (which there wouldn't be without transpiling).

[2016-05-13 21:43] jescalan commented on #259
Yes, it's a source file. Ok so should I open this issue in istanbul then? Is the project still actively maintained?

[2016-05-14 18:19] bcoe commented on #257
1. @ORESoftware what Node and npm version are you on.
2. would it be possible to provide a failing example, or to link us to the project that's failing?

[2016-05-14 18:46] bcoe commented on #239
@novemberborn #255 should address this problem, once it goes out the door?

[2016-05-14 18:48] bcoe commented on #259
@jamestalmage my kingdom for a native ES6 plugin for nyc.

@jescalan open an issue on Istanbul; It's still relatively active, I'm also of the opinion that the nyc folks should start pitching in on it more 👍

[2016-05-14 18:48] #259 closed

[2016-05-15 00:34] cdaringe commented on #257
hi all:

i have a failing example to provide.  mine does _not_ use multiple processes, _but_, it does work with `node test/` and it does not work w/ `nyc`.

steps:

1. clone https://github.com/MRN-Code/coinstac-server-core/tree/25fa7f2a5e1491afd04df5c0cad8ff5adb1cd44a
1. npm i, per usual
1. compare output of `npm test` and `npm run brokentest`.  `brokentest` is a nyc run.
  1. you can see that `ny

[2016-05-15 00:37] cdaringe commented on #257
oh, and `5.11.0` and `2.15.4`.  yea, running npm2 w/ node5...

[2016-05-15 14:09] novemberborn commented on #239
@bcoe no. The problem here is that the branch map refers to statements that have been removed from the coverage because they could not be mapped to the original source.

I'm proposing we remove branches that refer to missing statements. It makes the reports less accurate, which can't be helped, but at least it won't crash.

[2016-05-15 14:22] novemberborn commented on #257
@cdaringe FWIW, Node.js 6.1.0 and npm 3.9.0, both work fine (well the test fail, but they fail for both). On OSX.

Could you check which nyc version is *actually* installed? (See `node_modules/nyc/package.json`).

[2016-05-15 14:48] cdaringe commented on #257
PouchDB is not 6.x compatible, so I don't expect the tests to pass there
:/. My installed version matches the package.json.

Thanks for the response!
On May 15, 2016 8:22 AM, "Mark Wubben" <notifications@github.com> wrote:

[2016-05-15 14:51] novemberborn commented on #257
Switched to 5.1.0 and npm 3.8.7 and rebuilt the previously installed packages. Test run (and fail) with and without nyc.

[2016-05-15 15:18] cdaringe commented on #257
here's the expected workflow:

![install-process mov](https://cloud.githubusercontent.com/assets/1003261/15275015/e5752c62-1a7d-11e6-9dfd-d2c511d93fb2.gif)

[2016-05-16 02:02] cdaringe commented on #257
if it's of any help, I do know that my processes are very slow to kill network connections.  pouchdb doesn't kill sockets very well, so sometimes it takes a few seconds for the process to exit.  it _does_ exit eventually always, and within a couple seconds.  i'd be hard pressed to think `nyc` even bothers with any of that stuff, but just trying to think of ideas! :)

[2016-05-17 01:59] i5ting opened #260 "is this can support ava?"
https://github.com/sindresorhus/ava

[2016-05-17 02:29] jamestalmage commented on #260
Yes. Just install both:

[code]

They you can add this to `package.json`:

[code]

[2016-05-17 02:29] #260 closed

[2016-05-17 02:34] i5ting commented on #260
@jamestalmage  greate, thanks

[2016-05-17 08:29] andyhu commented on #197
Shall we provide an option to not generate .nyc_output at all?

[2016-05-17 08:42] jamestalmage commented on #197
Not possible. We need it to store coverage info

[2016-05-18 07:41] mysticatea opened #261 "Wrong result of default parameters."
I encountered a case my test's result is changed by nyc.
What am I going to wrong?

- Windows 7 Pro
- Git Shell (of GitHub Desktop)
- Node 6.1.0
- npm 3.9.0
- nyc 6.4.4
- mocha 2.3.4

[code]

**foo.js**

[code]

**test.js**

[code]

**Commands**

[code]

[2016-05-18 14:59] novemberborn commented on #261
@mysticatea are you using any transpilers at all or are you running this as-is? If the latter, I suspect Istanbul, the library we use to instrument your code, is having trouble with the ES6 syntax. You'll have to transpile to ES5. Hopefully that'll give you better results (though it means code coverage has to rely on source maps which isn't foolproof).

[2016-05-18 17:31] spudly commented on #239
I get this error when testing a function with a `switch` statement and a comment after a `case` that falls through. See below:

[code]

If I remove the comment, it works correctly.

[2016-05-19 03:33] mysticatea commented on #261
Thank you for the clarify.
I'm sad that I still need transpilers even if I'm using Node 6. :cry:

[2016-05-19 04:47] bcoe commented on #261
@mysticatea agreed this would be nice to fix! I know @novemberborn has been putting some work into an ES6 code-coverage solution, which would help solve this problem.

[2016-05-19 04:47] #261 closed

[2016-05-20 17:59] holm commented on #261
This seems to be the underlying problem: https://github.com/gotwarlost/istanbul/issues/613

[2016-05-22 14:50] jfcorugedo opened #262 "--all usage"
Hi.

First of all I'd like to thank you for your great job. This module is quite useful and usable.

My question has to do with `--all` parameter.

I want to know the real coverage of my project, taking into account those file never required. Unfortunately I've not been able to execute nyc using the --all option parameter.

When I execute this command:

    nyc --all --reporter=lcov --reporter=tex

[2016-05-22 16:19] novemberborn commented on #262
You're usage is correct, however if you're using ES6 syntax nyc won't be able to instrument it. Judging by the error you may be running into that problem.

[2016-05-23 08:06] JaKXz commented on #262
@jfcorugedo if you have the `babel-register` module in your project, this should work:
[code]

[2016-05-23 08:27] jfcorugedo commented on #262
Great! It works.

However, it includes some unexpected files:

     myProyect/coverage/                 |     5.56 |        0 |        0 |    15.58 |                |
      prettify.js                        |     4.32 |        0 |        0 |      100 |                |
      sorter.js                          |    13.75 |        0 |        0 |    14.47 |... 153,154,158 |
     myProyect/coverage/l

[2016-05-23 08:45] JaKXz commented on #262
Specify an `include` block, as stated here: https://github.com/bcoe/nyc#including-files

[2016-05-23 08:52] jfcorugedo commented on #262
Got it!

Now it works perfectly.

Thanks guys. Keep up the good work!

[2016-05-23 08:52] #262 closed

[2016-05-29 18:41] patrickarlt opened #264 "Generating coverage produces errors when testing code that uses ES 6 default/override pattern"
I'm testing code that uses the [ES 6 default override pattern](https://gist.github.com/ericelliott/f3c2a53a1d4100539f71) in some code I am testing. When testing regularly with node-tap (which bundles nyc) or ava (which recommends nyc) the tests pass. But when I use nyc to generate coverage reports there are errors that are not present when not generating coverage.

I've created a [minimal reproduc

[2016-05-30 01:17] JaKXz commented on #264
@patrickarlt I got the ava tests passing with some configuration options and fixing some typos in the `package.json`: https://gist.github.com/JaKXz/f64d82899e00495aba83ddd16d702ee9/revisions

I recommend taking a look at [ava's instructions for `.babelrc` configuration](https://github.com/avajs/ava/blob/master/docs/recipes/babelrc.md) and taking note that you should use `nyc --require babel-regist

[2016-05-30 01:56] bcoe commented on #257
@cdaringe the problem seems to be this test:

[code]

This test checks for the message `starting server` but when you set log-level to `warn` this message does not output since it is an `info` level message. Tests run fine, as an example, if I change `brokentest` to this:

`"brokentest": "export COINSTAC_SERVER_LOG_LEVEL=silly`

Let me know if this doesn't do the trick for you, and we can open ano

[2016-05-30 01:57] bcoe commented on #257
@ORESoftware I'm going to go ahead and close this issue as solved; please feel free to re-open another issue with an example of a failing project 👍

[2016-05-30 01:57] #257 closed

[2016-05-30 02:06] cdaringe commented on #257
@bcoe, gah.  deep, painful embarrassment!  thanks so much for your time.  i'm super grateful.  i'm glad this was all a non-issue!

[2016-05-30 02:07] bcoe commented on #257
@cdaringe nothing to be embarrassed about we've all been there! I really appreciate that you provided a reproduction case, and don't hesitate to open more issues in the future.

[2016-05-30 10:37] novemberborn commented on #264
There are various issues with ES6 code and Istanbul, the library nyc uses to collect coverage data and prepare the reports: #215, #198, #239.

The tl;dr is that Istanbul doesn't support the new syntax, so you need to transpile to ES5, which is @JaKXz's suggestion.

Unfortunately that doesn't always work, since nyc now needs source maps in order to get the correct data. Source maps aren't always ac

[2016-05-31 15:08] spudly opened #265 "async function "branch not covered""
Almost every time I write a function with async/await syntax, I have this problem:

![image](https://cloud.githubusercontent.com/assets/487068/15678994/390ae9e6-271e-11e6-930f-09a098ce0411.png)

The tooltop indicates that there is a "branch not covered," but I've made sure to cover every branch.

The same statistics are given when nyc generates the coverage results in the terminal, which leads me

[2016-05-31 23:55] bcoe commented on #265
@spudly unfortunately our ability to cover ES6 syntax is slightly spotty, would love help debugging; I know that @novemberborn has dug into this a bit, and has gone so far as writing a pure-ES6 proof of concept.

[2016-06-01 12:49] spudly commented on #265
I'd like to help debug but honestly I have no idea where to begin or what to look for. Is there some documentation somewhere that can point me in the right direction?

[2016-06-02 08:48] novemberborn commented on #265
nyc just wraps istanbul. I assume you're transpiling your async usage to generators? Most likely when we get the coverage for the transpiled code we're unable to map it back to your original source. When that happens nyc has no choice but drop that coverage.

[2016-06-02 16:57] bcoe commented on #265
@spudly we have some similar bugs logged here:

https://github.com/gotwarlost/istanbul/issues/626

In lieu of us swapping out the guts of nyc with a more ES6 aware library (something that @novemberborn is working on) it might be worthwhile to start digging into Istanbul a bit more, to see if some of these mapping issues can be patched. Ultimately, this will most likely require a better understandi

[2016-06-04 19:28] bcoe commented on #215
@jmdobry closing in favor of https://github.com/bcoe/nyc/pull/266

[2016-06-04 19:28] #215 closed

[2016-06-04 19:28] bcoe commented on #198
@skozin closing in favor of https://github.com/bcoe/nyc/pull/266

[2016-06-04 19:28] #198 closed

[2016-06-04 19:28] bcoe commented on #239
@xjamundx closing in favor of https://github.com/bcoe/nyc/pull/266

[2016-06-04 19:28] #239 closed

[2016-06-04 19:29] bcoe commented on #265
@spudly I tried to recreate this issue (see #266) and have actually been unable to:

<img width="659" alt="screen shot 2016-06-04 at 12 12 50 pm" src="https://cloud.githubusercontent.com/assets/194609/15801618/f256c242-2a4f-11e6-8d0d-53e9da35158f.png">

I'm closing this issue in favor of #266, could you submit a failing example against that branch and we can use that as a jumping off point.

[2016-06-04 19:29] #265 closed

[2016-06-09 19:46] JimmyBoh opened #269 "Files reported twice with different case"
I created a yeoman generator that creates Typescript projects with support for `nyc` and `ava` out of the box. Below is the output I am receiving when trying to get the coverage results (run `npm test` or `gulp coverage`):

![image](https://cloud.githubusercontent.com/assets/2332163/15943903/0ed11424-2e59-11e6-9c55-bb6cce4f418b.png)

The same thing also happens when opening an lcov report in the b

[2016-06-10 00:09] reggi opened #270 "Odd coverage issue with async functions"
I have a mostly covered file except for some strange highlights on these async functions.

Can anyone tell me whats going on here? Why is this file not covered 100%?

![screen shot 2016-06-09 at 8 07 16 pm](https://cloud.githubusercontent.com/assets/296798/15950546/de399c8a-2e7d-11e6-9524-7400685fe268.png)

![screen shot 2016-06-09 at 8 07 12 pm](https://cloud.githubusercontent.com/assets/296798/1

[2016-06-10 00:39] JaKXz commented on #270
Hi @reggi thanks for your issue. This has been reported already in #265, and work is underway in #268. I'm going to close this in favour of those issues.

[2016-06-10 00:39] #270 closed

[2016-06-10 01:46] cantidio commented on #91
Hello @bcoe I see that you closed this issue, but this still seems to be happening. Do we have a workaround? thanks

[2016-06-10 04:28] bcoe opened #271 "regressions with source-map-cache"
https://github.com/bcoe/nyc/commit/0838a0e5e2ce8d7ae636655e3832cd318aaaaf95 seems to introduce a regression with source-map mapping with the `yarsay` project:

[code]

_recreate by:_

1. [cloning `yarsay`](https://github.com/yargs/yarsay).
2. cloning `nyc` at `master`.
3. linking `nyc` into `yarsay` and running tests: `rm -rf node_modules/.cache/; rm -rf .nyc_output/; npm t`.

There is a separate

[2016-06-10 11:04] reauv opened #272 "Webpack source maps"
I am struggling to get NYC working with a combination of webpack, mocha & mocha-webpack. Right now I am getting a test coverage report from NYC but that's just one compiled file. According to the documentation the source map should be inline so I did that with webpack but unfortunately I still see the compiled file in the test report.

Is this approach even possible, and if so what am I doing wron

[2016-06-10 16:11] bcoe commented on #272
@JaKXz can you provide any feedback on this, I know you were attempting a similar setup.

@reauv we're having some luck hooking into source-maps using an alternate instrumenter, discussed here: https://github.com/bcoe/nyc/pull/268

[2016-06-10 20:42] JaKXz commented on #272
Hi @reauv, I have indeed attempted a similar setup: ATM and AFAIK, webpack is not compatible with nyc because nyc looks at all the files that are `require`d in your tests to instrument them, whereas webpack loads them into a bundle runs things differently. See #176 or #229.

If possible, I'd suggest running your tests directly with `mocha` and using [`ts-node`](http://npm.im/ts-node). Here's an ex

[2016-06-13 03:24] bcoe commented on #271
@novemberborn fixed here:

[2016-06-13 03:52] #271 closed

[2016-06-13 03:52] #272 closed

[2016-06-13 08:01] novemberborn commented on #271
@bcoe you mean <https://github.com/bcoe/nyc/pull/268/commits/5063825ba96bf2c2f60967eb88c20b32d0985a9c>?

I'm not sure how that relates to my earlier changes though.

[2016-06-13 16:23] Kikobeats opened #273 "[Question] CoffeeScript integration"
I don't know If I'm doing something bad, but coffeescript hook isn't working on my project.

Basically I run my test with:

[code]

and everything looks well

[code]

but nothing is written at nyc folder. any idea?

[2016-06-13 19:32] bcoe commented on #273
@Kikobeats by default nyc looks for the extension `.js`, do you need to set `--extension coffee`?

Let me know if this works, would be happy to add a blurb to the docs about coffeescript.